<template>
  <div>
    <div class="mb-2">
      <button
        class="btn btn-outline-primary"
        :disabled="bulkApprove.length === 0"
        @click="approveRating"
      >
        Approve
      </button>
    </div>
    <div
      class="wrap-table pb-4"
      :class="getResults.length === 0 ? 'component component-empty-state':''"
    >
      <table class="table table-striped radius">
        <thead class="thead-dark-blue">
          <tr>
            <th class="text-center">
&nbsp;
            </th>
            <th class="min-width">
              Rating Date
            </th>
            <th class="min-width-120">
              Rating Point
            </th>
            <th class="min-width-270">
              Review Tag
            </th>
            <th class="min-width">
              Outlet
            </th>
            <th class="min-width">
              Customer Name
            </th>
            <th class="min-width-120">
              Status
            </th>
            <th class="min-width-120">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="getResults.length === 0">
            <td
              colspan="8"
              class="text-center"
            >
              - No Rating & Review Found -
            </td>
          </tr>
          <tr
            v-for="(data,index) in results"
            v-else
            :key="index"
          >
            <td scoped="row">
              <input
                v-if="data.status.toLowerCase() === 'new'"
                type="checkbox"
                @change="addToBulk(data)"
              >
            </td>
            <td>
              <date-format
                :value="data.date"
                :format="'YYYY-MM-DD hh:mm:ss'"
              />
            </td>
            <td>
              {{ data.totalRating.toFixed(1) || '-' }}
            </td>
            <td>
              <span
                v-for="(tag, index2) in data.tags"
                :key="index2"
                class="badge badge-pill badge-primary text-capitalize mr-1"
              >{{ tag }}</span>
              <div v-show="data.desc">
                {{ data.desc || '-' }}
              </div>
            </td>
            <td>
              {{ data.outletName || '-' }}
            </td>
            <td>
              {{ data.customer || '-' }}
            </td>
            <td>
              <span
                class="text-capitalize"
                :class="textLabelCheck(data.status)"
              >
                {{ data.status.toLowerCase() === 'unpublished' ? 'hidden' : data.status.toLowerCase() || '-' }}
              </span>
            </td>
            <td>
              <router-link
                :to="{name: 'RatingEdit', params: {pubId: data.invoicePubId, text: data.outletName}}"
                class="btn btn-success btn-sm px-4"
                :class="data.status.toUpperCase() === 'COMPLETED' || data.status.toUpperCase() === 'CANCELLED'? 'disabled' : '' "
              >
                <font-awesome-icon
                  icon="pen"
                  class="d-none"
                /> Detail
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import dateFormat from './../../components/DateFormat'
import authMixin from '@/mixins/auth.js'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'RatingTableList',
  components: {
    'date-format': dateFormat
  },
  mixins: [authMixin],
  props: ['id', 'results'],
  data: function () {
    return {
      bulkApprove: []
    }
  },
  computed: {
    API_BULK: function () {
      return `rating-reviews/bulk-approve`
    },
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    approveRating: function () {
      this.approveBulk.run(process.env.VUE_APP_API, this.API_BULK, {
        ids: this.bulkApprove
      })
    },
    addToBulk: function (obj) {
      if (obj.id) {
        if (this.bulkApprove.includes(obj.id) === false) {
          this.bulkApprove.push(obj.id)
        } else {
          this.bulkApprove = this.bulkApprove.filter(arr => arr !== obj.id)
        }
      }
    },
    textLabelCheck: function (val) {
      if (val) {
        val = val.toLowerCase()
        if (val.includes('approve')) {
          return 'text-success'
        } else if (val.includes('reported')) {
          return 'text-warning'
        } else if (val.includes('unpublished')) {
          return 'text-danger'
        } else {
          return 'text-primary'
        }
      }
    }
  },
  tasks (t, { timeout }) {
    return {
      approveBulk: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_BULK, payload) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.post(endpoint + resource, payload, {
            headers: self.GetHeader('POST BULK RATING')
          }).then(response => {
            if (response.body.code === 200) {
              self.$emit('refreshData')
              self.flash(`Success Bulk Approve`, 'success', {
                timeout: 5000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed get rating tags, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Failed get rating tags, ${err.statusText}`, 'error', {
              timeout: 5000
            })
          })
        }
      })
        .flow('drop')
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width {
  min-width: 180px;
}
.min-width-270{
  min-width: 270px;
}
.min-width-120 {
  min-width: 120px;
}
.cls_type{
  color:#fff;
  padding:3px 7px;
  border-radius:3px;
  font-size:13px;
  display:inline-block;
  margin-top: 1px;
}
.cls_type {
    &.product{
      background: #4dbd74;
    }
    &.product_online{
      background: #20a8d8;
    }
}
</style>
