<template>
  <form @submit.prevent="submit()">
    <div class="card">
      <div class="card-header font-weight-bold">
        Rating & Review
        <div class="card-header-actions">
          <a
            href="#"
            data-toggle="collapse"
            data-target="#ratingReviewDetail"
            aria-expanded="true"
            class="btn btn-minimize"
          ><i class="icon-arrow-up" /></a>
        </div>
      </div>
      <div
        id="ratingReviewDetail"
        class="card-body collapse show"
      >
        <div class="">
          <div class="row">
            <div class="col-12 col-lg-6 border-lg-right py-3">
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Date</label>
                <input
                  id=""
                  type="text"
                  name=""
                  class="form-control"
                  :value="detailRating.date ? formatDate(detailRating.date, 'YYYY/MM/DD') : ''"
                  placeholder=""
                  aria-describedby="helpId"
                  disabled
                >
              </div>
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Rating</label>
                <input
                  id=""
                  type="text"
                  name=""
                  class="form-control"
                  :value="detailRating.rating ? detailRating.rating.toFixed(1) : ''"
                  placeholder=""
                  aria-describedby="helpId"
                  disabled
                >
              </div>
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Customer</label>
                <input
                  id=""
                  type="text"
                  name=""
                  :value="detailRating.customer"
                  class="form-control"
                  placeholder=""
                  aria-describedby="helpId"
                  disabled
                >
              </div>
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Outlet</label>
                <input
                  id=""
                  type="text"
                  name=""
                  :value="detailRating.outletName"
                  class="form-control"
                  placeholder=""
                  aria-describedby="helpId"
                  disabled
                >
              </div>
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Review</label>
                <textarea
                  id=""
                  :value="oldReview"
                  name=""
                  class="form-control mb-2"
                  cols="30"
                  rows="3"
                  placeholder=""
                  disabled
                />
                <textarea
                  v-if="isNew"
                  id=""
                  v-model="detailRating.review"
                  name=""
                  class="form-control"
                  cols="30"
                  rows="3"
                />
              </div>
              <div class="form-group">
                <label
                  for=""
                  class=""
                >Merchant Reply</label>
                <textarea
                  id=""
                  v-model="detailRating.merchantReply"
                  name=""
                  class="form-control"
                  cols="30"
                  rows="3"
                  :disabled="isNew === false"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 border-lg-right py-3">
              <div
                v-if="isHidden === false"
                class="form-group py-1 d-flex align-items-center"
              >
                <label
                  for=""
                  class="pr-2 mb-0"
                >
                  Hide this Rating Review ?
                </label>
                <label class="switch switch-pill switch-primary mb-0">
                  <input
                    v-model="isHideRating"
                    class="switch-input"
                    type="checkbox"
                  >
                  <span class="switch-slider" />
                </label>
              </div>
              <div
                v-if="isHidden"
                class="form-group mb-0"
              >
                <label
                  for=""
                  class=""
                >Reason Hide</label>
                <textarea
                  id="reason_hide"
                  :value="detailRating.reasonHide"
                  name="reason_hide"
                  class="form-control"
                  cols="30"
                  rows="5"
                  disabled
                />
              </div>
              <transition
                v-else
                name="bounce"
              >
                <div
                  v-show="isHideRating"
                  class="form-group mb-0"
                >
                  <label
                    for=""
                    class=""
                  >Reason Hide</label>
                  <textarea
                    id="reason_hide"
                    v-model="reasonHide"
                    name="reason_hide"
                    class="form-control"
                    cols="30"
                    rows="5"
                  />
                </div>
              </transition>
              <input
                type="text"
                :value="reasonHide"
                class="sr-only form-control"
                :required="isHideRating"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group-wrap pt-3">
      <div class="row text-right">
        <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 inline-block-wrap mb-2">
          <div class="row">
            <div
              class="col-xs-12 mb-1 col-md-6"
              :class="isNew === false && isHideRating === false ? 'offset-md-6' : ''"
            >
              <router-link
                class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                to="/ratingreview/list"
              >
                Cancel
              </router-link>
            </div>
            <div
              v-if="isHideRating === false && isNew"
              class="col-xs-12 mb-1 col-md-6"
            >
              <button
                type="submit"
                class="btn btn-block btn-primary text-uppercase"
              >
                Approve
              </button>
            </div>
            <div
              v-else-if="isHideRating"
              class="col-xs-12 mb-1 col-md-6"
            >
              <button
                type="submit"
                class="btn btn-block btn-danger text-uppercase"
              >
                Hide
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import moment from 'moment'
export default {
  name: 'RatingFormEdit',
  props: {
    detailRating: {
      default: function () {
        return {}
      },
      type: Object
    }
  },
  data: function () {
    return {
      reasonHide: '',
      oldReview: '',
      isHideRating: false
    }
  },
  computed: {
    isNew: function () {
      if (this.detailRating && this.detailRating.status) {
        return this.detailRating.status.toLowerCase().includes('new')
      } else {
        return false
      }
    },
    isHidden: function () {
      if (this.detailRating && this.detailRating.status) {
        return this.detailRating.status.toLowerCase().includes('unpublished')
      } else {
        return false
      }
    },
    payload: function () {
      let payload = { ...this.detailRating, ...{ reasonHide: '', action: 'APPROVED' } }
      if (this.isHideRating) {
        payload = { ...payload, ...{ reasonHide: this.reasonHide, action: 'HIDE' } }
      }
      return payload
    }
  },
  mounted: function () {
    this.oldReview = '' + this.detailRating.review
  },
  methods: {
    formatDate: function (date, format) {
      return moment.unix(date).format(format)
    },
    submit: function () {
      this.$emit('dataSubmitted', this.payload)
    }
  }
}
</script>

<style lang="scss" type="scoped">
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in .8s;
  textarea {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
  }
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
  textarea {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>
