<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="rating_date">Rating Date</label>
            <keep-alive>
              <date-range-picker
                id="rating_date"
                :initialDate="false"
                :start="querySearch.rating_date_start"
                :end="querySearch.rating_date_end"
                :watching="querySearch.startDate"
                class="form-control"
                @dateRangeChanged="onDateRangeChanged"
              />
            </keep-alive>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="rating_point">Rating Point</label>
            <multiselect
              id="rating_point"
              v-model="querySearch.rating"
              label="name"
              track-by="name"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :multiple="false"
              :options="listRating"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
              @close="onRatingClosed"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.name"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="review_tag">Review Tag</label>
            <multiselect
              id="review_tag"
              v-model="querySearch.tag"
              label="name"
              track-by="name"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :multiple="false"
              :options="listTags"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
              @close="onTagClosed"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.name"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="outlet_name">Outlet</label>
            <multiselect
              id="outlet_name"
              v-model="querySearch.outlet"
              label="name"
              track-by="name"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :multiple="false"
              :options="listOutlet"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.name"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="customer_name">Customer Name</label>
            <input
              id="customer_name"
              v-model="querySearch.customer"
              type="text"
              name="customer_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="rating_status">Status</label>
            <multiselect
              id="rating_status"
              v-model="querySearch.status"
              label="name"
              track-by="name"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :multiple="true"
              :options="dummy.statusRating"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.name"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
      </div>
      <div class="text-right mt-4 btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
          :disabled="getOutlet.isActive || getPoint.isActive || getTags.isACtive"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</template>

<script>
// import moment from 'moment'
import Vue from 'vue'
import Vuency from 'vuency'
import * as dummy from '@/utils/dummy'
import DateRangePicker from '@/components/DateRangePicker'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'RatingFilterSearch',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  props: ['pagination'],
  data: function () {
    return {
      listTags: [],
      listOutlet: [],
      listRating: [],
      querySearch: {
        rating_date_start: '',
        rating_date_end: '',
        rating: '',
        tag: '',
        outlet: '',
        customer: '',
        status: []
      },
      dummy: dummy.rating
    }
  },
  computed: {
    API_TAGS: function () {
      return `rating-reviews/tags`
    },
    API_POINT: function () {
      return `rating-reviews/ratings`
    },
    API_OUTLET: function () {
      return `outlet/list`
    },
    requestQuery: function () {
      // let self = this
      let query = {}
      let obj = {
        rating: this.querySearch.rating ? this.querySearch.rating.value : '',
        tag: this.querySearch.tag ? this.querySearch.tag.value : '',
        status: this.querySearch.status,
        customer: this.querySearch.customer || '',
        outletPubId: this.querySearch.outlet ? this.querySearch.outlet.value : '',
        startDate: this.querySearch.rating_date_start,
        endDate: this.querySearch.rating_date_end
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (key.toLowerCase() === 'status') {
            value.forEach((status, index) => {
              if (index > 0) {
                query[key] = query[key] + ',' + status.value
              } else {
                query[key] = status.value
              }
            })
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  created: function () {
    this.getTags.run(process.env.VUE_APP_API, this.API_TAGS, {})
    this.getPoint.run(process.env.VUE_APP_API, this.API_POINT, {})
    this.getOutlet.run(process.env.VUE_APP_API, this.API_OUTLET, {})
  },
  methods: {
    onRatingClosed: function () {
      if (this.querySearch.rating) {
        this.getTags.run(process.env.VUE_APP_API, this.API_TAGS, {
          rating: this.querySearch.rating.value
        })
      } else {
        this.getTags.run(process.env.VUE_APP_API, this.API_TAGS, {})
      }
    },
    onTagClosed: function () {
      if (this.querySearch.tag) {
        this.getPoint.run(process.env.VUE_APP_API, this.API_POINT, {
          tag: this.querySearch.tag.value
        })
      } else {
        this.getPoint.run(process.env.VUE_APP_API, this.API_POINT, {})
      }
    },
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      this.querySearch[dateEnd] = obj.end
    }
  },
  tasks (t, { timeout }) {
    return {
      getTags: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_TAGS, queryParams) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET RATING TAGS'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              let mapping = []
              if (response.body.content.length > 0) {
                response.body.content.forEach((element, index) => {
                  mapping.push({
                    name: element.tag,
                    value: element.tag
                  })
                })
              }
              self.listTags = mapping
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed get rating tags, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Failed get rating tags, ${err.statusText}`, 'error', {
              timeout: 5000
            })
          })
        }
      })
        .flow('drop'),
      getPoint: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_POINT, queryParams) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET RATING POINT'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              let mapping = []
              if (response.body.content.length > 0) {
                response.body.content.forEach((element, index) => {
                  mapping.push({
                    name: element.rating === 1 ? element.rating + '.0 Star Rating' : element.rating + '.0 Stars Rating',
                    value: element.rating
                  })
                })
              }
              self.listRating = mapping
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed get rating point, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Failed get rating point, ${err.statusText}`, 'error', {
              timeout: 5000
            })
          })
        }
      })
        .flow('drop'),
      getOutlet: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_OUTLET, queryParams) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET ALL OUTLET'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              let mapping = []
              if (response.body.content.length > 0) {
                response.body.content.forEach((element, index) => {
                  mapping.push({
                    name: element.name || 'No Name',
                    value: element.pubId
                  })
                })
              }
              self.listOutlet = mapping
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed get all outlets, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Failed get all outlets, ${err.statusText}`, 'error', {
              timeout: 5000
            })
          })
        }
      })
        .flow('drop')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
