<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped table-campaigns">
      <thead class="align-middle">
        <tr>
          <th class="width-100 align-middle">
            &nbsp;
          </th>
          <th class="min-width align-middle">
            Campaign Name
          </th>
          <th class="min-width align-middle">
            Type
          </th>
          <th class="min-width align-middle">
            Status
          </th>
          <th class="min-width align-middle">
            Start Date
          </th>
          <th class="min-width align-middle">
            End Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Campaigns Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td>
            <img
              :src="formatImage(data.content)"
              :alt="data.title || '-'"
              class="imageThumb"
              @error="imgPlaceholder"
            >
          </td>
          <td scoped="row">
            <router-link :to="{name: 'CampaignsDetail', params: {pubId: data.campaignId, text: data.title ? data.title : '-'}}">
              {{ data.title || '-' }}
            </router-link>
          </td>
          <td scoped="row">
            {{ data.contentType || '-' }}
          </td>
          <td scoped="row">
            <status-badge
              :value="data.status ? data.status.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td scoped="row">
            <span>{{ data.startTs > 0 ? formatDate(data.startTs, 'DD-MM-YYYY HH:mm:ss') : '-' }}</span>
          </td>
          <td scoped="row">
            <span>{{ data.endTs > 0 ? formatDate(data.endTs, 'DD-MM-YYYY HH:mm:ss') : '-' }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
export default {
  name: 'CampaignsTableList',
  components: {
    'status-badge': StatusBadge
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatImage: function (content = '') {
      let results = ''
      let contentCheck = content === undefined || content === null ? '' : content
      if (contentCheck !== '') {
        let cardImageURL = content['cardImageURL'] === undefined ? '' : content['cardImageURL']
        let imageURL = content['imageURL'] === undefined ? '' : content['imageURL']
        results = cardImageURL === '' ? (imageURL === '' ? '' : imageURL) : cardImageURL
      }
      return this.formatImageResize(results)
    },
    formatImageResize: function (results = '') {
      /* let pathResize = 'https://s3-ap-southeast-1.amazonaws.com/'
      let filename = pathResize + results.replace(/^.*[//]/, '') */
      return results
    },
    formatDate: function (date, format = '') {
      date = date - 25200
      return moment.unix(date).format('DD-MM-YYYY HH:mm:ss')
    },
    imgPlaceholder (e) {
      e.target.src = '../img/no-image-ratio-3-4.svg'
    }
  }
}
</script>

<style lang="scss" type="scoped">
  .width-100 {
    width: 100px;
  }
  .table-campaigns tr td{
    vertical-align: middle;
  }
  .table-campaigns .imageThumb{
    border: 1px solid #999;
    height: 50px;
    max-width: 80px;
    width: 80px;
    border-radius: 3px;
  }
</style>
