<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Campaigns Assets
    </div>
    <div
      v-if="data !== null"
      class="card-body"
    >
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Status</label>
            <span class="d-block">
              {{ data.status || '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Created By</label>
            <span class="d-block">
              {{ data.createBy || '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Updated By</label>
            <span class="d-block">
              {{ data.updateBy || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Order</label>
            <span class="d-block">
              {{ data.priority || '0' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Created Date</label>
            <span class="d-block">
              {{ data.createTs > 0 ? formatDate(data.createTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Updated Date</label>
            <span class="d-block">
              {{ data.updateTs > 0 ? formatDate(data.updateTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Target</label>
            <span class="d-block">
              <div v-if="data.content.contentType === 'MERCHANT'">
                {{ data.content.contentTarget || '-' }}
              </div>
              <div v-else-if="data.content.contentType === 'URL'">
                <a
                  :href="data.content.contentTarget"
                  target="_blank"
                >
                  {{ data.content.contentTarget }}
                </a>
              </div>
              <div v-else-if="data.content.contentType === 'DETAIL'">
                <a
                  :href="data.content.contentTarget"
                  target="_blank"
                >
                  {{ data.content.contentTarget }}
                </a>
              </div>
              <div v-else>
                -
              </div>
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Tags</label>
            <span class="d-block">
              <div v-if="data.tags === null">
                -
              </div>
              <div v-else>
                <div
                  v-for="item in data.tags"
                  :key="item.order"
                >
                  #{{ item.order }}
                  {{ item.tag }} <br>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Banner Image</label>
            <div class="d-block">
              <img
                :src="formatImage(data.content)"
                :alt="data.campaignId || '-'"
                class="imageThumb"
                @error="imgPlaceholder"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
    >
      dd
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  name: 'CampaignsAssets',
  components: {
  },
  props: {
    data: {
      default: null,
      type: Object
    }
  },
  methods: {
    formatImage: function (content = '') {
      let results = content === undefined || content === null ? '' : (content['cardImageURL'] === undefined ? (content['imageURL'] === undefined ? '' : content['imageURL']) : content['cardImageURL'])
      return results
    },
    imgPlaceholder (e) {
      e.target.src = '../img/no-image-ratio-3-4.svg'
    },
    formatDate: function (date, format = '') {
      return moment(date).format(format)
    }
  }
}
</script>
<style lang="scss" type="scoped">
.imageThumb{
    border-radius:4px;
    border: 1px solid #ededed;
}
</style>
