<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="name">Campaign Name</label>
            <input
              id="name"
              v-model="querySearch.name"
              type="text"
              name="name"
              placeholder="Campaign Name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="transaction_date">Start End Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="transaction_date"
                  :initialDate="false"
                  :watching="querySearch.transaction_date_start"
                  :start="querySearch.transaction_date_start"
                  :end="querySearch.transaction_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="campaignsStatus">Status</label>
            <multiselect
              id="campaignsStatus"
              v-model="querySearch.status"
              label="name"
              track-by="name"
              placeholder="Select Status"
              :close-on-select="true"
              :show-labels="true"
              :options="listStatus"
              :searchable="false"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel "
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-capitalize text-placeholder"
                >Select City {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
      </div>
      <div class="text-right mt-4 btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import DateRangePicker from '@/components/DateRangePicker'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'CampaignsFilterSearch',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  props: ['pagination'],
  data: function () {
    return {
      listStatus: [
        {
          name: 'ACTIVE',
          value: 'ACTIVE'
        },
        {
          name: 'COMPLETED',
          value: 'COMPLETED'
        },
        {
          name: 'PENDING',
          value: 'PENDING'
        }
      ],
      querySearch: {
        name: '',
        status: {
          name: 'ACTIVE',
          value: 'ACTIVE'
        },
        transaction_date_start: this.$route.query.startTs || '',
        transaction_date_end: this.$route.query.endTs || ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      const { name, status } = this.querySearch
      let obj = {
        name: name,
        status: status.value ? status.value.toUpperCase() : '',
        startDate: this.querySearch.transaction_date_start,
        endDate: this.querySearch.transaction_date_end
      }
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      if (obj.start === obj.end) {
        let total = (23 * 3600) + (59 * 60) + 59
        obj.end = ((obj.end * 1000) + (total * 1000))
        this.querySearch[dateEnd] = (obj.end / 1000)
      } else {
        this.querySearch[dateEnd] = obj.end
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
