<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        {{ titleForm }}
      </div>
      <div class="card-body">
        <div>
          <ul
            class="nav nav-tabs"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                :class="isAllSuccess ? '' : 'active'"
                data-toggle="tab"
                href="#detailTab"
                role="tab"
              >
                Detail
              </a>
            </li>
            <li class="nav-item">
              <a
                v-if="campaignAssets"
                class="nav-link"
                :class="isAllSuccess ? 'active' : ''"
                data-toggle="tab"
                href="#assetsTab"
                role="tab"
              >
                Assets
              </a>
            </li>
          </ul>
          <!-- Tab panes-->
          <div class="tab-content">
            <div
              id="detailTab"
              class="tab-pane"
              :class="isAllSuccess ? '' : 'active'"
              role="tabpanel"
            >
              <form @submit.prevent="submitDetail()">
                <div class="form-group-wrap p-2">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="form-group mb-3">
                        <label for="#titleCampaign">Campaigns Name <span class="text-danger">*</span></label>
                        <input
                          id="titleCampaign"
                          v-model="contentFormDetail.title"
                          type="text"
                          class="form-control"
                          name="titleCampaign"
                          maxlength="40"
                          aria-describedby="helpId"
                          placeholder=""
                          :disabled="disabledData"
                          required
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label for="primary_date">Start and End Date</label>
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar" />
                            </span>
                          </span>
                          <keep-alive>
                            <date-range-picker
                              id="primary_date"
                              :initialDate="false"
                              :start="contentFormDetail.primary_date_start"
                              :end="contentFormDetail.primary_date_end"
                              :watching="contentFormDetail.primary_date_start"
                              class="form-control"
                              :disabled="disabledData"
                              @dateRangeChanged="onDateRangeChanged"
                            />
                          </keep-alive>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label for="display_date">Publish and Unpublish Date</label>
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar" />
                            </span>
                          </span>
                          <keep-alive>
                            <date-range-picker
                              id="display_date"
                              :initialDate="false"
                              :start="contentFormDetail.display_date_start"
                              :end="contentFormDetail.display_date_end"
                              :watching="contentFormDetail.display_date_start"
                              class="form-control"
                              :disabled="disabledData"
                              @dateRangeChanged="onDateRangeChanged"
                            />
                          </keep-alive>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group mb-3">
                        <label for="#statusCampaign">Status <span class="text-danger">*</span></label>
                        <multiselect
                          id="statusCampaign"
                          v-model="contentFormDetail.status"
                          label="title"
                          track-by="value"
                          :close-on-select="true"
                          :show-labels="true"
                          :multiple="false"
                          :options="campaignDetailListStatus ? campaignDetailListStatus : []"
                          :searchable="true"
                          :allow-empty="true"
                          @select="selectOption"
                        >
                          <template
                            slot="singleLabel"
                            slot-scope="{ option }"
                          >
                            <span
                              v-if="option.title"
                              class="text-capitalize"
                            >{{ option.title }}</span>
                            <span
                              v-else
                              class="text-placeholder"
                            >Please Select</span>
                          </template>
                        </multiselect>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="form-group mb-3">
                        <label for="#description">Description <span class="text-danger">*</span></label>
                        <textarea
                          id="description"
                          v-model="contentFormDetail.desc"
                          name="description"
                          class="form-control"
                          cols="30"
                          rows="5"
                          :disabled="disabledData"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row text-right pb-2">
                    <div class="col-12 col-md-6 col-lg-8 text-left">
                      <span class="text-danger">
                        *
                      </span>
                      Indicated required fields
                    </div>
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-md-8 inline-block-wrap">
                      <div class="row row-5">
                        <div class="col-xs-12 mb-1 col-md-6">
                          <button
                            type="button"
                            class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                            @click="$router.push('/campaigns/list')"
                          >
                            Cancel
                          </button>
                        </div>
                        <div class="col-xs-12 mb-1 col-md-6">
                          <button
                            type="submit"
                            class="btn btn-block btn-success text-uppercase"
                            @click="countSubmittedCreated++"
                          >
                            {{ isSubmitting ? 'Saving...' : 'Save' }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div
              v-if="campaignAssets"
              id="assetsTab"
              class="tab-pane"
              :class="isAllSuccess ? 'active' : ''"
              role="tabpanel"
            >
              <form
                v-if="campaignAssets.contentType !== null"
                @submit.prevent="submitAssets()"
              >
                <div>
                  <div id="mainInformation">
                    <div class="form-wrap text-left pb-3">
                      <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                          <div class="form-group mb-3">
                            <label for="#titleCampaign">Step 1 : Please select asset type <span class="text-danger">*</span></label>
                            <input
                              id="contentType"
                              v-model="contentFormAssets.contentType"
                              type="text"
                              class="form-control"
                              name="contentType"
                              aria-describedby="helpId"
                              placeholder=""
                              disabled="true"
                              required
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="mt-3 col-md-6 col-lg-6">
                          <label>Step 2 : Please insert campaign asset data <span class="text-danger">*</span></label>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-6">
                          <div class="form-group mb-3">
                            <label for="#Image"><b>Image</b> <span class="text-danger">*</span></label>
                            <br>
                            <input
                              type="file"
                              accept="image/*"
                              :disabled="disabledData"
                              @change="previewImage"
                            >
                            <div id="preview">
                              <img
                                v-if="contentFormAssets.contentImageURL || contentFormAssets.contentCardImageURL"
                                :src="tempImage ? tempImage : (contentFormAssets.contentImageURL ? contentFormAssets.contentImageURL : contentFormAssets.contentCardImageURL)"
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3 mt-3">
                        <div class="col-md-6 col-lg-6">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-4">
                                <b>Ordering</b>
                              </div>
                              <div class="col-5">
                                <b>Tags</b>
                              </div>
                              <div class="col-3 text-right">
                                <span
                                  class="btn btn-primary btn-sm"
                                  :class="disabledData === true ? 'disabled' : ''"
                                  @click="addTags()"
                                >
                                  Add fields
                                </span>
                              </div>
                            </div>
                            <div
                              v-for="(input, k) in contentFormAssets.tagList"
                              :key="k"
                            >
                              <div class="row mt-3">
                                <div class="col-4">
                                  <input
                                    v-model="input.order"
                                    :disabled="disabledData"
                                    type="number"
                                    class="form-control"
                                  >
                                </div>
                                <div class="col-8">
                                  <input
                                    v-model="input.tag"
                                    :disabled="disabledData"
                                    type="text"
                                    class="form-control"
                                  >
                                  <div class="absolute-right">
                                    <span
                                      class="fa fa-close"
                                      :disabled="disabledData"
                                      @click="removeTags(k)"
                                    >
                                      &nbsp;
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-6">
                          <div class="form-group mb-3">
                            <label for="#Bankname"><b>Bankname</b> <span class="text-danger">*</span></label>
                            <input
                              id="bankName"
                              v-model="contentFormAssets.bankName"
                              type="text"
                              class="form-control"
                              name="bankName"
                              aria-describedby="helpId"
                              placeholder=""
                              :disabled="disabledData"
                              required
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 col-md-3 col-lg-3">
                          <div class="form-group mb-3">
                            <label for="#contentFormAssets_status"><b>Status</b> <span class="text-danger">*</span></label>
                            <multiselect
                              id="contentFormAssets_status"
                              v-model="contentFormAssets.status"
                              label="title"
                              track-by="value"
                              :close-on-select="true"
                              :show-labels="true"
                              :multiple="false"
                              :options="campaignAssetsListStatus ? campaignAssetsListStatus : []"
                              :searchable="true"
                              :allow-empty="true"
                              :disabled="disabledData"
                              @select="selectOption"
                            >
                              <template
                                slot="singleLabel"
                                slot-scope="{ option }"
                              >
                                <span
                                  v-if="option.title"
                                  class="text-capitalize"
                                >{{ option.title }}</span>
                                <span
                                  v-else
                                  class="text-placeholder"
                                >Please Select</span>
                              </template>
                            </multiselect>
                          </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-3">
                          <div class="form-group mb-3">
                            <label for="#priority"><b>Order</b> <span class="text-danger">*</span></label>
                            <input
                              id="priority"
                              v-model="contentFormAssets.priority"
                              type="number"
                              class="form-control"
                              name="priority"
                              aria-describedby="helpId"
                              placeholder=""
                              :disabled="disabledData"
                              required
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-12 col-md-6 col-lg-6 pb-2">
                          <label for="#statusCampaign"><b>Target</b> <span class="text-danger">*</span></label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-2 col-lg-2">
                          <div class="form-check form-check-inline pl-2">
                            <input
                              id="str_newSchema"
                              v-model="contentFormAssets.contentContentType"
                              class="form-check-input"
                              type="radio"
                              name="str_schema"
                              value="MERCHANT"
                              :disabled="disabledData"
                              :checked="contentFormAssets.contentContentType === 'MERCHANT'"
                            >
                            <label
                              class="form-check-label"
                              for="str_newSchema"
                            >
                              MERCHANT
                            </label>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                          <div class="form-group mb-3">
                            <multiselect
                              id="contentTargetMerchant"
                              v-model="contentFormAssets.contentTargetMerchant"
                              label="title"
                              track-by="title"
                              :close-on-select="true"
                              :show-labels="true"
                              :multiple="false"
                              :options="campaignAssetsListMerchant ? campaignAssetsListMerchant : []"
                              :searchable="true"
                              :allow-empty="true"
                              :disabled="disabledData"
                              @select="selectOption"
                            >
                              <template
                                slot="singleLabel"
                                slot-scope="{ option }"
                              >
                                <span
                                  v-if="option.title"
                                  class="text-capitalize"
                                >{{ option.title }}</span>
                                <span
                                  v-else
                                  class="text-placeholder"
                                >Please Select</span>
                              </template>
                            </multiselect>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-2 col-lg-2">
                          <div class="form-check form-check-inline pl-2">
                            <input
                              id="str_newSchema"
                              v-model="contentFormAssets.contentContentType"
                              class="form-check-input"
                              type="radio"
                              name="str_schema"
                              :checked="contentFormAssets.contentContentType === 'URL'"
                              :disabled="disabledData"
                              value="URL"
                            >
                            <label
                              class="form-check-label"
                              for="str_newSchema"
                            >
                              Link
                            </label>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                          <div class="form-group mb-3">
                            <input
                              id="contentTargetLink"
                              v-model="contentFormAssets.contentTargetLink"
                              type="text"
                              class="form-control"
                              name="contentTargetLink"
                              aria-describedby="helpId"
                              placeholder=""
                              :disabled="disabledData"
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-2 col-lg-2">
                          <div class="form-check form-check-inline pl-2">
                            <input
                              id="str_newSchema"
                              v-model="contentFormAssets.contentContentType"
                              class="form-check-input"
                              type="radio"
                              name="str_schema"
                              :checked="contentFormAssets.contentContentType === 'DETAIL'"
                              :disabled="disabledData"
                              value="DETAIL"
                            >
                            <label
                              class="form-check-label"
                              for="str_newSchema"
                            >
                              Detail
                            </label>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                          <div class="form-group mb-3">
                            <input
                              id="contentTargetDetail"
                              v-model="contentFormAssets.contentTargetDetail"
                              type="text"
                              class="form-control"
                              name="contentTargetDetail"
                              aria-describedby="helpId"
                              placeholder=""
                              :disabled="disabledData"
                            >
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group-wrap pt-2">
                        <div class="row text-right">
                          <div class="col-12 col-md-6 col-lg-8 text-left">
                            <span class="text-danger">*</span>
                            Indicated required fields
                          </div>
                          <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-md-8 inline-block-wrap mb-1">
                            <div class="row row-5">
                              <div class="col-xs-12 mb-1 col-md-6">
                                <button
                                  type="button"
                                  class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                                  @click="$router.push('/campaigns/list')"
                                >
                                  Cancel
                                </button>
                              </div>
                              <div class="col-xs-12 mb-1 col-md-6">
                                <button
                                  type="submit"
                                  class="btn btn-block btn-success text-uppercase"
                                  :disabled="disabledData"
                                  @click="countSubmitted++"
                                >
                                  {{ isSubmitting ? 'Saving...' : 'Save' }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form
                v-else
                @submit.prevent="submitAssetsType()"
              >
                <div class="row">
                  <div class="col-xs-12 mb-1 col-md-6">
                    <div class="form-group mb-3">
                      <label for="#typeAssets"><b>Status</b> <span class="text-danger">*</span></label>
                      <multiselect
                        id="typeAssets"
                        v-model="contentFormAssetsType.typeAssets"
                        label="title"
                        track-by="value"
                        :close-on-select="true"
                        :show-labels="true"
                        :multiple="false"
                        :options="campaignAssetsListType ? campaignAssetsListType : []"
                        :searchable="true"
                        :allow-empty="true"
                        @select="selectOption"
                      >
                        <template
                          slot="singleLabel"
                          slot-scope="{ option }"
                        >
                          <span
                            v-if="option.title"
                            class="text-capitalize"
                          >{{ option.title }}</span>
                          <span
                            v-else
                            class="text-placeholder"
                          >Please Select</span>
                        </template>
                      </multiselect>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row text-right pb-2 pt-4">
                  <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-md-8 inline-block-wrap mb-2">
                    <div class="row row-5">
                      <div class="col-xs-12 mb-1 col-md-6">
                        <button
                          type="button"
                          class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                          @click="$router.push('/campaigns/list')"
                        >
                          Cancel
                        </button>
                      </div>
                      <div class="col-xs-12 mb-1 col-md-6">
                        <button
                          type="submit"
                          class="btn btn-block btn-success text-uppercase"
                        >
                          {{ isSubmitting ? 'Saving...' : 'Save' }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import DateRangePicker from '@/components/DateRangePicker'

export default {
  name: 'FormCampaignCreateEdit',
  components: {
    'multiselect': Multiselect,
    'date-range-picker': DateRangePicker
  },
  props: {
    titleForm: {
      type: String,
      default: ''
    },
    campaignDetail: {
      type: Object,
      default: null
    },
    campaignAssets: {
      type: Object,
      default: null
    },
    campaignsDetailsStatus: {
      type: String,
      default: ''
    },
    campaignDetailListStatus: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    campaignAssetsListType: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    campaignAssetsListStatus: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    campaignAssetsListMerchant: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    isSubmitting: {
      required: true,
      type: Boolean,
      default: false
    },
    isAllSuccess: {
      required: true,
      type: Boolean,
      default: false
    },
    isImagesUrlS3: {
      type: Object,
      default: null
    },
    isGetAuthInfo: {
      type: Object,
      default: null
    },
    campaignsID: {
      type: String,
      default: ''
    }
  },
  data: () => {
    return {
      countSubmitted: 0,
      countSubmittedCreated: 0,
      tempImage: '',
      tempDisabledStatus: '',
      contentFormDetail: {
        desc: '',
        status: '',
        title: '',
        display_date_start: '',
        display_date_end: '',
        primary_date_start: '',
        primary_date_end: ''
      },
      contentFormAssets: {
        id: '',
        campaignId: '',
        contentType: '',
        tagList: [],
        bankName: '',
        status: '',
        priority: '',
        contentContentType: '',
        contentTargetMerchant: '',
        contentTargetLink: '',
        contentTargetDetail: '',
        contentCardImageURL: '',
        contentImageURL: '',
        contentLogoURL: ''
      },
      contentFormAssetsType: {
        typeAssets: ''
      }
    }
  },
  computed: {
    finalPayloadDetail: function () {
      let campaignId
      if (this.campaignsID) {
        campaignId = {
          campaignId: this.campaignsID
        }
      }
      return {
        title: this.contentFormDetail.title,
        status: this.contentFormDetail.status.value,
        description: this.contentFormDetail.desc,
        ...campaignId,
        startTs: (this.contentFormDetail.primary_date_start * 1000),
        displayStartTs: (this.contentFormDetail.display_date_start * 1000),
        displayEndTs: (this.contentFormDetail.display_date_end * 1000),
        endTs: (this.contentFormDetail.primary_date_end * 1000),
        createTs: (this.contentFormDetail.display_date_end * 1000),
        createBy: this.isGetAuthInfo.user
      }
    },
    finalPayloadAssetsType: function () {
      let payload = ''
      if (this.campaignAssets) {
        payload = {
          'campaignId': this.campaignAssets.campaignId,
          'content': {
            'cardImageURL': '',
            'cardLogoURL': '',
            'bankName': '',
            'contentType': '',
            'contentTarget': ''
          },
          'contentType': this.contentFormAssetsType.typeAssets.value,
          'status': this.campaignAssets.status,
          'createBy': this.isGetAuthInfo.user,
          'createTs': (this.contentFormDetail.display_date_end * 1000)
        }
      }
      return payload
    },
    finalPayloadImage: function () {
      let payload = {
        'blob': this.tempImage,
        'fileName': 'campaign-assets',
        'fileType': 'jpg'
      }
      return payload
    },
    finalPayloadAssets: function () {
      let statusAssets = this.contentFormAssets.status.value
      let imageCall
      let imageGet = this.contentFormAssets.contentImageURL ? this.contentFormAssets.contentImageURL : this.contentFormAssets.contentCardImageURL
      if (statusAssets === 'HOME_BANK_PROMO') {
        imageCall = {
          cardImageURL: imageGet
        }
      } else {
        imageCall = {
          imageURL: imageGet
        }
      }
      let payload = {
        campaignAssetsListMerchant: this.campaignAssetsListMerchant,
        campaignId: this.contentFormAssets.campaignId,
        contentType: this.contentFormAssets.contentType,
        content: {
          ...imageCall,
          contentType: this.contentFormAssets.contentContentType,
          contentTarget: this.mapContentTarget
        },
        status: statusAssets,
        id: this.contentFormAssets.id,
        priority: parseInt(this.contentFormAssets.priority),
        createBy: this.isGetAuthInfo.user,
        createTs: this.contentFormAssets.createTs,
        tags: this.mapTags
      }
      return payload
    },
    disabledData: function () {
      if (this.campaignsDetailsStatus !== '' && this.campaignsDetailsStatus !== 'PENDING') {
        return true
      } else if (this.campaignsDetailsStatus !== '' && this.campaignsDetailsStatus === 'PENDING') {
        return false
      } else {
        if (this.tempDisabledStatus === 'PENDING') {
          return false
        } else {
          if (this.campaignsID) {
            return true
          } else {
            return false
          }
        }
      }
    },
    mapContentTarget: function () {
      let contentTarget = ''
      if (this.contentFormAssets.contentContentType === 'URL') {
        contentTarget = this.contentFormAssets.contentTargetLink
      } else if (this.contentFormAssets.contentContentType === 'DETAIL') {
        contentTarget = this.contentFormAssets.contentTargetDetail
      } else {
        contentTarget = this.contentFormAssets.contentTargetMerchant.title
      }
      return contentTarget
    },
    mapTags: function () {
      let tagsMapings = this.contentFormAssets.tagList.map(obj => {
        let rTag = {}
        rTag['tag'] = obj.tag
        rTag['order'] = parseInt(obj.order)
        return rTag
      })
      return tagsMapings
    }
  },
  watch: {
    campaignAssets: function (val) {
      let { campaignId, id, contentType, tags, content, status, priority, createTs } = val
      this.contentFormAssets.id = id
      this.contentFormAssets.campaignId = campaignId === '' ? this.campaignsID : campaignId
      this.contentFormAssets.contentType = contentType
      this.contentFormAssets.tagList = tags || []
      this.contentFormAssets.status = this.mappingList('campaignAssetsListStatus', status)
      this.contentFormAssets.priority = priority
      this.contentFormAssets.createTs = createTs
      this.contentFormAssets.bankName = content ? (content.bankName ? content.bankName : '-') : '-'
      this.contentFormAssets.contentContentType = content ? (content.contentType ? content.contentType : '') : ''
      this.contentFormAssets.contentTargetLink = content ? (content.contentType === 'URL' ? content.contentTarget : '') : ''
      this.contentFormAssets.contentTargetDetail = content ? (content.contentType === 'DETAIL' ? content.contentTarget : '') : ''
      this.contentFormAssets.contentTargetMerchant = this.mappingList('campaignAssetsListMerchant', content.contentTarget)
      this.contentFormAssets.contentImageURL = content ? (content.imageURL ? content.imageURL : '') : ''
      this.contentFormAssets.contentCardImageURL = content ? (content.cardImageURL ? content.cardImageURL : '') : ''
    },
    campaignDetail: function (val) {
      if (this.campaignsID) {
        let { title, startTs, endTs, description, status, displayStartTs, displayEndTs } = val
        this.tempDisabledStatus = status
        this.contentFormDetail.title = title
        this.contentFormDetail.desc = description
        this.contentFormDetail.status = this.mappingList('campaignDetailListStatus', status)
        this.contentFormDetail.primary_date_start = Math.ceil(startTs / 1000)
        this.contentFormDetail.primary_date_end = Math.ceil(endTs / 1000) - 25200
        this.contentFormDetail.display_date_start = Math.ceil(displayStartTs / 1000)
        this.contentFormDetail.display_date_end = Math.ceil(displayEndTs / 1000) - 25200
      }
    },
    isImagesUrlS3: function (val) {
      let { content } = val
      this.contentFormAssets.contentImageURL = content !== null ? content : ''
      this.tempImage = ''
      this.submitAssets()
    }
  },
  methods: {
    formatImage: function (content = '') {
      let results = content === undefined || content === null ? '' : (content['cardImageURL'] === undefined ? (content['imageURL'] === undefined ? '' : content['imageURL']) : content['cardImageURL'])
      return results
    },
    imgPlaceholder (e) {
      e.target.src = '../img/no-image-ratio-3-4.svg'
    },
    addTags () {
      if (this.disabledData === false) {
        this.contentFormAssets.tagList.push({
          order: '',
          tag: ''
        })
      }
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.contentFormDetail[dateStart] = obj.start
      this.contentFormDetail[dateEnd] = obj.end
    },
    selectOption: function (option, id) {
      if (id === 'statusCampaign') {
        this.statusCampaign = option
      } else if (id === 'contentTargetMerchant') {
        this.contentFormAssets.contentTargetMerchant = option
      }
    },
    removeTags (index) {
      if (this.disabledData === false) {
        this.contentFormAssets.tagList.splice(index, 1)
      }
    },
    findMerchant: function (id) {
      let dataCampaign = ''
      if (this.campaignAssetsListMerchant.length > 0) {
        let obj = []
        let selected = id
        selected.forEach((element, index) => {
          obj.push(this.campaignAssetsListMerchant.find(el => el.title === element))
        })
        dataCampaign = obj
      } else {
        dataCampaign = null
      }
      return dataCampaign
    },
    mappingList: function (state, value) {
      let list = this[state]
      let found = list.find(element => element.value === value) || []
      return found
    },
    previewImage: function (event) {
      let input = event.target
      if (input.files && input.files[0]) {
        let reader = new FileReader()
        reader.onload = (e) => {
          this.contentFormAssets.contentImageURL = e.target.result
          this.tempImage = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    submitDetail: function () {
      this.$emit('submit-detail', this.finalPayloadDetail)
    },
    submitAssets: function () {
      if (this.tempImage) {
        this.$emit('submit-images', this.finalPayloadImage)
      }
      this.$emit('submit-assets', this.finalPayloadAssets)
    },
    submitAssetsType: function () {
      this.$emit('submit-assets-type', this.finalPayloadAssetsType)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
.absolute-right {
  position: absolute;
  text-align: center;
  color: #dc3333;
  font-size: 20px;
  top: 1px;
  cursor: pointer;
  right: 14px;
  .disabled {
    opacity: .4;
    cursor: default;
  }
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
#preview img {
  max-width: 100%;
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
  margin:10px 0 0 0;
}
</style>
