<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Campaigns Detail
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Campaign Type</label>
            <span class="d-block">
              {{ dataAssets.contentType || '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Start Date</label>
            <span class="d-block">
              {{ data.startTs > 0 ? formatDate(data.startTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Publish Date</label>
            <span class="d-block">
              {{ data.displayStartTs > 0 ? formatDate(data.displayStartTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Campaign Title</label>
            <span class="d-block">
              {{ data.title || '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >End Date</label>
            <span class="d-block">
              {{ data.endTs > 0 ? formatDate(data.endTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Unpublish Date</label>
            <span class="d-block">
              {{ data.displayEndTs > 0 ? formatDate(data.displayEndTs, 'YYYY-MM-DD') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label
              class="text-muted"
            >Status Promo</label>
            <span class="d-block">
              {{ data.status || '-' }}
            </span>
          </div>
          <div class="form-group mt-4">
            <label
              class="text-muted"
            >Description</label>
            <span class="d-block">
              {{ data.description || '-' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'CampaignsDetails',
  props: {
    data: {
      default: null,
      type: Object
    },
    dataAssets: {
      default: null,
      type: Object
    }
  },
  methods: {
    formatDate: function (date, format = '') {
      return moment(date).format(format)
    }
  }
}
</script>
<style lang="scss" type="scoped">
</style>
