<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Filter
      </div>
      <div class="card-body">
        <settlement-filter-search @filterSubmit="onFilterSubmit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        {{ titlePage ? titlePage : "" }}
      </div>
      <div
        v-if="getDataList.isActive"
        class="card-body text-center"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div
          v-if="profileInfo.role === 'DMG_OPS_MAKER'"
          class="row mb-3"
        >
          <div class="col-sm-6 col-md-4">
            <router-link
              class="btn btn-outline-success "
              type="button"
              to="/settlement/deals/create"
            >
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              /> Create Settlement
            </router-link>
          </div>
          <div class="col-sm-6 col-md-8">
            <!-- empty -->
          </div>
        </div>
        <keep-alive>
          <settlement-table-list
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
          />
        </keep-alive>
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else>
              <!-- - No Results - -->
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import SettlementTableList from '@/components/settlements/SettlementTableListDeals'
import SettlementFilter from '@/components/settlements/SettlementFilterSearch'
import PaginationList from '@/components/PaginationList'
import CardProgress from '@/components/CardProgress'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'SettlementsDeals',
  components: {
    'settlement-table-list': SettlementTableList,
    'pagination-list': PaginationList,
    'card-progress': CardProgress,
    'settlement-filter-search': SettlementFilter
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      titlePage: 'Settlement Deal List',
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      APIURL: 'settlement-batch',
      params: {
        size: 10,
        pagination: 1,
        invType: 'CASHBAC_DEALS',
        order: 'createTs',
        orderAttr: 'DESC'
      }
    }
  },
  computed: {
    ...mapGetters({
      profileInfo: 'profile/getAuth'
    }),
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        invType: this.params.invType,
        orderAttr: this.params.orderAttr
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    const endpoint = this.API_endpoint
    let obj = {}
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  }
}
</script>

<style lang="scss" type="scoped">

</style>
