<template>
  <div class="container-fluid px-0">
    <router-link :to="`/settlements/regular/${$route.params.pubId}`">
      <i
        class="fa fa-arrow-left mb-3"
        aria-hidden="true"
      /> Back to Detail
    </router-link>
    <div class="card">
      <div class="card-header font-weight-bold">
        Failed Upload Summary
      </div>
      <div
        v-if="results.length > 0"
        class="card-body"
      >
        <table class="table table-striped border">
          <thead class="">
            <tr>
              <th class="border-bottom-0">
                Row #
              </th>
              <th class="border-bottom-0">
                Invoice ID
              </th>
              <th class="border-bottom-0">
                Settlement ID
              </th>
              <th class="border-bottom-0">
                Reason
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(data, index) in results"
              :key="index"
            >
              <td scope="row">
                {{ data.rowNumber }}
              </td>
              <td>{{ data.invoicePubId }}</td>
              <td>{{ data.settlementId }}</td>
              <td>{{ data.failureReason }}</td>
            </tr>
          </tbody>
        </table>
        <keep-alive>
          <pagination-list
            :results="results"
            :pageSize="params.size"
            :currentPage="params.pagination"
            :totalPage="totalPage"
            :totalRows="totalRows"
            class="text-right"
            @paginationClick="onPaginationClick"
          />
        </keep-alive>
      </div>
      <div
        v-else
        class="card-body text-center"
      >
        <p class="my-1">
          - No failed transaction found -
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import PaginationList from '@/components/PaginationList'
import TableListMixin from '@/mixins/TableListMixin'
import Vuency from 'vuency'
Vue.use(Vuency)
export default {
  name: 'SettlementFailed',
  components: {
    'pagination-list': PaginationList
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      results: [],
      params: {
        size: 10,
        pagination: 1,
        order: 'id',
        orderAttr: 'asc'
      }
    }
  },
  computed: {
    APIURL: function () {
      return `settlement-batch/${this.$route.params.pubId}/upload-failures`
    },
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr,
        merchantPubId: this.$route.params.pubid
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    let obj = {}
    const endpoint = this.API_endpoint
    //
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  },
  methods: {
    refreshQuery: function () {
      this.$router.push({
        query: {
          pagination: 1
        }
      })
    }
  }
}
</script>
<style lang="scss" type="scoped">
</style>
