<template>
  <div
    v-if="getInfo.isActive || getSum.isActive || getTrx.isActive"
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <div class="card">
      <div class="card-header font-weight-bold">
        Settlement Information
      </div>
      <div class="card-body text-center">
        <card-progress />
      </div>
    </div>
  </div>
  <div
    v-else
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <h4 class="mb-4">
      Batch ID : {{ $route.params.pubId }}
    </h4>
    <div v-if="settlementSummary && settlementInformation && transactionSummary">
      <settlement-info
        :data="settlementInformation"
      />
      <!-- ### -->
      <empty-state
        v-if="['validate_data', 'failed', 'canceled'].includes(statusSettlement)"
        :status="statusSettlement"
      />
      <!-- ### -->
      <settlement-summary
        v-else
        :summary="settlementSummary"
        :transactions="transactionSummary"
      />
      <transaction-list
        v-if="['awaiting_approval', 'rejected', 'settled'].includes(settlementInformation.status.toLowerCase())"
      />
    </div>
    <div v-else>
      <div class="card">
        <div class="card-header font-weight-bold">
          Settlement Information
        </div>
        <div class="card-body text-center">
          - No Data Information -
        </div>
      </div>
    </div>
    <div
      v-if="profile.role === 'DMG_OPS_MAKER' && currentStatus === 'awaiting_submission'"
      class="container-fluid text-center text-sm-right fixed-bar py-2 shadow-lg"
    >
      <button
        :disabled="disabledButton"
        class="btn btn-outline-primary px-4 my-2 mr-2"
        @click="cancel"
      >
        {{ cancelSettlement.isActive ? 'Cancelling' : 'Cancel' }}
      </button>
      <button
        class="btn btn-primary px-4 my-2"
        :disabled="disabledButton"
        @click="submit"
      >
        {{ submitSettlement.isActive ? 'Submitting' : 'Submit' }}
      </button>
    </div>
    <div
      v-if="profile.role === 'DMG_OPS_CHECKER' && currentStatus === 'awaiting_approval'"
      class="container-fluid text-center text-sm-right fixed-bar py-2 shadow-lg"
    >
      <button
        :disabled="disabledButton"
        class="btn btn-outline-primary px-4 my-2 mr-2"
        @click="reject"
      >
        {{ rejectSettlement.isActive ? 'Rejecting' : 'Reject' }}
      </button>
      <button
        class="btn btn-primary px-4 my-2"
        :disabled="disabledButton"
        @click="approve"
      >
        {{ approveSettlement.isActive ? 'Approving' : 'Approve' }}
      </button>
    </div>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import SettlementSummary from '@/components/settlements/SettlementSummaryDeals'
import SettlementInfo from '@/components/settlements/SettlementInfoDeals'
import SettlementSubmit from '@/mixins/settlements/SettlementSubmitDeals'
import TransactionList from '@/components/settlements/TransactionListDeals'
import EmptyState from '@/components/settlements/EmptyState'
import CardProgress from '@/components/CardProgress'
import { mapGetters } from 'vuex'
export default {
  name: 'SettlementSubmit',
  components: {
    'settlement-summary': SettlementSummary,
    'settlement-info': SettlementInfo,
    'card-progress': CardProgress,
    'empty-state': EmptyState,
    'transaction-list': TransactionList
  },
  mixins: [SettlementSubmit],
  data: function () {
    return {
      settlementSummary: null,
      settlementInformation: null,
      transactionSummary: null
    }
  },
  computed: {
    ...mapGetters({
      profile: 'profile/getAuth'
    }),
    currentStatus: function () {
      return this.settlementInformation ? this.settlementInformation.status.toLowerCase() : ''
    },
    disabledButton: function () {
      return (this.submitSettlement.isActive || this.cancelSettlement.isActive || this.approveSettlement.isActive || this.rejectSettlement.isActive)
    },
    API_APPROVE: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/approval`
    },
    API_SUBMIT: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/submit`
    },
    API_INFO: function () {
      return `settlement-batch/${this.$route.params.pubId || null}`
    },
    API_TRX: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/transaction-summary?invoiceType=CASHBAC_DEALS`
    },
    API_SUM: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/summary?invoiceType=CASHBAC_DEALS`
    },
    statusSettlement: function () {
      return this.settlementInformation ? this.settlementInformation.status.toLowerCase() : ''
    }
  },
  created: function () {
    this.getInfo.run(process.env.VUE_APP_API, this.API_INFO)
    this.getSum.run(process.env.VUE_APP_API, this.API_SUM)
    this.getTrx.run(process.env.VUE_APP_API, this.API_TRX)
  },
  methods: {
    submit: function () {
      this.submitSettlement.run(process.env.VUE_APP_API, this.API_SUBMIT, { action: 'SUBMIT' }, 'submit')
    },
    cancel: function () {
      this.cancelSettlement.run(process.env.VUE_APP_API, this.API_SUBMIT, { action: 'CANCEL' }, 'cancel')
    },
    approve: function () {
      this.approveSettlement.run(process.env.VUE_APP_API, this.API_APPROVE, { action: 'APPROVE', updateBy: '' }, 'approve')
    },
    reject: function () {
      this.rejectSettlement.run(process.env.VUE_APP_API, this.API_APPROVE, { action: 'REJECT', updateBy: '' }, 'reject')
    }
  }
}
</script>
<style lang="scss" type="scoped">
.fixed-bar {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
</style>
