<template>
  <div>
    <download-transaction
      :settlementList="settlementList"
      :merchantList="merchantList"
      :invoiceType="invoiceType"
      @getMerchants="getMerchants"
      @getSettlement="getSettlement"
      @requestDownload="onRequestDownload"
    />
    <upload-transaction
      :endpoint="API_UPLOAD"
    />
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DownloadTransaction from '@/components/settlements/DownloadTransaction'
import UploadTransaction from '@/components/settlements/UploadTransaction'
import settlementMixin from '@/mixins/settlements/DownloadTransaction'
export default {
  name: 'TransactionDeals',
  components: {
    'download-transaction': DownloadTransaction,
    'upload-transaction': UploadTransaction
  },
  mixins: [settlementMixin],
  data: function () {
    return {
      API_UPLOAD: 'settlements/upload-pending-settlement',
      API_DOWNLOAD: 'settlements/download',
      API_MERCHANTS: 'merchant/settlement-status',
      API_SETTLEMENTS: 'settlement-accounts/merchant',
      merchantList: [],
      invoiceType: 'CASHBAC_DEALS',
      settlementList: []
    }
  },
  computed: {
    ...mapGetters({
      profileInfo: 'profile/getAuth'
    })
  },
  created: function () {
    if (this.profileInfo.role.toUpperCase() !== 'DMG_OPS_MAKER') {
      this.$router.push('/settlements/deals')
    }
  },
  methods: {
    getSettlement: function (payload) {
      let query = ''
      payload.merchant_name.forEach((element, index) => {
        if (element.merchantPubID) {
          if (index > 0 && index !== payload.merchant_name.length) {
            query = query.concat('&merchantPubIds=' + element.merchantPubID)
          } else {
            query = query.concat('merchantPubIds=' + element.merchantPubID)
          }
        }
      })
      this.getSettlementList.run(process.env.VUE_APP_API, this.API_SETTLEMENTS, query)
    },
    getMerchants: function (payload) {
      let query = `?trx_start_date=${payload.trx_start_date}&trx_end_date=${payload.trx_end_date}&invoiceType=${payload.invoiceType}`
      this.getMerchantList.run(process.env.VUE_APP_API, this.API_MERCHANTS, query)
    },
    onRequestDownload: function (payload) {
      let query = `trxStartDate=${payload.trx_start_date}&trxEndDate=${payload.trx_end_date}&invoiceType=${payload.invoiceType}`
      payload.merchant_name.forEach((element, index) => {
        if (element.merchantPubID) {
          query = query.concat('&merchantPubIds=' + element.merchantPubID)
        }
      })
      if (payload.settlement_account) {
        query = query.concat('&settlementAccountPubId=' + payload.settlement_account.pubId)
      }
      this.downloadTransaction.run(process.env.VUE_APP_API, this.API_DOWNLOAD, query)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
