<template>
  <div
    v-if="selected"
    class="all-hours d-block pl-3 mb-4"
  >
    <div
      v-for="(hours, index) in openingHoursOutlet.hours"
      :key="index"
      class="hours-wrap"
    >
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i
                class="fa fa-clock-o"
                aria-hidden="true"
              />
            </span>
          </div>
          <input
            :id="`startHours${index}`"
            v-model="openingHoursOutlet.hours[index].startHour"
            class="form-control"
            type="text"
            :name="`startHours${index}`"
            :aria-describedby="`startHours${index}Help`"
            placeholder="ex. 00:00"
            :disabled="isFullDay"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            required
            @keydown="isValidateKey(index, 'startHour')"
          >
          <div
            class="dropdown-menu wrap-scroll"
            aria-labelledby="dropdownMenuButton"
          >
            <span
              v-for="(minutes, index2) in timeList"
              :key="index2"
              class="dropdown-item border-0"
              :class="minutes === openingHoursOutlet.hours[index].startHour ? 'active' : ''"
              @click="selectMinute(minutes, index, 'startHour')"
            >
              {{ minutes }}
            </span>
          </div>
        </div>
      </div>
      <div class="d-inline-block px-2">
        -
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i
                class="fa fa-clock-o"
                aria-hidden="true"
              />
            </span>
          </div>
          <input
            :id="`endHours${index}`"
            v-model="openingHoursOutlet.hours[index].endHour"
            class="form-control"
            type="text"
            :name="`endHours${index}`"
            :aria-describedby="`endHours${index}Help`"
            :disabled="isFullDay"
            placeholder="ex. 23:59"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            required
            @keydown="isValidateKey(index, 'endHour')"
          >
          <div
            class="dropdown-menu wrap-scroll"
            aria-labelledby="dropdownMenuButton"
          >
            <span
              v-for="(minutes, index2) in timeList"
              :key="index2"
              class="dropdown-item border-0"
              :class="minutes === openingHoursOutlet.hours[index].endHour ? 'active' : ''"
              @click="selectMinute(minutes, index, 'endHour')"
            >
              {{ minutes }}
            </span>
          </div>
        </div>
      </div>
      <button
        v-if="index !== 0"
        type="button"
        class="btn btn-link text-danger"
        @click="removeHours(index)"
      >
        Remove Hour
      </button>
    </div>
    <div class="d-block">
      <button
        v-if="!isFullDay"
        type="button"
        class="btn btn-link px-0 mb-2"
        @click="addHours"
      >
        Add more hours
      </button>
      <div class="form-check">
        <label class="form-check-label font-weight-regular">
          <input
            v-model="isFullDay"
            type="checkbox"
            class="form-check-input"
            name="24hours"
          >
          Open 24 hours
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
Vue.use(Vuency)
export default {
  name: 'OutletOpenHours',
  props: [
    'selected',
    'dayOps',
    'selectedHours'
  ],
  data: function () {
    return {
      isFullDay: false,
      tempTimeOut: '',
      openingHoursOutlet: {
        dayOfWeeks: this.dayOps.toUpperCase(),
        hours: [{
          startHour: '',
          endHour: ''
        }]
      },
      timeList: []
    }
  },
  computed: {
    finalPayload: function () {
      return {
      }
    }
  },
  watch: {
    selectedHours: function () {
      let arr = this.selectedHours.filter(x => x.dayOfWeeks.toLowerCase() === this.dayOps)
      if (arr.length > 0) {
        if (arr[0].hours.length === 1 && arr[0].hours[0].endHour === '23:59' && arr[0].hours[0].startHour === '00:00') {
          this.isFullDay = true
        }
        this.openingHoursOutlet.hours = arr[0].hours
      }
    },
    isFullDay: function () {
      this.openFullDay()
    },
    selected: function () {
      if (this.selected === true) {
        this.isFullDay = false
        this.openingHoursOutlet.hours = [{
          startHour: '',
          endHour: ''
        }]
      }
    }
  },
  mounted () {
    this.getMinute()
  },
  methods: {
    isValidateKey: function (index, name) {
      let self = this
      clearTimeout(this.tempTimeOut)
      this.tempTimeOut = setTimeout((x) => {
        let value = this.openingHoursOutlet.hours[index][name]
        let splitted = value.split('')
        if (value.length > 0) {
          let arr = splitted.filter(x => !isNaN(x - parseFloat(x)))
          if (arr.length > 2 && arr.length < 5) {
            arr.splice(2, 0, ':')
          } else if (arr.length > 2) {
            arr = arr.slice(1, 5)
            arr.splice(2, 0, ':')
          }
          self.openingHoursOutlet.hours[index][name] = arr.join('').toString()
        }
        this.updateHour.run()
      }, 500)
    },
    selectMinute: function (minutes, index, name) {
      this.openingHoursOutlet.hours[index][name] = minutes
      this.updateHour.run()
    },
    zeroFill: function (number, width) {
      width -= number.toString().length
      if (width > 0) {
        return new Array(width + (/\./.test(number) ? 2 : 1)).join('0') + number
      }
      return number + ''
    },
    getMinute: function () {
      for (var i = 0; i < 24; i++) {
        var j = this.zeroFill(i, 2)
        this.timeList.push(j + ':00')
        this.timeList.push(j + ':30')
      }
      this.timeList.push('23:59')
    },
    openFullDay: function () {
      let obj = {
        dayOfWeeks: this.dayOps.toUpperCase(),
        hours: [{
          startHour: '00:00',
          endHour: '23:59'
        }]
      }

      if (this.isFullDay) {
        this.openingHoursOutlet = obj
        this.updateHour.run()
      } else {
        this.openingHoursOutlet.hours[0].startHour = ''
        this.openingHoursOutlet.hours[0].endHour = ''
        this.updateHour.run()
      }
    },
    removeHours: function (index) {
      let hours = this.openingHoursOutlet.hours
      let arr = hours.filter((x, num) => {
        if (num !== index) {
          return x
        }
      })
      this.openingHoursOutlet.hours = arr
      this.updateHour.run()
    },
    addHours: function () {
      let arr = this.openingHoursOutlet.hours
      let newArr = arr.map(x => {
        return x
      })
      newArr.push({
        startHour: '',
        endHour: ''
      })
      this.openingHoursOutlet.hours = newArr
    }
  },
  tasks (t) {
    return {
      updateHour: t(function * (index) {
        this.$emit('updatingHours', this.openingHoursOutlet)
      })
        .flow('restart', { delay: 400 })
    }
  }
}
</script>
<style lang="scss" type="scoped">
.all-hours .wrap-scroll {
  overflow-y: scroll;
  height: 200px;
}
</style>
