<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="outlet_name">Outlet Name</label>
            <input
              id="outlet_name"
              v-model="querySearch.outletName"
              type="text"
              name="outlet_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="merchant_name">Merchant Name</label>
            <input
              id="merchant_name"
              v-model="querySearch.merchantName"
              type="text"
              name="merchant_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="statusOutlet">Status</label>
            <multiselect
              id="statusOutlet"
              v-model="optionStatus"
              label="name"
              track-by="name"
              placeholder="Select Status"
              :close-on-select="true"
              :show-labels="true"
              :options="listStatus"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Status {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="locationCity">City</label>
            <multiselect
              id="locationCity"
              v-model="optionCity"
              label="name"
              track-by="name"
              placeholder="Select City"
              :close-on-select="true"
              :show-labels="true"
              :options="listCity"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Type {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="locationProvince">Province</label>
            <multiselect
              id="locationProvince"
              v-model="optionProvince"
              label="name"
              track-by="name"
              placeholder="Select Province"
              :close-on-select="true"
              :show-labels="true"
              :options="listProvince"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Type {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="paymentInterface">Payment Interface</label>
            <multiselect
              id="paymentInterface"
              v-model="optionPaymentInterface"
              label="contentValue"
              track-by="contentValue"
              placeholder="Select Payment Interface"
              :close-on-select="true"
              :show-labels="true"
              :options="listPaymentInterface"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.contentValue }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Type {{ option.contentValue }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="validDate">Created Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="validDate"
                  :initialDate="false"
                  :watching="validDate_start"
                  :start="validDate_start"
                  :end="validDate_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="publishDate">Published Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="publishDate"
                  :initialDate="false"
                  :watching="publishDate_start"
                  :start="publishDate_start"
                  :end="publishDate_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import DateRangePicker from '@/components/DateRangePicker'
import FilterSearchMixin from '@/mixins/FilterSearchMixin'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
import * as dummy from '@/utils/dummy'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'OutletFilterSearch',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  mixins: [FilterSearchMixin, authMixin],
  props: ['pagination'],
  data: function () {
    return {
      API_PROVINCE: 'locations/types?type=province',
      API_CITY: 'locations/types?type=city',
      API_INTERFACE_CAT: 'merchant/content-categories',
      listStatus: dummy.OutletStatus,
      listProvince: [],
      listCity: [],
      listPaymentCategories: [],
      listPaymentInterface: [],
      exceptionalFilter: ['status', 'paymentInterfacePubId'],
      optionPaymentInterface: { contentValue: 'ALL', contentPubId: '' },
      optionStatus: { name: 'ALL', value: '' },
      optionCity: { name: 'ALL' },
      optionProvince: { name: 'ALL' },
      publishDate_start: '',
      publishDate_end: '',
      validDate_start: '',
      validDate_end: '',
      querySearch: {
        merchantName: '',
        outletName: '',
        province: '',
        city: '',
        status: '',
        paymentInterfacePubId: '',
        startPublishDate: '',
        endPublishDate: '',
        startDate: '',
        endDate: ''
      }
    }
  },
  computed: {
    API_INTERFACE: function () {
      return this.listPaymentCategories ? `merchant/contents/${this.listPaymentCategories[0].categoryPubId}` : ''
    },
    requestQuery: function () {
      let query = {}
      const obj = this.querySearch
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          query[key] = value
        }
      }
      return query
    }
  },
  watch: {
    publishDate_start: function () {
      this.querySearch.startPublishDate = this.publishDate_start
    },
    publishDate_end: function () {
      this.querySearch.endPublishDate = this.publishDate_end
    },
    validDate_end: function () {
      this.querySearch.endDate = this.validDate_end
    },
    validDate_start: function () {
      this.querySearch.startDate = this.validDate_start
    },
    optionStatus: function () {
      this.querySearch.status = this.optionStatus.value
    },
    optionPaymentInterface: function () {
      this.querySearch.paymentInterfacePubId = this.optionPaymentInterface.contentPubId
    },
    optionCity: function () {
      if (this.optionCity.name.toLowerCase() !== 'all') {
        this.querySearch.city = this.optionCity.name
      } else {
        this.querySearch.city = ''
      }
    },
    optionProvince: function () {
      if (this.optionProvince.name.toLowerCase() !== 'all') {
        this.querySearch.province = this.optionProvince.name
      } else {
        this.querySearch.province = ''
      }
    }
  },
  created: function () {
    this.getPaymentCategory.run(process.env.VUE_APP_API, this.API_INTERFACE_CAT)
    this.getLocation.run(process.env.VUE_APP_API, this.API_PROVINCE, 'listProvince')
    this.getLocation.run(process.env.VUE_APP_API, this.API_CITY, 'listCity')
  },
  mounted: function () {
    if (this.listStatus.length > 0) {
      this.listStatus.unshift({ name: 'ALL', value: '' })
    }
  },
  methods: {
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this[dateStart] = obj.start
      this[dateEnd] = obj.end
    },
    convertToEpoch: function (str) {
      let epoch = new Date(str).getTime()
      return epoch
    },
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.optionPaymentInterface = { contentValue: 'ALL', contentPubId: '' }
      this.optionStatus = { name: 'ALL', value: '' }
      this.optionCity = { name: 'ALL' }
      this.optionProvince = { name: 'ALL' }
      this.publishDate_start = ''
      this.publishDate_end = ''
      this.validDate_start = ''
      this.validDate_end = ''

      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    }
  },
  tasks (t, { timeout }) {
    return {
      getPaymentCategory: t(function * (endpoint = this.API_version, resource = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET LIST')
            // params: queryParams
          }).then(response => {
            if (response.body.code === 200 && response.body.content.length > 0) {
              self.listPaymentCategories = response.body.content.filter(obj => obj.categoryValue.toLowerCase() === 'payment interface')
              self.getCategoryDetail.run(process.env.VUE_APP_API, self.API_INTERFACE)
            } else if (response.body.code === 8) {
              self.GoLogout()
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop'),
      getCategoryDetail: t(function * (endpoint = this.API_version, resource = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET LIST CATEGORY')
          }).then(response => {
            if (response.body.code === 200 && response.body.content === null) {
              this.listPaymentInterface = response.body.content
              this.listPaymentInterface.unshift({ contentValue: 'ALL', contentPubId: '' })
            } else if (response.body.code === 8) {
              self.GoLogout()
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue'),
      getLocation: t(function * (endpoint = this.API_version, resource = '', state = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET LIST CATEGORY')
          }).then(response => {
            if (response.body.code === 200 && (response.body.content ? response.body.content.length : 0) > 0) {
              this[state] = response.body.content
              this[state].unshift({ name: 'ALL', pubId: '' })
            } else if (response.body.code === 8) {
              self.GoLogout()
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
