<template>
  <div>
    <div
      class="card"
      :class="loadingMapping ? '' : 'd-none'"
    >
      <div class="card-header font-weight-bold">
        Outlet Main Information
      </div>
      <div class="card-body text-center">
        <card-progress />
      </div>
    </div>
    <!-- ### condition -->
    <form
      :class="loadingMapping ? 'd-none' : ''"
      @submit.prevent="submitPayload()"
    >
      <div class="card">
        <div class="card-header font-weight-bold">
          Outlet Main Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#outletInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="outletInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="outletName">Outlet Name <span class="text-danger">*</span></label>
                <input
                  id="outletName"
                  v-model="outlet.outletName"
                  type="text"
                  class="form-control"
                  name="outletName"
                  aria-describedby="outletNameHelp"
                  placeholder=""
                  required
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="externalOutletName">External Outlet Name</label>
                <input
                  id="externalOutletName"
                  v-model="outlet.externalOutletName"
                  type="text"
                  class="form-control"
                  name="externalOutletName"
                  aria-describedby="externalOutletNameHelp"
                  placeholder=""
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="settlementOutletName">Settlement Outlet Name</label>
                <input
                  id="settlementOutletName"
                  v-model="outlet.settlementOutletName"
                  type="text"
                  class="form-control"
                  name="settlementOutletName"
                  aria-describedby="settlementOutletNameHelp"
                  placeholder=""
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="merchantOutletName">Merchant Name <span class="text-danger">*</span></label>
                <multiselect
                  id="merchantName"
                  v-model="outlet.merchant"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listMerchants"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="$route.params.pubId ? true : false"
                  @input="selectingMerchant"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
                <input
                  v-model="outlet.merchant"
                  type="text"
                  class="sr-only"
                  required
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <label for="merchantOutletName">Business Phone Number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i
                      class="fa fa-phone"
                      aria-hidden="true"
                    />
                  </span>
                </div>
                <input
                  id="businessNumber"
                  v-model="outlet.phoneNumber"
                  type="number"
                  class="form-control"
                  name="businessNumber"
                  aria-describedby="businessNumberHelp"
                  placeholder=""
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="merchantOutletName">Payment Interface <span class="text-danger">*</span></label>
                <multiselect
                  id="paymentInterface"
                  v-model="outlet.paymentInterface"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listPaymentInterface"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
                <input
                  v-model="outlet.paymentInterface"
                  type="text"
                  class="sr-only"
                  required
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="outletStatus">Outlet Status <span class="text-danger">*</span></label>
                <multiselect
                  id="outletStatus"
                  v-model="outlet.status"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listOutletStatus"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="outletStatus">Payment Transaction</label>
                <multiselect
                  id="isOnline"
                  v-model="tempPaymentTransaction"
                  class="text-capitalize"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listPaymentTransaction"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="outletOptions">Outlet Options<span class="text-danger">*</span></label>
                <multiselect
                  id="outletOptions"
                  v-model="outlet.outletOptions"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :multiple="true"
                  :show-labels="true"
                  :options="listOutletOptions || []"
                  :custom-label="customOptionLabel"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ customOptionLabel(option) }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
                <input
                  v-model="outlet.outletOptions"
                  type="text"
                  class="sr-only"
                  required
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group py-1 d-flex align-items-center">
                <label class="switch switch-pill switch-primary mb-0">
                  <input
                    v-model="outlet.isUsePinVoid"
                    class="switch-input"
                    type="checkbox"
                  >
                  <span class="switch-slider" />
                </label>
                <label class="px-2 mb-0">PIN Biz App</label>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group py-1 d-flex align-items-center">
                <label class="switch switch-pill switch-primary mb-0">
                  <input
                    v-model="outlet.isCashbacEarn"
                    class="switch-input"
                    type="checkbox"
                  >
                  <span class="switch-slider" />
                </label>
                <label class="px-2 mb-0">Cashbac Earn</label>
              </div>
            </div>
            <div
              v-if="$route.params.pubId"
              class="col-12 col-md-4"
            >
              <div class="form-group py-1 d-flex align-items-center">
                <label class="switch switch-pill switch-primary mb-0">
                  <input
                    v-model="outlet.visibility"
                    class="switch-input"
                    type="checkbox"
                  >
                  <span class="switch-slider" />
                </label>
                <label class="px-2 mb-0">Visibility in Mobile App</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bold">
          Address Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#addressInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="addressInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="address">Address <span class="text-danger">*</span></label>
                <textarea
                  id="address"
                  v-model="location.address"
                  class="form-control align-self-stretch custom-min-height"
                  name="address"
                  rows="8"
                />
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="province">Province <span class="text-danger">*</span></label>
                    <multiselect
                      id="Province"
                      v-model="location.province"
                      label="name"
                      track-by="name"
                      placeholder="Select Province"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfProvince"
                      :searchable="true"
                      :allow-empty="true"
                      @input="selectLocation('city', 'province', 'listOfCities')"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                    <input
                      v-model="location.province.id"
                      class="sr-only"
                      required
                    >
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="city">City <span class="text-danger">*</span></label>
                    <multiselect
                      id="City"
                      v-model="location.city"
                      label="name"
                      track-by="name"
                      placeholder="Please Select"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfCities"
                      :searchable="true"
                      :allow-empty="true"
                      @input="selectLocation('district', 'city', 'listOfDistrict')"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                    <input
                      v-model="location.city.id"
                      class="sr-only"
                      required
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="district">District <span class="text-danger">*</span></label>
                    <multiselect
                      id="District"
                      v-model="location.district"
                      label="name"
                      track-by="name"
                      placeholder="Please Select"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfDistrict"
                      :searchable="true"
                      :allow-empty="true"
                      @input="selectLocation('subdistrict', 'district', 'listOfSubdistrict')"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                    <input
                      v-model="location.district.id"
                      class="sr-only"
                      required
                    >
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="subdistrict">Sub District <span class="text-danger">*</span></label>
                    <multiselect
                      id="SubDistrict"
                      v-model="location.subdistrict"
                      label="name"
                      track-by="name"
                      placeholder="Please Select"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfSubdistrict"
                      :searchable="true"
                      :allow-empty="true"
                      @input="selectLocation('building', 'subdistrict', 'listOfBuilding')"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                    <input
                      v-model="location.subdistrict.id"
                      class="sr-only"
                      required
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="area">Area</label>
                    <multiselect
                      id="Area"
                      v-model="location.area"
                      label="name"
                      track-by="name"
                      placeholder="Please Select"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfArea"
                      :searchable="true"
                      :allow-empty="true"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="BuildingName">Building Name</label>
                    <multiselect
                      id="Buildingname"
                      v-model="location.building"
                      label="name"
                      track-by="name"
                      placeholder="Please Select"
                      :close-on-select="true"
                      :show-labels="true"
                      selectLabel=""
                      :options="listOfBuilding"
                      :searchable="true"
                      :allow-empty="true"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.name"
                          class="text-capitalize"
                        >{{ option.name }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Please Select</span>
                      </template>
                    </multiselect>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input
                  id="postalCode"
                  v-model="location.postalCode"
                  type="number"
                  class="form-control"
                  name="postalCode"
                  aria-describedby="postalCodeHelp"
                  placeholder=""
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="latitude">Latitude <span class="text-danger">*</span></label>
                <input
                  id="latitude"
                  v-model="location.latitude"
                  type="text"
                  class="form-control"
                  name="latitude"
                  aria-describedby="latitudeHelp"
                  placeholder=""
                  required
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="longitude">Longitude <span class="text-danger">*</span></label>
                <input
                  id="longitude"
                  v-model="location.longitude"
                  type="text"
                  class="form-control"
                  name="longitude"
                  aria-describedby="longitudeHelp"
                  placeholder=""
                  required
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bold">
          Settlement Account Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#accountInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="accountInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="postalCode">Settlement Account <span class="text-danger">*</span></label>
                <multiselect
                  id="settlementAccount"
                  v-model="tempSettlementAccount"
                  label="accountName"
                  track-by="pubId"
                  placeholder="Select Merchant First"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listSettlements"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.accountName"
                      class="text-capitalize"
                    >{{ option.accountName }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Merchant First</span>
                  </template>
                </multiselect>
                <input
                  v-model="tempSettlementAccount"
                  class="sr-only"
                  required
                >
              </div>
            </div>
          </div>
          <hr class="full-row-card">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="businessName">Business Entity Name</label>
                <input
                  id="businessName"
                  type="text"
                  class="form-control"
                  name="businessName"
                  aria-describedby="businessNameHelp"
                  placeholder=""
                  :value="tempSettlementAccount ?tempSettlementAccount.legalName : ''"
                  disabled
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="bankName">Bank Name</label>
                <input
                  id="bankName"
                  type="text"
                  class="form-control"
                  name="bankName"
                  aria-describedby="bankNameHelp"
                  placeholder=""
                  :value="tempSettlementAccount ? tempSettlementAccount.bankName : ''"
                  disabled
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="remarkInstruction">Remark Bank Transfer Instruction</label>
                <input
                  id="remarkInstruction"
                  type="text"
                  class="form-control"
                  name="remarkInstruction"
                  aria-describedby="remarkInstructionHelp"
                  placeholder=""
                  :value="tempSettlementAccount ? tempSettlementAccount.remarkBankTransfer : ''"
                  disabled
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="npwp">NPWP</label>
                <input
                  id="npwp"
                  type="text"
                  class="form-control"
                  name="npwp"
                  aria-describedby="npwpHelp"
                  placeholder=""
                  :value="tempSettlementAccount ? tempSettlementAccount.npwp: ''"
                  disabled
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="bankBranch">Bank Branch</label>
                <input
                  id="bankBranch"
                  type="text"
                  class="form-control"
                  name="bankBranch"
                  aria-describedby="bankBranchHelp"
                  placeholder=""
                  :value="tempSettlementAccount ? tempSettlementAccount.bankBranch : ''"
                  disabled
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group my-md-4 py-1 d-flex align-items-center">
                <label class="switch switch-pill switch-primary mb-0">
                  <input
                    class="switch-input"
                    type="checkbox"
                    :checked="tempSettlementAccount ? tempSettlementAccount.receiveReceipt : false"
                    disabled
                  >
                  <span class="switch-slider" />
                </label>
                <label class="px-2 mb-0">
                  Receive Copy Receipt
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="npwpAddress">NPWP Address</label>
                <textarea
                  id="npwpAddress"
                  class="form-control"
                  name="npwpAddress"
                  rows="3"
                  :value="tempSettlementAccount ? tempSettlementAccount.npwpAddress : ''"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="accountNumber">Account Number</label>
                    <input
                      id="accountNumber"
                      type="text"
                      class="form-control"
                      name="accountNumber"
                      aria-describedby="accountNumberHelp"
                      placeholder=""
                      :value="tempSettlementAccount ? tempSettlementAccount.accountNumber : ''"
                      disabled
                    >
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="paymentReport">Email as Payment Report</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i
                            class="fa fa-envelope"
                            aria-hidden="true"
                          />
                        </span>
                      </div>
                      <input
                        id="settlementEmail"
                        type="email"
                        class="form-control"
                        name="settlementEmail"
                        aria-describedby="settlementEmailHelp"
                        placeholder=""
                        :value="tempSettlementAccount ? tempSettlementAccount.email : ''"
                        disabled
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="accountNama">Account Name</label>
                    <input
                      id="accountNama"
                      type="text"
                      class="form-control"
                      name="accountNama"
                      aria-describedby="accountNamaHelp"
                      placeholder=""
                      :value="tempSettlementAccount ? tempSettlementAccount.accountName : ''"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bold">
          Manager Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#managerInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="managerInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="managerFullName">Manager Full Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i
                        class="fa fa-user"
                        aria-hidden="true"
                      />
                    </span>
                  </div>
                  <input
                    id="managerName"
                    v-model="managerInfo.managerName"
                    type="text"
                    class="form-control"
                    name="managerName"
                    aria-describedby="managerNameHelp"
                    placeholder=""
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="managerEmail">Manager Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i
                        class="fa fa-envelope"
                        aria-hidden="true"
                      />
                    </span>
                  </div>
                  <input
                    id="managerEmail"
                    v-model="managerInfo.managerEmail"
                    type="email"
                    class="form-control"
                    name="managerEmail"
                    aria-describedby="managerEmailHelp"
                    placeholder=""
                    :required="managerInfo.managerPhone != '' || managerInfo.managerName != '' ? true : false"
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="phoneManager">Manager Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i
                        class="fa fa-phone"
                        aria-hidden="true"
                      />
                    </span>
                  </div>
                  <input
                    id="phoneManager"
                    v-model="managerInfo.managerPhone"
                    type="number"
                    class="form-control"
                    name="phoneManager"
                    aria-describedby="phoneManagerHelp"
                    placeholder=""
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bold">
          Additional Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#additionalInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="additionalInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12 col-lg-8 custom-col">
                  <div class="form-group">
                    <label for="averageCost">Average Cost</label>
                    <!-- listPriceRange -->
                    <div class="input-group">
                      <multiselect
                        id="isOnline"
                        v-model="tempPriceRange"
                        label="name"
                        track-by="name"
                        placeholder=""
                        :close-on-select="true"
                        :show-labels="true"
                        :options="listPriceRange"
                        :searchable="true"
                        :allow-empty="true"
                        :disabled="false"
                        @input="clearSubDesc"
                      >
                        <template
                          slot="singleLabel"
                          slot-scope="{ option }"
                        >
                          <span
                            v-if="option.name"
                            class="text-capitalize"
                          >{{ option.name }}</span>
                          <span
                            v-else
                            class="text-placeholder"
                          >Please Select</span>
                        </template>
                      </multiselect>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 custom-col">
                  <div class="form-group">
                    <label
                      class="d-none d-lg-block"
                      for="averageCostText"
                    >&nbsp;</label>
                    <input
                      id="averageCostText"
                      v-model="tempSubDesc"
                      type="text"
                      class="form-control"
                      name="averageCostText"
                      aria-describedby="averageCostTextHelp"
                      placeholder=""
                      :disabled="!tempPriceRange"
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="phoneManager">Detail Average Cost</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i
                        class="fa fa-info-circle"
                        aria-hidden="true"
                      />
                    </span>
                  </div>
                  <input
                    id="averageCostTip"
                    v-model="tempTipDesc"
                    type="text"
                    class="form-control"
                    name="averageCostTip"
                    aria-describedby="averageCostTipHelp"
                    placeholder=""
                    :disabled="!tempPriceRange"
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="cuisines">Cuisines</label>
                <multiselect
                  id="Cuisines"
                  v-model="tempCuisines"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :multiple="true"
                  :close-on-select="false"
                  :show-labels="true"
                  :options="listCuisines"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="dishes">Dishes</label>
                <multiselect
                  id="Dishes"
                  v-model="tempDishes"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="false"
                  :multiple="true"
                  :show-labels="true"
                  :options="listDishes"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="mealServed">Meals Served</label>
                <multiselect
                  id="MealsServed"
                  v-model="tempMealServed"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :multiple="true"
                  :close-on-select="false"
                  :show-labels="true"
                  :options="listMealServed"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="alcohol">Alcohol</label>
                <multiselect
                  id="Alcohol"
                  v-model="tempAlcohol"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listAlcohol"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="features">Features</label>
                <multiselect
                  id="Features"
                  v-model="tempFeatures"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :multiple="true"
                  :close-on-select="false"
                  :show-labels="true"
                  :options="listFeatures"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="services">Services</label>
                <multiselect
                  id="Services"
                  v-model="tempServices"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :multiple="true"
                  :close-on-select="false"
                  :show-labels="true"
                  :options="listServices"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="seating">Seating</label>
                <multiselect
                  id="Seating"
                  v-model="tempSeating"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listSeating"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="smoking">Smoking</label>
                <multiselect
                  id="Smoking"
                  v-model="tempSmoking"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listSmoking"
                  :multiple="false"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="wifi">Wi Fi</label>
                <multiselect
                  id="Wifi"
                  v-model="tempWifi"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listWifi"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="parking">Parking</label>
                <multiselect
                  id="Parking"
                  v-model="tempParking"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :multiple="true"
                  :close-on-select="false"
                  :show-labels="true"
                  :options="listParking"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bold">
          Operational Hours
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#operationalHours"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="operationalHours"
          class="card-body collapse show"
        >
          <div class="row">
            <div
              v-for="(day, index) in days"
              :key="index"
              class="col-12"
            >
              <div class="form-check mb-4">
                <label class="form-check-label font-weight-regular text-capitalize">
                  <input
                    id=""
                    v-model="days[index].val"
                    type="checkbox"
                    class="form-check-input"
                    name=""
                    value="checkedValue"
                    @change="removeHour(day)"
                  >
                  {{ day.name }}
                </label>
              </div>
              <OutletOpenHours
                :selectedHours="selectedHours"
                :selected="days[index].val"
                :dayOps="days[index].name"
                @updatingHours="onUpdatingHours"
              />
              <hr class="full-row-card">
            </div>
          </div>
          <input
            v-model="hoursFilled"
            type="text"
            class="sr-only"
            required
          >
        </div>
      </div>

      <div
        v-if="outlet.outletOptions && outlet.outletOptions.find(el => el.name === 'CASHBAC_DELIVERY_WA')"
        class="card"
      >
        <div class="card-header font-weight-bold">
          Delivery
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#deliveryOptions"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="deliveryOptions"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="WaNumber">WA Number <span class="text-danger">*</span></label>
                <input
                  id="WaNumber"
                  v-model="deliveryWa"
                  type="tel"
                  class="form-control"
                  name="WaNumber"
                  aria-describedby="WaNumberHelp"
                  maxlength="16"
                  placeholder=""
                  onkeypress="return /^-?[0-9]*$/.test(this.value+event.key)"
                  required
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="sectionLabel">Section Label</label>
                <input
                  id="sectionLabel"
                  v-model="sectionLabel"
                  type="text"
                  class="form-control"
                  name="sectionLabel"
                  aria-describedby="sectionLabel"
                  placeholder=""
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="sectionMenu">Menu</label>
                <textarea
                  id="sectionMenu"
                  v-model="sectionMenu"
                  class="form-control align-self-stretch custom-min-height"
                  name="sectionMenu"
                  rows="4"
                  :disabled="!sectionLabel"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="sectionLabel2">Section Label</label>
                <input
                  id="sectionLabel2"
                  v-model="sectionLabel2"
                  type="text"
                  class="form-control"
                  name="sectionLabel2"
                  aria-describedby="sectionLabel2"
                  placeholder=""
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="sectionMenu">Menu</label>
                <textarea
                  id="sectionMenu2"
                  v-model="sectionMenu2"
                  class="form-control align-self-stretch custom-min-height"
                  name="sectionMenu2"
                  rows="4"
                  :disabled="!sectionLabel2"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="deliveryInstructions">Delivery Instructions</label>
                <multiselect
                  id="deliveryInstructions"
                  v-model="deliveryInstruction"
                  label="name"
                  track-by="name"
                  selectLabel=""
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listDeliveryInstructions || []"
                  :searchable="true"
                  :allow-empty="true"
                  :custom-label="customDeliveryLabel"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ customDeliveryLabel(option) }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-wrap pt-3">
        <div class="row text-right">
          <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 inline-block-wrap mb-2">
            <div class="row">
              <div class="col-xs-12 mb-1 col-md-6">
                <router-link
                  class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                  to="/"
                >
                  Cancel
                </router-link>
              </div>
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="submit"
                  class="btn btn-block btn-primary text-uppercase"
                  :disabled="Object.keys(detailInfo).length > 0 ? onEditOutlet : onCreateOutlet"
                >
                  {{ (Object.keys(detailInfo).length > 0 ? onEditOutlet : onCreateOutlet) ? 'Saving...' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import * as dummy from '@/utils/dummy'
import CardProgress from '@/components/CardProgress'
import OutletOpenHours from '@/components/outlets/OutletOpenHours'
import watcherCategory from '@/mixins/outlets/watcherCategory'
import mappingEdit from '@/mixins/outlets/mappingEdit'
import Multiselect from 'vue-multiselect'
export default {
  name: 'FormOutletCreateEdit',
  components: {
    OutletOpenHours,
    'multiselect': Multiselect,
    'card-progress': CardProgress
  },
  mixins: [watcherCategory, mappingEdit],
  props: [
    'onCreateOutlet',
    'onEditOutlet',
    'detailInfo',
    'listMerchants',
    'listAllCategories',
    'listPaymentTransaction',
    'listPaymentInterface',
    'listOutletOptions',
    'listDeliveryInstructions',
    'listOutletStatus',
    'listPriceRange',
    'listDishes',
    'listFeatures',
    'listSmoking',
    'listMealServed',
    'listServices',
    'listWifi',
    'listCuisines',
    'listAlcohol',
    'listSeating',
    'listParking',
    'listSettlements',
    'listOfProvince',
    'listOfCities',
    'listOfDistrict',
    'listOfArea',
    'listOfSubdistrict',
    'listOfBuilding'],
  data: () => {
    return {
      tempSettlementAccount: null,
      tempPaymentTransaction: {
        name: 'offline',
        value: false
      },
      // start categories
      // start average cost
      tempPriceRange: null,
      tempSubDesc: '',
      tempTipDesc: '',
      // end average cost
      tempFeatures: null,
      tempSmoking: null,
      tempMealServed: null,
      tempServices: null,
      tempWifi: null,
      tempCuisines: null,
      tempAlcohol: null,
      tempSeating: null,
      tempParking: null,
      tempDishes: null,
      // end categories
      outlet: {
        outletName: '',
        externalOutletName: '',
        phoneNumber: '',
        merchant: null,
        status: null,
        settlementOutletName: '',
        settlementAccount: null,
        isOnline: false,
        isCashbacEarn: false,
        isUsePinVoid: false,
        visibility: false,
        outletType: '',
        paymentInterface: null,
        outletOptions: null
      },
      location: {
        address: '',
        postalCode: '',
        latitude: '',
        longitude: '',
        province: {},
        city: {},
        district: {},
        subdistrict: {},
        area: {},
        building: {}
      },
      managerInfo: {
        managerEmail: '',
        managerName: '',
        managerPhone: ''
      },
      media: {
        logo: '',
        banner: ''
      },
      days: [
        { name: 'monday', val: false },
        { name: 'tuesday', val: false },
        { name: 'wednesday', val: false },
        { name: 'thursday', val: false },
        { name: 'friday', val: false },
        { name: 'saturday', val: false },
        { name: 'sunday', val: false }
      ],
      hourCollections: [],
      hoursFilled: '',
      // start delivery options
      additionalInfoOutlet: [],
      deliveryInstruction: null,
      deliveryWa: '',
      sectionLabel: '',
      sectionMenu: '',
      sectionLabel2: '',
      sectionMenu2: ''
      // end  delivery options
    }
  },
  computed: {
    sectionMenuArray: function () {
      var lines = []
      this.sectionMenu.split(/\n/).forEach((el, index) => {
        if (el) {
          lines.push(el)
        }
      })
      return lines
    },
    sectionMenuArray2: function () {
      var lines = []
      this.sectionMenu2.split(/\n/).forEach((el, index) => {
        if (el) {
          lines.push(el)
        }
      })
      return lines
    },
    delivery: function () {
      let self = this
      let menus = []
      if (this.outlet.outletOptions && this.outlet.outletOptions.find(el => el.name === 'CASHBAC_DELIVERY_WA')) {
        if (self.sectionLabel !== '') {
          menus.push({
            category: self.sectionLabel,
            menu: self.sectionMenuArray
          })
        }
        if (self.sectionLabel2 !== '') {
          menus.push({
            category: self.sectionLabel2,
            menu: self.sectionMenuArray2
          })
        }
        return {
          waNumber: self.deliveryWa,
          deliveryInstruction: self.deliveryInstruction,
          menus: menus
        }
      } else {
        return {}
      }
    },
    finalPayload: function () {
      if (this.$route.params.pubId) {
        return {
          outlet: { ...this.outlet, ...{ location: this.location } },
          openingHoursOutlet: this.hourCollections,
          managerInfo: this.managerInfo,
          additionalInfoOutlet: this.additionalInfoOutlet,
          settlementAccount: this.outlet.settlementAccount,
          delivery: this.delivery
        }
      } else {
        return {
          outlet: { ...this.outlet, ...{ location: this.location } },
          openingHoursOutlet: this.hourCollections,
          managerInfo: this.managerInfo,
          additionalInfoOutlet: this.additionalInfoOutlet,
          delivery: this.delivery
        }
      }
    }
  },
  watch: {
    'outlet.outletOptions': function (val) {
      if (!val || !val.find(el => el.name === 'CASHBAC_DELIVERY_WA')) {
        this.deliveryInstruction = null
        this.deliveryWa = ''
        this.sectionLabel = ''
        this.sectionMenu = ''
        this.sectionLabel2 = ''
        this.sectionMenu2 = ''
      }
    },
    sectionLabel: function (val) {
      if (!val) {
        this.sectionMenu = ''
      }
    },
    sectionLabel2: function (val) {
      if (!val) {
        this.sectionMenu2 = ''
      }
    },
    tempPaymentTransaction: function () {
      this.outlet.isOnline = this.tempPaymentTransaction.value
    },
    hourCollections: function () {
      if (this.hourCollections.length > 0) {
        this.hoursFilled = JSON.stringify(this.hourCollections)
      } else {
        this.hoursFilled = ''
      }
    },
    'location.province': function () {
      let arr = ['city', 'district', 'subdistrict', 'building', 'area']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    'location.city': function () {
      let arr = ['district', 'subdistrict', 'building', 'area']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    'location.district': function () {
      let arr = ['subdistrict', 'building']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    'location.subdistrict': function () {
      let arr = ['building']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    listSettlements: function () {
      this.tempSettlementAccount = null
    },
    tempSettlementAccount: function () {
      if (this.tempSettlementAccount && !this.$route.params.pubId) {
        this.outlet.settlementAccount = {
          name: this.tempSettlementAccount.accountName,
          pubId: this.tempSettlementAccount.pubId
        }
      } else {
        this.outlet.settlementAccount = this.tempSettlementAccount
        this.outlet.settlementAccount.outletSettletmentAccountPubId = this.detailInfo.settlementAccount.outletSettletmentAccountPubId
      }
    }
  },
  created: function () {
    this.$emit('gettingLocation', '?locationType=province', 'listOfProvince')
  },
  methods: {
    customOptionLabel: function ({ name, pubId }) {
      return dummy.listOutletOptions.find(el => el.value === name).name
    },
    customDeliveryLabel: function ({ name, pubId }) {
      return dummy.listDeliveryInstructions.find(el => el.value === name).name
    },
    clearSubDesc: function () {
      this.tempSubDesc = ''
      this.tempTipDesc = ''
    },
    resetLocationSelected: function (name) {
      this.location[name] = {
        id: 0,
        name: ''
      }
    },
    selectLocation: function (typeLocation, typeParent, state) {
      // ini di validasi karena key name nya antara gateway location dan request payload create outlet beda nama
      if (this.location[typeParent]) {
        if (['district'].includes(typeParent) && !this.location.area.name) {
          this.$emit('gettingLocation', `?locationType=area&locationParentId=${this.location[typeParent].id}&locationParentType=${typeParent.toLowerCase()}`, 'listOfArea')
        }
        if (['city'].includes(typeParent)) {
          this.$emit('gettingLocation', `?locationType=area&locationParentId=${this.location[typeParent].id}&locationParentType=${typeParent.toLowerCase()}`, 'listOfArea')
        }
        if (['building'].includes(typeParent)) {
          this.$emit('gettingLocation', `?locationType=${typeLocation}&locationParentId=${this.location[typeParent].id}&locationParentType=building`, state)
        } else {
          this.$emit('gettingLocation', `?locationType=${typeLocation}&locationParentId=${this.location[typeParent].id}&locationParentType=${typeParent.toLowerCase()}`, state)
        }
      }
    },
    selectIsDisabled: function (arr, selected) {
      return arr.includes(selected)
    },
    selectingMerchant: function () {
      this.$emit('selectingMerchant', this.outlet.merchant)
    },
    submitPayload: function () {
      let statusUpdate = true
      if (this.outlet.status.name === 'ACTIVE' && this.media.banner === '') {
        if (confirm('Banner merchant kosong. Apakah mau melanjutkan aktivasi?') === true) {
          statusUpdate = true
        } else {
          statusUpdate = false
        }
      }
      if (statusUpdate === true) {
        this.$emit('submittingData', this.finalPayload)
      }
    },
    removeHour: function (obj) {
      let index = this.hourCollections.findIndex(x => x.dayOfWeeks === obj.name.toUpperCase())
      if (index >= 0) {
        let newArr = [...this.hourCollections]
        newArr.splice(index, 1)
        this.hourCollections = newArr
      }
    },
    onUpdatingHours: function (obj) {
      // currated all comnponent open hours
      let arr = []
      arr = this.hourCollections.filter(hour => {
        if (hour.dayOfWeeks === obj.dayOfWeeks) {
          return hour
        }
      })
      const isAdded = (param) => {
        return param.dayOfWeeks === obj.dayOfWeeks
      }
      if (arr.length > 0) {
        this.hourCollections[this.hourCollections.findIndex(isAdded)] = obj
      } else {
        this.hourCollections.push(obj)
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped lang="scss">
textarea.custom-min-height {
  min-height: 188px;
}
@media (max-width: 1110px) {
  .custom-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    .d-none {
      display: none!important;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
