<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th v-if="updateStatus">
            <!-- empty -->
          </th>
          <th class="min-width-250 align-middle">
            Outlet Name
          </th>
          <th class="min-width-250 align-middle">
            Merchant Name
          </th>
          <th class="min-width align-middle">
            Status
          </th>
          <th class="min-width-250 align-middle">
            City
          </th>
          <th class="min-width align-middle">
            Province
          </th>
          <th class="min-width align-middle">
            Payment Interface
          </th>
          <th class="min-width align-middle">
            Create Date
          </th>
          <th class="min-width align-middle">
            Publish Date
          </th>
          <th class="min-width align-middle">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Outlets Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td v-if="updateStatus">
            <input
              :id="data.outletPubId"
              v-model="checkedOutlet"
              type="checkbox"
              name="data.outletPubId"
              :value="{pubId: data.outletPubId, text: data.outletName ? data.outletName : '-'}"
              class="lg-checkbox"
            >
          </td>
          <td scoped="row">
            <router-link
              v-if="data.outletName"
              :to="{name: 'OutletDetail', params: {pubId: data.outletPubId, text: data.outletName ? data.outletName : '-'}}"
            >
              {{ data.outletName }}
            </router-link>
            <span v-else>
              -
            </span>
          </td>
          <td>
            <span>
              {{ data.merchantName || '-' }}
            </span>
          </td>
          <td class="text-capitalize">
            <status-badge
              :value="data.status.toLowerCase()"
              type="pill"
            />
          </td>
          <td>
            <span>
              {{ data.city }}
            </span>
          </td>
          <td>
            <span>{{ data.province }}</span>
          </td>
          <td>
            <span>{{ data.paymentInterface }}</span>
          </td>
          <td>
            <span v-if="data.createTs === 0">
              -
            </span>
            <span v-else>
              {{ formatDate(data.createTs) }}
            </span>
          </td>
          <td>
            <span v-if="data.firstActiveTs === 0">
              -
            </span>
            <span v-else>
              {{ formatDate(data.firstActiveTs) }}
            </span>
          </td>
          <td>
            <!-- <router-link class="btn btn-success btn-sm" :to="`/business-setup/outlet/${data.outletPubId}/edit`">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </!-->
            <router-link
              class="btn btn-success btn-sm"
              :to="{name: 'OutletEdit', params: {pubId: data.outletPubId, text: data.outletName ? data.outletName : '-'}}"
            >
              <i
                class="fa fa-pencil"
                aria-hidden="true"
              />
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '../../components/StatusBadge'
export default {
  name: 'MerchantTableList',
  components: {
    'status-badge': StatusBadge
  },
  props: ['id', 'results', 'updateStatus'],
  data () {
    return {
      checkedOutlet: []
    }
  },
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  watch: {
    checkedOutlet (newValue, oldValue) {
      localStorage.setItem('checkedOutlet', JSON.stringify(newValue))
    }
  },
  mounted () {
    this.checkedOutlet = JSON.parse(localStorage.getItem('checkedOutlet')) || []
  },
  methods: {
    formatDate: function (date) {
      return moment(date).format('DD-MM-YYYY HH:mm:ss')
    },
    actionsSelect: function (value) {
      let self = this
      self.$emit('bulkStatusOutlet', this.checkedOutlet)
    },
    resetSelected: function () {
      this.checkedOutlet = []
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width-250 {
  min-width: 250px;
}
.lg-checkbox{
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
</style>
