<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="username_name">Username</label>
            <input
              id="username_name"
              v-model="querySearch.username"
              type="text"
              name="username_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="merchant_name">Merchant</label>
            <input
              id="merchant_name"
              v-model="querySearch.merchant"
              type="text"
              name="merchant_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="rolePubId">Role</label>
            <multiselect
              id="rolePubId"
              v-model="optionRole"
              label="name"
              track-by="pubId"
              placeholder="Select Role"
              :close-on-select="true"
              :show-labels="true"
              :options="listRole"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Type {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
      </div>
      <div class="text-right btn-filter mt-5">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import FilterSearchMixin from '@/mixins/FilterSearchMixin'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'UsersFilterSearch',
  components: {
    'multiselect': Multiselect
  },
  mixins: [FilterSearchMixin, authMixin],
  props: ['pagination'],
  data: function () {
    return {
      API_ROLES: 'credentials/roles',
      listRole: [],
      optionRole: { name: 'ALL' },
      querySearch: {
        merchant: '',
        username: '',
        rolePubId: ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      const obj = this.querySearch
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          query[key] = value
        }
      }
      return query
    }
  },
  watch: {
    optionRole: function () {
      if (this.optionRole.pubId.toLowerCase() !== 'all') {
        this.querySearch.rolePubId = this.optionRole.pubId
      } else {
        this.querySearch.rolePubId = ''
      }
    }
  },
  created: function () {
    this.getRoles.run(process.env.VUE_APP_API, this.API_ROLES, 'listRole')
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.optionRole = { name: 'ALL' }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    }
  },
  tasks (t, { timeout }) {
    return {
      getRoles: t(function * (endpoint = this.API_version, resource = '', state = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET LIST CATEGORY')
          }).then(response => {
            if (response.body.code === 200 && (response.body.content ? response.body.content.length : 0) > 0) {
              this[state] = response.body.content
            } else if (response.body.code === 8) {
              self.GoLogout()
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
