<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Username
          </th>
          <th class="min-width align-middle">
            Full Name
          </th>
          <th class="min-width align-middle">
            Role
          </th>
          <th class="min-width align-middle">
            Realm
          </th>
          <th class="min-width align-middle">
            Affiliation
          </th>
          <th class="min-width align-middle">
            Create Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Transactions Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td>
            {{ data.username || '-' }}
          </td>
          <td>
            {{ data.fullName || '-' }}
          </td>
          <td>
            {{ data.role || '-' }}
          </td>
          <td>
            {{ data.realm || '-' }}
          </td>
          <td>
            {{ data.affiliation || '-' }}
          </td>
          <td>
            <span v-if="data.createTs === 0">
              -
            </span>
            <span v-else>
              {{ formatDate(data.createTs) }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'UsersTableList',
  components: {
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date, text = '') {
      return moment(date).format('DD-MM-YYYY HH:mm:ss')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
