<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Filter
      </div>
      <div class="card-body">
        <campaigns-filter-search @filterSubmit="beforeFilterSubmit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        {{ titlePage ? titlePage : "" }}
      </div>
      <div
        v-if="getDataList.isActive"
        class="card-body text-center"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row mb-3">
          <div class="col-sm-6 col-md-4">
            <router-link
              class="btn btn-outline-success "
              type="button"
              to="/campaigns/create"
            >
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              /> Add Campaign
            </router-link>
          </div>
          <div class="col-sm-6 col-md-8">
            <!-- empty -->
          </div>
        </div>
        <keep-alive>
          <campaigns-table-list
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
          />
        </keep-alive>
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else>
              <!-- - No Results - -->
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import CampaignsTableList from '@/components/campaigns/CampaignsTableList'
import CampaignsFilter from '@/components/campaigns/CampaignsFilterSearch'
import PaginationList from '@/components/PaginationList'
import CardProgress from '@/components/CardProgress'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'CampaignsList',
  components: {
    'campaigns-table-list': CampaignsTableList,
    'pagination-list': PaginationList,
    'card-progress': CardProgress,
    'campaigns-filter-search': CampaignsFilter
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      titlePage: 'Campaigns List',
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      APIURL: 'cms/campaigns/list',
      params: {
        size: 10,
        pagination: 1,
        sort: 'createTs',
        status: 'ACTIVE',
        orderAttr: 'desc'
      }
    }
  },
  computed: {
    ...mapGetters({
      profileInfo: 'profile/getAuth'
    }),
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        sort: this.params.sort,
        status: this.$route.query.status ? this.$route.query.status : this.params.status,
        orderAttr: this.params.orderAttr
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    const endpoint = this.API_endpoint
    let obj = {}
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ACTIVE') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  },
  methods: {
    beforeFilterSubmit: function (query, endpoint = this.API_endpoint) {
      let request = this.getParams
      let newQuery = { ...query }
      if (newQuery.endDate !== undefined) {
        newQuery.endDate = newQuery.endDate + 25200
      }
      let obj = {}
      this.exceptionalFilter.forEach(element => {
        if (query[element] && query[element].toLowerCase() === 'all') {
          delete query[element]
        }
      })
      Object.assign(obj, newQuery)
      Object.assign(obj, request)
      this.getDataList.run(obj, endpoint)
    }
  }
}
</script>
