<template>
  <div>
    <form-create-edit
      titleForm="Campaigns Create"
      :campaignAssets="campaignAssets"
      :campaignAssetsListType="campaignAssetsListType"
      :campaignAssetsListMerchant="campaignAssetsListMerchant"
      :campaignAssetsListStatus="campaignAssetsListStatus"
      :campaignDetailListStatus="listStatusCampaign"
      :isSubmitting="submitCreatePost.isActive"
      :isAllSuccess="allSuccess"
      :isGetAuthInfo="getAuthInfo"
      :isImagesUrlS3="imagesUrlS3"
      @submit-detail="onCreateDetail"
      @submit-assets="onEditAsset"
      @submit-images="onUploadImage"
      @submit-assets-type="onEditAssetType"
    />
  </div>
</template>

<script>
import authMixin from '@/mixins/auth'
import CampaignsMixins from '@/mixins/campaigns/CreateEditMixin'
import FormCreateEdit from '@/components/campaigns/CampaignsFormCreateEdit'
export default {
  name: 'CampaignsCreate',
  components: {
    'form-create-edit': FormCreateEdit
  },
  mixins: [authMixin, CampaignsMixins],
  computed: {
    getAuthInfo: function () {
      if (this.ParseAuth()) {
        return this.$store.getters['profile/getAuth']
      } else {
        return {}
      }
    }
  },
  created () {
    this.getAssetsListMerchant.run(process.env.VUE_APP_API, this.API_GET_MERCHANT)
  },
  methods: {
    onCreateDetail: function (obj) {
      this.submitCreatePost.run(process.env.VUE_APP_API, this.API_CREATE_DETAIL, obj, 'onCreateDetail')
    },
    onEditAsset: function (obj) {
      this.submitCreatePost.run(process.env.VUE_APP_API, this.API_EDIT_ASSET, obj, 'onEditAsset')
    },
    onUploadImage: function (obj) {
      this.submitCreatePost.run(process.env.VUE_APP_API, this.API_UPLOAD_IMAGE, obj, 'onUploadImage')
    },
    onEditAssetType: function (obj) {
      this.submitCreatePost.run(process.env.VUE_APP_API, this.API_CREATE_TYPE, obj, 'onEditAssetType')
    }
  }
}
</script>
