<template>
  <div
    v-if="getDetails.isActive || getAssets.isActive"
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <div class="card">
      <div class="card-header font-weight-bold">
        Campaigns Detail
      </div>
      <div class="card-body text-center">
        <card-progress />
      </div>
    </div>
  </div>
  <div
    v-else
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <div class="row d-flex align-items-center mb-4">
      <div class="col-md-8">
        <h4>
          Campaign Detail
        </h4>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <router-link
          class="btn btn-outline-success bg-white text-success px-5"
          :to="{name: 'CampaignsEdit', params: {id: $route.params.pubId, text: ''}}"
        >
          Edit
        </router-link>
      </div>
    </div>
    <div v-if="campaignsAssets && campaignsDetails">
      <campaigns-details
        :data="campaignsDetails"
        :dataAssets="campaignsAssets"
      />
      <!-- ### -->
      <campaigns-assets
        :data="campaignsAssets"
      />
    </div>
    <div v-else>
      <div class="card">
        <div class="card-header font-weight-bold">
          Campaigns Detail
        </div>
        <div class="card-body text-center">
          - No Data Detail -
        </div>
      </div>
    </div>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import CampaignsDetails from '@/components/campaigns/CampaignsDetails'
import CampaignsAssets from '@/components/campaigns/CampaignsAssets'
import CampaignsMixins from '@/mixins/campaigns/CreateEditMixin'
import CardProgress from '@/components/CardProgress'
export default {
  name: 'CampaignsDetail',
  components: {
    'campaigns-details': CampaignsDetails,
    'campaigns-assets': CampaignsAssets,
    'card-progress': CardProgress
  },
  mixins: [CampaignsMixins],
  data: function () {
    return {
      campaignsAssets: null,
      campaignsDetails: null
    }
  },
  computed: {
    API_CAMPAIGNS_DETAIL: function () {
      return `cms/campaigns/find/id?campaignId=${this.$route.params.pubId || null}`
    },
    API_CAMPAIGNS_ASSETS: function () {
      return `cms/campaigns_assets/find/campaignid?campaignId=${this.$route.params.pubId || null}`
    }
  },
  created: function () {
    this.getDetails.run(process.env.VUE_APP_API, this.API_CAMPAIGNS_DETAIL)
    this.getAssets.run(process.env.VUE_APP_API, this.API_CAMPAIGNS_ASSETS)
  }
}
</script>
<style lang="scss" type="scoped">
</style>
