<template>
  <form @submit.prevent="submitContent()">
    <div class="card">
      <div class="card-header font-weight-bold">
        Create New Content
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="categoryOutlet">Content Category</label>
              <multiselect
                id="categoryOutlet"
                v-model="selectedCategory"
                label="categoryValue"
                track-by="categoryValue"
                placeholder="Choose Category"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfCategories"
                :searchable="true"
                :allow-empty="true"
                :disabled="false"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.categoryValue"
                    class="text-capitalize"
                  >{{ option.categoryValue }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Choose Category</span>
                </template>
              </multiselect>
              <input
                type="text"
                :value="selectedCategory.categoryValue"
                class="sr-only"
                required
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="contentValue">Value</label>
              <input
                id="contentValue"
                v-model="contentValue"
                type="text"
                name="contentValue"
                class="form-control"
                aria-describedby="helpContentValu"
                required
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right btn-filter">
      <button
        type="button"
        class="btn btn-outline-primary mx-1 px-4 mb-2 bg-light"
        @click="$router.push('/content-settings/outlets/list')"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary mx-1 px-4 mb-2"
      >
        Save
      </button>
    </div>
  </form>
</template>
<script>
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
export default {
  name: 'OutletFormCreateEdit',
  components: {
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  props: ['listOfCategories'],
  data () {
    return {
      selectedCategory: {},
      contentValue: ''
    }
  },
  computed: {
    FinalPayload: function () {
      return {
        categoryPubId: this.selectedCategory.categoryPubId,
        contentValue: this.contentValue,
        createBy: this.ParseAuth().user
      }
    }
  },
  methods: {
    submitContent: function () {
      this.$emit('submitting', this.FinalPayload)
    }
  }
}
</script>
