<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="categoryValue">Content Category</label>
            <multiselect
              id="categoryValue"
              v-model="selectedCategory"
              label="categoryValue"
              track-by="categoryValue"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :options="listOfCategories"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.categoryValue"
                  class="text-capitalize"
                >{{ option.categoryValue }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="content_value">Value</label>
            <input
              id="content_value"
              v-model="querySearch.value"
              type="text"
              name="content_value"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import FilterSearchMixin from '@/mixins/FilterSearchMixin'
import CMSOutletMixin from '@/mixins/cms/outlet/CMSOutletMixin'
import Multiselect from 'vue-multiselect'
Vue.use(Vuency)
export default {
  name: 'TransactionFilterSearch',
  components: {
    'multiselect': Multiselect
  },
  mixins: [FilterSearchMixin, CMSOutletMixin],
  props: ['pagination'],
  data: function () {
    return {
      API_CATEGORIES: 'merchant/content-categories',
      selectedCategory: {},
      listOfCategories: [],
      querySearch: {
        category: '',
        value: ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      let { category, value } = this.querySearch
      let obj = {
        categoryPubId: category.categoryPubId,
        value: value
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  watch: {
    selectedCategory: function () {
      this.querySearch.category = this.selectedCategory
    }
  },
  created () {
    this.getOutletCategory.run(process.env.VUE_APP_API, this.API_CATEGORIES)
  },
  methods: {
    clearFilter: function () {
      let self = this
      this.selectedCategory = {}
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj.pagination = 1
        Object.assign(obj, request)
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
