<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Value
          </th>
          <th class="min-width align-middle">
            Category
          </th>
          <th class="min-width align-middle">
            Create Date
          </th>
          <th class="min-width align-middle">
            Create By
          </th>
          <th class="min-width align-middle">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Contents Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <span>
              {{ data.contentValue || '-' }}
            </span>
          </td>
          <td scoped="row">
            <span>{{ data.category || '-' }}</span>
          </td>
          <td scoped="row">
            <span>{{ formatDate(data.createTs) || '-' }}</span>
          </td>
          <td scoped="row">
            <span>{{ data.updateBy || '-' }}</span>
          </td>
          <td scoped="row">
            <button
              class="btn btn-sm btn-danger"
              @click="deleteOutlet(data)"
            >
              <div class="fa fa-trash" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'CMSOutletTable',
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date) {
      return moment.unix(date).format('DD-MM-YYYY HH:mm:ss')
    },
    deleteOutlet: function (obj) {
      let self = this
      self.$emit('deletingOutlet', obj)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
