<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="deals_name">Deals Name</label>
            <input
              id="deals_name"
              v-model="querySearch.deals_name"
              type="text"
              name="deals_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="outlet_name">Outlet Name</label>
            <input
              id="outlet_name"
              v-model="querySearch.outlet_name"
              type="text"
              name="outlet_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="deals_status">Status</label>
            <keep-alive>
              <select-list
                :key_value="querySearch.deals_status"
                :list_data="dummy.statusFilter"
                :target_name="'deal_status'"
                title="Status"
                @selectingList="onSelectingList"
              >
                <!-- its component caller -->
              </select-list>
            </keep-alive>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="publish_date">Publish and Unpublish Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="publish_date"
                  :initialDate="false"
                  :start="querySearch.publish_date_start"
                  :end="querySearch.publish_date_end"
                  :watching="querySearch.publish_date_start"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="validity_date">Validity Start and End Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="validity_date"
                  :initialDate="false"
                  :start="querySearch.validity_date_start"
                  :end="querySearch.validity_date_end"
                  :watching="querySearch.validity_date_start"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="deals_type">Deals Type</label>
            <keep-alive>
              <select-list
                :key_value="querySearch.deals_type"
                :list_data="dummy.statusfilterDealsType"
                :target_name="'deal_type'"
                title="Deals Type"
                @selectingList="onSelectingListType"
              >
                <!-- its component caller -->
              </select-list>
            </keep-alive>
          </div>
        </div>
      </div>
      <div class="text-right mt-4 btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import moment from 'moment'
import SelectList from './../../components/SelectList'
import * as dummy from './../../utils/dummy'
import DateRangePicker from './../../components/DateRangePicker'

export default {
  name: 'DealFilterSearch',
  components: {
    'select-list': SelectList,
    'date-range-picker': DateRangePicker
  },
  props: ['pagination'],
  data: function () {
    return {
      querySearch: {
        deals_name: '',
        outlet_name: '',
        deals_type: '',
        deals_status: '',
        publish_date_start: '',
        publish_date_end: '',
        validity_date_start: '',
        validity_date_end: ''
      },
      dummy: dummy.deal
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      let obj = {
        dealsName: this.querySearch.deals_name,
        outletName: this.querySearch.outlet_name,
        status: this.querySearch.deals_status.name,
        dealsType: this.querySearch.deals_type.name === 'ONLINE' ? 'PRODUCT_ONLINE' : (this.querySearch.deals_type.name === 'OFFLINE' ? 'PRODUCT' : ''),
        validityStartDate: this.querySearch.validity_date_start ? moment.unix(this.querySearch.validity_date_start).format('YYYY-MM-DD') : '',
        validityEndDate: this.querySearch.validity_date_end ? moment.unix(this.querySearch.validity_date_end).format('YYYY-MM-DD') : '',
        publishStartDate: this.querySearch.publish_date_start ? moment.unix(this.querySearch.publish_date_start).format('YYYY-MM-DD') : '',
        publishEndDate: this.querySearch.publish_date_end ? moment.unix(this.querySearch.publish_date_end).format('YYYY-MM-DD') : ''
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (key.toLowerCase() === 'status') {
            query[key] = value.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj.pagination = 1
        Object.assign(obj, request)
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onSelectingListType (value, target) {
      this.querySearch.deals_type = value
    },
    onSelectingList (value, target) {
      this.querySearch.deals_status = value
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      this.querySearch[dateEnd] = obj.end
    }
  }
}
</script>

<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
