<template>
  <div class="container-custom">
    <ul
      id="myTab"
      class="nav nav-tabs"
      role="tablist"
    >
      <li class="nav-item">
        <a
          id="home-tab"
          class="nav-link active"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >Deal</a>
      </li>
      <li class="nav-item">
        <a
          id="profile-tab"
          class="nav-link"
          href="javascript:void(0)"
        >list Customer</a>
      </li>
    </ul>
    <div
      id="myTabContent"
      class="tab-content px-5"
    >
      <div class="header-tab pt-5 mb-4">
        <div class="row">
          <div class="col-8">
            <h3 class="font-weight-normal my-0">
              {{ deal.name }}
            </h3>
          </div>
          <div class="col-4 text-right">
            <router-link
              :class="deal.deal_status.name !== 'COMPLETED' && deal.deal_status.name !== 'CANCELLED'? '':'disabled'"
              class="btn btn-success text-capitalize px-5"
              :to="{name: 'deals_edit', params: {id: deal.id}}"
            >
              edit
            </router-link>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 box-400">
          <div
            v-if="deal.thumbnail.blob"
            class="preview-image mb-5"
            :style="{'backgroundColor': '#f5f5f5','backgroundPosition':'center center','backgroundRepeat':'no-repeat','backgroundImage': 'url(' + deal.thumbnail.blob + ')','backgroundSize': 'auto 100%'}"
            style="background-repeat:no-repeat;"
            height="300"
          />
          <div
            v-else
            class="preview-image mb-5"
            style="background:#fafafa url(/img/no-thumbnail.svg)center center no-repeat"
            alt=""
            height="300"
          />
        </div>
        <div class="col-8">
          <div
            v-if="deal.banner.blob"
            class="preview-image mb-5"
            :style="{'backgroundColor': '#f5f5f5','backgroundRepeat':'no-repeat','backgroundImage': 'url(' + deal.banner.blob + ')', 'backgroundSize': 'auto 100%'}"
            style="background-repeat:no-repeat;"
            height="300"
          />
          <div
            v-else
            class="preview-image mb-5"
            style="border:1px solid #ededed;background:#fafafa url(/img/no-thumbnail.svg)center center no-repeat"
            alt=""
            height="300"
          />
        </div>
      </div>
      <!-- preview image -->
      <!-- preview image -->
      <div class="content-tab form">
        <h4 class="mb-5">
          Deal Information
        </h4>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >deal name</label>
              <div class="">
                {{ deal.name }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Deals Type</label>
              <div>
                {{ deal.deal_type.name }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Status</label>
              <div>
                <!-- deal.terms_ind -->
                {{ deal.deal_status.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Deal Prefix</label>
              <div>
                <!-- deal.terms_ind -->
                {{ deal.prefix }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Deal Tagging</label>
              <div>
                <!-- deal.terms_ind -->
                {{ deal.tags }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >quantity</label>
              <div class="text-uppercase ">
                {{ deal.deal_quantity }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >max redeem user</label>
              <div class="text-uppercase ">
                <print-value :value="deal.deal_redem" />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >max redeem user/day</label>
              <div class="text-uppercase ">
                {{ deal.deal_redem }}
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Validity start date</label>
              <div class="text-uppercase">
                <date-format
                  :value="deal.validity_date_start"
                  :format="'YYYY-MM-DD'"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Validity end date</label>
              <div class="text-uppercase">
                <date-format
                  :value="deal.validity_date_end"
                  :format="'YYYY-MM-DD'"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >publish date</label>
              <div class="text-uppercase">
                <date-format
                  :value="deal.publish_date_start"
                  :format="'YYYY-MM-DD'"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >unpublish date</label>
              <div class="text-uppercase">
                <date-format
                  :value="deal.publish_date_end"
                  :format="'YYYY-MM-DD'"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Effective Period</label>
              <div class="text-uppercase">
                {{ deal.effective_period }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Outlet Name</label>
              <div class="text-capitalize">
                {{ deal.outletName }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Show Redemption</label>
              <div class="text-capitalize">
                {{ deal.isNeedRedemption }}
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label
                for=""
                class=""
              >Deal Description</label>
              <textarea
                id=""
                v-model="deal.desc_ind"
                class="d-block text-area-print w-100"
                name=""
                rows="5"
                disabled
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label
                for=""
                class=""
              >Term and Condition</label>
              <textarea
                id=""
                v-model="deal.terms_ind"
                class="d-block text-area-print w-100"
                name=""
                rows="5"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label
                for=""
                class=""
              >How To Redeem</label>
              <textarea
                id=""
                v-model="deal.redemptionGuide"
                class="d-block text-area-print w-100"
                name=""
                rows="5"
                disabled
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Important Note</label>
              <textarea
                id=""
                v-model="deal.importantNote"
                class="d-block text-area-print w-100"
                name=""
                rows="5"
                disabled
              />
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-5">
          Outlet Information
        </h4>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Outlet Name</label>
              <div class="text-capitalize">
                {{ deal.get_outlet[0].name }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Address</label>
              <div class="text-capitalize">
                {{ deal.outlet_address }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >City</label>
              <div class="text-capitalize">
                {{ deal.outlet_city }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Province</label>
              <div class="text-capitalize">
                {{ deal.outlet_province }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >latitude</label>
              <div class="text-capitalize">
                {{ deal.outlet_latitude }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >longitude</label>
              <div class="text-capitalize">
                {{ deal.outlet_longitude }}
              </div>
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-5">
          Deal Scheme
        </h4>
        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Normal Price</label>
              <div class="text-capitalize">
                <currency-format
                  :value="deal.normal_price"
                  :kurs="'IDR'"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Purchase Price</label>
              <div class="text-capitalize">
                <currency-format
                  :value="deal.purchase_price"
                  :kurs="'IDR'"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class="text-capitalize"
              >Selling Price / deal Price</label>
              <div class="text-capitalize">
                <currency-format
                  :value="deal.selling_price"
                  :kurs="'IDR'"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Success Fee/MDR</label>
              <div class="text-capitalize">
                {{ deal.success_fee }} %
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Percentage Deal</label>
              <div class="text-capitalize">
                {{ percentageDeal }} %
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label
                for=""
                class=""
              >Cashback to User</label>
              <div class="text-capitalize">
                {{ deal.cashback_user }} %
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueLocalStorage from 'vue-localstorage'
import printValue from '../../components/PrintValue'
import dateFormat from '../../components/DateFormat'
import currencyFormat from '../../components/CurrencyFormat'
Vue.use(VueLocalStorage)

export default {
  name: 'DealDetail',
  components: {
    'print-value': printValue,
    'date-format': dateFormat,
    'currency-format': currencyFormat
  },
  props: ['id', 'deal'],
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  computed: {
    percentageDeal: function () {
      let normal = this.deal.normal_price
      let selling = this.deal.selling_price
      let total = 0
      if (normal && selling) {
        total = 100 - ((selling / normal) * 100)
      }
      return total.toFixed(2)
    }
  },
  mounted: function () {
    this.setHeightTextArea()
  },
  methods: {
    setHeightTextArea: function () {
      var allTags = document.getElementsByTagName('textArea')
      for (let i = 0, len = allTags.length; i < len; i++) {
        allTags[i].style.height = allTags[i].scrollHeight + 'px'
      }
    }
  }
}
</script>

<style lang="scss" type="scoped">
@mixin fullcoverbg($val) {
  background: $val;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.preview-image {
  height: 300px;
  width: 100%;
  border-radius:5px;
  border:1px solid #ccc;
  @include fullcoverbg(no-repeat center center);
  img{
    width:100%;
    border-radius:5px;
  }
}
.box-400{
  .preview-image{
    height: 300px;
    width: 300px;
  }
}
.content-tab{
  .form-group{
    font-size:14px;
    label{
      font-size:14px;
      color:#999;
    }
  }
}
.text-area-print {
  height: auto;
  border:none;
  color:#212529;
  resize: none;
    &:hover, &:active, &:focus {
      outline:none;
      box-shadow: none;
    }
}
</style>
