<template>
  <div class="form-wrap p-3">
    <form @submit.prevent="submitDeal.run()">
      <div class="form-group-wrap">
        <div class="row ">
          <div class="col-6 col-xs-6 pr-4">
            <div class="form-group mb-3">
              <label for="deal-name">Deal Name <span class="text-danger">*</span></label>
              <input
                id="deal-name"
                v-model="newDeal.name"
                type="text"
                class="form-control"
                :disabled="editStatus == 'PUBLISHED' ? true : false"
                required
              >
            </div>
          </div>
          <div class="col-6 col-xs-6 pl-4">
            <div class="form-group mb-3">
              <label for="deal-prefix">Deal Prefix <span class="text-danger">*</span></label>
              <input
                id="deal-prefix"
                v-model="newDeal.prefix"
                type="text"
                class="form-control"
                maxlength="5"
                :disabled="editStatus == 'PUBLISHED' ? true : false"
                required
              >
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6 col-xs-6 pr-4">
            <div class="form-group mb-3">
              <label for="deal-prefix">Deal Tagging</label>
              <multiselect
                v-model="selectedTag"
                :options="tagOptions"
                :multiple="true"
                :close-on-select="false"
                :clear-on-select="false"
                :preserve-search="true"
                placeholder="Select Tags"
                :taggable="true"
                label="tags"
                track-by="tags"
                :preselect-first="false"
                :show-labels="false"
                class="test"
              />
            </div>
          </div>
          <div class="col-6 col-xs-6 pl-4">
            <div class="form-group mb-3">
              <label for="deal-prefix">Deals Type</label>
              <keep-alive>
                <multiselect
                  id="deal_type"
                  v-model="newDeal.deal_type"
                  label="name"
                  track-by="name"
                  placeholder="Select Deals Type"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="newDeal.dummy.statusDealsType"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  :searchable="false"
                  :allow-empty="false"
                  @select="selectComponent"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span v-if="option.name">{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Deals Type</span>
                  </template>
                </multiselect>
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6 pr-4">
            <div class="form-group mb-3">
              <label for="deal-name">Description <span class="text-danger">*</span></label>
              <textarea
                id="deal-desc-ind"
                v-model="newDeal.desc_ind"
                class="form-control"
                rows="5"
                required
              />
            </div>
          </div>
          <div class="col-12 col-md-6 pr-4">
            <div class="form-group mb-3">
              <label for="deal-name">Terms and Conditions <span class="text-danger">*</span></label>
              <textarea
                id="deal-terms-ind"
                v-model="newDeal.terms_ind"
                class="form-control"
                rows="5"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6 pl-4">
            <div class="form-group mb-3">
              <label for="deal-name">How to Redeem</label>
              <textarea
                id="deal-redemption"
                v-model="newDeal.redemptionGuide"
                class="form-control"
                rows="5"
              />
            </div>
          </div>
          <div class="col-12 col-md-6 pl-4">
            <div class="form-group mb-3">
              <label for="deal-name">Important Notes</label>
              <textarea
                id="deal-important"
                v-model="newDeal.importantNote"
                class="form-control"
                rows="5"
              />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-4 pr-4">
            <div class="form-group mb-3">
              <label for="deal-publish-date">Publish and Unpublish Date <span class="text-danger">*</span></label>

              <keep-alive>
                <date-range-picker
                  id="publish_date"
                  class="form-control"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  :start="newDeal.publish_date_start"
                  :end="newDeal.publish_date_end"
                  :initialDate="IdDeal ? true : false"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
              <input
                v-model="newDeal.publish_date_start"
                type="text"
                note="for validity purpose"
                class="sr-only"
                text="Please set for publish date start"
                name="Please set for publish date start"
                title="Please set for publish date start"
                required="required"
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group mb-3">
              <label for="deal-validity-start">Validity Start and End Date <span class="text-danger">*</span></label>
              <keep-alive>
                <date-range-picker
                  id="validity_date"
                  class="form-control"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  :start="newDeal.validity_date_start"
                  :end="newDeal.validity_date_end"
                  :initialDate="IdDeal ? true : false"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
              <input
                v-model="newDeal.validity_date_start"
                type="text"
                note="for validity purpose"
                class="sr-only"
                title="Please set for publish date start"
                required="required"
              >
            </div>
          </div>
          <div class="col-12 col-md-4 pl-4">
            <div class="form-group mb-3">
              <label for="deal-validity-start">Effective Period<span class="text-danger">*</span></label>
              <div class="input-group mb-3">
                <input
                  v-model="newDeal.effective_period"
                  type="number"
                  min="1"
                  max="1000"
                  class="form-control"
                  :disabled="effectivePeriodDisabled"
                  required="required"
                >
                <div class="input-group-append">
                  <span
                    id="basic-addon2"
                    class="input-group-text text-light bg-grey-D1D8DD"
                  >days</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 pr-4">
            <div class="form-group mb-3">
              <label for="deal-status">Status <span class="text-danger">*</span></label>
              <keep-alive v-if="IdDeal">
                <multiselect
                  id="deal_status"
                  v-model="newDeal.deal_status"
                  label="name"
                  track-by="name"
                  placeholder="Select status"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="editStatus == 'PENDING'?newDeal.dummy.statusEditPending : newDeal.dummy.statusEditPublish"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="(editStatus == 'COMPLETED' || editStatus == 'CANCELLED') ? true : false"
                  @select="selectComponent"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span v-if="option.name">{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Status</span>
                  </template>
                </multiselect>
              </keep-alive>
              <keep-alive v-else>
                <multiselect
                  id="deal_status"
                  v-model="newDeal.deal_status"
                  label="name"
                  track-by="name"
                  placeholder="Select Status"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="newDeal.dummy.statusCreate"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                  @select="selectComponent"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.name"
                      class="text-capitalize"
                    >{{ option.name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </keep-alive>
              <input
                v-model="newDeal.deal_status.name"
                type="text"
                note="for validity purpose"
                class="sr-only"
                required="required"
              >
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group mb-3">
              <label for="deal-redem">Max Redeem User/Day <span class="text-danger">*</span></label>
              <input
                id="redem-user"
                v-model="newDeal.deal_redem"
                type="number"
                name="redem-user"
                class="form-control"
                required="required"
                title="redem-user"
                :disabled="editStatus == 'PUBLISHED' ? true : false"
                min="0"
                step="0.01"
              >
            </div>
          </div>
          <div class="col-xs-12 col-md-4 pl-4">
            <div class="form-group mb-3">
              <label for="deal-quantity">Quantity <span class="text-danger">*</span></label>
              <input
                id="deal-quantity"
                v-model="newDeal.deal_quantity"
                type="number"
                name="deal-quantity"
                class="form-control"
                required="required"
                title="deal-quantity"
                :disabled="editStatus == 'PUBLISHED' ? true : false"
                min="0"
                step="0.01"
              >
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5">
      <div class="form-group-wrap">
        <h6 class="text-capitalize mt-0 mb-3">
          Outlet Information
        </h6>
        <div class="row ">
          <div class="col-xs-4 col-md-4">
            <div class="form-group mb-3">
              <label for="merchant-name">Merchant name <span class="text-danger">*</span></label>
              <multiselect
                v-model="newDeal.merchant_name"
                label="name"
                track-by="name"
                placeholder="Select Merchant"
                :close-on-select="true"
                :show-labels="true"
                :options="newDeal.merchant_list"
                :searchable="true"
                :allow-empty="false"
                :disabled="editStatus == 'PUBLISHED' ? true : false"
                @select="afterSelectMerchant"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span v-if="option.name">{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Select Merchant</span>
                </template>
              </multiselect>
              <input
                v-model="newDeal.merchant_name.name"
                type="text"
                note="for validity purpose"
                class="sr-only"
                required="required"
              >
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div class="form-group mb-3">
              <label for="outlet-name">Outlet Name <span class="text-danger">*</span></label>
              <multiselect
                v-if="IdDeal"
                v-model="newDeal.get_outlet"
                label="name"
                track-by="name"
                placeholder="Select Outlet"
                :close-on-select="true"
                :show-labels="true"
                :options="newDeal.outlet_list"
                :searchable="false"
                :allow-empty="false"
                :disabled="(editStatus == 'PUBLISHED' || Object.keys(newDeal.merchant_name).length === 0) ? true : false"
                @select="afterSelectOutlet"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span v-if="option.name">{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Select Outlet</span>
                </template>
              </multiselect>
              <!--
                #####
                -->
              <multiselect
                v-else
                v-model="selectedOutlet"
                :options="newDeal.outlet_list"
                :multiple="true"
                :preserve-search="true"
                placeholder="Select Outlet"
                :taggable="true"
                label="name"
                track-by="name"
                :show-labels="false"
                :disabled="(editStatus == 'PUBLISHED' || Object.keys(newDeal.merchant_name).length === 0) ? true : false"
                @select="afterSelectOutlet"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                  noOptions="tesas"
                >
                  {{ option }}
                </template>
              </multiselect>
              <input
                type="text"
                note="for validity purpose"
                class="sr-only"
                :value="validateOutlet"
                required="required"
              >
            </div>
          </div>
          <div class="col-xs-4 col-md-4 pt-3">
            <div class="form-check pt-3">
              <input
                id="isNeedRedemption"
                v-model="newDeal.isNeedRedemption"
                type="checkbox"
                :value="newDeal.isNeedRedemption"
                :checked="newDeal.isNeedRedemption === 'false'"
              >
              <label
                for="isNeedRedemption"
                class="form-check-label font-weight-regular text-capitalize"
              >
                &nbsp;Show Redemption Outlet
              </label>
            </div>
          </div>
        </div>
        <div v-if="IdDeal">
          <div class="row ">
            <div class="col-xs-12 col-md-6">
              <div class="form-group mb-3">
                <label for="outlet-address">Address</label>
                <textarea
                  id="outlet-address"
                  v-model="newDeal.outlet_address"
                  name="outlet-address"
                  cols="30"
                  rows="5"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-xs-12 col-md-6">
              <div class="form-group mb-3">
                <label for="outlet-province">Province</label>
                <input
                  id="outlet-province"
                  v-model="newDeal.outlet_province"
                  type="text"
                  name="outlet-province"
                  cols="30"
                  rows="5"
                  class="form-control"
                  disabled
                >
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group mb-3">
                <label for="outlet-city">City</label>
                <input
                  id="outlet-city"
                  v-model="newDeal.outlet_city"
                  type="text"
                  name="outlet-city"
                  cols="30"
                  rows="5"
                  class="form-control"
                  disabled
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group mb-3">
                <label for="outlet-latitude">Latitude</label>
                <input
                  id="outlet-latitude"
                  v-model="newDeal.outlet_latitude"
                  type="text"
                  name="outlet-latitude"
                  cols="30"
                  rows="5"
                  class="form-control"
                  disabled
                >
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group mb-3">
                <label for="outlet-longitude">Longitude</label>
                <input
                  id="outlet-longitude"
                  v-model="newDeal.outlet_longitude"
                  type="text"
                  name="outlet-longitude"
                  cols="30"
                  rows="5"
                  class="form-control"
                  disabled
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-5">
      <div class="form-group-wrap">
        <h6 class="text-capitalize mt-0 mb-3">
          Deal Scheme
        </h6>
        <div class="row equal-height">
          <div class="col-xs-12 col-md-6 border-right">
            <div class="form-group mb-3">
              <label for="normal-price">Normal Price <span class="text-danger">*</span></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Rp</span>
                </div>
                <vue-numeric
                  id="normal-price"
                  v-model="newDeal.normal_price"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  class="form-control"
                  separator="."
                />
                <input
                  v-model="newDeal.normal_price"
                  type="number"
                  class="sr-only"
                  min="1"
                  disabled
                  required
                >
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="selling-price">Selling Price/Deal Price <span class="text-danger">*</span></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Rp</span>
                </div>
                <vue-numeric
                  id="normal-price"
                  v-model="newDeal.selling_price"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  class="form-control"
                  separator="."
                />
                <input
                  id="selling-price"
                  v-model="newDeal.selling_price"
                  type="number"
                  class="sr-only"
                  disabled
                  required
                >
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="percentage-price">Percentage Deal</label>
              <div class="input-group">
                <input
                  id="percentage-price"
                  type="number"
                  class="form-control"
                  disabled="disabled"
                  :value="percentageDeal"
                >
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-group mb-3">
              <label for="purchase-price">Purchase Price <span class="text-danger">*</span></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Rp</span>
                </div>
                <vue-numeric
                  v-model="newDeal.purchase_price"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  class="form-control"
                  separator="."
                />
                <input
                  v-model="newDeal.purchase_price"
                  type="text"
                  class="sr-only"
                  required
                  disabled
                >
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="normal-price">Success Fee/MDR <span class="text-danger">*</span></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">%</span>
                </div>
                <input
                  id="success-fee"
                  v-model="newDeal.success_fee"
                  type="number"
                  class="form-control"
                  required="required"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  min="0"
                  step="0.01"
                  max="100"
                >
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="cashback-user">Cashback to User <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  id="cashback-user"
                  v-model="newDeal.cashback_user"
                  type="number"
                  class="form-control"
                  required="required"
                  :disabled="editStatus == 'PUBLISHED' ? true : false"
                  min="0"
                  step="0.01"
                  max="100"
                >
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-5">
      <div class="row mt-5">
        <div class="col-3 col-xs-3 offset-md-1">
          <div class="form-group mb-3 pl-2">
            <label for="deal-thumbnail">Thumbnail <span class="text-danger">*</span></label>
            <keep-alive>
              <image-upload-thumb
                :maxSize="200000"
                :thumbnail="newDeal.thumbnail"
              />
            </keep-alive>
          </div>
        </div>
        <div class="col-6 col-xs-6 offset-md-1">
          <div class="form-group mb-3">
            <label for="deal-banner">Deal Banner <span class="text-danger">*</span></label>
            <keep-alive>
              <image-upload
                :banner="newDeal.banner"
              />
            </keep-alive>
          </div>
        </div>
      </div>
      <div class="form-group-wrap pt-3">
        <div class="row text-right mt-4">
          <div class="col-12 col-md-6 col-lg-8 text-left mb-2" />
          <div class="col-12 col-md-6 col-lg-4 inline-block-wrap mb-2">
            <div class="row row-5">
              <div class="col-xs-12 mb-1 col-md-6">
                <router-link
                  class="btn btn-block btn-block btn-light text-uppercase"
                  to="/"
                >
                  Cancel
                </router-link>
              </div>
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="submit"
                  class="btn btn-block btn-primary text-uppercase"
                  :disabled="isLoading"
                >
                  {{ isLoading ? 'Saving...' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import Vue from 'vue'
import DateRangePicker from '@/components/DateRangePicker'
import ImageUpload from '@/components/ImageUpload'
import ImageUploadThumb from '@/components/ImageUploadThumb'
import * as mapping from '@/utils/mapping/deal'
import * as dummy from '@/utils/dummy'
import authMixin from '@/mixins/auth.js'
import Multiselect from 'vue-multiselect'
import Vuency from 'vuency'
import VueNumeric from 'vue-numeric'
// import { setTimeout } from 'timers'
Vue.use(Vuency)
export default {
  name: 'DealFormCreateEdit',
  components: {
    'image-upload': ImageUpload,
    'image-upload-thumb': ImageUploadThumb,
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect,
    'VueNumeric': VueNumeric
  },
  mixins: [authMixin],
  props: ['IdDeal'],
  data: function () {
    return {
      isLoading: false,
      events: '',
      currDeal: {},
      editStatus: '',
      tagOptions: [],
      selectedTag: [],
      selectedOutlet: [],
      toggleSelectEnabled: false,
      newDeal: {
        userName: '',
        name: '',
        prefix: '',
        tags: '',
        thumbnail: {
          blob: '',
          fileName: '',
          fileType: ''
        },
        banner: {
          blob: '',
          fileName: '',
          fileType: ''
        },
        desc_ind: '',
        terms_ind: '',
        publish_date_start: '',
        publish_date_end: '',
        validity_date_start: '',
        validity_date_end: '',
        effective_period: 0,
        deal_status: {},
        deal_type: {},
        deal_redem: 0,
        deal_quantity: 0,
        outlet_address: '',
        outlet_province: '',
        outlet_city: '',
        outlet_latitude: '',
        outlet_longitude: '',
        normal_price: 0,
        selling_price: 0,
        purchase_price: 0,
        success_fee: '',
        cashback_user: '',
        merchant_name: {},
        outlet_name: [],
        merchant_list: [],
        outlet_list: [],
        dummy: dummy.deal,
        redemptionGuide: '',
        importantNote: '',
        isNeedRedemption: true
      }
    }
  },
  computed: {
    validateOutlet: function () {
      if (this.selectedOutlet.length > 0) {
        return 'outlet select valid'
      } else {
        return ''
      }
    },
    tagsStringify: function () {
      let string = ''
      let self = this
      this.selectedTag.forEach((arr, index) => {
        if (self.selectedTag.length !== ++index) {
          string = string + arr.tags + ', '
        } else {
          string = string + arr.tags
        }
      })
      return string
    },
    effectivePeriodDisabled: function () {
      let filled = this.newDeal.publish_date_start && this.newDeal.publish_date_end && this.newDeal.validity_date_end && this.newDeal.validity_date_start
      let allowed = this.editStatus === 'PUBLISHED'
      let validityDate = this.newDeal.validity_date_start >= this.newDeal.publish_date_start && this.newDeal.validity_date_end >= this.newDeal.publish_date_end
      if (filled && !allowed && validityDate) {
        return false
      }
      return true
    },
    pageState: function () {
      if (this.IdDeal) {
        return 'edit-mode'
      }
      return null
    },
    finalPostData: function () {
      if (this.IdDeal) {
        let checkData = mapping.editDeal(this.newDeal)
        if (checkData.bannerBlob.substring(0, 4) === 'http') {
          checkData.bannerBlob = ''
        }
        if (checkData.thumbnailBlob.substring(0, 4) === 'http') {
          checkData.thumbnail.blob = ''
        }
        return checkData
      } else {
        return mapping.createDeal(this.newDeal)
      }
    },
    percentageDeal: function () {
      let normal = this.newDeal.normal_price
      let selling = this.newDeal.selling_price
      let total = 0
      if (normal && selling) {
        total = 100 - ((selling / normal) * 100)
      }
      return total.toFixed(2)
    }
  },
  watch: {
    selectedTag: function () {
      this.newDeal.tags = this.tagsStringify
    },
    selectedOutlet: function () {
      let arr = []
      this.selectedOutlet.forEach(obj => {
        arr.push(obj.id)
      })
      this.newDeal.outlet_name = arr
    }
  },
  created: function () {
    this.flash().destroyAll()
    if (this.IdDeal) {
      this.getDeal.run()
    } else {
      this.getMerchant.run()
      this.getTags.run()
    }
  },
  mounted: function () {
  },
  methods: {
    afterSelectMerchant: function (option) {
      this.selectedOutlet = []
      this.newDeal.outlet_list = []
      this.getOutlet.run(option.id)
      if (this.IdDeal !== '') {
        this.newDeal.get_outlet = []
      }
    },
    afterSelectOutlet: function (option) {
      if (this.IdDeal !== '') {
        // for edit deal
        this.newDeal.outlet_name = option.id
        this.selectedOutlet = [option]
      } else {
        // for create deal
        this.newDeal.outlet_name = option.name
      }
      this.newDeal.outlet_address = option.detail.address
      this.newDeal.outlet_province = option.detail.province
      this.newDeal.outlet_city = option.detail.city
      this.newDeal.outlet_longitude = option.detail.longitude
      this.newDeal.outlet_latitude = option.detail.latitude
    },
    tagToArray: function (string) {
      let splitter = string.split(', ')
      let tags = []
      splitter.forEach((arr, index) => {
        if (arr) {
          let obj = {
            tags: arr
          }
          tags.push(obj)
        }
      })
      this.selectedTag = tags
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.newDeal[dateStart] = obj.start
      this.newDeal[dateEnd] = obj.end
    },
    selectComponent (value, target) {
      if (target === 'deal_status') {
        this.newDeal.deal_status = value
      } else if (target === 'deal_type') {
        this.newDeal.deal_type = value.name
      } else if (target === 'merchant_name') {
        this.newDeal.merchant_name = value
        this.newDeal.outlet_list = []
        this.newDeal.outlet_name = {}
        this.getOutlet.run(value.id)
      } else if (target === 'outlet_name') {
        this.newDeal.outlet_name = value
        this.newDeal.outlet_address = value.detail.address
        this.newDeal.outlet_province = value.detail.province
        this.newDeal.outlet_city = value.detail.city
        this.newDeal.outlet_longitude = value.detail.longitude
        this.newDeal.outlet_latitude = value.detail.latitude
      }
    }
  },
  tasks (t) {
    return {
      submitDeal: t(function * () {
        if (this.IdDeal) {
          this.updateDeal.run()
        } else {
          this.createDeal.run()
        }
      })
        .flow('enqueue', { maxRunning: 1 }),
      createDeal: t(function * () {
        let self = this
        this.flash().destroyAll()
        if (this.GetAuth()) {
          self.isLoading = true
          self.$http.post(process.env.VUE_APP_API_V2 + 'deals_batch/create', self.finalPostData, {
            headers: self.GetHeader()
          }).then(res => {
            if (res.body.code === 200) {
              self.flash('Success Create Deals', 'success', {
                timeout: 3000,
                beforeDestroy () {
                  self.isLoading = false
                  self.$router.push({
                    name: 'deals_list'
                  })
                }
              })
            } else if (res.body.code === 8) {
              self.GoLogout()
            } else {
              self.isLoading = false
              self.flash('Error create deal : ' + res.body.message, 'error')
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue', { maxRunning: 1 }),
      updateDeal: t(function * () {
        let self = this
        this.flash().destroyAll()
        this.finalPostData.dealsBatch.id = parseInt(this.IdDeal)
        if (this.GetAuth()) {
          self.isLoading = true
          self.$http.post(process.env.VUE_APP_API + 'deals_batch/update', self.finalPostData, {
            headers: this.GetHeader('UPDATE')
          }).then(res => {
            if (res.body.code === 200 && res.body.message === 'Success') {
              self.flash('Success Edit Deals', 'success', {
                timeout: 3000,
                beforeDestroy () {
                  self.isLoading = false
                  self.$router.push({
                    name: 'deals_list'
                  })
                }
              })
            } else if (res.body.code === 8) {
              self.GoLogout()
            } else {
              self.isLoading = false
              self.flash('Error update deal : ' + res.body.message, 'error')
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue', { maxRunning: 1 }),
      getOutlet: t(function * (id) {
        let self = this
        if (this.GetAuth()) {
          self.$http.get(process.env.VUE_APP_API + 'merchant/outlet/list?status=ACTIVE&limit=1000&offset=0&page=asd&merchantPubId=' + id + '', {
            headers: this.GetHeader('VIEW LIST')
          }).then(response => {
            if (response.body.code === 200) {
              self.newDeal.outlet_list = mapping.selectList(response.body.content, 'outletName')
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/deals/list')
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue', { maxRunning: 1 }),
      getDeal: t(function * () {
        let self = this
        self.$http.get(process.env.VUE_APP_API + 'deals_batch/detail?id=' + self.IdDeal, {
          headers: this.GetHeader('VIEW DETAIL')
        }).then(response => {
          if (response.body.code === 200) {
            let obj = response.body.content
            if (obj.dealsBatch.status.toUpperCase() === 'CANCELLED' || obj.dealsBatch.status.toUpperCase() === 'COMPLETED') {
              self.$router.push({
                name: 'deals_list',
                query: {
                  pagination: 1
                }
              })
            }
            let tempNewdeal = {}
            if (obj !== null) {
              Object.assign(tempNewdeal, self.newDeal)
              Object.assign(tempNewdeal, mapping.getDeal(obj))
              self.newDeal = tempNewdeal
              self.selectedOutlet = self.newDeal.get_outlet
              self.getMerchant.run()
              self.getTags.run()
              self.getOutlet.run(self.newDeal.merchant_name.id)
              self.editStatus = self.newDeal.deal_status.name
              self.editType = self.newDeal.deal_type.name
              self.tagToArray(self.newDeal.tags)
            }
          } else if (response.body.code === 8) {
            self.GoLogout()
          } else {
            self.flash('Error get deal : ' + response.body.message, 'error', {
              timeout: 5000
            })
          }
        }, (err) => {
          self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
            timeout: 10000
          })
        })
      })
        .flow('enqueue', { maxRunning: 1 }),
      getTags: t(function * () {
        let self = this
        self.$http.get(process.env.VUE_APP_API + 'deals_batch/tags/list', {
          headers: this.GetHeader()
        }).then(response => {
          if (response.body.code === 200) {
            let obj = response.body.content
            if (obj !== null) {
              self.tagOptions = obj
            }
          } else if (response.body.code === 8) {
            self.GoLogout()
          } else {
            self.flash('Error get tags : ' + response.body.message, 'error')
          }
        }, (err) => {
          self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
            timeout: 10000
          })
        })
      })
        .flow('enqueue', { maxRunning: 1 }),
      getMerchant: t(function * () {
        let self = this
        self.$http.get(process.env.VUE_APP_API + 'merchant/list?status=ACTIVE&offset=0&limit=10000', {
          headers: self.GetHeader('VIEW LIST')
        }).then(response => {
          if (response.body.code === 200) {
            self.newDeal.merchant_list = mapping.selectList(response.body.content, 'tradeName')
          } else if (response.body.code === 8) {
            self.GoLogout()
          } else {
            self.$router.push('/deals/list')
          }
        }, (err) => {
          self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
            timeout: 10000
          })
        })
      })
        .flow('enqueue', { maxRunning: 1 })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped lang="scss">
.bg-grey-D1D8DD {
  background-color: #D1D8DD;
}
.border-right {
  border-right:1px solid rgba(0, 0, 0, 0.1)!important;
}
</style>
