<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-striped radius">
      <thead class="thead-dark-blue">
        <tr>
          <th class="min-width-270">
            Deals Name
          </th>
          <th class="min-width-270">
            Outlet Name
          </th>
          <th>Status</th>
          <th class="min-width text-center">
            Type
          </th>
          <th class="min-width">
            Publish Date
          </th>
          <th class="min-width">
            Unpublish Date
          </th>
          <th class="min-width">
            Validity Start Date
          </th>
          <th class="min-width">
            Validity End Date
          </th>
          <th class="min-width" />
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="9"
            class="text-center"
          >
            - No Deals Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <router-link :to="{name: 'deals_view', params: {id: data.id, text: data.dealsName}}">
              {{ data.dealsName }}
            </router-link>
          </td>
          <td>
            {{ data.outletName }}
          </td>
          <td>{{ data.status }}</td>
          <td class="text-center">
            <span :class="['cls_type', data.dealsType.toLowerCase()]">
              {{ data.dealsType == 'PRODUCT_ONLINE' ? 'Online' : 'Offline' }}
            </span>
          </td>
          <td>
            <date-format
              :value="data.publishStartTs"
              :format="'DD MMMM YYYY'"
            />
          </td>
          <td>
            <date-format
              :value="data.publishEndTs"
              :format="'DD MMMM YYYY'"
            />
          </td>
          <td>
            <date-format
              :value="data.validityStartTs"
              :format="'DD MMMM YYYY'"
            />
          </td>
          <td>
            <date-format
              :value="data.validityEndTs"
              :format="'DD MMMM YYYY'"
            />
          </td>
          <td class="text-right">
            <router-link
              :to="{name: 'deals_edit', params: {id: data.id, text: data.dealsName}}"
              class="btn btn-success btn-sm px-4"
              :class="data.status.toUpperCase() === 'COMPLETED' || data.status.toUpperCase() === 'CANCELLED'? 'disabled' : '' "
            >
              <font-awesome-icon icon="pen" /> Edit
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import dateFormat from './../../components/DateFormat'

export default {
  name: 'DealTableList',
  components: {
    'date-format': dateFormat
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width {
  min-width: 180px;
}
.min-width-270{
  min-width: 270px;
}
.cls_type{
  color:#fff;
  padding:3px 7px;
  border-radius:3px;
  font-size:13px;
  display:inline-block;
  margin-top: 1px;
}
.cls_type {
    &.product{
      background: #4dbd74;
    }
    &.product_online{
      background: #20a8d8;
    }
}
</style>
