@import "dateRangePicker";
.component {

  // banner upload purpose
  &-banner-upload.box-img-thumb{
    width: 270px;
  }
  &-banner-upload {
    min-height: 270px;
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @include border-radius(8px);
    cursor: pointer;
    &>*{
      cursor: pointer;
    }
    .button-remove {
      position: absolute;
      top:10px;
      right:10px;
      display: none;
      opacity: 0;
        &:hover,&:focus{
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
    }

    input{
      background-color: #ccc;
      position: absolute;
      width: 100%;
      left: 0;
      top:0;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
    .info {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      display: table;
      text-align: center;
      vertical-align: middle;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      color:darken(color(--grey-light),10%);
        article {
          display: table-cell;
          vertical-align: middle;
          width: 80%;
          margin: auto;
        }
        article .fa {
          font-size:50px;
        }
    }

    
    &.is-filled{
      &:before{
        content:"";
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        left: 0;
        top:0;
        height: 100%;
        position: absolute;
        opacity: 0;
      }
      .button-remove {
        display: unset;
      }
      &:hover,&:focus {
        .button-remove,&:before,.info {
          @include transition(all 0.3s ease-in);
          opacity: 1;
        }
        .button-remove {
          z-index: 3;
        }
      }
      
      .info {
        opacity: 0;
      }

      article{
          .checkable {
            position: relative;
            margin-bottom: 15px;
              &:before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                margin:0 auto;
                height: 1px;
                width: 50px;
                background-color: #fff; 
              }
          }
      }
    }
    &.disabled {
      cursor: not-allowed;
      @include box-shadow(0 10px 20px 0 rgba(174,182,185,0.22));
      background-color: lighten(color(--inactive-grey),10%);
      &>*{
        cursor: not-allowed;
      }
      .checkable {
        text-decoration:line-through;
      }
      input {
        display: none;
      }
    }
  }

  // custom dropdown select
  &-dropdown-select {
    .select-preview {
      text-transform: capitalize;
      .caret {
        position: absolute;
        right:15px;
        top:0;
        bottom:0 ;
        margin: auto 0;
      }
    }
    .select-list {
      max-height: 450px;
      overflow-y: scroll;
      li {
        padding: 5px 15px;
        cursor: pointer;
         &:hover,&:focus{
           background-color: fade-out(color(--grey-light),0.5);
           color:#000;
         }
      }
    }    
  }

  // custom tab 
  &-tab-content {
    .nav-tabs {
      border:solid 1px #F5F5F5;
      & > li {
        &> a {
          width: 100%;
        }
      }
    }
  }

  // header
  &-header-guest {
    background-color: color(--text-grey);
    color:#fff;
    padding: 20px 30px;
  }
  &-header-user {
    background-color: #fff;
    padding: 10px 30px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
      .fa-user {
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
        height: 18px;
      }
  }

  // menu
  &-side-menu {
    width: 235px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right:solid 1px color(--border-grey);
    box-sizing: content-box;
    padding: 15px 0;
    
      .link-menu {
        display: block;
        padding: 15px;
        color:color(--text-grey);
        @include font-size(14px,16px);
          &.router-link-active {
            color:color(--primary);
            background-color: lighten(color(--primary), 40%)
          }
          .fa {
            display:inline-block;
            margin-right: 5px;
            &+span {
              margin-left: 5px;
              margin-right: 0; 
            }
          }
      }
  }

  &-component-empty-state {
    min-height:100vh;
  }

  &-flash {
    .flash__wrapper {
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 9999;
      text-align: center;
      min-width: 300px;
    }
  }
  &-nav-tabs {
    border-bottom: 1px solid #c8ced3;
    background-color: #fff;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    margin-left: -30px;
    margin-right: -30px;
      .nav-item {
        position: relative;
        a {
          display:block;
          position: relative;
          width: 100%;
          height: 100%;
        }
        &.active {
          border-bottom:3px solid color(--primary)
        }
      }
  }
  &-img-preview {
    @include fullcoverbg(no-repeat center center);
    &.thumbnail {
      height: 200px;
      width: 200px;
      max-width: 100%;
    }
    &.landscape {
      height: 200px;
      min-width: 200px;
      width: 100%;
      max-width: 100%;
      @media (max-width:992px) {
        max-width: 400px;
      }
    }
    
  }
}

div.multiselect {
  min-height: initial
}
.multiselect .multiselect {
  &__tags-wrap {
    font-size:0;
      & > * {
        font-size:13px;
      }

  }
  &__content-wrapper {
    font-size:13px;
  }
  &__input, &__single {
    margin-bottom:0!important;
    margin-top:0!important;
    line-height:initial;
    font-size:13px;
  }
  &__tag {
    margin-bottom:0px;
    margin-top:5px;
  }
  &__tags {
    min-height:initial;
    padding: .375rem 40px .375rem .75rem;
    border : 1px solid #e4e7ea;
    font-size:13px;
  }
  &__select {
    height:31px;
      &:before {
        color:#212529;
        border-color: #212529 transparent transparent;
      }
  }
  &--active {
    font-size:13px;
    line-height:1.5
  }
  &__placeholder {
    padding-top:0;
    margin-bottom:0;
  }
}
