$font-normal-size: 13px;
.wrap-table {
  overflow-x: scroll;
  width: 100%;
}
form, .form{
  font-size: $font-normal-size;
  label, .input-group-text {
    font-size: $font-normal-size;
  }
  .form-control,.form-control {
    font-size: $font-normal-size;
    input {
      &:hover,&:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.hours-wrap {
  & > * {
    display: inline-block;
  }
}

.input-group {
  .multiselect__tags {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #e4e7ea;
  }
  .multiselect {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
}

.card-header {
  .btn-minimize {
    padding: 0 10px;
    &:hover, &:focus {
      box-shadow: none;
      outline: none;
    }
    [class*='icon-arrow'] {
      color:#CED4D8
    }
  }
  [aria-expanded='true'] {
    [class*='icon-arrow'] {
      transform: rotate(180deg)
    }
  }
}

.form-group .text-muted {
  color: #8F8F8F;
}