//loading screen
.loading-screen {
  position: absolute;
  z-index: 11;
  background-color: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
}

// cursor
.cursor {
  &-pointer {
    cursor: pointer;
  }
}

//text helper
.text-placeholder {
  color:#adadad;
}
.text-capitalize .multiselect__content {
  .multiselect__element span{
    text-transform: capitalize!important;
  }
}

// spaces
.full-row-card {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

// border
.border-lg-right {
  @media (min-width:992px) {
    border-right:1px solid rgba(0, 0, 0, 0.1);
  }
  &:last-child {
    border-right: none;
  }
}
.truncate-word {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fullbackground {
  @include fullcoverbg(no-repeat center center);
}

//font
.font-weight-regular {
  font-weight: 400!important;
}
.text-sm {
  font-size: 80%;
}

.badge {
  line-height: initial;
  padding:3px 7px 4px 7px;
}

img {
  max-width: 100%;
}

.max-height-100 {
  max-height: 100%;
}