@function rem($px-values, $font-size: $base-font-size) {
  // Create an empty list that we can dump values into
  $rem-values: ();
  @each $value in $px-values {
    // Check to see if value is 0, auto, or inherited
    // If so, do nothing and output value
    @if $value==0 or $value==auto or $value==inherit {
      $rem-values: append($rem-values, $value);
      // If the value is a pixel, convert to em value
    }
    @else if unit($value)=='px' {
      $rem-values: append($rem-values, #{($value/$font-size)}rem);
      // For everything else, keep as is
    }
    @else {
      $rem-values: append($rem-values, $value);
    }
  }
  @return $rem-values;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function color($name) {
  @return map-get($color-list, $name);
}

@function size($size) {
  @return rem(map-get($size-list, $size));
}

@function radius($radius) {
  @return map-get($border-radius, $radius);
}

@function font-family($name) {
  @return #{$name},-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}


@mixin border-radius($val){
  border-radius:$val;
  -webkit-border-radius:$val;
  -moz-border-radius:$val;
}


@mixin box-shadow($val,$type: default){
  -webkit-box-shadow: $val;
  box-shadow: $val; 
}

@mixin text-shadow($val){
  text-shadow: $val;
}

@mixin transition($val){
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transform($val){
  -moz-transform: $val;
  -webkit-transform: $val;
  -o-transform: $val;
  -ms-transform: $val;
  transform: $val;
}
 @mixin fullcoverbg($val) {
  background:$val; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
 @mixin font-size($a,$b){
   font-size: $a;
   line-height: $b;
 }
