h1,.h1 {
  font-size: 48px;
  line-height: 54px;
}
h2,.h2 {
  font-size:40px;
  line-height: 46px;
}
h3,.h3 {
  font-size: 32px;
  line-height: 38px;
}
h4,.h4 {
  font-size: 24px;
  line-height: 30px;
}
h5,.h5 {
  font-size: 20px;
  line-height: 26px;
}
h6,.h6 {
  font-size: 16px;
  line-height: 22px;
}
.paragraph {
  font-size: 14px;
  line-height: 20px;
}