$base-font-size: 14px;
$max-width-container: 480px;

$color-list: (
        --primary: #26ADE4,
        --grey-light:#E4E4E4,
				--secondary:rgb(48, 47, 47),
				--text-primary: #191919,
				--disabled:#E4E8EB,
				--alert:#FF1B43,
				--success:#2ED573,
        --yellow:#F5A623,
        --salmon:#ff6b6b,
        --text-grey:#1f2d3e,
        --text-grey2:#828a94,
        --inactive-grey:#d9d9d9,
        --border-grey:#e7e7e7,
        --white:#fff
);

$font-lists: (
        --helvetica-normal 'Helvetica-Roman' 'Helvetica/Helvetica-Roman',
        --helvetica-medium 'Helvetica-Medium' 'Helvetica/Helvetica-Medium',
        --helvetica-bold 'Helvetica-Bold' 'Helvetica/Helvetica-Bold',
        --lato-light 'Lato-Light' 'Lato/Lato-Light',
        --lato-normal 'Lato-Regular' 'Lato/Lato-Regular',
        --lato-semibold 'Lato-Semi-Bold' 'Lato/Lato-Semi-Bold',
        --lato-bold 'Lato-Bold' 'Lato/Lato-Bold',
);

$font-size: (
        --xsmall: 9px,
        --small: 10px,
        --normal: 12px,
        --medium: 14px,
        --large: 16px,
        --xlarge: 18px
);

$size-list: (
        --small: 21px,
        --medium: 26px,
        --large: 40px,
        --font-small: 10px,
        --font-medium: 11px,
        --font-large: 12px,
);

$space-list: (
        --small: 5px,
        --normal: 10px,
        --medium: 15px,
        --large: 30px,
        --none: 0px,
);

$border-radius: (
        --small: 3px,
        --medium: 4px,
);

$weight-size:(
	1:bold,
	2:lighter,
	3:bolder,
	4:normal
);


$spacing-size: () !default;
$spacing-size: map-merge(
  (
    size-0:   0,
    size-1:   1,
    size-2:   2,
    size-3:   3,
    size-4:   4,
    size-5:   5,
  ),
  $spacing-size
);

$orientation-name: () !default;
$orientation-name: map-merge(
  (
    bottom:b,
    left:l,
    top:t,
		right:r,
		vertical:y,
		horizontal:x,
    all:all,
  ),
  $orientation-name
);


$border-direction: () !default;
$border-direction: map-merge(
  (
    bottom:bottom,
    left:left,
    top:top,
		right:right
  ),
  $border-direction
);


$display-type: () !default;
$display-type: map-merge(
  (
		1:none,
		2:block,
		3:inline-block,
		4:flex
  ),
  $display-type
);

$position-type: () !default;
$position-type: map-merge(
  (
		1:relative,
		2:absolute,
  ),
  $position-type
);

$text-align:()!default;
$text-align:map-merge((
	1:left,
	2:right,
	3:center,
	4:justify

) , $text-align )