@import "variable";
@import "mixin";
@import "helperClass";
@import "button";
// @import "legacy";
// @import "typography";
@import "components";
@import "form";
// @import "dashboardBase";


.app-header {
  top:0;
}
.sidebar .nav-link.router-link-active  {
  color: #fff;
  background: #3a4248;
    .nav-icon {
        color: #20a8d8;
    }
}
div.multiselect--disabled {
  opacity: 1;
  background-color: transparent;
  .multiselect__tags {
    background-color: #e9ecef;
    .multiselect__single {
      background-color: transparent;
    }
  }
}

button.navbar-toggler{
  &:focus,&:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    border: none;
    outline: none;
  }
}