<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= VUE_APP_TITLE %></title>
  </head>
  <body class="sidebar-lg-show app header-fixed sidebar-fixed aside-menu-fixed">
    <noscript>
      <strong>We're sorry but cb-webapp-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
     <!-- CoreUI and necessary plugins-->
     <script src="<%= BASE_URL %>vendors/jquery/js/jquery.min.js"></script>
     <!-- <script src="<%= BASE_URL %>vendors/popper.js/js/popper.min.js"></script> -->
     <!-- <script src="<%= BASE_URL %>vendors/bootstrap/js/bootstrap.min.js"></script> -->
     <script src="<%= BASE_URL %>vendors/pace-progress/js/pace.min.js"></script>
     <script src="<%= BASE_URL %>vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
     <script src="<%= BASE_URL %>vendors/@coreui/coreui-pro/js/coreui.min.js"></script>
     <!-- Plugins and scripts required by this view-->
     <script src="<%= BASE_URL %>vendors/chart.js/js/Chart.min.js"></script>
     <script src="<%= BASE_URL %>vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
  </body>
</html>
