<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row p-3">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="transaction_date">Invoice Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="publish_date"
                  :initialDate="false"
                  :watching="querySearch.publish_date_start"
                  :start="querySearch.publish_date_start"
                  :end="querySearch.publish_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="xaaform-group">
            <label for="user_mail">Customer Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope" />
                </span>
              </div>
              <input
                id="user_email"
                v-model="querySearch.user_email"
                type="email"
                name="user_email"
                class="form-control"
                aria-describedby="helpId"
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="invoice_type">Invoice Type</label>
            <keep-alive>
              <select-list
                :key_value="querySearch.invoice_type"
                :list_data="optionTransactionType"
                :target_name="'invoice_type'"
                title="Type"
                @selectingList="onSelectingList"
              >
                <!-- its component caller -->
              </select-list>
            </keep-alive>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="invoice_id">Invoice ID</label>
            <input
              id="invoice_id"
              v-model="querySearch.invoice_id"
              type="text"
              name="invoice_id"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="customer_name">Customer Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user" />
                </span>
              </div>
              <input
                id="customer_name"
                v-model="querySearch.customer_name"
                type="text"
                name="customer_name"
                class="form-control"
                aria-describedby="helpId"
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="debt_status">Debt Status</label>
            <keep-alive>
              <select-list
                :key_value="querySearch.debt_status"
                :list_data="optionDebtStatus"
                :target_name="'debt_status'"
                title="Status"
                @selectingList="onSelectingList"
              >
                <!-- its component caller -->
              </select-list>
            </keep-alive>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="reference_id">Reference ID</label>
            <input
              id="reference_id"
              v-model="querySearch.reference_id"
              type="text"
              name="reference_id"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="dealsOwner">Deal Owner</label>
            <input
              id="deal_owner"
              v-model="querySearch.deal_owner"
              type="text"
              name="deal_owner"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="invoice_status">Invoice Status</label>
            <keep-alive>
              <select-list
                :key_value="querySearch.invoice_status"
                :list_data="optionInvoiceStatus"
                :target_name="'invoice_status'"
                title="Status"
                @selectingList="onSelectingList"
              >
                <!-- its component caller -->
              </select-list>
            </keep-alive>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="merchant_name">Merchant Name</label>
            <input
              id="merchant_name"
              v-model="querySearch.merchant_name"
              type="text"
              name="merchant_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="outlet_name">Outlet Name</label>
            <input
              id="outlet_name"
              v-model="querySearch.outlet_name"
              type="text"
              name="outlet_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import DateRangePicker from './../../components/DateRangePicker'
import FilterSearchMixin from './../../mixins/FilterSearchMixin'
import SelectList from './../../components/SelectList'

export default {
  name: 'TransactionFilterSearch',
  components: {
    'select-list': SelectList,
    'date-range-picker': DateRangePicker
  },
  mixins: [FilterSearchMixin],
  props: ['pagination'],
  data: function () {
    return {
      optionTransactionType: [
        { name: 'ALL', id: 0 },
        { name: 'regular', id: 1 },
        { name: 'deals', id: 2 }
      ],
      optionInvoiceStatus: [
        { name: 'ALL', id: 0 },
        { name: 'PENDING', id: 1 },
        { name: 'PAID', id: 2 },
        { name: 'REFUND', id: 3 },
        { name: 'CANCELLED', id: 4 },
        { name: 'VOID', id: 5 }
      ],
      optionDebtStatus: [
        { name: 'ALL', id: 0 },
        { name: 'CLEAR', id: 1 },
        { name: 'COLLECTABLE', id: 2 },
        { name: 'SETTLED', id: 3 },
        { name: 'CANCELLED', id: 4 }
      ],
      querySearch: {
        user_email: '',
        customer_name: '',
        invoice_status: '',
        reference_id: '',
        deal_owner: '',
        invoice_id: this.$route.query.pubId ? this.$route.query.pubId : '',
        debt_status: '',
        merchant_name: '',
        outlet_name: '',
        invoice_type: '',
        publish_date_start: this.$route.query.publishStart ? this.$route.query.publishStart : '',
        publish_date_end: this.$route.query.publishEnd ? this.$route.query.publishEnd : ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      let obj = {
        userEmail: this.querySearch.user_email,
        customer: this.querySearch.customer_name,
        status: this.querySearch.invoice_status,
        refId: this.querySearch.reference_id,
        dealsOwner: this.querySearch.deal_owner,
        pubId: this.querySearch.invoice_id,
        debtStatus: this.querySearch.debt_status.name === 'ALL' ? '' : this.querySearch.debt_status,
        outletName: this.querySearch.outlet_name,
        invoiceType: this.querySearch.invoice_type.name === 'ALL' ? '' : this.querySearch.invoice_type.name === 'regular' ? 'pay' : this.querySearch.invoice_type.name,
        merchantName: this.querySearch.merchant_name,
        startDate: this.querySearch.publish_date_start ? this.querySearch.publish_date_start : '',
        endDate: this.querySearch.publish_date_end ? this.querySearch.publish_date_end : ''
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj.pagination = 1
        Object.assign(obj, request)
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    }
  }
}
</script>

<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
