<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Invoice Date
          </th>
          <th class="min-width align-middle">
            Invoice ID
          </th>
          <th class="min-width align-middle">
            Invoice Type
          </th>
          <th class="min-width align-middle">
            Invoice Status
          </th>
          <th class="min-width align-middle">
            Customer Email
          </th>
          <th class="min-width align-middle">
            Merchant Name
          </th>
          <th class="min-width align-middle">
            Outlet Name
          </th>
          <th class="min-width align-middle">
            Deal name
          </th>
          <th class="min-width align-middle">
            Outstanding Status
          </th>
          <th class="min-width align-middle">
            Debt Status
          </th>
          <th class="min-width align-middle">
            Invoice Amount (Rp)
          </th>
          <th class="min-width align-middle">
            Cashback Spent (Rp)
          </th>
          <th class="min-width align-middle">
            Payment Amount (Rp)
          </th>
          <th class="min-width align-middle">
            Cashback Earned Amount (Rp)
          </th>
          <th class="min-width align-middle">
            Charge ID
          </th>
          <th class="min-width align-middle">
            Reconciliation ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Transactions Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <span>
              {{ formatDate(data.createTs) }}
            </span>
          </td>
          <td>
            <router-link :to="{name: 'TransactionsDetail', params: {pubId: data.pubId, text: data.pubId}}">
              {{ data.pubId }}
            </router-link>
          </td>
          <td>
            {{ data.invoiceType == 'CASHBAC_PAY' ? 'Regular' : 'Deals' }}
          </td>
          <td>
            <status-badge
              :value="data.status ? data.status.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td>
            {{ data.email }}
          </td>
          <td>
            <router-link :to="{name: 'MerchantDetail', params: {pubid: data.merchantPubId, text: data.merchantPubId}}">
              {{ data.merchantName }}
            </router-link>
          </td>
          <td>
            <router-link :to="{name: 'OutletDetail', params: {pubId: data.outletPubId, text: data.outletPubId}}">
              {{ data.outletName }}
            </router-link>
          </td>
          <td>
            <router-link :to="{name: 'deals_view', params: {id: data.dealsId, text: data.dealsId}}">
              {{ data.dealsName }}
            </router-link>
          </td>
          <td>
            <status-badge
              :value="data.outstandingStatus ? data.outstandingStatus.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td>
            <status-badge
              :value="data.debtStatus ? data.debtStatus.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td>
            <currency-format
              :value="data.total"
              :kurs="'IDR'"
            />
          </td>
          <td>
            <currency-format
              :value="data.usedBalanceAmount"
              :kurs="'IDR'"
            />
          </td>
          <td>
            <currency-format
              :value="data.paymentAmount"
              :kurs="'IDR'"
            />
          </td>
          <td>
            <currency-format
              :value="data.cashbackAmount"
              :kurs="'IDR'"
            />
          </td>
          <td>
            {{ data.chargeId }}
          </td>
          <td>
            {{ data.bankReconciliationId }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
import currencyFormat from './../../components/CurrencyFormat'
export default {
  name: 'TransactionTableList',
  components: {
    'currency-format': currencyFormat,
    'status-badge': StatusBadge
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date) {
      return moment(date).format('DD-MM-YYYY hh:mm:ss')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
