<template>
  <div class="form-wrap text-left mb-5 pb-3">
    <form @submit.prevent="submitPromo()">
      <div class="card">
        <div class="card-header font-weight-bold">
          Promotion Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#mainInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="mainInformation"
          class="card-body collapse show"
        >
          <div class="form-group-wrap">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                  <label for="#promoName">Promo Name <span class="text-danger">*</span></label>
                  <input
                    id="promoName"
                    v-model="promoName"
                    type="text"
                    class="form-control"
                    name="promoName"
                    maxlength="40"
                    aria-describedby="helpId"
                    placeholder=""
                    required
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                  <label for="#startEndDates">Start and End Date <span class="text-danger">*</span></label>
                  <keep-alive>
                    <date-range-picker
                      id="promo_date"
                      class="form-control"
                      :disabled="false"
                      :start="promo_date_start"
                      :end="promo_date_end"
                      :initialDate="promoID ? true : false"
                      @dateRangeChanged="onDateRangeChanged"
                    />
                  </keep-alive>
                  <input
                    v-model="promo_date_start"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please set for promo start date"
                    name="dateRangePromoValidator"
                    title="Please set for promo start date"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                  <label for="#TermsCondition">Terms & Condition <span class="text-danger">*</span></label>
                  <textarea
                    id="TermsCondition"
                    v-model="terms"
                    name="TermsCondition"
                    class="form-control"
                    cols="30"
                    rows="5"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                  <label for="">Banner Name</label>
                  <multiselect
                    id="BannerName"
                    v-model="bannerName"
                    label="title"
                    track-by="title"
                    :placeholder="isLoadingBanner ? 'loading list...' : 'Please Select'"
                    :close-on-select="true"
                    :show-labels="true"
                    :multiple="true"
                    :options="listBanner ? listBanner : []"
                    :searchable="true"
                    :allow-empty="true"
                    :disabled="isLoadingBanner"
                    @select="selectBanner"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.title"
                        class="text-capitalize"
                      >{{ option.title }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-2 col-lg-2">
                <div class="form-group mb-3">
                  <label for="#redemptionFrequency">Redemption Frequency <span class="text-danger">*</span></label>
                  <input
                    id="redemptionFrequency"
                    v-model.number="redemptionFrequency"
                    type="number"
                    class="form-control"
                    name="redemptionFrequency"
                    aria-describedby="helpId"
                    placeholder=""
                    :disabled="promoID ? true : false"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                  <label for="#redemptionUnit">Per <span class="text-danger">*</span></label>
                  <multiselect
                    id="redemptionUnit"
                    v-model="redemptionUnit"
                    label="title"
                    track-by="value"
                    :placeholder="isLoadingBanner ? 'loading list...' : 'Please Select'"
                    :close-on-select="true"
                    :show-labels="true"
                    :multiple="false"
                    :options="listRedemptionUnit ? listRedemptionUnit : []"
                    :searchable="true"
                    :allow-empty="true"
                    :disabled="isLoadingBanner || (promoID ? true : false)"
                    @select="selectOption"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.title"
                        class="text-capitalize"
                      >{{ option.title }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                  <input
                    v-model="finalPayload.redemptionUnit"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please select redemption unit"
                    name="redemptionUnitValidator"
                    title="Please select redemption unit"
                    :disabled="promoID ? true : false"
                    required
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                  <label for="#redemptionGroup">Redemption Group <span class="text-danger">*</span></label>
                  <multiselect
                    id="redemptionGroupf"
                    v-model="redemptionGroup"
                    label="title"
                    track-by="value"
                    :placeholder="isLoadingBanner ? 'loading list...' : 'Please Select'"
                    :close-on-select="true"
                    :show-labels="true"
                    :multiple="false"
                    :options="listRedemptionGroup ? listRedemptionGroup : []"
                    :searchable="true"
                    :allow-empty="true"
                    :disabled="isLoadingBanner || (promoID ? true : false)"
                    @select="selectOption"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.title"
                        class="text-capitalize"
                      >{{ option.title }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                  <input
                    v-model="finalPayload.redemptionGroup"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please select redemption group"
                    name="redemptionUnitValidator"
                    title="Please select redemption group"
                    :disabled="promoID ? true : false"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2 col-lg-2">
                <div class="form-group mb-3">
                  <label for="#cashbacValue">Cashbac Value <span class="text-danger">*</span></label>
                  <input
                    id="cashbacValue"
                    v-model.number="cashbacValue"
                    type="number"
                    class="form-control"
                    name="cashbacValue"
                    aria-describedby="helpId"
                    placeholder=""
                    :disabled="promoID ? true : false"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                  <label for="#cashbacUnit">Cashbac Unit <span class="text-danger">*</span></label>
                  <multiselect
                    id="cashbacUnit"
                    v-model="cashbacUnit"
                    label="title"
                    track-by="value"
                    :placeholder="isLoadingBanner ? 'loading list...' : 'Please Select'"
                    :close-on-select="true"
                    :show-labels="true"
                    :multiple="false"
                    :options="listCashbacUnit ? listCashbacUnit : []"
                    :searchable="true"
                    :allow-empty="true"
                    :disabled="isLoadingBanner || (promoID ? true : false)"
                    @select="selectOption"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.title"
                        class="text-capitalize"
                      >{{ option.title }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                  <input
                    v-model="finalPayload.cashbacUnit"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please select redemption unit"
                    name="redemptionUnitValidator"
                    title="Please select redemption unit"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2 col-lg-2">
                <div class="form-group mb-3">
                  <label for="#cashbacMaximum">Cashbac Maximum <span class="text-danger">*</span></label>
                  <!-- <input type="number"
                      class="form-control" name="cashbacMaximum" id="cashbacMaximum" aria-describedby="helpId" placeholder="" v-model="cashbacMaximum" required> -->

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="cashbacMaximum"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="retainCustomerMaxCashback"
                      placeholder=""
                      :disabled="promoID ? true : false"
                      :max="10000000000"
                    />
                  </div>
                  <small
                    v-if="cashbacMaximum === 0"
                    class="text-danger"
                  >
                    <i>Value can not be 0</i>
                  </small>
                  <input
                    v-model="cashbacMaximum"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please select redemption unit"
                    name="redemptionUnitValidator"
                    title="Please select redemption unit"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                  <label for="#cashbacSource">Cashbac Source <span class="text-danger">*</span></label>
                  <multiselect
                    id="cashbacSource"
                    v-model="cashbacSource"
                    label="title"
                    track-by="value"
                    :placeholder="isLoadingBanner ? 'loading list...' : 'Please Select'"
                    :close-on-select="true"
                    :show-labels="true"
                    :multiple="false"
                    :options="listCashbacSource ? listCashbacSource : []"
                    :searchable="true"
                    :allow-empty="true"
                    :disabled="isLoadingBanner || (promoID ? true : false)"
                    @select="selectOption"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.title"
                        class="text-capitalize"
                      >{{ option.title }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                  <input
                    v-model="finalPayload.cashbacSource"
                    type="text"
                    note="for validity purpose"
                    class="sr-only"
                    text="Please select redemption unit"
                    name="redemptionUnitValidator"
                    title="Please select redemption unit"
                    required
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-wrap pt-3">
        <div class="row text-right">
          <div class="col-12 col-md-6 col-lg-8 text-left mb-2">
            <span class="text-danger">
              *
            </span>
            Indicated required fields
          </div>
          <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-md-8 inline-block-wrap mb-2">
            <div class="row row-5">
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="button"
                  class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                  :disabled="isLoadingBanner || isAllSuccess"
                  @click="$router.push('/promo/list')"
                >
                  Cancel
                </button>
              </div>
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="submit"
                  class="btn btn-block btn-success text-uppercase"
                  :disabled="isLoadingBanner || isAllSuccess || cashbacMaximum === 0"
                  @click="countSubmitted++"
                >
                  {{ isSubmitting ? 'Saving...' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Multiselect from 'vue-multiselect'
import DateRangePicker from '@/components/DateRangePicker'
import VueNumeric from 'vue-numeric'

Vue.use(VueNumeric)
export default {
  name: 'FormPromotionCreateEdit',
  components: {
    'multiselect': Multiselect,
    'date-range-picker': DateRangePicker,
    'vue-numeric': VueNumeric
  },
  props: {
    isAllSuccess: {
      required: true,
      type: Boolean,
      default: false
    },
    isLoadingBanner: {
      required: true,
      type: Boolean,
      default: false
    },
    detailInfo: {
      type: Object,
      default: null
    },
    isSubmitting: {
      required: true,
      type: Boolean,
      default: false
    },
    promoID: {
      required: false,
      type: String,
      default: null
    },
    listBanner: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    listRedemptionUnit: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    listRedemptionGroup: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    listCashbacUnit: {
      required: true,
      type: Array,
      default: () => { return [] }
    },
    listCashbacSource: {
      required: true,
      type: Array,
      default: () => { return [] }
    }
  },
  data: () => {
    return {
      countSubmitted: 0,
      promoName: '',
      promo_date_start: '',
      promo_date_end: '',
      terms: '',
      bannerName: null,
      redemptionFrequency: null,
      redemptionUnit: null,
      redemptionGroup: null,
      cashbacValue: null,
      cashbacUnit: null,
      cashbacMaximum: 0,
      cashbacSource: null
    }
  },
  computed: {
    termsMapping: function () {
      let arr = this.terms
      arr = arr.replace(/\r\n/g, '\n').split('\n')
      let filtered = arr.filter(function (el) {
        return el !== '' || el !== null ? el : null
      })
      return filtered.length > 0 ? filtered : []
    },
    campaignIdMapping: function () {
      var self = this
      if (self.bannerName !== null) {
        let dataCampaign = self.bannerName.map((arr, index) => {
          return arr.campaignId
        })
        return dataCampaign
      } else {
        return []
      }
    },
    finalPayload: function () {
      return {
        promoName: this.promoName,
        startDate: this.promo_date_start,
        endDate: this.promo_date_end,
        terms: this.termsMapping,
        campaignId: '',
        campaignIds: this.campaignIdMapping,
        redemptionFrequency: this.redemptionFrequency,
        redemptionUnit: this.redemptionUnit ? this.redemptionUnit.value : '',
        redemptionGroup: this.redemptionGroup ? this.redemptionGroup.value : '',
        cashbacValue: this.cashbacValue,
        cashbacUnit: this.cashbacUnit ? this.cashbacUnit.value : '',
        cashbacMaximum: this.cashbacMaximum,
        cashbacSource: this.cashbacSource ? this.cashbacSource.value : ''
      }
    }
  },
  watch: {
    detailInfo: function (val) {
      if (this.promoID) {
        let { promoName, startDate, endDate, terms, redemptionFrequency, redemptionUnit, redemptionGroup, cashbacValue, cashbacUnit, cashbacMaximum, cashbacSource } = val
        this.promoName = promoName
        this.promo_date_start = startDate - 25200
        this.promo_date_end = endDate - 25200
        this.terms = this.arrayToString(terms)
        this.redemptionFrequency = redemptionFrequency
        this.cashbacValue = cashbacValue
        this.cashbacMaximum = cashbacMaximum
        this.redemptionUnit = this.mappingList('listRedemptionUnit', redemptionUnit)
        this.redemptionGroup = this.mappingList('listRedemptionGroup', redemptionGroup)
        this.cashbacUnit = this.mappingList('listCashbacUnit', cashbacUnit)
        this.cashbacSource = this.mappingList('listCashbacSource', cashbacSource)
      }
    },
    listBanner: function (val) {
      if (val.length > 0 && this.promoID && this.detailInfo) {
        let arr = []
        let selected = this.detailInfo.campaigns || []
        selected.forEach((element, index) => {
          arr.push(element.pubId)
        })
        this.bannerName = this.findBanner(arr)
      }
    }
  },
  methods: {
    mappingList: function (state, value) {
      let list = this[state]
      let found = list.find(element => element.value === value) || []
      return found
    },
    arrayToString: function (arr) {
      let text = ''
      arr.forEach((el, index) => {
        text = index < (arr.length - 1) ? text + el + '\n' : text + el
      })
      return text
    },
    findBanner: function (id) {
      let dataCampaign = ''
      if (this.listBanner.length > 0) {
        let obj = []
        let selected = id
        selected.forEach((element, index) => {
          obj.push(this.listBanner.find(el => el.campaignId === element))
        })
        dataCampaign = obj
      } else {
        dataCampaign = null
      }
      return dataCampaign
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this[dateStart] = obj.start
      this[dateEnd] = obj.end
    },
    selectBanner: function (option, id) {
      this.bannerName = option
    },
    selectOption: function (option, id) {
      if (id === 'redemptionUnit') {
        this.redemptionUnit = option
      } else if (id === 'redemptionGroup') {
        this.redemptionGroup = option
      } else if (id === 'cashbacUnit') {
        this.cashbacUnit = option
      } else if (id === 'cashbacSource') {
        this.cashbacSource = option
      }
    },
    submitPromo: function () {
      if (this.promoID) {
        this.$emit('submit-edit', this.finalPayload)
      } else {
        this.$emit('submit-create', this.finalPayload)
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
