<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="">Promo Name</label>
            <input
              v-model="querySearch.promoName"
              type="text"
              class="form-control"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="">Promo ID</label>
            <input
              v-model="querySearch.promoId"
              type="text"
              class="form-control"
            >
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="">Start End Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="promotion_date"
                  :initialDate="false"
                  :start="querySearch.promotion_date_start"
                  :end="querySearch.promotion_date_end"
                  :watching="querySearch.promotion_date_start"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-4 btn-filter">
        <button
          :disabled="onFiltering"
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear
        </button>
        <button
          :disabled="onFiltering"
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import DateRangePicker from '@/components/DateRangePicker'
export default {
  name: 'PromotionFilterSearch',
  components: {
    'date-range-picker': DateRangePicker
  },
  props: {
    onFiltering: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      querySearch: {
        promotion_date_start: '',
        promotion_date_end: '',
        promoName: '',
        promoId: ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      let obj = {
        promoName: this.querySearch.promoName,
        promoPubID: this.querySearch.promoId,
        startDate: this.querySearch.promotion_date_start,
        endDate: this.querySearch.promotion_date_end
      }
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          query[key] = value
        }
      }

      return query
    }
  },
  created: function () {
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      this.querySearch[dateEnd] = obj.end
    }
  }
}
</script>
