<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Promo ID
          </th>
          <th class="min-width align-middle">
            Promo Name
          </th>
          <th class="min-width align-middle">
            Start Date
          </th>
          <th class="min-width align-middle">
            End Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Transactions Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <span>{{ data.promoPubId }}</span>
          </td>
          <td>
            <router-link :to="{name: 'PromotionDetail', params: {pubId: data.promoPubId, text: data.promoPubId}}">
              {{ data.promoName }}
            </router-link>
          </td>
          <td>
            <span v-if="data.createTs === 0">
              -
            </span>
            <span v-else>
              {{ formatDate(data.startDate, ' 00:00:00') }}
            </span>
          </td>
          <td>
            <span v-if="data.createTs === 0">
              -
            </span>
            <span v-else>
              {{ formatDate(data.endDate, ' 23:59:59') }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'PromoTableList',
  components: {
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date, text = '') {
      date = date - 25200
      return moment.unix(date).format('DD-MM-YYYY HH:mm:ss')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
