<template>
  <div class="mb-5">
    <nav-tabs
      :urls="[{name: 'OutletDetail', text: 'Outlet Details', url: `/business-setup/outlet/${$route.params.pubId}/detail`}, {name: 'OutletPaymentInterface', text: 'Payment Interface', url: `/business-setup/outlet/${$route.params.pubId}/payment-interface`}, {name: 'OutletPhotos', text: 'Outlet Photos', url: `/business-setup/outlet/${$route.params.pubId}/photos`}, {name: 'Transactions', text: 'Transactions', url: '#'}]"
    />
    <!-- ### -->
    <PaymentList />
    <BeaconList />
  </div>
</template>

<script>
import NavTabs from '@/components/NavTabs.vue'
import PaymentList from '@/components/paymentInterface/paymentsList'
import BeaconList from '@/components/paymentInterface/beaconsList'
export default {
  name: 'PaymentBase',
  components: {
    'nav-tabs': NavTabs,
    PaymentList,
    BeaconList
  },
  data: function () {
    return {
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
