<template>
  <router-view />
</template>

<script>
export default {
  name: 'CoreUI',
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  created: function () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
