<template>
  <div class="app flex-row align-items-center  pace-done">
    <navigation-user class="d-none" />
    <side-menu class="d-none" />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form @submit.prevent="logIn">
                  <h1>Login</h1>
                  <p class="text-muted">
                    Sign In to your account
                  </p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user" />
                      </span>
                    </div>
                    <input
                      id="userName"
                      v-model="username"
                      aria-describedby="emailHelp"
                      placeholder=""
                      class="form-control"
                      type="email"
                      name="username"
                      value=""
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock" />
                      </span>
                    </div>
                    <input
                      id="exampleInputPassword1"
                      v-model="password"
                      class="form-control"
                      :type="fieldTypes.password"
                      name="password"
                      value=""
                      autocomplete="off"
                      placeholder=""
                      required
                      @focus="handleType"
                      @blur="handleType"
                    >
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button
                        type="submit"
                        class="btn btn-primary px-4"
                      >
                        Login
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button
                        class="btn btn-link px-0"
                        type="button"
                      >
                        Forgot password?
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="card text-white bg-primary py-5 d-md-down-none"
              style="width:44%"
            >
              <div class="card-body text-center d-flex align-items-center">
                <div class=" w-100">
                  <img
                    :src="`${publicPath}img/logo_white.png`"
                    class=""
                    height="30"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <flash-message class="flashMessage component component-flash" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueLocalStorage from 'vue-localstorage'
import authMixin from './../mixins/auth'
import timeStamp from './../mixins/timeStamp.js'
import NavigationUser from './../components/NavigationUser'
import SideMenu from './../components/SideMenu'
Vue.use(VueLocalStorage)

export default {
  name: 'Login',
  components: {
    'navigation-user': NavigationUser,
    'side-menu': SideMenu
  },
  mixins: [timeStamp, authMixin],
  props: ['msg'],
  data: function () {
    return {
      publicPath: process.env.BASE_URL,
      'errText': '',
      'username': '',
      'password': '',
      'fieldTypes': {
        'password': 'text'
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    let auth = localStorage.getItem('auth_info')
    auth = JSON.parse(auth)
    if (auth !== null) {
      let now = new Date()
      auth.expires_time = new Date(auth.expires_time)
      if (auth.expires_time > now) {
        next('/deals/list')
      } else {
        next('/auth/logout')
      }
    } else {
      next()
    }
  },
  created: function () {
    if (this.GetAuth()) {
      this.$router.push('/deals/list')
    }
  },
  methods: {
    handleType (event) {
      const { srcElement, type } = event
      const { name, value } = srcElement

      if (type === 'blur' && !value) {
        this.fieldTypes[name] = 'text'
      } else {
        this.fieldTypes[name] = 'password'
      }
    },
    logIn () {
      this.flash().destroyAll()
      this.$localStorage.remove('auth_info')
      let self = this
      let data = {
        username: this.username,
        password: this.password
      }
      data = JSON.stringify(data)
      this.$http.post(process.env.VUE_APP_API + 'oauth/login', data).then(res => {
        if (res.body.code === 200) {
          let dateFormat = new Date(res.headers.map['expires_in'][0])
          let auth = {
            token: res.headers.map['token'][0],
            refresh_token: res.headers.map['refresh_token'][0],
            expires_in: res.headers.map['expires_in'][0],
            expires_time: self.setExpired(dateFormat),
            user: self.username,
            role: res.headers.map['role'][0] || 'general_user'
          }
          auth = JSON.stringify(auth)
          self.$localStorage.set('auth_info', auth)
          window.location = '/'
        } else {
          self.flash('Error Login :' + res.body.message, 'error')
        }
      }, err => {
        self.errText = err.statusText
      })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.Login {
  text-align:left;
}
</style>
