<template>
  <div class="logout" />
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import VueLocalStorage from 'vue-localstorage'
import authMixin from './../mixins/auth.js'
Vue.use(VueLocalStorage)
Vue.use(Vuency)

export default {
  name: 'Logout',
  mixins: [authMixin],
  created: function () {
    this.getData.run()
  },
  tasks (t) {
    let self = this
    return {
      getData: t(function * (endpoint = process.env.VUE_APP_API, resource = 'oauth/logout') {
        let headers = {
          'Content-Type': 'application/json;charset=utf-8',
          'token': self.ParseAuth().token
        }
        if (self.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, '', { headers }).then(response => {
            if (response.body.code === 200 || response.body.code === 8) {
              localStorage.removeItem('auth_info')
              self.flash(response.body.message, 'success', {
                timeout: 10000
              })
            } else {
              self.flash(response.body.message, 'error', {
                timeout: 10000
              })
            }
          }, (err) => {
            self.flash(`Error get detail : : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop')
        .onFinish(() => {
          self.$router.push('/auth/login')
        })
    }
  }
}
</script>
