<template>
  <div>
    <navigation-guest />
    <div class="container">
      <div class=" text-center my-5 py-5">
        <H1 class="font-weight-bold h1 mb-0">
          404
        </H1>
        <span class="d-block h4 mt-0">Page Not Found</span>
        <p>
          <small class="d-block font-italic">You will be redirected on {{ timeleft }}(s)</small>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationGuest from '../components/NavigationGuest'
import authMixin from './../mixins/auth'
export default {
  name: 'NotFound',
  components: {
    'navigation-guest': NavigationGuest
  },
  mixins: [authMixin],
  data: function () {
    return {
      timeleft: 5
    }
  },
  created: function () {
    let self = this
    var timeleft = 5
    setInterval(function () {
      if (timeleft >= 0) {
        timeleft -= 1
      }
      self.timeleft = timeleft
    }, 1000)
    setTimeout(() => {
      window.location.href = '/'
    }, 5000)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
