<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Beacon ID
          </th>
          <th class="min-width align-middle">
            Status
          </th>
          <th class="min-width align-middle">
            Battery Level
          </th>
          <th class="min-width align-middle">
            Active Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="4"
            class="text-center"
          >
            - No Beacons Information Found -
          </td>
        </tr>

        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            {{ data.beaconId|| '-' }}
          </td>
          <td>
            <small
              class="badge badge-pill border-0 text-capitalize"
              :class="data.status.toLowerCase() === 'active' ? 'badge-success' : 'badge-secondary'"
            >
              {{ data.status.toLowerCase() || '-' }}
            </small>
          </td>
          <td>
            {{ data.batteryLevel || '-' }}
          </td>
          <td>
            {{ formatDate(data.activatedDate) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import Vuency from 'vuency'
import moment from 'moment'
Vue.use(Vuency)
export default {
  name: 'BeaconTableList',
  mixins: [authMixin],
  props: ['id', 'results'],
  data: function () {
    return {
    }
  },
  computed: {
    API_UPDATE: function () {
      return `settlement-accounts/${this.bulkDelete.pubId}/update-status`
    },
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  mounted: function () {
  },
  methods: {
    EditPayment: function (obj) {
      this.$store.commit('paymentInterface/setTempEdit', obj)
    },
    formatDate: function (date) {
      if (date !== 0) {
        return moment(date).format('DD-MM-YYYY hh:mm:ss')
      } else {
        return '-'
      }
    }
  },
  tasks (t) {
    return {
      updateSettlement: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_UPDATE, payload) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.post(endpoint + resource, payload, {
            headers: self.GetHeader('UPDATE SETTLEMENT')
          }).then(response => {
            if (response.body.code === 200) {
              self.flash(`Success update settlement account`, 'success', {
                timeout: 5000
              })
              $('#deleteSettlement').modal('hide')
              this.$store.commit('paymentInterface/setCreateSubmit', true)
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed update settlement account, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop')
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width-100 {
  min-width: 100px;
}
</style>
