<template>
  <div
    v-if="getDataList.isActive"
    class="card"
  >
    <div class="card-body text-center">
      <card-progress />
    </div>
  </div>
  <div v-else>
    <div class="card">
      <div class="card-header font-weight-bold">
        Beacon Information
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-6">
            <button
              class="btn btn-outline-success bg-white text-success"
              @click="confirmBeacon"
            >
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              /> Add Beacon
            </button>
          </div>
          <div class="col-sm-6" />
        </div>
        <!--  -->
        <keep-alive>
          <payment-table-list
            :results="results"
            :currentPage="getParams[paginationName]"
            :sizePage="getParams.size"
            class="mb-3"
          />
        </keep-alive>
        <!--  -->
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else>
              <!-- - No Results - -->
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :paginationName="paginationName"
                :results="results"
                :pageSize="params.size"
                :currentPage="params[paginationName]"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
    <beacon-create @refreshList="onRefreshList" />
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixinMulti'
import CardProgress from '@/components/CardProgress'
import PaginationList from '@/components/PaginationListMulti'
import beaconTableList from '@/components/paymentInterface/beaconTableList'
import beaconCreate from '@/components/paymentInterface/BeaconCreate'
import { mapGetters } from 'vuex'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'BeaconList',
  components: {
    'card-progress': CardProgress,
    'payment-table-list': beaconTableList,
    'pagination-list': PaginationList,
    'beacon-create': beaconCreate
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      paginationName: 'paginationBeacon',
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      params: {
        size: 10,
        [this.paginationName]: 1,
        order: 'activatedDate',
        orderAttr: 'desc'
      }
    }
  },
  computed: {
    APIURL: function () {
      return `outlet/${this.$route.params.pubId}/beacons`
    },
    ...mapGetters({
      checkIfNewPayment: 'paymentInterface/getCreateSubmitted'
    }),
    getParams: function () {
      return {
        size: this.params.size,
        [this.paginationName]: this.$route.query[this.paginationName] ? this.$route.query[this.paginationName] : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr
      }
    }
  },
  watch: {
    checkIfNewPayment: function () {
      let query = {}
      let request = this.getParams
      let obj = {}
      const endpoint = this.API_endpoint
      //
      Object.assign(query, this.$route.query)
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, request)
      Object.assign(obj, query)
      if (this.checkIfNewPayment === true) {
        this.getDataList.run(obj, endpoint)
        this.$store.commit('paymentInterface/setCreateSubmit', false)
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    this.getListData()
  },
  methods: {
    onRefreshList: function () {
      this.getListData()
    },
    confirmBeacon: function () {
      $('#ConfirmBeacon').modal({
        show: true,
        backdrop: 'static'
      })
    },
    getListData: function () {
      let query = {}
      let request = this.getParams
      let obj = {}
      const endpoint = this.API_endpoint
      //
      Object.assign(query, this.$route.query)
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, request)
      Object.assign(obj, query)
      this.getDataList.run(obj, endpoint)
    },
    formatThousand: function (num) {
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
