<template>
  <modal-basic
    id="ConfirmBeacon"
    title="Create Beacon"
    size=""
    :footerVisible="true"
  >
    <p class="mb-0">
      Are you sure want to create "New Beacon"?
    </p>
    <div
      slot="footer"
      class="modal-footer"
    >
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        @click="confirm()"
      >
        Confirm
      </button>
    </div>
  </modal-basic>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import authMixin from './../../mixins/auth'
import ModalBasic from '@/components/ModalBasic'
// #
Vue.use(Vuency)
export default {
  name: 'BeaconCreate',
  components: {
    'modal-basic': ModalBasic
  },
  mixins: [authMixin],
  props: ['dataEdit'],
  data: function () {
    return {
    }
  },
  computed: {
    API_CREATE: function () {
      return `outlet/${this.$route.params.pubId}/beacons`
    }
  },
  mounted: function () {
    $('#ConfirmBeacon').modal({
      show: false,
      backdrop: 'static'
    })
  },
  beforeDestroy: function () {
    $('#ConfirmBeacon').modal('hide')
  },
  methods: {
    confirm: function () {
      this.submitCreate.run(process.env.VUE_APP_API, this.API_CREATE)
    }
  },
  tasks (t, { timeout }) {
    return {
      submitCreate: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_CREATE) {
        let self = this
        this.disabledCreate = true
        if (this.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, '', {
            headers: self.GetHeader('CREATE BEACON')
          }).then(response => {
            if (response.body.code === 200) {
              self.$emit('refreshList')
              $('#ConfirmBeacon').modal('hide')
              self.flash('New beacon has successfully created', 'success', {
                timeout: 4000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.disabledCreate = false
              self.flash('Error create beacon, ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
.btn-wrap {
  & > :not(:first-child) {
    margin-left: .25rem;
  }
  & > :not(:last-child) {
    margin-right: .25rem;
  }
}
.mx-inset {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top:1px solid #c8ced3;
}
</style>
