<template>
  <div>
    <form
      v-if="detailOutlet.outlet"
      @submit.prevent="savePayment"
    >
      <div class="form-group">
        <label for="">Terminal Type <span class="text-danger">*</span></label>
        <input
          id="terminalType"
          type="text"
          class="form-control"
          name="terminalType"
          aria-describedby="helpId"
          placeholder=""
          :value="detailOutlet.outlet.paymentInterface.name || 'empty'"
          disabled
        >
      </div>
      <div class="form-group">
        <label for="">Terminal ID <span class="text-danger">*</span></label>
        <input
          id="terminalId"
          v-model="terminal.terminalId"
          type="text"
          class="form-control"
          name="terminalId"
          aria-describedby="helpId"
          placeholder="Type Terminal ID"
          required
        >
      </div>
      <div class="form-group">
        <label for="">Software Manufacture</label>
        <multiselect
          id="softwareManufacture"
          v-model="terminal.softwareManufacture"
          label="name"
          track-by="name"
          selectLabel=""
          placeholder="Choose Software Manufacture"
          :close-on-select="true"
          :show-labels="true"
          :options="listSoftware"
          :searchable="false"
          :allow-empty="false"
          :disabled="false"
        >
          <template
            slot="singleLabel"
            slot-scope="{ option }"
          >
            <span
              v-if="option.name"
              class="text-capitalize truncate-word d-block"
            >{{ option.name }}</span>
            <span
              v-else
              class="text-placeholder"
            >Choose Software Manufacture</span>
          </template>
        </multiselect>
      </div>
      <div class="form-group">
        <label for="softwareVersion">Software Version</label>
        <input
          id="softwareVersion"
          v-model="terminal.softwareVersion"
          type="text"
          class="form-control"
          name="softwareVersion"
          aria-describedby="helpId"
          placeholder="Type Software Version"
        >
      </div>
      <div class="form-group mb-5">
        <label for="">Status <span class="text-danger">*</span></label>
        <multiselect
          id="terminalStatus"
          v-model="terminal.status"
          label="name"
          track-by="name"
          selectLabel=""
          placeholder="Select Status"
          :close-on-select="true"
          :show-labels="true"
          :options="[{name: 'ACTIVE', pubId: '1'}, {name: 'INACTIVE', pubId: '2'}]"
          :searchable="false"
          :allow-empty="false"
          :disabled="false"
        >
          <template
            slot="singleLabel"
            slot-scope="{ option }"
          >
            <span
              v-if="option.name"
              class="text-capitalize truncate-word d-block"
            >{{ option.name }}</span>
            <span
              v-else
              class="text-placeholder"
            >Select Status</span>
          </template>
        </multiselect>
        <input
          v-model="terminal.status"
          class="sr-only"
          required
        >
      </div>
      <hr class="mx-inset">
      <div class="row">
        <div class="col-12 col-md-4">
          <!--  -->
        </div>
        <div class="col-12 text-right btn-wrap">
          <button
            type="button"
            class="btn px-5 btn-secondary"
            data-dismiss="modal"
            :disabled="disabledCreate"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn px-5 btn-primary"
            :disabled="disabledCreate"
          >
            {{ disabledCreate ? 'Saving...' : 'Save' }}
          </button>
        </div>
      </div>
    </form>
    <div
      v-else
      class=""
    >
      <div
        class="alert alert-danger"
        role="alert"
      >
        <i
          class="fa fa-exclamation-circle"
          aria-hidden="true"
        /> Error Get Outlet Detail
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import Multiselect from 'vue-multiselect'
import authMixin from './../../mixins/auth'
// #
Vue.use(Vuency)
export default {
  name: 'PaymentAccountCreate',
  components: {
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  props: ['dataEdit'],
  data: function () {
    return {
      detailOutlet: {},
      disabledCreate: false,
      API_INTERFACE_CAT: 'merchant/content-categories',
      listAllCategories: [],
      listSoftware: [],
      terminal: {
        terminalId: '',
        softwareManufacture: {
          id: '',
          name: ''
        },
        status: {},
        softwareVersion: ''
      }
    }
  },
  computed: {
    API_DETAIL: function () {
      return `outlets/detail/${this.$route.params.pubId}`
    },
    API_SOFTWARE: function () {
      return this.paymentInterface ? `merchant/contents/${this.paymentInterface[0].categoryPubId}` : ''
    },
    API_UPDATE: function () {
      return `outlet/${this.$route.params.pubId}/pos/${this.dataEdit.pubId}/update`
    },
    API_CREATE: function () {
      return `outlet/${this.$route.params.pubId}/pos`
    }
  },
  watch: {
    dataEdit: function () {
      if (Object.keys(this.dataEdit).length > 0) {
        let { softwareVersion, softwareManufacture, terminalId, status } = this.dataEdit
        let obj = {
          terminalId: terminalId,
          softwareManufacture: this.mappingSoftware(softwareManufacture),
          status: this.mappingStatus(status),
          softwareVersion: softwareVersion
        }
        this.terminal = { ...this.terminal, ...obj }
      }
    }
  },
  created: function () {
    this.getData.run()
  },
  mounted: function () {
    let self = this
    $('#CreateTerminal').on('show.bs.modal', function (e) {
      self.resetState()
      self.disabledCreate = false
    })
    $('#CreateTerminal').on('hidden.bs.modal', function (e) {
      self.resetState()
      self.$store.commit('paymentInterface/setTempEdit', {})
    })
    self.getPaymentCategory.run(process.env.VUE_APP_API, this.API_INTERFACE_CAT)
  },
  methods: {
    savePayment: function () {
      if (Object.keys(this.dataEdit).length > 0) {
        this.submitEdit.run()
      } else {
        this.submitCreate.run()
      }
    },
    mappingStatus: function (obj) {
      let arr = [{ name: 'ACTIVE', pubId: '1' }, { name: 'INACTIVE', pubId: '2' }]
      let filtered = arr.filter(x => x.name.toLowerCase() === obj.toLowerCase())
      return filtered[0]
    },
    mappingSoftware: function (obj) {
      let filtered = this.listSoftware.filter(x => x.name.toLowerCase() === obj.toLowerCase())
      return filtered[0]
    },
    resetState: function () {
      this.terminal = Object.assign(this.terminal, {
        terminalId: '',
        softwareManufacture: {
          pubId: '',
          name: ''
        },
        status: {},
        softwareVersion: ''
      })
    }
  },
  tasks (t, { timeout }) {
    return {
      getData: t(function * () {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(process.env.VUE_APP_API_V2 + this.API_DETAIL, {
            headers: self.GetHeader('VIEW DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              if (response.body.content !== null) {
                let obj = response.body.content
                self.detailOutlet = obj
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/business-setup/outlets/list')
            }
            self.loading = false
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        }),
      submitCreate: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_CREATE, payload = this.terminal) {
        let self = this
        this.disabledCreate = true
        if (this.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, payload, {
            headers: self.GetHeader('CREATE TERMINAL INFORMATION')
          }).then(response => {
            if (response.body.code === 200) {
              $('#CreateTerminal').modal('hide')
              self.$store.commit('paymentInterface/setCreateSubmit', true)
              self.disabledCreate = false
              self.flash('New terminal information has successfully created', 'success', {
                timeout: 4000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.disabledCreate = false
              self.flash('Error create terminal, ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue'),
      submitEdit: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_UPDATE, payload = this.terminal) {
        let self = this
        this.disabledCreate = true
        if (this.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, payload, {
            headers: self.GetHeader('EDIT TERMINAL INFORMATION')
          }).then(response => {
            if (response.body.code === 200) {
              $('#CreateTerminal').modal('hide')
              self.$store.commit('paymentInterface/setCreateSubmit', true)
              self.disabledCreate = false
              // ###
              self.flash('Terminal information has successfully updated', 'success', {
                timeout: 4000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.disabledCreate = false
              self.flash('Error update terminal, ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue'),
      getPaymentCategory: t(function * (endpoint = this.API_version, resource = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET LIST CATEGORY')
            // params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              self.listAllCategories = response.body.content
              // ###
              let paymentInterface = response.body.content.filter(obj => obj.categoryValue.toLowerCase() === 'software manufacture')
              self.paymentInterface = paymentInterface
              self.getCategoryDetail.run(process.env.VUE_APP_API, self.API_SOFTWARE, 'listSoftware')
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get content categories, ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop'),
      getCategoryDetail: t(function * (endpoint = this.API_version, resource = '', state) {
        let self = this
        if (this.GetAuth() && resource) {
          yield self.$http.get(endpoint + resource, {
            headers: self.GetHeader('GET CATEGORY DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              if (response.body.content) {
                let mapping = response.body.content.map(obj => {
                  return {
                    name: obj.contentValue || '-',
                    pubId: obj.contentPubId
                  }
                })
                self[state] = mapping
              } else {
                self[state] = []
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get content category detail, ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        } else {
          self[state] = []
        }
      })
        .flow('enqueue')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
.btn-wrap {
  & > :not(:first-child) {
    margin-left: .25rem;
  }
  & > :not(:last-child) {
    margin-right: .25rem;
  }
}
.mx-inset {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top:1px solid #c8ced3;
}
</style>
