<template>
  <div class="CMSOutlet">
    <OutletFormCreateEdit
      :listOfCategories="listOfCategories"
      @submitting="onSubmit"
    />
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import CMSOutletMixin from '@/mixins/cms/outlet/CMSOutletMixin'
import OutletFormCreateEdit from '@/components/cms/outlet/OutletFormCreateEdit'
// ###
export default {
  name: 'CMSOutlet',
  components: {
    OutletFormCreateEdit
  },
  mixins: [CMSOutletMixin],
  data: function () {
    return {
      API_CATEGORIES: 'merchant/content-categories',
      API_CREATE: 'merchant/contents/create',
      listOfCategories: []
    }
  },
  created () {
    this.getOutletCategory.run(process.env.VUE_APP_API, this.API_CATEGORIES)
  },
  methods: {
    onSubmit: function (payload) {
      this.createOutletContent.run(process.env.VUE_APP_API, this.API_CREATE, payload)
    }
  }
}
</script>

<style lang="scss" type="scoped">
.CMSOutlet {
  min-height: 650px;
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
