<template>
  <div
    v-if="getData.isActive"
    class="card"
  >
    <div class="card-body text-center">
      <card-progress />
    </div>
  </div>
  <div
    v-else
    class="mb-5"
  >
    <rating-form-edit
      :detailRating="detailRating"
      @dataSubmitted="onDataSubmitted"
    />
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import CardProgress from '@/components/CardProgress'
import RatingFormEdit from '@/components/RatingReview/RatingFormEdit'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'OutletDetail',
  components: {
    'card-progress': CardProgress,
    'rating-form-edit': RatingFormEdit
  },
  mixins: [authMixin],
  data: function () {
    return {
      detailRating: {}
    }
  },
  computed: {
    API_DETAIL: function () {
      return `rating-reviews/detail?invoicePubId=${this.$route.params.pubId}`
    },
    API_UPDATE: function () {
      return `rating-reviews/update`
    }
  },
  created: function () {
    this.getData.run()
  },
  methods: {
    onDataSubmitted: function (obj = {}) {
      this.submitUpdate.run(obj)
    }
  },
  tasks (t) {
    return {
      getData: t(function * () {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(process.env.VUE_APP_API + this.API_DETAIL, {
            headers: self.GetHeader('VIEW RATING DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              if (response.body.content !== null) {
                let obj = response.body.content
                self.detailRating = obj || {}
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/ratingreview/list')
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        }),
      submitUpdate: t(function * (payload) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.post(process.env.VUE_APP_API + this.API_UPDATE, payload, {
            headers: self.GetHeader('UPDATE RATING REVIEW')
          }).then(response => {
            if (response.body.code === 200) {
              self.flash(`Success update rating & review`, 'success', {
                timeout: 5000
              })
              self.$router.push('/ratingreview/list')
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(response.body.message || `Failed update rating & review`, 'error', {
                timeout: 5000
              })
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.hour-min-width {
  min-width: 120px;
}
</style>
