<template>
  <div
    v-if="getInfo.isActive || getSum.isActive || getTrx.isActive"
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <div class="card">
      <div class="card-header font-weight-bold">
        Settlement Information
      </div>
      <div class="card-body text-center">
        <card-progress />
      </div>
    </div>
  </div>
  <div
    v-else
    class="continer-fluid mb-5 pb-5 position-relative"
  >
    <h4 class="mb-4">
      Batch ID : {{ $route.params.pubId }}
    </h4>
    <div v-if="settlementSummary && settlementInformation && transactionSummary">
      <withdrawal-info
        :data="settlementInformation"
      />
      <!-- ### -->
      <empty-state
        v-if="['validate_data', 'failed', 'canceled'].includes(statusSettlement)"
        :status="statusSettlement"
      />
      <!-- ### -->
      <div v-else>
        <withdrawal-paid
          v-if="settlementInformation.withdrawalStatus.toLowerCase() === 'pending' && profile.role === 'DMG_FINANCE'"
          @setPaidDate="onPaidDate"
        />
        <settlement-summary
          :summary="settlementSummary"
          :transactions="transactionSummary"
        />
        <transaction-list
          v-if="['awaiting_approval', 'rejected', 'settled'].includes(settlementInformation.status.toLowerCase())"
        />
      </div>
    </div>
    <div v-else>
      <div class="card">
        <div class="card-header font-weight-bold">
          Settlement Information
        </div>
        <div class="card-body text-center">
          - No Data Information -
        </div>
      </div>
    </div>
    <div
      v-if="settlementInformation.withdrawalStatus.toLowerCase() === 'pending' && profile.role === 'DMG_FINANCE'"
      class="container-fluid text-center text-lg-right fixed-bar py-2 shadow-lg"
    >
      <router-link
        :to="`/withdrawal/deals`"
        class="btn btn-outline-primary px-4 my-2 mr-lg-2"
      >
        Cancel
      </router-link>
      <button
        class="btn btn-primary px-4 my-2"
        :disabled="paidDate === 0"
        @click="submit"
      >
        Paid
      </button>
    </div>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import SettlementSummary from '@/components/settlements/SettlementSummaryDeals'
import WithdrawalInfo from '@/components/withdrawals/WithdrawalInfoDeals.vue'
import SettlementSubmit from '@/mixins/settlements/SettlementSubmitDeals'
import TransactionList from '@/components/settlements/TransactionListDeals'
import EmptyState from '@/components/settlements/EmptyState'
import CardProgress from '@/components/CardProgress'
import WithdrawalPaidDate from '@/components/withdrawals/WithdrawalPaidDate'
export default {
  name: 'WithdrawalDealDetail',
  components: {
    'settlement-summary': SettlementSummary,
    'withdrawal-info': WithdrawalInfo,
    'card-progress': CardProgress,
    'empty-state': EmptyState,
    'transaction-list': TransactionList,
    'withdrawal-paid': WithdrawalPaidDate
  },
  mixins: [SettlementSubmit],
  data: function () {
    return {
      settlementSummary: null,
      settlementInformation: null,
      transactionSummary: null,
      paidDate: 0
    }
  },
  computed: {
    profile: function () {
      return this.$store.getters['profile/getAuth']
    },
    payload: function () {
      return {
        paidDate: this.paidDate
      }
    },
    API_PAID: function () {
      return `withdrawal-batch/${this.$route.params.pubId || null}/paid`
    },
    API_INFO: function () {
      return `settlement-batch/${this.$route.params.pubId || null}`
    },
    API_TRX: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/transaction-summary?invoiceType=CASHBAC_DEALS`
    },
    API_SUM: function () {
      return `settlement-batch/${this.$route.params.pubId || null}/summary?invoiceType=CASHBAC_DEALS`
    },
    statusSettlement: function () {
      return this.settlementInformation ? this.settlementInformation.status.toLowerCase() : ''
    }
  },
  created: function () {
    if (this.profile.role !== 'DMG_FINANCE') {
      this.$router.push('/withdrawal/deals')
    } else {
      this.getInfo.run(process.env.VUE_APP_API, this.API_INFO)
      this.getSum.run(process.env.VUE_APP_API, this.API_SUM)
      this.getTrx.run(process.env.VUE_APP_API, this.API_TRX)
    }
  },
  methods: {
    onPaidDate: function (epoch) {
      this.paidDate = epoch
    },
    submit: function () {
      if (this.paidDate === 0) {
        this.flash(`Paid date still empty, Please set to continue`, 'error', {
          timeout: 7000
        })
      } else {
        this.submitPaid.run(process.env.VUE_APP_API, this.API_PAID, this.payload)
      }
    }
  }
}
</script>
<style lang="scss" type="scoped">
.fixed-bar {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
</style>
