<template>
  <div class="base-tag">
    <navigation-user />
    <div class="app-body">
      <side-menu />
      <main class="main">
        <bread-crumb />
        <div class="container-fluid">
          <router-view />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import NavigationUser from '@/components/NavigationUser'
import SideMenu from '@/components/SideMenu'
import BreadCrumb from '@/components/BreadCrumbs'

export default {
  name: 'WithdrawalBase',
  components: {
    'navigation-user': NavigationUser,
    'side-menu': SideMenu,
    'bread-crumb': BreadCrumb
  },
  data: function () {
    return {
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
