<template>
  <div class="base-tag">
    <navigation-user />
    <div class="app-body">
      <side-menu />
      <main class="main">
        <bread-crumb />
        <div class="container-fluid">
          <router-view />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import NavigationUser from '../../components/NavigationUser'
import SideMenu from '../../components/SideMenu'
import BreadCrumb from '../../components/BreadCrumbs'
import * as dummy from '../../utils/dummy'

export default {
  name: 'TransactionBase',
  components: {
    'navigation-user': NavigationUser,
    'side-menu': SideMenu,
    'bread-crumb': BreadCrumb
  },
  props: ['id'],
  data: function () {
    return {
      results: dummy.dealList
    }
  },
  mounted: function () {
  },
  methods: {
  }
}
</script>

<style lang="scss" type="scoped">

</style>
