<template>
  <div class="mb-5">
    <div
      v-if="loading"
      class="text-center"
    >
      Loading
    </div>

    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Customer Info
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Name</label>
              <span class="d-block">
                <print :value="detailInfo.customer.fullName" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Email</label>
              <span class="d-block">
                <print :value="detailInfo.customer.email" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Phone Number</label>
              <span class="d-block">
                <print :value="detailInfo.customer.mdn" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >CIF</label>
              <span class="d-block">
                <print :value="detailInfo.customer.pubId" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Outlet Details
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Merchant Name</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.tradeName" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Outlet Name</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.outletName" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Outlet ID</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.outletPubId" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Terminal ID</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.label" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >POS ID</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.posPubId" />
              </span>
            </div>
          </div>
        </div>
        <div
          v-if="detailInfo.transaction.invoiceType === 'CASHBAC_PAY'"
          class="row"
        >
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Payment Instrument</label>
              <span class="d-block">
                <print :value="detailInfo.outlet.instrument" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Transaction Payment</label>
              <span class="d-block">
                {{ detailInfo.outlet.isOnline ? 'ONLINE' : 'OFFLINE' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Device Details
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Device Type</label>
              <span class="d-block">
                <print :value="detailInfo.device.deviceType" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >OS Type</label>
              <span class="d-block">
                <print :value="detailInfo.device.osType" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >OS Ver</label>
              <span class="d-block">
                <print :value="detailInfo.device.osVersion" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >App Ver</label>
              <span class="d-block">
                <print :value="detailInfo.device.appVersion" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Device ID</label>
              <span class="d-block">
                <print :value="detailInfo.device.ipNumber" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Deals Info
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Deals Name</label>
              <span class="d-block">
                <span v-if="detailInfo.dealsInfo.dealsName === ''">
                  -
                </span>
                <router-link
                  v-else
                  :to="{name: 'deals_view', params: {id: detailInfo.dealsInfo.dealsBatchId, text: detailInfo.dealsInfo.dealsName}}"
                >
                  {{ detailInfo.dealsInfo.dealsName }}
                </router-link>
              </span>
            </div>
          </div>
        </div>
        <div class="wrap-table pb-4 pt-3">
          <table class="table table-responsive-sm table-striped">
            <thead class="align-middle">
              <tr>
                <th class="min-width align-middle">
                  Deals Voucher Status
                </th>
                <th class="min-width align-middle">
                  Redemption Date
                </th>
                <th class="min-width align-middle">
                  Deals Owner
                </th>
              </tr>
            </thead>
            <tbody v-if="detailInfo.dealsInfo.dealsList != null">
              <tr
                v-for="(info, index) in detailInfo.dealsInfo.dealsList"
                :key="index"
              >
                <td>
                  <status-badge
                    class="min-width-80"
                    :value="info.voucherStatus ? info.voucherStatus.toLowerCase() : '-'"
                    type="pill"
                  />
                </td>
                <td>
                  {{ info.redemptionDate === '' ? '-' : info.redemptionDate }}
                </td>
                <td>
                  {{ info.dealsOwner }}
                </td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td
                  colspan="3"
                  class="text-center"
                >
                  - Data Not Found -
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Transaction Info
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Invoice Type</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.transaction.invoiceType.toUpperCase() === "CASHBAC_PAY"? "regular" : "deals" }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Invoice Status</label>
              <span class="d-block">
                <status-badge
                  class="min-width-80"
                  :value="detailInfo.transaction.status ? detailInfo.transaction.status.toLowerCase() : '-'"
                  type="pill"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Transaction Status</label>
              <span class="d-block">
                <status-badge
                  class="min-width-80"
                  :value="detailInfo.transaction.transactionStatus ? detailInfo.transaction.transactionStatus.toLowerCase() : '-'"
                  type="pill"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Transaction Time</label>
              <span class="d-block">
                <date-format
                  :value="detailInfo.transaction.createTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Invoice ID</label>
              <span class="d-block">
                <print :value="detailInfo.transaction.pubId" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Reference ID</label>
              <span class="d-block">
                <print :value="detailInfo.transaction.refId" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Transaction Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Outstanding Status</label>
              <span class="d-block">
                <status-badge
                  class="min-width-80"
                  :value="detailInfo.transaction.outstandingStatus ? detailInfo.transaction.outstandingStatus.toLowerCase() : '-'"
                  type="pill"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Refund Status</label>
              <span class="d-block">
                <status-badge
                  class="min-width-80"
                  :value="detailInfo.transaction.refundStatus ? detailInfo.transaction.refundStatus.toLowerCase() : '-'"
                  type="pill"
                />
              </span>
            </div>
          </div>
        </div>
        <div class="wrap-table pb-4 pt-3">
          <table class="table table-responsive-sm table-striped">
            <thead class="align-middle">
              <tr>
                <th class="min-width align-middle">
                  Transaction Date
                </th>
                <th class="min-width align-middle">
                  Transaction Action
                </th>
                <th class="min-width align-middle">
                  Type
                </th>
                <th class="min-width align-middle">
                  Payment Method
                </th>
                <th class="min-width align-middle">
                  Paid Amount
                </th>
                <th class="min-width align-middle">
                  Authorization ID
                </th>
                <th class="min-width align-middle">
                  Ledger
                </th>
                <th class="min-width align-middle">
                  To/From
                </th>
                <th class="min-width align-middle">
                  Offline Ack
                </th>
                <th class="min-width align-middle">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(list, index) in detailInfo.transactionDetail"
                :key="index"
              >
                <td>
                  <date-format
                    :value="list.createTs"
                    format="YYYY-MM-DD HH:mm:ss"
                  />
                </td>
                <td>
                  {{ list.transactionDetailsType }}
                </td>
                <td>
                  {{ list.transactionType }}
                </td>
                <td>
                  {{ list.paymentMethodDesc }}
                </td>
                <td>
                  <currency-format
                    :value="list.nominalAmount"
                    :kurs="'IDR'"
                  />
                </td>
                <td>
                  {{ list.authId ? list.authId : 'None' }}
                </td>
                <td>
                  {{ list.ledgerType === 'Db.'? 'Debit' : 'Credit' }}
                </td>
                <td>
                  {{ list.fullName }}
                </td>
                <td>
                  {{ list.offlineAckStatus }}
                </td>
                <td>
                  {{ list.status }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Affiliate Fee
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Customer Category</label>
              <span class="d-block">
                <print :value="detailInfo.transaction.trxCategory" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Fee (%)</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID' || detailInfo.transaction.status === 'REFUND'"
                class="d-block"
              >
                <span v-if="detailInfo.transaction.invoiceType === 'CASHBAC_PAY'">
                  <print :value="parseInt(detailInfo.transaction.affiliateFee)" />
                </span>
                <span v-else>
                  <print :value="parseInt(detailInfo.transaction.fee)" />
                </span>
              </span>
              <span
                v-else
                class="d-block"
              >
                -
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Fee (Amount)</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID' || detailInfo.transaction.status === 'REFUND'"
                class="d-block"
              >
                <span v-if="detailInfo.transaction.invoiceType === 'CASHBAC_PAY'">
                  <currency-format
                    :value="parseInt(detailInfo.transaction.affiliateFeeAmount)"
                    :kurs="'IDR'"
                  />
                </span>
                <span v-else>
                  <currency-format
                    :value="parseInt(detailInfo.transaction.feeAmount)"
                    :kurs="'IDR'"
                  />
                </span>
              </span>
              <span
                v-else
                class="d-block"
              >-</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Invoice Amount</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID' || detailInfo.transaction.status === 'REFUND'"
                class="d-block"
              >
                <currency-format
                  :value="detailInfo.transaction.total"
                  :kurs="'IDR'"
                />
              </span>
              <span
                v-else
                class="d-block"
              >-</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Settled Amount</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID' || detailInfo.transaction.status === 'REFUND'"
                class="d-block"
              >
                <currency-format
                  :value="detailInfo.transaction.netSettlement"
                  :kurs="'IDR'"
                />
              </span>
              <span
                v-else
                class="d-block"
              >-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      v-if="Object.keys(detailInfo).length > 0"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Cashback Detail
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Earn (%)</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID'"
                class="d-block"
              >
                <print :value="detailInfo.transaction.cashback" />
              </span>
              <span
                v-else
                class="d-block"
              >-</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Earn (Amount)</label>
              <span
                v-if="detailInfo.transaction.status === 'PAID'"
                class="d-block"
              >
                <currency-format
                  :value="detailInfo.transaction.cashbackAmount"
                  :kurs="'IDR'"
                />
              </span>
              <span
                v-else
                class="d-block"
              >-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from './../../mixins/auth'
import PrintValue from './../../components/PrintValue'
import DateFormat from './../../components/DateFormat'
import CardProgress from './../../components/CardProgress'
import CurrencyFormat from './../../components/CurrencyFormat'
import StatusBadge from '@/components/StatusBadge'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'TransactionsDetail',
  components: {
    'print': PrintValue,
    'date-format': DateFormat,
    'currency-format': CurrencyFormat,
    'card-progress': CardProgress,
    'status-badge': StatusBadge
  },
  mixins: [authMixin],
  props: ['id'],
  data: function () {
    return {
      detailInfo: {},
      loading: true
    }
  },
  created: function () {
    this.getData.run()
  },
  tasks (t) {
    return {
      getData: t(function * (endpoint = process.env.VUE_APP_API, resource = 'transactions/detail?invoicePubId=' + this.$route.params.pubId) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(`${endpoint}${resource}`, {
            headers: self.GetHeader('VIEW DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              let obj = response.body.content
              if (obj !== null) {
                self.detailInfo = obj
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get detail : ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width {
  min-width: 180px;
}
.min-width-80 {
  min-width: 80px;
}
</style>
