<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Filter
      </div>
      <div class="card-body">
        <transaction-filter-search @filterSubmit="onFilterSubmit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Transaction List
      </div>
      <div
        v-if="getDataList.isActive"
        class="card-body text-center"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <keep-alive>
          <transaction-table-list
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
          />
        </keep-alive>
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span>
            </div>
            <div v-else>
              <!-- - No Results - -->
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import authMixin from './../../mixins/auth'
import TableListMixin from './../../mixins/TableListMixin'
import TransactionTableList from './../../components/transactions/TransactionTableList'
import TransactionFilter from './../../components/transactions/TransactionFilterSearch'
import PaginationList from './../../components/PaginationList'
import CardProgress from './../../components/CardProgress'

export default {
  name: 'DealList',
  components: {
    'transaction-table-list': TransactionTableList,
    'transaction-filter-search': TransactionFilter,
    'pagination-list': PaginationList,
    'card-progress': CardProgress
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      APIURL: 'transactions/list/all',
      params: {
        size: 10,
        pagination: 1,
        order: 1,
        orderAttr: 'desc'
      }
    }
  },
  computed: {
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    let obj = {}
    const endpoint = this.API_endpoint
    //
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  },
  methods: {
    refreshQuery: function () {
      this.$router.push({
        query: {
          pagination: 1
        }
      })
    },
    formatThousand: function (num) {
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
    }
  }
}
</script>

<style lang="scss" type="scoped">

</style>
