<template>
  <div class="wrap empty-state">
    <article class="text-center">
      <img
        class="img-icon mb-3"
        :src="`${publicPath}img/empty-photos.png`"
        width="260"
        alt=""
      >
      <h4 class="font-weight-bold">
        No photos have been uploaded yet
      </h4>
      <p class="mb-0">
        Uploaded photos will appear here. Upload photo first.
      </p>
    </article>
  </div>
</template>

<script>
export default {
  name: 'EmptyPhotos',
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style lang="scss" type="scoped">
.wrap.empty-state {
  padding: 100px 15px;
  background-color: #F8FBFE;
    .img-icon {
      max-width: 100%;
    }
}
</style>
