<template>
  <div
    v-if="onArrange"
    class="wrap-component"
  >
    <draggable
      v-model="bulkSort"
      tag="div"
      @end="afterSort()"
    >
      <transition-group class="row">
        <div
          v-for="element in bulkSort"
          :key="element.id"
          class="col-6 col-md-4 col-lg-3 mb-3"
        >
          <div
            class="preview-image arrange-mode w-100 rounded cursor"
            :style="`background-image: url(${element.mediaUrl || publicPath+'img/no-Image-landscape.svg'})`"
          />
        </div>
      </transition-group>
    </draggable>
  </div>
  <!-- ### -->
  <div
    v-else
    class="wrap-component"
  >
    <div
      v-if="listPhoto && !onArrange"
      class="row"
    >
      <div
        v-for="(photo, index) in listPhoto"
        :key="index"
        class="col-6 col-md-4 col-lg-3 mb-3"
      >
        <div
          class="preview-image w-100 rounded cursor"
          :style="`background-image: url(${photo.mediaUrl || publicPath+'img/no-Image-landscape.svg'})`"
          @click.prevent="showModal(index)"
        >
          <div class="wrap-select">
            <input
              type="checkbox"
              name="select-photo"
              @click.stop="selectThis(photo)"
            >
          </div>
          <img
            v-if="photo.isBannerPrimary"
            class="main-banner"
            src="../../../public/img/is_primary.png"
            height="26"
            alt=""
          >
        </div>
        <!-- <img :src="photo.mediaUrl ? photo.mediaUrl : `${publicPath}img/no-Image-landscape.svg`" class="w-100" alt=""> -->
      </div>
    </div>

    <modal-basic
      :id="`Modal${category}`"
      size="modal-lg"
      class="modal-preview"
      :footerVisible="false"
    >
      <div slot="header" />
      <div slot="default">
        <div
          :id="`Carousel${category}`"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              v-for="(photo, index) in listPhoto"
              :key="index"
              class="carousel-item"
            >
              <div class="modal-header">
                <div
                  class="fa fa-arrow-left cursor cursor-pointer p-2 close-btn"
                  data-dismiss="modal"
                  aria-label="Close"
                />
                <i
                  v-if="photo.isBannerPrimary"
                  class="fa fa-star cursor-pointer bookmark-btn active"
                />
                <i
                  v-else
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="fa fa-star-o cursor-pointer bookmark-btn"
                  @click="setPrimary"
                />
              </div>
              <img
                :src="photo.mediaUrl || (publicPath+'img/no-Image-landscape.svg')"
                :idPhoto="photo.id"
                class="d-block"
                alt=""
              >
            </div>
          </div>
          <a
            class="carousel-control-prev"
            :href="`#Carousel${category}`"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            />
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            :href="`#Carousel${category}`"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            />
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </modal-basic>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import draggable from 'vuedraggable'
import ModalBasic from '@/components/ModalBasic'
export default {
  name: 'PhotosList',
  components: {
    draggable,
    'modal-basic': ModalBasic
  },
  props: {
    onArrange: {
      default: false,
      type: Boolean
    },
    listPhoto: {
      default: x => { return [] },
      type: Array
    },
    category: {
      default: x => {
        return `previewPhoto${Math.floor(Math.random() * 999) + 100}`
      },
      type: String
    }
  },
  data: () => {
    return {
      indexActive: 0,
      publicPath: process.env.BASE_URL,
      bulkSelect: [],
      bulkSort: []
    }
  },
  computed: {
    ...mapGetters({
      selectedPhotos: 'outlet/getPhotoSelected'
    })
  },
  watch: {
    onArrange: function () {
      let newArr = []
      this.listPhoto.forEach(element => { newArr.push(element) })
      if (this.onArrange) {
        this.bulkSort = newArr
      }
    }
  },
  mounted: function () {
    $(`#Modal${this.category}`).modal({
      show: false,
      backdrop: 'static'
    })
    $('.carousel').carousel({
      pause: 'hover',
      touch: true
    })
    $(`#Modal${this.category}`).on('show.bs.modal', function (e) {
      $('body').addClass('backdropDarker')
    })
    $(`#Modal${this.category}`).on('hide.bs.modal', function (e) {
      $('body').removeClass('backdropDarker')
      $(this).find('.carousel-item').removeClass('active')
    })
  },
  methods: {
    setPrimary: function (obj) {
      let idPhoto = $(`#Carousel${this.category} .carousel-item.active`).find('img').attr('idPhoto')
      this.$emit('setPrimary', parseInt(idPhoto))
    },
    selectThis: function (obj) {
      let selected = this.$store.getters['outlet/getPhotoSelected']
      let contained = selected.filter(el => el.id === obj.id)
      if (contained.length === 0) {
        this.$store.commit('outlet/setPhotoSelected', obj)
      } else {
        this.$store.commit('outlet/removePhoto', obj)
      }
    },
    afterSort: function () {
      this.$store.commit('outlet/setPhotoUpdated', this.bulkSort)
    },
    showModal: function (index) {
      $(`#Modal${this.category} .carousel-item:nth-child(${++index})`).addClass('active')
      if (this.selectedPhotos.length === 0) {
        this.indexActive = index
        $(`#Modal${this.category}`).modal({
          show: true,
          backdrop: 'static'
        })
      }
    }
  }
}
</script>

<style lang="scss" type="scoped">
.preview-image {
  height: 200px;
  background: no-repeat center center #ccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
    .wrap-select {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      position: relative;
        input {
          margin: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          display: inline-block;
          left: 5px;
          top: 0px;
          text-align: center;
          cursor: pointer;
          opacity: 0
        }
        input:checked {
          opacity: 1;
        }
    }
    &:hover, &:focus {
      input {
        opacity: 1
      }
    }
    &.arrange-mode {
      -webkit-box-shadow: 0 0 0px 3px #fff, 3px 6px 7px 0 rgba(0,0,0,0.2);
      box-shadow: 0 0 0px 3px #fff, 3px 6px 7px 0 rgba(0,0,0,0.2);
    }
    .main-banner {
      position: absolute;
      bottom: 20px;
      left: 0;
    }
    // span.main-banner {
    //   background-color: #fff;
    //   padding: 5px;
    //   font-size: 11px;
    //   line-height: 11px;
    //   position: absolute;
    //   bottom: 20px;
    //   left: 0;
    //    -webkit-box-shadow: 0 0 0px 3px #fff, 3px 6px 7px 0 rgba(0,0,0,0.2);
    //   box-shadow: 0 0 0px 3px #fff, 3px 6px 7px 0 rgba(0,0,0,0.2);
    // }
}
.backdropDarker {
  .modal-backdrop.show {
    opacity: 0.95;
  }
}
.modal-backdrop{
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.modal-preview {
  .modal-dialog {
    .modal-content {
      border:none;
      box-shadow: none;
      color:#fff;
      background-color: transparent;
      .carousel-item {
        text-align: center;
      }
      img {
        width: auto;
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
      }
      .modal-header {
        z-index: 2;
        position: relative;
        border:none;
        .bookmark-btn {
          background-color: transparent;
          height: 42px;
          width: 42px;
          border-radius: 20px;
          font-size: 1.3125rem;
          line-height: 42px;
          padding: 0;
            &:hover, &:focus, &.active {
              background-color: #343542;
            }
        }
        .close-btn {
          font-size: 24px;
          margin-left: -1rem;
        }
      }
      .modal-footer {
        border:none;
      }
    }
  }
}
</style>
