<template>
  <aside class="aside-menu">
    <ul
      class="nav nav-tabs"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#timeline"
          role="tab"
        >
          <i class="icon-list" />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#messages"
          role="tab"
        >
          <i class="icon-speech" />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#settings"
          role="tab"
        >
          <i class="icon-settings" />
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div
        id="timeline"
        class="tab-pane active"
        role="tabpanel"
      >
        <div class="list-group list-group-accent">
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Today
          </div>
          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div class="avatar float-right">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
            </div>
            <div>
              Meeting with
              <strong>Lucas</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar" />1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin" />Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-info">
            <div class="avatar float-right">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/4.jpg`"
                alt="admin@bootstrapmaster.com"
              >
            </div>
            <div>
              Skype with
              <strong>Megan</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar" />4 - 5pm</small>
            <small class="text-muted">
              <i class="icon-social-skype" />On-line</small>
          </div>
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Tomorrow
          </div>
          <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
            <div>
              New UI Project -
              <strong>deadline</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar" />10 - 11pm</small>
            <small class="text-muted">
              <i class="icon-home" />creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/2.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/3.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/4.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/5.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/6.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
            </div>
          </div>
          <div class="list-group-item list-group-item-accent-success list-group-item-divider">
            <div>
              <strong>#10 Startups.Garden</strong> Meetup
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar" />1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin" />Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
            <div>
              <strong>Team meeting</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar" />4 - 6pm</small>
            <small class="text-muted">
              <i class="icon-home" />creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/2.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/3.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/4.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/5.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/6.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/7.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
              <div class="avatar avatar-xs">
                <img
                  class="img-avatar"
                  :src="`${publicPath}img/avatars/8.jpg`"
                  alt="admin@bootstrapmaster.com"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="messages"
        class="tab-pane p-3"
        role="tabpanel"
      >
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
              <span class="avatar-status badge-success" />
            </div>
          </div>
          <div>
            <small class="text-muted">Lukasz Holeczek</small>
            <small class="text-muted float-right mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate font-weight-bold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
              <span class="avatar-status badge-success" />
            </div>
          </div>
          <div>
            <small class="text-muted">Lukasz Holeczek</small>
            <small class="text-muted float-right mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate font-weight-bold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
              <span class="avatar-status badge-success" />
            </div>
          </div>
          <div>
            <small class="text-muted">Lukasz Holeczek</small>
            <small class="text-muted float-right mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate font-weight-bold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
              <span class="avatar-status badge-success" />
            </div>
          </div>
          <div>
            <small class="text-muted">Lukasz Holeczek</small>
            <small class="text-muted float-right mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate font-weight-bold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img
                class="img-avatar"
                :src="`${publicPath}img/avatars/7.jpg`"
                alt="admin@bootstrapmaster.com"
              >
              <span class="avatar-status badge-success" />
            </div>
          </div>
          <div>
            <small class="text-muted">Lukasz Holeczek</small>
            <small class="text-muted float-right mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate font-weight-bold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
        </div>
      </div>
      <div
        id="settings"
        class="tab-pane p-3"
        role="tabpanel"
      >
        <h6>Settings</h6>
        <div class="aside-options">
          <div class="clearfix mt-4">
            <small>
              <b>Option 1</b>
            </small>
            <label class="switch switch-label switch-pill switch-success switch-sm float-right">
              <input
                class="switch-input"
                type="checkbox"
                checked=""
              >
              <span
                class="switch-slider"
                data-checked="On"
                data-unchecked="Off"
              />
            </label>
          </div>
          <div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
          </div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-3">
            <small>
              <b>Option 2</b>
            </small>
            <label class="switch switch-label switch-pill switch-success switch-sm float-right">
              <input
                class="switch-input"
                type="checkbox"
              >
              <span
                class="switch-slider"
                data-checked="On"
                data-unchecked="Off"
              />
            </label>
          </div>
          <div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
          </div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-3">
            <small>
              <b>Option 3</b> disabled
            </small>
            <label class="switch switch-label switch-pill switch-success switch-sm float-right">
              <input
                class="switch-input"
                type="checkbox"
                disabled
              >
              <span
                class="switch-slider"
                data-checked="On"
                data-unchecked="Off"
              />
            </label>
          </div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-3">
            <small>
              <b>Option 4</b>
            </small>
            <label class="switch switch-label switch-pill switch-success switch-sm float-right">
              <input
                class="switch-input"
                type="checkbox"
                checked=""
              >
              <span
                class="switch-slider"
                data-checked="On"
                data-unchecked="Off"
              />
            </label>
          </div>
        </div>
        <hr>
        <h6>System Utilization</h6>
        <div class="text-uppercase mb-1 mt-4">
          <small>
            <b>CPU Usage</b>
          </small>
        </div>
        <div class="progress progress-xs">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          />
        </div>
        <small class="text-muted">348 Processes. 1/4 Cores.</small>
        <div class="text-uppercase mb-1 mt-2">
          <small>
            <b>Memory Usage</b>
          </small>
        </div>
        <div class="progress progress-xs">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 70%"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
          />
        </div>
        <small class="text-muted">11444GB/16384MB</small>
        <div class="text-uppercase mb-1 mt-2">
          <small>
            <b>SSD 1 Usage</b>
          </small>
        </div>
        <div class="progress progress-xs">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 95%"
            aria-valuenow="95"
            aria-valuemin="0"
            aria-valuemax="100"
          />
        </div>
        <small class="text-muted">243GB/256GB</small>
        <div class="text-uppercase mb-1 mt-2">
          <small>
            <b>SSD 2 Usage</b>
          </small>
        </div>
        <div class="progress progress-xs">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: 10%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          />
        </div>
        <small class="text-muted">25GB/256GB</small>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'AsideMenu',
  data: function () {
    return {
      urlBusiness: 'https://business.cashbac.com/',
      home: '/deals',
      menu: [
        {
          name: 'Deals',
          path: '/deals',
          fa: 'handshake'
        }
      ],
      publicPath: process.env.BASE_URL,
      menus: [
        {
          name: 'Transaction',
          path: 'transactions/list',
          fa: 'tachometer-alt'
        },
        {
          name: 'Business Setup',
          path: 'nest_menu/business_setup',
          fa: 'cube'
        },
        {
          name: 'Promo Banner',
          path: 'campaigns/list',
          fa: 'percent'
        },
        {
          name: 'Settlement List',
          path: 'settlements/list',
          fa: 'bullhorn'
        },
        {
          name: 'Withdrawal',
          path: 'withdrawals/list_pending',
          fa: 'chart-line'
        },
        {
          name: 'Customer',
          path: 'users/view_list',
          fa: 'users'
        },
        {
          name: 'Dashboard User',
          path: 'users/internal/list',
          fa: 'user-secret'
        },
        {
          name: 'Hilight Promotion',
          path: 'promotions/highlights',
          fa: 'image'
        },
        {
          name: 'Deals',
          path: '/deals',
          fa: 'handshake'
        },
        {
          name: 'Card Search',
          path: 'card_search/list',
          fa: 'credit-card'
        },
        {
          name: 'Report',
          path: 'reports/list_report',
          fa: 'folder'
        },
        {
          name: 'Upload Card Bin',
          path: 'upload_card_bin/view_upload_card_bin',
          fa: 'archive'
        }
      ]
    }
  },
  created: function () {
  },
  methods: {
  }
}
</script>

<style lang="scss" type="scoped">
</style>
