<template>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="/">
          <i class="icon-home icons" />
        </router-link>
      </li>
      <li
        v-for="item in crumbs"
        :key="item.idx"
        class="breadcrumb-item"
      >
        <span v-if="item.path != ''">
          <a
            v-if="item.path != '-'"
            :href="item.path"
          >
            {{ item.text }}
          </a>
          <span v-else>
            {{ item.text }}
          </span>
        </span>
        <span v-else>
          <span v-if="item.text != ''">
            {{ item.text }}
          </span>
          <span
            v-else
            class="before-list"
          >
            {{ item.params }}
          </span>
        </span>
      </li>
    </ol>
  </div>
</template>
<script>
export default {
  name: 'BreadCrumbs',
  computed: {
    crumbs: function () {
      let pathArray = this.$route.path.split('/')
      let length = pathArray.length
      let idn = 0
      idn = length >= 4 ? (length - 2) : (length - 1)
      pathArray.shift()
      let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
        breadcrumbArray.push({
          path: this.setPath(idn, idx),
          text: this.setText(idn, idx),
          params: this.setParams(idn, idx)
        })
        return breadcrumbArray
      }, [])
      return breadcrumbs
    }
  },
  methods: {
    setBread: function () {
      let infoId = this.$route.params.id == null ? '' : this.$route.params.id
      let infopubid = this.$route.params.pubid == null ? '' : this.$route.params.pubid
      let infopubIds = this.$route.params.pubId == null ? '' : this.$route.params.pubId
      let infoText = this.$route.params.text == null ? '' : this.$route.params.text
      let dataId = (infoId === '' ? (infopubid === '' ? (infopubIds === '' ? '' : infopubIds) : infopubid) : infoId)
      let storageparam = localStorage.getItem('infoParam')
      let local = infoText === '' && storageparam === '' ? dataId : (infoText === '' ? storageparam : infoText)
      localStorage.setItem('infoParam', local)
      return local
    },
    setPath: function (idn = '', idx = '') {
      let setPath = idn === idx ? '' : (this.$route.meta.segment === true && this.$route.meta.segment != null ? idx === 2 ? '' : (this.$route.matched[idx].meta.redirect) : this.$route.matched[idx].meta.redirect)
      return setPath
    },
    setText: function (idn = '', idx = '') {
      let setText = idn === idx ? '' : (this.$route.meta.segment === true && this.$route.meta.segment != null ? idx === 2 ? '' : (this.$route.matched[idx].meta.breadcrumb) : this.$route.matched[idx].meta.breadcrumb)
      return setText
    },
    setParams: function (idn = '', idx = '') {
      let dataId = this.setBread()
      let setParams = ''
      let storageparam = localStorage.getItem('infoParam')
      setParams = (dataId === '' ? this.$route.matched[1].meta.second : (setParams) + (this.$route.meta.primary === true ? this.$route.meta.second : dataId))
      setParams = idn === idx && this.$route.meta.second === '' ? (dataId === '' ? storageparam : dataId) : setParams
      let ssetParams = (this.$route.meta.segment === true && this.$route.meta.segment != null) && idx === 2 ? this.$route.matched[1].meta.second : setParams
      return ssetParams
    }
  }
}
</script>
