<template>
  <div>
    <div
      class="spinner-border text-light"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <span class="d-block text-muted">
      {{ text ? text : "Loading Data..." }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'CardProgress',
  props: {
    text: {
      default: '',
      type: String
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
