<template>
  <span>
    {{ result }}
  </span>
</template>

<script>
export default {
  name: 'DateFormat',
  props: ['value', 'kurs'],
  computed: {
    result: function () {
      return this.formatter(this.value)
    },
    prefix: function () {
      let self = this
      let prefix = ''
      if (self.kurs === 'IDR') {
        prefix = 'Rp.'
      } else if (self.kurs === 'USD') {
        prefix = '$'
      }
      return prefix
    }
  },
  methods: {
    formatter: function (num) {
      if (num) {
        var str = num.toString().split('.')
        if (str[0].length >= 4) {
          // add comma every 3 digits befor decimal
          str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1.')
        }
        /* Optional formating for decimal places
        if (str[1] && str[1].length >= 4) {
        //add space every 3 digits after decimal
        str[1] = str[1].replace(/(\d{3})/g, '$1 ')
        } */
        return this.prefix + ' ' + str.join(',')
      } else {
        return this.prefix + ' ' + 0
      }
    }
  }
}
</script>
