<template>
  <span>
    {{ result }}
  </span>
</template>

<script>
import moment from 'moment'
export default {
  name: 'DateFormat',
  props: ['value', 'format', 'isUnix'],
  computed: {
    unix: function () {
      if (this.isUnix !== undefined) {
        return this.isUnix
      } else {
        return true
      }
    },
    result: function () {
      if (this.unix) {
        return moment.unix(parseInt(this.value)).format(this.format)
      } else {
        return moment(parseInt(this.value)).format(this.format)
      }
    }
  }
}
</script>
