<template>
  <div class="input-group">
    <span class="input-group-prepend">
      <span class="input-group-text border">
        <i class="fa fa-calendar" />
      </span>
    </span>
    <input
      :id="id"
      class="form-control border"
      type="text"
      :target="id"
      :name="id"
      value=""
    >
  </div>
</template>

<script>
import 'daterangepicker'
import moment from 'moment'
export default {
  name: 'DateRangePicker',
  props: {
    id: {
      default: '',
      type: String
    },
    singleDatePicker: {
      default: false,
      type: Boolean
    },
    timePicker: {
      default: false,
      type: Boolean
    },
    timePicker24Hour: {
      default: false,
      type: Boolean
    },
    dateFormat: {
      default: 'DD-MM-YYYY',
      type: String
    }
  },
  data: function () {
    return {
      getDate: ''
    }
  },
  mounted: function () {
    this.renderInput()
  },
  updated: function () {
    this.renderInput()
  },
  methods: {
    getConfig: function () {
      return {
        buttonClasses: 'btn btn-sm',
        applyButtonClasses: 'btn-blue',
        cancelClass: 'btn-negative',
        singleDatePicker: this.singleDatePicker,
        timePicker: this.timePicker,
        timePicker24Hour: this.timePicker24Hour,
        showDropdowns: true,
        minYear: 2000,
        maxYear: parseInt(moment().format('YYYY'), 10)
      }
    },
    renderInput: function () {
      let self = this
      let input = $('input[name="' + self.id + '"]')
      input.daterangepicker(self.getConfig())
      input.on('apply.daterangepicker', function (ev, picker) {
        let start = picker.startDate.format(self.dateFormat)
        let epoch = self.convertTimeStamp(start) / 1000
        self.$emit('dateChanged', epoch)
      })
    },
    convertTimeStamp (date) {
      let myDate = date
      myDate = myDate.split('-')
      let newDate = myDate[1] + '/' + myDate[0] + '/' + myDate[2]
      return (new Date(newDate).getTime())
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
