<template>
  <input
    v-if="getStart && getEnd"
    :id="id"
    type="text"
    :target="id"
    :name="id"
    :value="getStart + ' - ' + getEnd"
    :disabled="disabled"
    autocomplete="off"
  >
  <input
    v-else
    :id="id"
    type="text"
    :target="id"
    :name="id"
    :disabled="disabled"
    autocomplete="off"
  >
</template>

<script>
/*
### how to use
start, end, id, watching is primary connect with parent state
*/
import 'daterangepicker'
import moment from 'moment'
export default {
  name: 'DateRangePicker',
  props: [
    'id', 'initialDate', 'start', 'end', 'state', 'disabled', 'watching', 'timePicker'
  ],
  data: function () {
    return {
      startRange: '',
      endRange: ''
    }
  },
  computed: {
    getStart: function () {
      if (this.start) {
        return moment.unix(this.start).format('DD/MM/YYYY')
      } else {
        return null
      }
    },
    getEnd: function () {
      if (this.end) {
        return moment.unix(this.end).format('DD/MM/YYYY')
      } else {
        return null
      }
    },
    getConfig: function () {
      if (this.initialDate || (this.getStart && this.getEnd)) {
        return {
          'buttonClasses': 'btn btn-sm',
          'applyButtonClasses': 'btn-blue',
          'cancelClass': 'btn-negative',
          'timePicker': this.timePicker,
          'locale': {
            'format': 'DD/MM/YYYY'
          },
          'startDate': (this.getStart ? this.getStart : moment().add('day')),
          'endDate': (this.getEnd ? this.getEnd : moment().add(30, 'day'))
          // 'maxSpan': {
          //   'days': 30
          // }
        }
      } else {
        return {
          'buttonClasses': 'btn btn-sm',
          'applyButtonClasses': 'btn-primary',
          'cancelClass': 'btn-outline-danger',
          'locale': {
            'format': 'DD/MM/YYYY'
          },
          'startDate': false,
          'endDate': false,
          autoUpdateInput: false
        }
      }
    }
  },
  watch: {
    watching: function () {
      if (this.watching === '' || this.watching === undefined) {
        this.renderInput()
      }
    }
  },
  mounted: function () {
    this.renderInput()
  },
  updated: function () {
    this.renderInput()
  },
  methods: {
    renderInput: function () {
      let self = this
      let input = $('input[name="' + this.id + '"]')
      input.daterangepicker(self.getConfig)
      input.on('apply.daterangepicker', function (ev, picker) {
        let start = picker.startDate.format('DD-MM-YYYY') + ' 00:00:00'
        let end = picker.endDate.format('DD-MM-YYYY') + ' 23:59:59'
        let obj = {
          start: self.convertTimeStamp(start) / 1000,
          end: self.convertTimeStamp(end) / 1000
        }
        self.$emit('dateRangeChanged', picker, this, obj)
      })
    },
    convertTimeStamp (date) {
      let myDate = date
      myDate = myDate.split('-')
      let newDate = myDate[1] + '/' + myDate[0] + '/' + myDate[2]
      return (new Date(newDate).getTime())
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
