<template>
  <footer class="app-footer">
    <div>
      <a href="https://coreui.io/pro/">CoreUI Pro</a>
      <span>&copy; 2018 creativeLabs.</span>
    </div>
    <div class="ml-auto">
      <span>Powered by</span>
      <a href="https://coreui.io/pro/">CoreUI Pro</a>
    </div>
  </footer>
</template>

<script>
import authMixin from './../mixins/auth'
export default {
  name: 'NavigationUser',
  mixins: [authMixin],
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  computed: {
    getAuthInfo: function () {
      return this.$store.getters['profile/getAuth']
    }
  },
  created: function () {
    this.$store.commit('profile/setAuth', this.ParseAuth())
  }
}
</script>

<style lang="scss" type="scoped">
</style>
