<template>
  <div
    class="component component-banner-upload box-img-thumb form-control"
    :style="{backgroundImage: 'url('+thumbnail.blob+')'}"
    :class="thumbnail.blob ? 'is-filled':''"
  >
    <input
      type="file"
      :class="className"
      name="component-banner"
      aria-describedby="component-banner"
      accept="image/jpg, image/jpeg, image/png"
      :required="required"
      :disabled="thumbnail.id ? true : false"
      @change="uploadThumb"
    >

    <button
      v-if="thumbnail.blob"
      type="button"
      class="btn btn-negative btn-sm button-remove text-capitalize"
      @click="removeThumb"
    >
      <font-awesome-icon
        icon="trash"
        class="fa mr-1"
      /> remove
    </button>
    <div class="info">
      <article v-if="thumbnail.blob === ''">
        <i class="fa fa-cloud-upload" />
        <span class="d-block checkable">Click to browse</span>
        <span class="d-block">
          We currently support JPG, JPEG and PNG.</span>
      </article>

      <article
        v-else
        class="onhover"
      >
        <span class="d-block checkable text-white">
          {{ thumbnail.name }}
        </span>
        <span
          v-if="!thumbnail.id"
          class="d-block"
        >
          <small>Click to replace</small>
        </span>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageUploadThumb',
  props: {
    className: {
      default: 'imageUploadThumb',
      type: String
    },
    thumbnail: {
      type: Object
    },
    maxSize: {
      default: 2000000,
      type: Number
    },
    required: {
      default: false,
      type: Boolean
    },
    limit: {
      default: 10,
      type: Number
    }
  },
  data: function () {
    return {
      IDname: 'btn-upload-img',
      base64: ''
    }
  },
  methods: {
    uploadThumb () {
      let self = this
      let tag = event.target
      let singleFile = event.target.files[0]
      self.thumbnail.name = singleFile.name.replace(/\s/g, '')
      if (event.target.files && event.target.files[0]) {
        if (singleFile.size > this.maxSize) {
          self.flash(singleFile.name + ' has reach max file size, should not exceed of 200KB', 'error', {
            timeout: 5000
          })
        } else {
          var reader = new FileReader()
          self.thumbnail.fileType = singleFile.type
          self.thumbnail.fileType = self.thumbnail.fileType.replace('image/', '')
          reader.onload = function () {
            tag.parentElement.style.backgroundImage = 'url(' + event.target.result + ')'
            self.thumbnail.blob = event.target.result
            self.thumbnail.action = 'NEW'
          }
          reader.readAsDataURL(event.target.files[0])
        }
      }
    },
    removeThumb (event) {
      let self = this
      let obj = {}
      obj = { ...obj, ...this.thumbnail }
      let parent = event.target.parentElement
      if (obj.id) {
        this.$emit('deletingImage', obj)
      }
      parent.style.backgroundImage = ''
      parent.querySelector('input').value = ''
      Object.keys(this.thumbnail).map(function (key, index) {
        if (!['type', 'action', 'idxOrder'].includes(key)) {
          self.thumbnail[key] = ''
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
</style>
