<template>
  <div
    class="component component-banner-upload box-img form-control"
    :style="{backgroundImage: 'url('+banner.blob+')'}"
    :class="banner.blob ? 'is-filled':''"
  >
    <input
      type="file"
      :class="className"
      name="component-banner"
      aria-describedby="component-banner"
      accept="image/jpg, image/jpeg, image/png"
      :required="required"
      :disabled="banner.id ? true : false"
      @change="uploadBanner"
    >

    <button
      v-if="banner.blob"
      type="button"
      class="btn btn-negative btn-sm button-remove text-capitalize"
      @click="removeBanner"
    >
      <font-awesome-icon
        icon="trash"
        class="fa mr-1"
      /> remove
    </button>
    <div class="info">
      <article v-if="banner.blob === ''">
        <i class="fa fa-cloud-upload" />
        <span class="d-block checkable">Click to browse</span>
        <span class="d-block">
          We currently support JPG, JPEG and PNG.</span>
      </article>

      <article
        v-else
        class="onhover"
      >
        <span class="d-block checkable text-white">
          {{ banner.name }}
        </span>
        <span
          v-if="!banner.id"
          class="d-block"
        >
          <small>Click to replace</small>
        </span>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageUpload',
  props: {
    className: {
      default: 'imageUpload',
      type: String
    },
    banner: {
      type: Object
    },
    maxSize: {
      default: 2000000,
      type: Number
    },
    required: {
      default: false,
      type: Boolean
    },
    limit: {
      default: 10,
      type: Number
    }
  },
  data: function () {
    return {
      IDname: 'btn-upload-img',
      base64: ''
    }
  },
  methods: {
    uploadBanner () {
      let self = this
      let tag = event.target
      let singleFile = event.target.files[0]
      self.banner.name = singleFile.name.replace(/\s/g, '')
      if (event.target.files && event.target.files[0]) {
        if (singleFile.size > this.maxSize) {
          self.flash(singleFile.name + ' has reach max file size ', 'error', {
            timeout: 5000
          })
        } else {
          var reader = new FileReader()
          self.banner.fileType = singleFile.type
          self.banner.fileType = self.banner.fileType.replace('image/', '')
          reader.onload = function () {
            tag.parentElement.style.backgroundImage = 'url(' + event.target.result + ')'
            self.banner.blob = event.target.result
            self.banner.action = 'NEW'
          }
          reader.readAsDataURL(event.target.files[0])
        }
      }
    },
    removeBanner (event) {
      let self = this
      let obj = {}
      obj = { ...obj, ...this.banner }
      let parent = event.target.parentElement
      if (obj.id) {
        this.$emit('deletingImage', obj)
      }
      parent.style.backgroundImage = ''
      parent.querySelector('input').value = ''
      Object.keys(this.banner).map(function (key, index) {
        if (!['type', 'action', 'idxOrder'].includes(key)) {
          self.banner[key] = ''
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
</style>
