<template>
  <div
    :id="id"
    class="modal fade show"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog"
      role="document"
      :class="size"
    >
      <div class="modal-content">
        <slot name="header">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold text-capitalize">
              {{ title }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </slot>
        <div class="modal-body">
          <slot name="default" />
        </div>
        <slot
          v-if="footerVisible"
          name="footer"
        >
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-primary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalBasic',
  props: {
    title: {
      default: '',
      type: String
    },
    size: {
      default: '',
      type: String
    },
    id: {
      default: '',
      type: String
    },
    footerVisible: {
      default: true,
      type: Boolean
    }
  },
  data: function () {
    return {
    }
  }
}
</script>

<style lang="scss" type="scoped">
.close {
  &:hover, &:focus {
    box-shadow: none;
  }
}
</style>
