<template>
  <div class="component-multiple-banner">
    <div class="component component-banner-upload form-control mb-3">
      <input
        type="file"
        class=""
        name="img-banner"
        aria-describedby="img-banner"
        :required="required"
        multiple
        :disabled="banner.length >= limit"
        accept="image/jpg, image/jpeg, image/png"
        @change="uploadBanner()"
      >

      <button
        v-if="banner.length > 0"
        type="button"
        class="btn btn-negative btn-sm button-remove text-capitalize"
      >
        <font-awesome-icon
          icon="trash"
          class="fa mr-1"
        /> remove
      </button>
      <div class="info">
        <!--  -->
        <article v-if="banner.length === 0">
          <i class="fa fa-cloud-upload" />
          <span class="d-block checkable">Click to browse multiple files</span>
          <span class="d-block">
            We currently support JPG, JPEG and PNG.</span>
        </article>
        <!--  -->
        <article
          v-else
          class="onhover"
        >
          <i class="fa fa-image" />
          <span class="d-block checkable">
            {{ limit === banner.length ? 'maximum' : '' }} selected is ({{ limit === banner.length ? limit : banner.length }}) images
          </span>
          <span class="d-block">
            <small>{{ limit ? (banner.length >= limit ? '' : 'Click to upload more image') : 'Click to upload more image' }}</small>
          </span>
        </article>
        <!--  -->
      </div>
    </div>
    <div class="row">
      <div
        v-for="(bannerImg, index) in banner"
        :key="index"
        :class="colSize"
        class="my-2"
      >
        <div
          class="component component-banner-upload form-control"
          :style="{backgroundImage: 'url('+bannerImg.blob+')'}"
          :class="bannerImg.blob ? 'is-filled':''"
        >
          <button
            v-if="bannerImg.blob"
            type="button"
            class="btn btn-negative btn-sm button-remove text-capitalize"
            @click="removeBanner(index)"
          >
            <font-awesome-icon
              icon="trash"
              class="fa mr-1"
            /> remove
          </button>
          <div class="info">
            <article class="onhover">
              <span class="d-block checkable text-white">
                {{ bannerImg.fileName }}
              </span>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OutletPhotoUpload',
  props: {
    bannerEdit: {
      default: x => { return [] },
      type: Array
    },
    colSize: {
      default: () => { return 'col-6' },
      type: String
    },
    maxSize: {
      default: 2000000,
      type: Number
    },
    required: {
      default: false,
      type: Boolean
    },
    limit: {
      default: 10,
      type: Number
    }
  },
  data: function () {
    return {
      banner: []
    }
  },
  watch: {
    banner: function () {
      this.$emit('bannerMultipleSelect', this.banner)
    }
  },
  mounted () {
    if (this.bannerEdit.length > 0) {
      this.banner = this.bannerEdit
    }
  },
  methods: {
    uploadBanner () {
      this.flash().destroyAll()
      let self = this
      let multipleFile = event.target.files
      let totalBulked = this.banner.length + Object.keys(multipleFile).length
      let arrKeyFile = Object.keys(multipleFile)
      let err = []
      let arrAllowed = []
      // ###
      if (arrKeyFile.length <= this.limit && this.banner.length <= this.limit && totalBulked <= this.limit) {
        arrKeyFile.forEach((element, index) => {
          if (multipleFile[element].size > this.maxSize) {
            err.push(multipleFile[element])
            self.flash(`${multipleFile[index].name} has reach max file size, should not exceed of ${self.checkSize(self.maxSize)}`, 'error', {
              timeout: 5000
            })
          } else {
            arrAllowed.push(multipleFile[element])
          }
        })
      } else {
        self.flash(`Maximum ${self.limit} item for upload photo`, 'error', {
          timeout: 5000
        })
      }
      self.renderFiles(arrAllowed)
      event.target.value = ''
    },
    renderFiles (arrImage) {
      let self = this
      // let uploading = this.banner
      arrImage.forEach((element, index) => {
        if (element) {
          let obj = {
            blob: '',
            fileName: '',
            fileType: ''
            // idxOrder: uploading.length
          }
          obj.fileName = element.name.replace(/\s/g, '')
          var reader = new FileReader()
          obj.fileType = element.type
          obj.action = element.action
          obj.fileType = obj.fileType.replace('image/', '')
          reader.onload = function () {
            obj.blob = event.target.result
            obj.action = 'new'
          }
          reader.readAsDataURL(element)
          self.banner.push(obj)
        }
      })
    },
    removeBanner (index) {
      this.banner.splice(index, 1)
    },
    checkSize (val) {
      let newVal = val
      if (val > 1000) {
        newVal = newVal / 1000
        return newVal + 'KB'
      }
      return val + 'Byte'
    }
  }
}
</script>

<style scoped lang="scss">
</style>
