<template>
  <div
    id="header"
    class="component component-header-guest mb-3"
  >
    <img
      :src="`${publicPath}img/logo_white.png`"
      height="30"
    >
  </div>
</template>

<script>
export default {
  name: 'NavigationGuest',
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  created: function () {
  },
  methods: {
  }
}
</script>

<style lang="scss" type="scoped">
.Login {
  text-align:left;
}
</style>
