<template>
  <header class="app-header navbar">
    <button
      class="navbar-toggler sidebar-toggler d-lg-none mr-auto"
      type="button"
      data-toggle="sidebar-show"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <router-link
      to="/"
      class="navbar-brand"
      href="#"
    >
      <img
        class="navbar-brand-full"
        :src="`${publicPath}img/logo_color_new.svg`"
        width="89"
        height="25"
        alt="CoreUI Logo"
      >
      <img
        class="navbar-brand-minimized"
        :src="`${publicPath}img/favicon.png`"
        width="30"
        height="30"
        alt="CoreUI Logo"
      >
    </router-link>
    <button
      class="navbar-toggler sidebar-toggler d-md-down-none"
      type="button"
      data-toggle="sidebar-lg-show"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="d-inline-block px-3 align-middle text-left">
            <span class="w-100 d-block user-info-name">
              {{ getAuthInfo ? getAuthInfo.user : 'Hello User' }}
            </span>
            <small class="w-100 d-block">
              <!-- {{$store.state.profile.auth}} -->
            </small>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <router-link
            class="dropdown-item logout-action"
            to="/auth/logout"
          >
            <i class="fa fa-lock" />Logout
          </router-link>
        </div>
      </li>
    </ul>
  </header>
</template>

<script>
import authMixin from './../mixins/auth'
export default {
  name: 'NavigationUser',
  mixins: [authMixin],
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  computed: {
    getAuthInfo: function () {
      if (this.ParseAuth()) {
        return this.$store.getters['profile/getAuth']
      } else {
        return {}
      }
    }
  },
  created: function () {
    this.$store.commit('profile/setAuth', this.ParseAuth())
  }
}
</script>

<style lang="scss" type="scoped">
</style>
