<template>
  <div class="component-nav-tabs">
    <div class="container px-0">
      <div class="d-flex bd-highlight">
        <div
          v-for="(obj, index) in urls"
          :key="index"
          class="flex-fill bd-highlight nav-item text-center"
          :class="$route.name === obj.name ? 'active' : ''"
        >
          <router-link
            :to="obj.url"
            class="px-2 py-3"
          >
            {{ obj.text }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavigationTabs',
  props: ['urls'],
  computed: {
  },
  mounted: function () {
  },
  methods: {
  }
}
</script>

<style lang="scss" type="scoped">
</style>
