<template>
  <div v-if="totalPage > 1">
    <nav
      v-if="totalPage && currentPage"
      aria-label="Page navigation"
      class="d-inline-block"
    >
      <ul class="pagination mb-0">
        <li
          v-if="getFirst"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            @click="setPagination(1)"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        <li
          v-if="getPrevious"
          class="page-item"
        >
          <a
            class="page-link prev-button"
            href="javascript:void(0)"
            @click="setPagination(getPrevious)"
          >
            <span aria-hidden="true">&lang;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li
          v-for="(page, index) in paginations"
          :key="index"
          class="page-item"
          :class="currentPage === page ? 'active':''"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            :aria-label="page.id"
            @click="setPagination(page)"
          >
            <span class="">{{ page }}</span>
          </a>
        </li>
        <li
          v-if="getNext"
          class="page-item"
        >
          <a
            class="page-link next-button"
            href="javascript:void(0)"
            @click="setPagination(getNext)"
          >
            <span aria-hidden="true">&rang;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li
          v-if="getLast"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            @click="setPagination(getLast)"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <small class="d-block text-muted py-1">
      Page {{currentPage}} from {{totalPage}}
    </small> -->
  </div>
</template>

<script>
export default {
  name: 'PaginationList',
  props: ['pageSize', 'results', 'currentPage', 'totalPage', 'totalRows'],
  computed: {
    getPrevious: function () {
      if (this.currentPage > 1) {
        return (this.currentPage - 1)
      }
      return null
    },
    getNext: function () {
      if (this.currentPage < this.totalPage) {
        return (this.currentPage + 1)
      }
      return null
    },
    getFirst: function () {
      if (this.currentPage > 1) {
        return 1
      }
      return null
    },
    getLast: function () {
      if (this.currentPage < this.totalPage) {
        return this.totalPage
      }
      return null
    },
    paginations: function () {
      if (this.totalPage && this.results !== null && this.results.length > 0) {
        let arr = []
        let buffer = 8
        let range = 3

        for (let i = 1; i <= this.totalPage; i++) {
          if (this.totalPage >= buffer && (i >= (this.currentPage - range) && i <= (this.currentPage + range))) {
            arr.push(i)
          } else if (this.totalPage < buffer) {
            arr.push(i)
          }
        }
        return arr
      } else {
        return []
      }
    }
  },
  methods: {
    setPagination: function (val) {
      let query = this.$route.query
      let obj = {}
      let request = {
        pagination: val
      }
      Object.assign(obj, query)
      Object.assign(obj, request)
      this.$router.replace({
        query: obj
      })

      this.$emit('paginationClick', obj)
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width {
  min-width: 180px;
}
</style>
