<template>
  <span>
    {{ result }}
  </span>
</template>

<script>
export default {
  name: 'PrintValue',
  props: ['value'],
  computed: {
    result: function () {
      if (this.value) {
        return this.value
      } else {
        return '-'
      }
    }
  }
}
</script>
