<template>
  <div class="dropdown component component-dropdown-select">
    <a
      id="dLabel"
      class="form-control d-inline-block dropdown-toggle text-decoration-0 select-component select-preview"
      :class="disabled ? 'disabled' : '' "
      href="javascript:void(0);"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span
        v-if="key_value.name"
        class="text-uppercase selected-value"
      >{{ key_value.name }}</span>
      <span
        v-else
        class="text--text-grey2"
      >Choose {{ title }}</span>
      <span class="caret" />
    </a>
    <ul
      class="dropdown-menu select-list w-100"
      aria-labelledby="dLabel"
    >
      <li
        v-for="(list,index) in list_data"
        :key="index"
        :class="key_value.name === list.name ? 'active-select':''"
        class="text-uppercase"
        @click="onSelectComponent(list,target_name)"
      >
        <span>{{ list.name ? list.name : 'All' }}</span>
      </li>
      <li
        v-if="list_data.length == 0"
        class="text-uppercase"
      >
        <span>- Empty List -</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'SelectList',
  props: [ 'key_value', 'list_data', 'target_name', 'title', 'disabled' ],
  created: function () {
    // this component can get 2 parameters (value, target)
  },
  methods: {
    onSelectComponent (value, target) {
      this.$emit('selectingList', value, target)
    }
  }
}
</script>

<style scoped lang="scss">
.dropdown-toggle.disabled {
  cursor:not-allowed!important;
  background-color:#e9ecef;
  &:hover, &:focus, &:active {
    outline:none;
    box-shadow:none;
  }
}
.active-select {
  background-color: lighten(#26ADE4, 40%);
}
.selected-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.select-component {
  padding-right: 20px;
  vertical-align: middle;
  &:after {
    position: absolute;
    right: 15px;
    margin: auto;
    top:15px;
    bottom: 0;
  }
}

</style>
