<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <router-link
            class="nav-link"
            to="/deals/list"
          >
            <i class="nav-icon icon-tag" /> Deals
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            to="/transactions/list"
          >
            <i class="nav-icon icon-list" /> Transactions
          </router-link>
        </li>
        <li
          class="nav-item nav-dropdown"
          :class="$route.path.includes('/business-setup/merchants/list') || $route.path.includes('/business-setup/outlets/list') ? 'open' : '' "
        >
          <a
            class="nav-link nav-dropdown-toggle"
            href="javascript:void(0)"
          >
            <i class="nav-icon icon-briefcase" /> Business Setup
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/business-setup/merchants/list"
              >
                <i class="nav-icon icon-home" /> Merchants
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/business-setup/outlets/list"
              >
                <i class="nav-icon icon-home" /> Outlets
              </router-link>
            </li>
          </ul>
        </li>
        <li
          class="nav-item nav-dropdown"
          :class="$route.path.includes('settlements') ? 'open' : ''"
        >
          <a
            class="nav-link nav-dropdown-toggle"
            href="javascript:void(0)"
          >
            <i class="nav-icon icon-doc icons" /> Settlements
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/settlements/regular/list"
              >
                <i class="nav-icon" /> Regular
              </router-link>
              <router-link
                class="nav-link"
                to="/settlements/deals/list"
              >
                <i class="nav-icon" /> Deals
              </router-link>
            </li>
          </ul>
        </li>
        <li
          class="nav-item nav-dropdown"
          :class="$route.path.includes('withdrawal') ? 'open' : ''"
        >
          <a
            class="nav-link nav-dropdown-toggle"
            href="javascript:void(0)"
          >
            <i class="nav-icon icon-doc icons" /> Withdrawal
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/withdrawal/regular"
              >
                <i class="nav-icon" /> Regular
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/withdrawal/deals"
              >
                <i class="nav-icon" /> Deals
              </router-link>
            </li>
          </ul>
        </li>
        <li
          class="nav-item nav-dropdown"
          :class="$route.path.includes('/content-settings/outlets/list') || $route.path.includes('/content-settings/locations') ? 'open' : ''"
        >
          <a
            class="nav-link nav-dropdown-toggle"
            href="javascript:void(0)"
          >
            <i class="nav-icon icon-doc icons" /> Content Settings
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/content-settings/outlets/list"
              >
                <i class="nav-icon icons icon-pin" /> Outlets
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/content-settings/locations/list"
              >
                <i class="nav-icon icons icon-pin" /> Locations
              </router-link>
            </li>
          </ul>
        </li>
        <li
          class="nav-item nav-dropdown"
          :class="$route.path.includes('/ratings') ? 'open' : ''"
        >
          <a
            class="nav-link nav-dropdown-toggle"
            href="javascript:void(0)"
          >
            <i class="nav-icon icon-doc icons" /> Rating & Review
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/ratingreview/list"
              >
                <i class="nav-icon" /> List
              </router-link>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            :class="$route.path.includes('/users/list') ? 'router-link-active' : ''"
            to="/users/list"
          >
            <i class="nav-icon icon-user" /> Dashboard Users
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            :class="$route.path.includes('/promotion') ? 'router-link-active' : ''"
            to="/promo"
          >
            <i class="nav-icon icon-list" /> Promotion
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            :class="$route.path.includes('/campaigns/list') ? 'router-link-active' : ''"
            to="/campaigns/list"
          >
            <i class="nav-icon icon-briefcase" /> Campaigns
          </router-link>
        </li>
      </ul>
    </nav>
    <button
      class="sidebar-minimizer brand-minimizer"
      type="button"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'SideMenu',
  data: function () {
    return {
      urlBusiness: 'https://business.cashbac.com/',
      home: '/deals',
      menu: [
        {
          name: 'Deals',
          path: '/deals',
          fa: 'handshake'
        }
      ],
      menus: [
        {
          name: 'Transaction',
          path: 'transactions/list',
          fa: 'tachometer-alt'
        },
        {
          name: 'Business Setup',
          path: 'nest_menu/business_setup',
          fa: 'cube'
        },
        {
          name: 'Promo Banner',
          path: 'campaigns/list',
          fa: 'percent'
        },
        {
          name: 'Settlement List',
          path: 'settlements/list',
          fa: 'bullhorn'
        },
        {
          name: 'Withdrawal',
          path: 'withdrawals/list_pending',
          fa: 'chart-line'
        },
        {
          name: 'Customer',
          path: 'users/view_list',
          fa: 'users'
        },
        {
          name: 'Dashboard User',
          path: 'users/internal/list',
          fa: 'user-secret'
        },
        {
          name: 'Hilight Promotion',
          path: 'promotions/highlights',
          fa: 'image'
        },
        {
          name: 'Deals',
          path: '/deals',
          fa: 'handshake'
        },
        {
          name: 'Card Search',
          path: 'card_search/list',
          fa: 'credit-card'
        },
        {
          name: 'Report',
          path: 'reports/list_report',
          fa: 'folder'
        },
        {
          name: 'Upload Card Bin',
          path: 'upload_card_bin/view_upload_card_bin',
          fa: 'archive'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      profile: 'profile/getAuth'
    })
  }
}
</script>

<style lang="scss" type="scoped">
</style>
