<template>
  <span
    v-if="type === 'pill'"
    class="badge badge-pill text-capitalize"
    :class="wichStatus"
  >{{ printLabel }}</span>
  <span
    v-else
    class="badge text-capitalize"
    :class="wichStatus"
  >{{ printLabel }}</span>
</template>

<script>
export default {
  name: 'StatusBadge',
  props: ['value', 'type'],
  data () {
    return {
      statusValue: '',
      status: {
        success: [
          'paid',
          'completed',
          'settled',
          'active',
          'withdrawn',
          'redeemed'
        ],
        info: [
          'clear',
          'invisible',
          'not_requested'
        ],
        warning: [
          'validating',
          'awaiting_payment',
          'awaiting payment',
          'pending',
          'pending_refund',
          'pending_void',
          'collectible',
          'initiated',
          'withdrawal_requested',
          'purchased',
          'unverified',
          'awaiting_submission',
          'waiting_submisson',
          'validate_data',
          'waiting_approval',
          'awaiting_approval'
        ],
        danger: [
          'refund',
          'void',
          'failed',
          'inactive',
          'suspended',
          'hold',
          'expired',
          'locked',
          'rejected',
          'canceled',
          'temporarily_closed',
          'temporarily closed',
          'deactivated'
        ],
        idle: [
          'terminated'
        ]
      }
    }
  },
  computed: {
    printLabel: function () {
      let text = this.value
      text = text.replace('_', ' ')
      return text.replace(/^\w/, function (chr) {
        return chr.toUpperCase()
      })
    },
    wichStatus: function () {
      if (this.statusValue === 'success') {
        return 'badge-success'
      } else if (this.statusValue === 'warning') {
        return 'badge-warning'
      } else if (this.statusValue === 'danger') {
        return 'badge-danger'
      } else if (this.statusValue === 'idle') {
        return 'badge-dark'
      } else if (this.statusValue === 'info') {
        return 'badge-info'
      } else {
        return ''
      }
    }
  },
  mounted: function () {
    this.checkingStatus()
  },
  beforeUpdate: function () {
    this.checkingStatus()
  },
  methods: {
    checkingStatus () {
      let self = this
      let getStatus = this.status
      let total = Object.keys(getStatus).length
      for (let i = 0; i < total; i++) {
        var keyObj = Object.keys(getStatus)[i]
        getStatus[keyObj].forEach((element, x) => {
          if (self.value.toLowerCase() === element.toLowerCase()) {
            this.statusValue = keyObj
          }
        })
      }
    }
  }
}
</script>
