<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Download Transaction
      </div>
      <div class="card-body">
        <form @submit.prevent="downloadTransaction()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="TransactionDate">Transaction Date</label>
                <keep-alive>
                  <date-range-picker
                    id="transactionDate"
                    :initialDate="false"
                    :watching="transactionDate_start"
                    :start="transactionDate_start"
                    :end="transactionDate_end"
                    class="form-control"
                    @dateRangeChanged="onDateRangeChanged"
                  />
                </keep-alive>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="merchantName">Merchant Name</label>
                <multiselect
                  id="merchantName"
                  v-model="merchantName"
                  label="merchantName"
                  track-by="merchantName"
                  placeholder="ALL"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="merchantList"
                  :searchable="true"
                  :multiple="true"
                  :allow-empty="true"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option"
                      class="text-capitalize"
                    >{{ option.merchantName }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Type {{ option.merchantName }}</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="SettlementAccount">Settlement Account</label>
                <multiselect
                  id="SettlementAccount"
                  v-model="settlementAccount"
                  label="legalName"
                  track-by="legalName"
                  placeholder="ALL"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="settlementList"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="merchantName.length > 0 ? false : true"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option"
                      class="text-capitalize"
                    >{{ option.legalName }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Type {{ option.legalName }}</span>
                  </template>
                </multiselect>
                <input
                  id=""
                  type="text"
                  class="sr-only"
                  :value="JSON.stringify('settlementAccount')"
                  name=""
                  required
                >
              </div>
            </div>
            <div class="col-12 text-right">
              <button
                type="submit"
                class="btn-primary btn px-3"
                :disabled="merchantName.length > 0 || dateIsValid ? false : true"
              >
                Download
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import DateRangePicker from '@/components/DateRangePicker'
import Multiselect from 'vue-multiselect'
export default {
  name: 'DownloadTransaction',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  props: {
    invoiceType: {
      default: '',
      type: String
    },
    merchantList: {
      default: x => { return [] },
      type: Array
    },
    settlementList: {
      default: x => { return [] },
      type: Array
    }
  },
  data: function () {
    return {
      optionPaymentInterface: {},
      transactionDate_start: 0,
      transactionDate_end: 0,
      merchantName: [],
      settlementAccount: null
    }
  },
  computed: {
    dateIsValid: function () {
      if (this.transactionDate_start && this.transactionDate_end) {
        return true
      } else {
        return false
      }
    },
    payload: function () {
      return {
        trx_start_date: this.transactionDate_start,
        trx_end_date: this.transactionDate_end,
        merchant_name: this.merchantName,
        settlement_account: this.settlementAccount,
        invoiceType: this.invoiceType
      }
    }
  },
  watch: {
    transactionDate_start: function () {
      this.settlementAccount = null
    },
    merchantName: function () {
      this.settlementAccount = null
      if (this.merchantName.length > 0) {
        this.$emit('getSettlement', this.payload)
      }
    }
  },
  created: function () {
    this.$emit('getMerchants', this.payload)
  },
  methods: {
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this[dateStart] = obj.start
      this[dateEnd] = obj.end
    },
    downloadTransaction: function () {
      this.$emit('requestDownload', this.payload)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
</style>
