<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Summary
    </div>
    <div class="card-body text-center">
      <div class="wrap-box">
        <div class="img-wrap rounded d-block mb-4">
          <img
            v-if="['validate_data'].includes(status)"
            width="350"
            :src="`${publicPath}img/settlement-validating.png`"
            alt=""
          >
          <img
            v-if="['failed'].includes(status)"
            width="350"
            :src="`${publicPath}img/settlement-failed.png`"
            alt=""
          >
          <img
            v-if="['canceled'].includes(status)"
            width="350"
            :src="`${publicPath}img/settlement-canceled.png`"
            alt=""
          >
        </div>
        <div class="title-wrap d-block">
          <span v-if="['validate_data'].includes(status)">This settlement batch is being validated.</span>
          <span v-if="['failed'].includes(status)">Error while uploading this settlement batch.</span>
          <span v-if="['canceled'].includes(status)">This settlement batch is canceled</span>
        </div>
        <div class="desc-wrap d-block">
          <span v-if="['validate_data'].includes(status)">You can check this settlement summary when settlement status change to ‘Waiting Submission’. Check again later.</span>
          <span v-if="['failed'].includes(status)">Sorry, something went wrong while uploading this settlement batch. Please re-upload your CSV file.</span>
          <span v-if="['canceled'].includes(status)">You have canceled this settlement batch during the submission process. Re-upload your file again.</span>
        </div>
        <router-link
          v-if="['canceled'].includes(status)"
          :to="`/settlement/regular/create`"
          class="btn btn-primary mt-4 px-4"
        >
          Re-Upload
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EmptyState',
  components: {
  },
  props: {
    status: {
      default: '',
      type: String
    }
  },
  data: function () {
    return {
      publicPath: process.env.BASE_URL
    }
  },
  created: function () {
  }
}
</script>
<style lang="scss" type="scoped">
.wrap-box {
  background-color: #F8FBFE;
  padding: 50px 30px;
}
.title-wrap {
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
}
</style>
