<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Batch ID
          </th>
          <th class="min-width align-middle">
            Transaction Date
          </th>
          <th class="min-width align-middle">
            Settlement Date
          </th>
          <th class="min-width align-middle">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Settlements Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <router-link :to="{name: 'SettlementSubmit', params: {pubId: data.batchId, text: data.batchId ? data.batchId : '-'}}">
              {{ data.batchId || '-' }}
            </router-link>
          </td>
          <td scoped="row">
            <span>{{ data.trxStartDate > 0 ? formatDate(data.trxStartDate, 'hour', 'DD/MM/YYYY') : '' }}</span> - <span>{{ data.trxEndDate > 0 ? formatDate(data.trxEndDate, 'hour', 'DD/MM/YYYY') : '' }}</span>
          </td>
          <td scoped="row">
            <span>{{ data.settledDate > 0 ? formatDate(data.settledDate, 'hour', 'DD-MM-YYYY HH:mm:ss') : '-' }}</span>
          </td>
          <td scoped="row">
            <status-badge
              :value="data.status ? data.status.toLowerCase() : '-'"
              type="pill"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
export default {
  name: 'SettlementTableList',
  components: {
    'status-badge': StatusBadge
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date, type = '', format = '') {
      if (type === 'hour') {
        return moment.unix(date).format(format)
      } else {
        return moment(date).format(format)
      }
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
