<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Settlement Information
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Batch ID</label>
            <span class="d-block">
              {{ data.batchID || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Uploaded By</label>
            <span class="d-block">
              {{ data.uploadBy || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Uploaded Date</label>
            <span class="d-block">
              {{ data.uploadTs > 0 ? formatDate(data.uploadTs, true, 'DD MMMM YYYY hh:mm:ss') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Submission By</label>
            <span class="d-block">
              {{ data.submissionBy || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Submission Date</label>
            <span class="d-block">
              {{ data.submissionTs > 0 ? formatDate(data.submissionTs, true, 'DD MMMM YYYY hh:mm:ss') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Approved/Rejected By</label>
            <span class="d-block">
              {{ data.approvalBy || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Approved/Rejected Date</label>
            <span class="d-block">
              {{ data.approvalTs > 0 ? formatDate(data.approvalTs, true, 'DD MMMM YYYY hh:mm:ss') : '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Settlement Status</label>
            <span class="d-block">
              <status-badge
                :value="data.status ? data.status.toLowerCase() : '-'"
                type="pill"
              />
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Paid By</label>
            <span class="d-block">
              {{ data.paidBy || '-' }}
            </span>
          </div>
        </div>
        <div class="col-12 mt-3 col-md-3">
          <div class="form-group">
            <label
              for=""
              class="text-muted"
            >Paid Date</label>
            <span class="d-block">
              {{ data.paidTs > 0 ? formatDate(data.paidTs, true, 'DD MMMM YYYY hh:mm:ss') : '-' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
export default {
  name: 'SettlementInfo',
  components: {
    'status-badge': StatusBadge
  },
  props: {
    data: {
      default: null,
      type: Object
    }
  },
  data: function () {
    return {
    }
  },
  methods: {
    formatDate: function (date, isTimeStamp, format = '') {
      if (isTimeStamp) {
        return moment.unix(date).format(format)
      } else {
        return moment(date).format(format)
      }
    }
  }
}
</script>
<style lang="scss" type="scoped">
</style>
