<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Summary
      </div>
      <div class="card-body">
        <div class="wrap pb-2">
          <p class="font-weight-bold">
            File Upload Summary
          </p>
          <table class="h-100 table table-bordered text-center mb-2">
            <thead class="bg-light">
              <tr>
                <th>File Name</th>
                <th>Total Uploaded</th>
                <th>Total Success Upload</th>
                <th>Total Failed Upload</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">
                  {{ summary.filename || '-' }}
                </td>
                <td>{{ summary.totalUploaded || '-' }}</td>
                <td>{{ summary.totalSuccessUpload || '-' }}</td>
                <td>{{ summary.totalFailedUpload || '-' }}</td>
                <td>
                  <router-link :to="`/settlements/regular/${$route.params.pubId}/failed`">
                    Summary
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- ### -->
        <hr class="mx-inset">
        <!-- ### -->
        <div class="wrap pt-2">
          <p class="font-weight-bold">
            Settlement Summary
          </p>
          <div class="row">
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Transaction
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseInt(summary.totalTrx)"
                        kurs=""
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Transaction Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalInvoiceAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Refund
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseInt(summary.totalRefund)"
                        kurs=""
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Refund Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span v-if="summary.totalRefundAmount === 0">
                        <currency-format
                          :value="parseFloat(summary.totalRefundAmount)"
                          kurs="IDR"
                        />
                      </span>
                      <span v-else>
                        <currency-format
                          :value="parseFloat(summary.totalRefundAmount)"
                          kurs="IDR"
                        />
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Regular Cashback Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalCashbacAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Affiliate Fee Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalCommissionAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Settlement Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalSettlementAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Additional Cashback
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalAdditionalCashbackAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Total Merchant Subsidy Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalMerchantSubsidyAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Campaign Fee Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalCampaignFeeAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Cashbac Discount Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalCashbacDiscountAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <table class="h-100 table table-bordered text-center bg-light table-summary">
                <thead>
                  <tr>
                    <th class="border-bottom-0">
                      Merchant Discount Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <currency-format
                        :value="parseFloat(summary.totalMerchantDiscountAmount)"
                        kurs="IDR"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- ### -->
        <hr class="mx-inset">
        <div class="wrap pt-2">
          <p class="font-weight-bold">
            Transaction Summary
          </p>
          <transaction-summary
            :transactions="transactions"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TransactionSummary from '@/components/settlements/TransactionSummary'
import CurrencyFormat from '@/components/CurrencyFormat'
export default {
  name: 'SettlementSummary',
  components: {
    'transaction-summary': TransactionSummary,
    'currency-format': CurrencyFormat
  },
  props: {
    summary: {
      default: null,
      type: Object
    },
    transactions: {
      default: () => { return [] },
      type: Array
    }
  },
  data: function () {
    return {
    }
  }
}
</script>
<style lang="scss" type="scoped">
.table-summary {
  thead th {
    vertical-align: top;
  }
  tbody td {
    font-size: 24px;
    font-weight: bold;
  }

}
</style>
