<template>
  <div
    v-if="transactions.length > 0"
    class="wrap-table"
  >
    <table class="table border table-striped text-center table-transaction">
      <thead>
        <tr>
          <th class="border-bottom-0">
            Payment Method
          </th>
          <th class="border-bottom-0">
            Transaction
          </th>
          <th class="border-bottom-0">
            Purchase Price Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Transaction Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Payment Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Cashback Used (Rp)
          </th>
          <th class="border-bottom-0">
            Cashbac Discount Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Merchant Discount Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Regular Cashback Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Affiliate Fee Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Deals Fee Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Settlement Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Acquiring Fee Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Deals Voucher #
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(transaction, index) in transactions"
          :key="index"
        >
          <td class="text-center">
            {{ transaction.paymentMethod }}
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.transaction)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.purchasePriceAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.transactionAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.paymentAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbackUsed)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbacDiscountAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.merchantDiscountAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbackAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.affiliateFeeAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.dealsFeeAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.settlementAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.acquiringFeeAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.dealsVoucher)"
              kurs=""
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    v-else
    class="wrap-table text-center"
  >
    <p class="my-1">
      - No transaction summary found -
    </p>
  </div>
</template>

<script>
import CurrencyFormat from '@/components/CurrencyFormat'
export default {
  name: 'TransactionList',
  components: {
    'currency-format': CurrencyFormat
  },
  props: {
    transactions: {
      default: () => { return [] },
      type: Array
    }
  },
  data: function () {
    return {
    }
  }
}
</script>
<style lang="scss" type="scoped">
.table-transaction {
  thead th{
    vertical-align: top;
    min-width: 150px;
  }
  tbody td {
    vertical-align: middle
  }
}
</style>
