<template>
  <div
    v-if="transactions.length > 0"
    class="wrap-table"
  >
    <table class="table border table-striped text-center table-transaction">
      <thead>
        <tr>
          <th class="border-bottom-0">
            Payment Method
          </th>
          <th class="border-bottom-0">
            Transaction
          </th>
          <th class="border-bottom-0">
            Refund
          </th>
          <th class="border-bottom-0">
            Transaction Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Refund Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Refund Amount (Cashback)
          </th>
          <th class="border-bottom-0">
            Payment Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Cashback Used (Rp)
          </th>
          <th class="border-bottom-0">
            Cashbac Discount Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Merchant Discount Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Outstanding Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Regular Cashback Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Affiliate Fee Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Additional Cashback Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Merchant Subsidy Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Campaign Fee Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Settlement Amount (Rp)
          </th>
          <th class="border-bottom-0">
            Acquiring Fee (Rp)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(transaction, index) in transactions"
          :key="index"
        >
          <td>
            {{ transaction.paymentMethod }}
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.transaction)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.refund)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.transactionAmount)"
              kurs=""
            />
          </td>
          <td>
            <span v-if="transaction.refundAmount === 0">
              <currency-format
                :value="parseFloat(transaction.refundAmount)"
                kurs=""
              />
            </span>
            <span v-else>
              <currency-format
                :value="parseFloat(transaction.refundAmount)"
                kurs=""
              />
            </span>
          </td>
          <td>
            <span v-if="transaction.refundAmount === 0">
              <currency-format
                :value="parseFloat(transaction.refundAmountCashback)"
                kurs=""
              />
            </span>
            <span v-else>
              <currency-format
                :value="parseFloat(transaction.refundAmountCashback)"
                kurs=""
              />
            </span>
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.paymentAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbackUsed)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbacDiscountAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.merchantDiscountAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.outstandingAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.cashbackAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.commisionAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.additionalAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.merchantSubsidyAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.campaignFeeAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.settlementAmount)"
              kurs=""
            />
          </td>
          <td>
            <currency-format
              :value="parseFloat(transaction.acquiringFeeAmount)"
              kurs=""
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    v-else
    class="wrap-table text-center"
  >
    <p class="my-1">
      - No transaction summary found -
    </p>
  </div>
</template>

<script>
import CurrencyFormat from '@/components/CurrencyFormat'
export default {
  name: 'TransactionList',
  components: {
    'currency-format': CurrencyFormat
  },
  props: {
    transactions: {
      default: () => { return [] },
      type: Array
    }
  },
  data: function () {
    return {
    }
  }
}
</script>
<style lang="scss" type="scoped">
.table-transaction {
  thead th{
    vertical-align: top;
    min-width: 150px;
  }
  tbody td {
    vertical-align: middle
  }
}
</style>
