<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Transaction List
    </div>
    <div
      v-if="results && results.length > 0"
      class="card-body"
    >
      <div class="wrap-table">
        <table class="table border table-striped text-center table-transaction">
          <thead>
            <tr>
              <th class="border-bottom-0">
                Merchant Name
              </th>
              <th class="border-bottom-0">
                Settlement Account Name
              </th>
              <th class="border-bottom-0">
                Outlet Name
              </th>
              <th class="border-bottom-0">
                Scheme
              </th>
              <th class="border-bottom-0">
                Payment Method
              </th>
              <th class="border-bottom-0">
                Transaction Date
              </th>
              <th class="border-bottom-0">
                Invoice ID
              </th>
              <th class="border-bottom-0">
                Transaction Type
              </th>
              <th class="border-bottom-0">
                Invoice Status
              </th>
              <th class="border-bottom-0">
                Campaign Name
              </th>
              <th class="border-bottom-0">
                Transaction Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Payment Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Cashback Used (Rp)
              </th>
              <th class="border-bottom-0">
                Cashbac Discount Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Merchant Discount Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Outstanding Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Settlement Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Regular Cashback Amount(Rp)
              </th>
              <th class="border-bottom-0">
                Affiliate Fee Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Additional Cashback Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Merchant Subsidy Amount (Rp)
              </th>
              <th class="border-bottom-0">
                Campaign Fee Amount (Rp)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(data, index) in results"
              :key="index"
            >
              <td>
                {{ data.merchantName || '-' }}
              </td>
              <td>
                {{ data.settlementAccount || '-' }}
              </td>
              <td>
                {{ data.outletName || '-' }}
              </td>
              <td>
                {{ data.scheme || '-' }}
              </td>
              <td>
                {{ data.paymentMethod || '-' }}
              </td>
              <td>
                <span>{{ data.transactionDate > 0 ? formatDate(data.transactionDate, 'hour') : '-' }}</span>
              </td>
              <td>
                {{ data.invoiceId || '-' }}
              </td>
              <td>
                {{ data.transactionType || '-' }}
              </td>
              <td>
                <status-badge
                  :value="data.invoiceStatus ? data.invoiceStatus.toLowerCase() : '-'"
                  type="pill"
                />
              </td>
              <td>
                {{ data.campaignName || '-' }}
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.transactionAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.paymentAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.cashbacUsed)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.cashbacDiscAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.merchantDiscAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.outstandingAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.settlementAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.cashbackAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.commisionAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.additionalCashbackAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.subsidyMerchantAmount)"
                  kurs=""
                />
              </td>
              <td>
                <currency-format
                  :value="parseFloat(data.campaignFeeAmount)"
                  kurs=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <keep-alive>
        <pagination-list
          :results="results"
          :pageSize="params.size"
          :currentPage="params.pagination"
          :totalPage="totalPage"
          :totalRows="totalRows"
          class="text-right"
          @paginationClick="onPaginationClick"
        />
      </keep-alive>
    </div>
    <div
      v-else
      class="card-body text-center"
    >
      <p class="my-1">
        - No transaction list found -
      </p>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import CurrencyFormat from '@/components/CurrencyFormat'
import PaginationList from '@/components/PaginationList'
export default {
  name: 'TransactionList',
  components: {
    'currency-format': CurrencyFormat,
    'pagination-list': PaginationList,
    'status-badge': StatusBadge
  },
  mixins: [authMixin, TableListMixin],
  props: {
    info: {
      default: null,
      type: Object
    }
  },
  data: function () {
    return {
      exceptionalFilter: [],
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      params: {
        size: 10,
        pagination: 1,
        order: 'create_ts',
        orderAttr: 'desc',
        merchantPubID: ''
      }
    }
  },
  computed: {
    APIURL: function () {
      return `settlement-batch/${this.$route.params.pubId}/transactions`
    },
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr,
        merchantPubId: this.$route.params.pubid
      }
    }
  },
  created: function () {
    this.refreshQuery()
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    let obj = {}
    const endpoint = this.API_endpoint
    //
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  },
  methods: {
    refreshQuery: function () {
      this.$router.push({
        query: {
          pagination: 1
        }
      })
    },
    formatDate: function (date, format = '') {
      if (format === 'hour') {
        return moment.unix(date).format('DD-MM-YYYY HH:MM:SS')
      } else {
        return moment(date).format('DD/MM/YYYY')
      }
    }
  }
}
</script>
<style lang="scss" type="scoped">
.table-transaction {
  thead th{
    vertical-align: top;
    min-width: 150px;
  }
  tbody td {
    vertical-align: middle;
    min-width: 170px;
  }
}
</style>
