<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Upload Transaction
      </div>
      <div class="card-body">
        <form @submit.prevent="submitFile">
          <div class="row">
            <div class="col-12">
              <label
                for=""
                class="d-block"
              >Upload CSV File</label>
              <div class="form-inline">
                <div class="form-group">
                  <input
                    id="transactionFIleUpload"
                    ref="myFiles"
                    type="file"
                    name=""
                    class="form-control py-1 px-1"
                    accept=".csv"
                    placeholder=""
                    aria-describedby="helpId"
                    @change="reviewFiles"
                  >
                </div>
                <button
                  type="submit"
                  class="btn-primary btn mx-2 px-3"
                  :disabled="!payload"
                >
                  Upload
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'UploadTransaction',
  mixins: [authMixin],
  props: {
    endpoint: {
      default: '',
      type: String
    }
  },
  data: function () {
    return {
      selectedFile: null,
      payload: null
    }
  },
  methods: {
    submitFile: function () {
      this.uploadCSV.run(process.env.VUE_APP_API, this.endpoint)
    },
    reviewFiles: function () {
      let file = this.$refs.myFiles.files[0]
      let formData = new FormData()
      formData.append('file', file)
      this.payload = formData
    }
  },
  tasks (t) {
    return {
      uploadCSV: t(function * (endpoint = process.env.VUE_APP_API, resource = '') {
        let self = this
        let headerUpload = {}
        headerUpload = { ...headerUpload, ...self.GetHeader('UPLOAD SETTLEMENT') }
        headerUpload['Content-Type'] = 'multipart/form-data'
        if (this.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, self.payload, {
            headers: headerUpload
          }).then(response => {
            if (response.body.code === 200) {
              document.getElementById('transactionFIleUpload').value = null
              self.selectedFile = null
              self.payload = null
              self.flash(`${response.body.message || 'success upload csv'}`, 'success', {
                timeout: 5000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Error bulk upload ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
            self.loading = false
          })
        }
      }).flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>
<style lang="scss" type="scoped">
</style>
