<template>
  <form-create-edit
    :isSubmitting="submitCreate.isActive || submitEdit.isActive ? true : false"
    :isLoadingBanner="getListBanner.isActive"
    :isAllSuccess="allSuccess"
    :listRedemptionUnit="listRedemptionUnit"
    :listRedemptionGroup="listRedemptionGroup"
    :listCashbacUnit="listCashbacUnit"
    :listCashbacSource="listCashbacSource"
    :listBanner="listBanner"
    @submit-create="onCreate"
    @submit-edit="onEdit"
  />
</template>

<script>
import authMixin from '@/mixins/auth'
import CreateEditMixin from '@/mixins/promotion/CreateEditMixin'
import FormCreateEdit from '@/components/promotions/PromotionFormCreateEdit'
export default {
  name: 'PromotionCreate',
  components: {
    'form-create-edit': FormCreateEdit
  },
  mixins: [authMixin, CreateEditMixin],
  created () {
    this.getListBanner.run(process.env.VUE_APP_API, this.API_BANNERS)
  },
  methods: {
    onCreate: function (obj) {
      this.submitCreate.run(process.env.VUE_APP_API, this.API_CREATE, obj)
    },
    onEdit: function (obj) {
      this.submitEdit.run(process.env.VUE_APP_API, this.API_EDIT, obj)
    }
  }
}
</script>
