/* eslint-disable vue/html-closing-bracket-newline */
<template>
  <div class="mb-5">
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="row d-flex align-items-center mb-4"
    >
      <div class="col-md-8">
        <h3>
          {{ detailInfo.promoName || '-' }}
        </h3>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <router-link
          class="btn btn-outline-success bg-white text-success px-5"
          :to="{name: 'PromotionEdit', params: {id: $route.params.pubId, text: detailInfo.promoName}}"
        >
          Edit
        </router-link>
      </div>
    </div>
    <div
      v-else
      class="text-center py-5"
    >
      - Not Found -
    </div>
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Promotion Details
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Promo Name</label>
              <span class="d-block">
                <print :value="detailInfo.promoName" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Start Date</label>
              <span class="d-block">
                {{ formatDate(detailInfo.startDate, ' 00:00:00') }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >End Date</label>
              <span class="d-block">
                {{ formatDate(detailInfo.endDate, ' 23:59:59') }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Promo Quota</label>
              <span class="d-block">
                {{ detailInfo.quota.replace("Year",'Tahun').replace("Month",'Bulan').replace("Week",'Minggu') }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Terms & Condition</label>
              <ul
                v-if="detailInfo.terms && detailInfo.terms.length > 0"
                class="pl-3"
              >
                <li
                  v-for="(term, index) in detailInfo.terms"
                  :key="index"
                >
                  {{ term }}
                </li>
              </ul>
              <span v-else>-</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Transaction Day</label>
              <span class="d-block text-capitalize">
                <p v-if="detailInfo.trxDay && detailInfo.trxDay.length > 0">
                  <span
                    v-for="(el, index) in detailInfo.trxDay"
                    :key="index"
                  >
                    {{ el ? el.toLowerCase() : '-' }}<span v-if="(detailInfo.trxDay.length - 1) > index">, </span>
                  </span>
                </p>
                <span v-else>-</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Banner Name</label>
              <span class="d-block">
                {{ detailInfo.bannerName }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Redemption Group</label>
              <span class="d-block">
                {{ mappingList('listRedemptionGroup', detailInfo.redemptionGroup) }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #### detail cashback #### -->
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Detail Cashback
      </div>
      <div
        v-if="getData.isActive"
        class="card-body"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Value</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.cashbacValue"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Source</label>
              <span class="d-block text-capitalize">
                <print :value="detailInfo.cashbacSource.toLowerCase()" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Unit</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.cashbacUnit && units[detailInfo.cashbacUnit] ? units[detailInfo.cashbacUnit] : '-' }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cashback Maximum</label>
              <span class="d-block text-capitalize">
                <currency-format
                  :value="detailInfo.cashbacMaximum"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #### detail partner #### -->
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Detail Partner
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Partner Name</label>
              <span class="d-block">
                <print :value="detailInfo.partnerName" />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Merchant List</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.merchantCount"
                />
                <button
                  class="btn btn-success btn-sm"
                  @click="downloadCSV.run('MERCHANT', `merchant_list_${ dateNow }`)"
                >
                  Download CSV
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #### target user #### -->
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Target User
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Usage Count</label>
              <span class="d-block">
                <p v-if="detailInfo.usageCount && detailInfo.usageCount.length > 0">
                  <span
                    v-for="(el, index) in detailInfo.usageCount"
                    :key="index"
                  >
                    {{ el || '-' }}<span v-if="(detailInfo.usageCount.length - 1) > index">, </span>
                  </span>
                </p>
                <span v-else>-</span>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Targeted User</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.targetedUser"
                />
                <button
                  class="btn btn-success btn-sm"
                  @click="downloadCSV.run('USER', `user_list_${ dateNow }`)"
                >
                  Download CSV
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #### payment #### -->
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Payment
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Promo Type</label>
              <span class="d-block">
                <p v-if="detailInfo.promoType && detailInfo.promoType.length > 0">
                  <span
                    v-for="(el, index) in detailInfo.promoType"
                    :key="index"
                  >
                    {{ el || '-' }}<span v-if="(detailInfo.promoType.length - 1) > index">, </span>
                  </span>
                </p>
                <span v-else>-</span>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Tenur</label>
              <span class="d-block">
                <p v-if="detailInfo.tenure && detailInfo.tenure.length > 0">
                  <span
                    v-for="(el, index) in detailInfo.tenure"
                    :key="index"
                  >
                    {{ `Installment ${el}x` }}<span v-if="(detailInfo.tenure.length - 1) > index">, </span>
                  </span>
                </p>
                <span v-else>-</span>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Payment Method Excluded</label>
              <span class="d-block">
                <p v-if="detailInfo.paymentMethod && detailInfo.paymentMethod.length > 0">
                  <span
                    v-for="(el, index) in detailInfo.paymentMethod"
                    :key="index"
                  >
                    {{ el || ' - ' }}<span v-if="(detailInfo.paymentMethod.length - 1) > index">, </span>
                  </span>
                </p>
                <span v-else>-</span>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Card BIN</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.cardBinCount"
                />
                <button
                  class="btn btn-success btn-sm"
                  @click="downloadCSV.run('CARD_BIN', `card_bin_list_${ dateNow }`)"
                >
                  Download CSV
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #### Settlement Calculation #### -->
    <div
      v-if="Object.keys(detailInfo).length > 0 && !getData.isActive"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Settlement Calculation
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Start Date Settlement</label>
              <span class="d-block">
                <span v-if="detailInfo.settlementStartTs === 0">-</span>
                <date-format
                  v-else
                  :isUnix="true"
                  :value="detailInfo.settlementStartTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >End Date Settlement</label>
              <span class="d-block">
                <span v-if="detailInfo.settlementEndTs === 0">-</span>
                <date-format
                  v-else
                  :isUnix="true"
                  :value="detailInfo.settlementEndTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Campaign fee Maximum</label>
              <span class="d-block text-capitalize">
                <currency-format
                  :value="detailInfo.campaignFeeMaximum"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Campaign Fee</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.campaignFee + '%' || '-' }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Sharing Value</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.sharingValue + '%' || '-' }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Sharing Maximum</label>
              <span class="d-block text-capitalize">
                <currency-format
                  :value="detailInfo.campaignSharingMaximum"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Show Promo</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.showPromo ? (detailInfo.showPromo ? 'Yes' : 'No') : '-' }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Type</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.type || '-' }}
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Auto Settlement</label>
              <span class="d-block text-capitalize">
                {{ detailInfo.autoSettlement ? (detailInfo.autoSettlement ? 'Yes' : 'No') : '-' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import authMixin from './../../mixins/auth'
import CardProgress from './../../components/CardProgress'
import PrintValue from '@/components/PrintValue'
import currencyFormat from '../../components/CurrencyFormat'
import * as dummy from '@/utils/dummy'
import Vuency from 'vuency'
import DateFormat from '@/components/DateFormat'

Vue.use(Vuency)

export default {
  name: 'TransactionsDetail',
  components: {
    'print': PrintValue,
    'card-progress': CardProgress,
    'currency-format': currencyFormat,
    'date-format': DateFormat
  },
  mixins: [authMixin],
  props: ['id'],
  data: function () {
    return {
      detailInfo: {},
      listRedemptionUnit: dummy.listRedemptionUnit,
      listRedemptionGroup: dummy.listRedemptionGroup,
      listCashbacUnit: dummy.listCashbacUnit,
      listCashbacSource: dummy.listCashbacSource,
      units: {
        '%': 'percentage',
        '*': 'multiple',
        '+': 'plus'
      }
    }
  },
  computed: {
    dateNow: function () {
      let date = moment().format('YYYYMMDD')
      return date
    }
  },
  created: function () {
    this.getData.run()
  },
  methods: {
    formatDate: function (date, text = '') {
      date = date - 25200
      return moment.unix(date).format('DD-MM-YYYY HH:mm:ss')
    },
    mappingList: function (state, value) {
      let list = this[state]
      let found = list.find(element => element.value === value) || []
      return found.title || '-'
    },
    downloadFile: function (csvStr, name) {
      let hiddenElement = document.createElement('a')
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvStr)
      hiddenElement.target = '_blank'
      hiddenElement.download = `${name}.csv`
      hiddenElement.click()
      hiddenElement.remove()
    }
  },
  tasks (t) {
    return {
      downloadCSV: t(function * (type = '', name = 'file_download', endpoint = process.env.VUE_APP_API, resource = `promos/${this.$route.params.pubId}`) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(`${endpoint}${resource}?targetData=${type}`, {
            headers: self.GetHeader('DOWNLOAD CSV')
          }).then(response => {
            self.downloadFile(response.body, name)
          }, (err) => {
            self.flash(`Error get detail : : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        }),
      getData: t(function * (endpoint = process.env.VUE_APP_API, resource = `promos/${this.$route.params.pubId}`) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(`${endpoint}${resource}`, {
            headers: self.GetHeader('VIEW DETAIL PROMO')
          }).then(response => {
            if (response.body.code === 200) {
              if (response.body.content !== null) {
                self.detailInfo = response.body.content
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get promo detail : ' + response.body.message, 'error', {
                timeout: 5000
              })
              self.$router.push('/promo/list')
            }
          }, (err) => {
            self.flash(`Error get detail : : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
            self.$router.push('/promo/list')
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width {
  min-width: 180px;
}
.min-width-80 {
  min-width: 80px;
}
</style>
