<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Merchant Name
          </th>
          <th class="min-width align-middle">
            Status
          </th>
          <th class="min-width align-middle">
            Created Date
          </th>
          <th class="min-width align-middle">
            City
          </th>
          <th class="min-width align-middle">
            Business Type
          </th>
          <th class="min-width align-middle">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Merchants Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <router-link :to="{name: 'MerchantDetail', params: {pubid: data.merchant_pubid, text: data.trade_name ? data.trade_name : '-'}}">
              {{ data.trade_name ? data.trade_name : '-' }}
            </router-link>
          </td>
          <td
            scoped="row"
            class="text-capitalize"
          >
            <status-badge
              :value="data.status ? data.status.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td scoped="row">
            <span>
              {{ formatDate(data.create_ts) }}
            </span>
          </td>
          <td
            scoped="row"
            class="text-capitalize"
          >
            <span>{{ data.city ? data.city.toLowerCase() : '-' }}</span>
          </td>
          <td scoped="row">
            <span>{{ data.business_type ? data.business_type : '-' }}</span>
          </td>
          <td scoped="row">
            <router-link
              class="btn btn-success btn-sm"
              :to="{name: 'MerchantEdit', params: {id: data.merchant_pubid, text: data.trade_name ? data.trade_name : '-'}}"
            >
              <div class="fa fa-pencil" />
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'
export default {
  name: 'MerchantTableList',
  components: {
    'status-badge': StatusBadge
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date) {
      return moment(date).format('DD-MM-YYYY HH:mm:ss')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
