<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="merchant_name">Merchant Name</label>
            <input
              id="merchant_name"
              v-model="querySearch.TradeName"
              type="text"
              name="merchant_name"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
          <div class="form-group">
            <label for="invoice_type">City</label>
            <multiselect
              id="selectCity"
              v-model="querySearch.city"
              label="name"
              track-by="name"
              placeholder="Select City"
              :close-on-select="true"
              :show-labels="true"
              :options="listOfCity"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
              @select="onSelectingList"
            >
              <template
                slot="singleLabel "
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-capitalize text-placeholder"
                >Select City {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="invoice_type">Status</label>
            <multiselect
              id="selectStatus"
              v-model="querySearch.status"
              label="name"
              track-by="name"
              placeholder="Select Status"
              :close-on-select="true"
              :show-labels="true"
              :options="optionStatusMerchant"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
              @select="onSelectingList"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Status {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
          <div class="form-group">
            <label for="invoice_type">Business Type</label>
            <multiselect
              id="businessType"
              v-model="querySearch.BusinessType"
              label="name"
              track-by="name"
              placeholder="Select Business Type"
              :close-on-select="true"
              :show-labels="true"
              :options="listBusinessType"
              :searchable="true"
              :allow-empty="false"
              :disabled="false"
              @select="onSelectingList"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Type {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="transaction_date">Created Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="publish_date"
                  :initialDate="false"
                  :watching="querySearch.publish_date_start"
                  :start="querySearch.publish_date_start"
                  :end="querySearch.publish_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import DateRangePicker from '@/components/DateRangePicker'
import FilterSearchMixin from '@/mixins/FilterSearchMixin'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
import * as dummy from '@/utils/dummy'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'MerchantFilterSearch',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  mixins: [FilterSearchMixin, authMixin],
  props: ['pagination'],
  data: function () {
    return {
      optionStatusMerchant: dummy.merchantListStatus,
      listBusinessType: dummy.merchantListBusinessType,
      listOfCity: [],
      querySearch: {
        TradeName: '',
        status: '',
        BusinessType: '',
        city: '',
        publish_date_start: this.$route.query.start_date ? this.$route.query.start_date : '',
        publish_date_end: this.$route.query.end_date ? this.$route.query.end_date : ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      const { TradeName, status, BusinessType, city } = this.querySearch
      let obj = {
        trade_name: TradeName,
        status: status.name,
        business_type: BusinessType.name,
        city: city.name,
        start_date: this.querySearch.publish_date_start,
        end_date: this.querySearch.publish_date_end
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  created: function () {
    this.getLocations.run()
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      this.querySearch[dateEnd] = obj.end
    }
  },
  tasks (t, { timeout }) {
    return {
      getLocations: t(function * () {
        let self = this
        yield self.$http.get(`/utils/province.json`, {
          headers: self.GetHeader('GET PROVINCE')
        }).then(response => {
          for (let i = 0; i < Object.keys(response.body).length; i++) {
            let name = Object.keys(response.body)[i]
            Object.keys(response.body[name]).forEach(function (item, index) {
              self.listOfCity = [...self.listOfCity, { name: item }]
            })
          }
        }, (err) => {
          self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
            timeout: 10000
          })
        })
      })
        .flow('enqueue', { maxRunning: 1 })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
