<template>
  <div class="form-wrap text-left mb-5 pb-3">
    <form
      v-if="hideFormContent === false"
      @submit.prevent="submitPayload()"
    >
      <div class="card">
        <div class="card-header font-weight-bold">
          Merchant Main Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#mainInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="mainInformation"
          class="card-body collapse show"
        >
          <div class="form-group-wrap">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="merchant_name">Merchant Name <span class="text-danger">*</span></label>
                  <input
                    id="merchant_name"
                    v-model="newMerchant.merchant.tradeName"
                    type="text"
                    class="form-control"
                    placeholder=""
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="merchant_name">Status <span class="text-danger">*</span></label>
                  <multiselect
                    id="merchantStatus"
                    v-model="newMerchant.merchant.statusObj"
                    label="name"
                    track-by="name"
                    placeholder="Select Status"
                    :close-on-select="true"
                    :show-labels="true"
                    :options="listStatus ? listStatus : []"
                    :searchable="true"
                    :allow-empty="false"
                    :disabled="false"
                    @select="afterSelect"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.name"
                        class="text-capitalize"
                      >{{ option.name }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Select Status {{ option.name }}</span>
                    </template>
                  </multiselect>
                  <input
                    for="handle empty data"
                    type="text"
                    :value="newMerchant.merchant.status"
                    class="sr-only"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="merchant_name">Parent Merchant</label>
                  <multiselect
                    id="merchantParent"
                    v-model="newMerchant.merchant.parent"
                    label="trade_name"
                    track-by="trade_name"
                    :placeholder="getMerchants.isActive ? 'Fetching Data...' : 'Select Merchants'"
                    :close-on-select="true"
                    :show-labels="true"
                    :options="listMerchants ? listMerchants : []"
                    :searchable="true"
                    :allow-empty="false"
                    :disabled="false"
                    @select="afterSelect"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.trade_name"
                        class="text-capitalize"
                      >{{ option.trade_name }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Select Outlet {{ trade_name }}</span>
                    </template>
                  </multiselect>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="merchantType">Business Type <span class="text-danger">*</span></label>
                  <multiselect
                    id="merchantType"
                    v-model="newMerchant.merchant.businessTypeOptions"
                    label="name"
                    track-by="name"
                    placeholder="Select Type"
                    :close-on-select="true"
                    :show-labels="true"
                    :options="listBusinessType ? listBusinessType : []"
                    :searchable="true"
                    :allow-empty="false"
                    :disabled="false"
                    @select="afterSelect"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.name"
                        class="text-capitalize"
                      >{{ option.name }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Select Type</span>
                    </template>
                  </multiselect>
                  <input
                    for="handle empty data"
                    type="text"
                    :value="newMerchant.merchant.businessType"
                    class="sr-only"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="merchant_name">Tags</label>
                  <multiselect
                    id="merchantTags"
                    v-model="newMerchant.merchant.listSelectedTags"
                    label="name"
                    track-by="name"
                    :multiple="true"
                    :placeholder="getTags.isActive ? 'Fetching Data...' : 'Select Tag'"
                    :close-on-select="false"
                    :show-labels="true"
                    :options="listTags ? listTags : []"
                    :searchable="true"
                    :allow-empty="false"
                    :disabled="false"
                    @select="afterSelect"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.name"
                        class="text-capitalize"
                      >{{ option.name }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Select Outlet</span>
                    </template>
                  </multiselect>
                  <input
                    for="handle empty data"
                    type="text"
                    :value="newMerchant.merchant.tags"
                    class="sr-only"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="phone-number">Business Phone Number</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i
                          class="fa fa-phone"
                          aria-hidden="true"
                        />
                      </span>
                    </div>
                    <input
                      v-model="newMerchant.merchant.hqMdn"
                      type="number"
                      class="form-control"
                      min="1"
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="phone-number">Merchant Description</label>
                    <textarea class="form-control" rows="5" v-model="newMerchant.fee.description">
                      </textarea>
                  </div>
                </div> -->
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="outletOptions">Merchant Options<span class="text-danger">*</span></label>
                  <multiselect
                    id="outletOptions"
                    v-model="newMerchant.merchant.merchantOptions"
                    label="name"
                    track-by="name"
                    selectLabel=""
                    placeholder="Please Select"
                    :close-on-select="false"
                    :multiple="true"
                    :show-labels="true"
                    :options="listMerchantOptions || []"
                    :custom-label="customOptionLabel"
                    :searchable="true"
                    :allow-empty="false"
                    :disabled="false"
                  >
                    <template
                      slot="singleLabel"
                      slot-scope="{ option }"
                    >
                      <span
                        v-if="option.name"
                        class="text-capitalize"
                      >{{ customOptionLabel(option) }}</span>
                      <span
                        v-else
                        class="text-placeholder"
                      >Please Select</span>
                    </template>
                  </multiselect>
                  <input
                    v-model="newMerchant.merchant.merchantOptions"
                    type="text"
                    class="sr-only"
                    required
                  >
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="#webAddress">Website Address (Online Deals Only)</label>
                  <input
                    id="webAddress"
                    v-model="newMerchant.merchant.website"
                    type="text"
                    name="webAddress"
                    class="form-control"
                    placeholder=""
                    aria-describedby="webAddress"
                  >
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="#appsName">Merchant App Name (Online Deals Only)</label>
                  <input
                    id="appsName"
                    v-model="newMerchant.merchant.appsName"
                    type="text"
                    name="appsName"
                    class="form-control"
                    placeholder=""
                    aria-describedby="appsName"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="card">
        <div class="card-header font-weight-bold">
          Address Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#addressInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="addressInformation"
          class="card-body collapse show"
        >
          <div class="form-group-wrap">
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group mb-3">
                  <label for="merchant_name">Address <span class="text-danger">*</span></label>
                  <textarea
                    id="merchantAddress"
                    v-model="newMerchant.merchant.hqAddress"
                    name="merchantAddress"
                    cols="30"
                    rows="5"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-3">
                      <label for="province">Province <span class="text-danger">*</span></label>
                      <multiselect
                        id="merchantProvince"
                        v-model="newMerchant.merchant.hqProvinceObj"
                        label="name"
                        track-by="name"
                        :placeholder="getLocations.isActive ? 'Fetching Data...' : 'Select Province'"
                        :close-on-select="true"
                        :show-labels="true"
                        :options="listProvince ? listProvince : []"
                        :searchable="true"
                        :allow-empty="false"
                        :disabled="false"
                        @select="afterSelect"
                      >
                        <template
                          slot="singleLabel"
                          slot-scope="{ option }"
                        >
                          <span
                            v-if="option.name"
                            class="text-capitalize"
                          >{{ option.name }}</span>
                          <span
                            v-else
                            class="text-placeholder"
                          >Select Outlet</span>
                        </template>
                      </multiselect>
                      <input
                        for="handle empty data"
                        type="text"
                        :value="newMerchant.merchant.hqProvince"
                        class="sr-only"
                        required
                      >
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-3">
                      <label for="province">City <span class="text-danger">*</span></label>
                      <multiselect
                        id="merchantCity"
                        v-model="newMerchant.merchant.hqCityObj"
                        label="name"
                        track-by="name"
                        :placeholder="getLocations.isActive ? 'Fetching Data...' : 'Select City'"
                        :close-on-select="true"
                        :show-labels="true"
                        :options="listCity ? listCity : []"
                        :searchable="true"
                        :allow-empty="false"
                        :disabled="newMerchant.merchant.hqProvince === ''"
                        @select="afterSelect"
                      >
                        <template
                          slot="singleLabel"
                          slot-scope="{ option }"
                        >
                          <span
                            v-if="option.name"
                            class="text-capitalize"
                          >{{ option.name }}</span>
                          <span
                            v-else
                            class="text-placeholder"
                          >Select Outlet</span>
                        </template>
                      </multiselect>
                      <input
                        for="handle empty data"
                        type="text"
                        :value="newMerchant.merchant.hqCity"
                        class="sr-only"
                        required
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-3">
                      <label for="building_name">Postal Code <span class="text-danger">*</span></label>
                      <input
                        id="merchantPostalCode"
                        v-model="newMerchant.merchant.hqZipCode"
                        type="number"
                        class="form-control"
                        name="merchant "
                        aria-describedby="helpId"
                        placeholder=""
                        required
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div
        v-if="!IdMerchant"
        class="card"
      >
        <div class="card-header font-weight-bold">
          Settlement Information
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#settlementInformation"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="settlementInformation"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="businessEntityName">Business Entity Name <span class="text-danger">*</span></label>
                    <input
                      id="businessEntityName"
                      v-model="newMerchant.account.legalName"
                      type="text"
                      class="form-control"
                      name="businessEntityName"
                      aria-describedby="helpId"
                      placeholder=""
                      required
                    >
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="npwpNumber">NPWP <span class="text-danger">*</span></label>
                    <input
                      id="npwpNumber"
                      v-model="newMerchant.account.npwp"
                      type="text"
                      title="NPWP"
                      class="form-control"
                      name="npwpNumber"
                      aria-describedby="helpId"
                      placeholder=""
                      required
                    >
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="entity_name">Bank Name <span class="text-danger">*</span></label>
                    <multiselect
                      id="merchantBankName"
                      v-model="newMerchant.account.bankNameObj"
                      label="bankName"
                      track-by="bankName"
                      :placeholder="getBanks.isActive ? 'Fetching Data...' : 'Select Bank'"
                      :close-on-select="true"
                      :show-labels="true"
                      :options="listBanks ? listBanks : []"
                      :searchable="true"
                      :allow-empty="false"
                      :disabled="false"
                      @select="afterSelect"
                    >
                      <template
                        slot="singleLabel"
                        slot-scope="{ option }"
                      >
                        <span
                          v-if="option.bankName"
                          class="text-capitalize"
                        >{{ option.bankName }}</span>
                        <span
                          v-else
                          class="text-placeholder"
                        >Select Outlet</span>
                      </template>
                    </multiselect>
                    <input
                      for="handle empty data"
                      type="text"
                      :value="newMerchant.account.bankName"
                      class="sr-only"
                      required
                    >
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="bankBranch">Bank Branch <span class="text-danger">*</span></label>
                    <input
                      id="bankBranch"
                      v-model="newMerchant.account.bankBranch"
                      type="text"
                      class="form-control"
                      name="bankBranch"
                      aria-describedby="helpId"
                      placeholder=""
                      required
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group mb-3">
                <label for="npwpAddress">NPWP Address <span class="text-danger">*</span></label>
                <textarea
                  id="npwpAddress"
                  v-model="newMerchant.account.npwpAddress"
                  name="npwpAddress"
                  class="form-control"
                  rows="5"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label for="accountName">Account Name <span class="text-danger">*</span></label>
                <input
                  id="accountName"
                  v-model="newMerchant.account.accountName"
                  type="text"
                  class="form-control"
                  name="accountName"
                  aria-describedby="helpId"
                  placeholder=""
                  required
                >
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label for="accountNumber">Account Number <span class="text-danger">*</span></label>
                <input
                  id="accountNumber"
                  v-model="newMerchant.account.accountNumber"
                  type="number"
                  class="form-control"
                  name="accountNumber"
                  aria-describedby="helpId"
                  placeholder=""
                  required
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="remarkBankTransfer">Remark Bank Transfer Instruction</label>
                <input
                  id="remarkBankTransfer"
                  v-model="newMerchant.account.remarkBankTransfer"
                  type="text"
                  class="form-control"
                  name="remarkBankTransfer"
                  aria-describedby="helpId"
                  placeholder=""
                >
              </div>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-end">
              <div class="form-group mb-3 d-flex align-items-center">
                <label class="switch switch-pill switch-primary">
                  <input
                    v-model="newMerchant.account.receiveReceipt"
                    class="switch-input"
                    type="checkbox"
                  >
                  <span class="switch-slider" />
                </label>
                <label class="px-2">Receive Copy Receipt</label>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group mb-3">
                <label for="accountEmail">Email as Payment Report</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i
                        class="fa fa-envelope"
                        aria-hidden="true"
                      />
                    </span>
                  </div>
                  <input
                    id="accountEmail"
                    v-model="newMerchant.account.email"
                    type="email"
                    class="form-control"
                    min="1"
                    :disabled="newMerchant.account.receiveReceipt === false ? true : false"
                    required
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="card">
        <div class="card-header font-weight-bold">
          Affiliate Fee and Customer Cashback
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#affiliateFee"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="affiliateFee"
          class="card-body collapse show"
        >
          <div class="mb-5">
            <div class="form-check form-check-inline pr-5">
              <input
                id="str_newSchema"
                v-model="newMerchant.merchant.useNewCashbackScheme"
                class="form-check-input"
                type="radio"
                name="str_schema"
                :checked="newMerchant.merchant.useNewCashbackScheme == true"
                :value="true"
              >
              <label
                class="form-check-label"
                for="str_newSchema"
              >
                New Schema
              </label>
              <span
                class="icon-sm info-circle"
                data-toggle="tooltip"
                data-placement="top"
                title="Cashback User value should be exclude VAT"
              />
            </div>
            <div class="form-check form-check-inline">
              <input
                id="str_oldSchema"
                v-model="newMerchant.merchant.useNewCashbackScheme"
                class="form-check-input"
                type="radio"
                name="str_schema"
                :checked="newMerchant.merchant.useNewCashbackScheme == false"
                :value="false"
              >
              <label
                class="form-check-label"
                for="str_oldSchema"
              >
                Old Schema
              </label>
              <span
                class="icon-sm info-circle"
                data-toggle="tooltip"
                data-placement="top"
                title="Cashback User value should be include VAT"
              />
            </div>
          </div>
          <div class="clear" />
          <span class="mb-1 d-block"><strong>Affiliate Fee</strong></span>
          <div class="row">
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>New Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.comissionNewCustomerFee"
                      type="number"
                      class="form-control"
                      name="percentage"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('newCustomerFee', newMerchant.fee.comissionNewCustomerFee, newMerchant.fee.cashbacNewCustomerFee)"
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- comission : returning -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Returning Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.comissionRetainCustomerFee"
                      type="number"
                      class="form-control"
                      name="percentage"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('retainCustomerFee', newMerchant.fee.comissionRetainCustomerFee, newMerchant.fee.cashbacRetainCustomerFee)"
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- comission : lapsed -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Lapsed Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.comissionLapseCustomerFee"
                      type="number"
                      class="form-control"
                      name="percentage"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('lapseCustomerFee', newMerchant.fee.comissionLapseCustomerFee, newMerchant.fee.cashbacLapseCustomerFee)"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- customer cashback : new -->
          <hr class="full-row-card">
          <span class="mb-1 d-block"><strong>Customer Cashback</strong></span>
          <div class="row">
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>New Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.cashbacNewCustomerFee"
                      type="number"
                      class="form-control"
                      name="cashbacNewCustomerFee"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('newCustomerFee', newMerchant.fee.comissionNewCustomerFee, newMerchant.fee.cashbacNewCustomerFee)"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.newCustomerMaxCashback"
                      type="text"
                      :output-type="'Number'"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="newCustomerMaxCashback"
                      placeholder=""
                      :max="10000000000"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- customer cashback : return -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Returning Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.cashbacRetainCustomerFee"
                      type="number"
                      class="form-control"
                      name="cashbacRetainCustomerFee"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('retainCustomerFee', newMerchant.fee.comissionRetainCustomerFee, newMerchant.fee.cashbacRetainCustomerFee)"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.retainCustomerMaxCashback"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="retainCustomerMaxCashback"
                      placeholder=""
                      :max="10000000000"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- customer cashback : lapsed -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Lapsed Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      v-model.number="newMerchant.fee.cashbacLapseCustomerFee"
                      type="number"
                      class="form-control"
                      name="cashbacLapseCustomerFee"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                      @change="updateComissionNew('lapseCustomerFee', newMerchant.fee.comissionLapseCustomerFee, newMerchant.fee.cashbacLapseCustomerFee)"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5 text-muted"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.lapseCustomerMaxCashback"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="lapseCustomerMaxCashback"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- comission : new -->
          <hr class="full-row-card">
          <div
            class="row"
            style="display: none;"
          >
            <!-- affiliate fee new customer -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>New Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      name="percentage"
                      :value="newMerchant.fee.newCustomerFee"
                      placeholder=""
                      step="0.01"
                      max="100"
                      required
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.newCustomerMaxAffiliate"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="newCustomerMaxAffiliate"
                      separator="."
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- affiliate fee returning customer -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Returning Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      name="percentage"
                      placeholder=""
                      :value="newMerchant.fee.retainCustomerFee"
                      step="0.01"
                      max="100"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.retainCustomerMaxAffiliate"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="retainCustomerMaxAffiliate"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- affiliate fee lapsed customer -->
            <div class="col-12 col-lg-4 border-lg-right py-3">
              <span class="d-block mb-2"><strong>Lapsed Customer</strong></span>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Percentage (%) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        %
                      </span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      name="lapseCustomerFee"
                      placeholder=""
                      :value="newMerchant.fee.lapseCustomerFee"
                      step="0.01"
                      max="100"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-form-label col-md-5"
                  for=""
                >Cap (Rp) <span class="text-danger" /></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Rp
                      </span>
                    </div>
                    <vue-numeric
                      v-model.number="newMerchant.fee.lapseCustomerMaxAffiliate"
                      type="text"
                      output-type="Number"
                      :thousandSeparator="'.'"
                      :precision="0"
                      class="form-control"
                      name="lapseCustomerMaxAffiliate"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label
              for=""
              class="font-weight-bold"
            >Cashback Terms and Conditions</label>
            <textarea
              id=""
              v-model="newMerchant.fee.terms[0]"
              class="form-control"
              name=""
              rows="5"
            />
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="card">
        <div class="card-header font-weight-bold">
          Cashback Percentage
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#cashbacPercentage"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="cashbacPercentage"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-1</label>
                <multiselect
                  id="cashbackPercentage1"
                  v-model="tempCashbacPercent[0].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="false"
                  :allow-empty="true"
                  :disabled="false"
                  @remove="cashbackPercentageSelect({style: ''}, 'cashbackPercentage1')"
                  @select="cashbackPercentageSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-2</label>
                <multiselect
                  id="cashbackPercentage2"
                  v-model="tempCashbacPercent[1].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="false"
                  :allow-empty="true"
                  :disabled="false"
                  @remove="cashbackPercentageSelect({style: ''}, 'cashbackPercentage2')"
                  @select="cashbackPercentageSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-3</label>
                <multiselect
                  id="cashbackPercentage3"
                  v-model="tempCashbacPercent[2].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="false"
                  :allow-empty="true"
                  :disabled="false"
                  @remove="cashbackPercentageSelect({style: ''}, 'cashbackPercentage3')"
                  @select="cashbackPercentageSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-1</label>
                <input
                  id=""
                  v-model="tempCashbacPercent[0].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :disabled="tempCashbacPercent[0].style ? false : true"
                  :maxlength="(tempCashbacPercent[0].options ? tempCashbacPercent[0].options.style : '') === 'regular' ? 11 : 6"
                  :required="tempCashbacPercent[0].options ? true : false"
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-2</label>
                <input
                  id=""
                  v-model="tempCashbacPercent[1].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :disabled="tempCashbacPercent[1].style ? false : true"
                  :maxlength="(tempCashbacPercent[1].options? tempCashbacPercent[1].options.style : '') === 'regular' ? 11 : 6"
                  :required="tempCashbacPercent[1].options ? true : false"
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-3</label>
                <input
                  id=""
                  v-model="tempCashbacPercent[2].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :disabled="tempCashbacPercent[2].style ? false : true"
                  :maxlength="(tempCashbacPercent[2].options ? tempCashbacPercent[2].options.style : '') === 'regular' ? 11 : 6"
                  :required="tempCashbacPercent[2].options ? true : false"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="card">
        <div class="card-header font-weight-bold">
          Promotion Ribbon
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#promotionRibbon"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="promotionRibbon"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Type</label>
                <multiselect
                  id="promotionType"
                  v-model="tempRibbonText.options"
                  label="value"
                  track-by="value"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{value: 'additional', text: 'Additional Promo'} ,{value: 'normal', text: 'Normal Promo'}]"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="false"
                  @remove="cashbackRibbonSelect('', 'promotionType')"
                  @select="cashbackRibbonSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.text"
                      class="text-capitalize"
                    >{{ option.text }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-1</label>
                <multiselect
                  id="promotionTypeStyle1"
                  v-model="tempRibbonText.title[0].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="tempRibbonText.options ? false : true"
                  @remove="cashbackRibbonSelect({style: ''}, 'promotionTypeStyle1')"
                  @select="cashbackRibbonSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-2</label>
                <multiselect
                  id="promotionTypeStyle2"
                  v-model="tempRibbonText.title[1].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="tempRibbonText.options ? false : true"
                  @remove="cashbackRibbonSelect({style: ''}, 'promotionTypeStyle2')"
                  @select="cashbackRibbonSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="">Style-3</label>
                <multiselect
                  id="promotionTypeStyle3"
                  v-model="tempRibbonText.title[2].options"
                  label="style"
                  track-by="style"
                  placeholder="Please Select"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="[{style: 'regular'} ,{style: 'bold'}]"
                  :searchable="true"
                  :allow-empty="true"
                  :disabled="tempRibbonText.options ? false : true"
                  @remove="cashbackRibbonSelect({style: ''}, 'promotionTypeStyle3')"
                  @select="cashbackRibbonSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option.style"
                      class="text-capitalize"
                    >{{ option.style }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Please Select</span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-1</label>
                <input
                  id=""
                  v-model="tempRibbonText.title[0].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :maxlength="checkMaxLength(tempRibbonText.options, tempRibbonText.title[0].options)"
                  :disabled="tempRibbonText.title[0].style ? false : true"
                  :required="tempRibbonText.title[0].options ? true : false"
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-2</label>
                <input
                  id=""
                  v-model="tempRibbonText.title[1].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :maxlength="checkMaxLength(tempRibbonText.options, tempRibbonText.title[1].options)"
                  :disabled="tempRibbonText.title[1].style ? false : true"
                  :required="tempRibbonText.title[1].options ? true : false"
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  for=""
                  class="text-capitalize"
                >text-3</label>
                <input
                  id=""
                  v-model="tempRibbonText.title[2].text"
                  type="text"
                  class="form-control"
                  name=""
                  aria-describedby="helpId"
                  placeholder=""
                  :maxlength="checkMaxLength(tempRibbonText.options, tempRibbonText.title[2].options)"
                  :disabled="tempRibbonText.title[2].style ? false : true"
                  :required="tempRibbonText.title[2].options ? true : false"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="form-group-wrap pt-3">
        <div class="row text-right">
          <div class="col-12 col-md-6 col-lg-8 text-left mb-2">
            <span class="text-danger">
              *
            </span>
            Indicated required fields
          </div>
          <div class="col-12 col-md-6 col-lg-4 inline-block-wrap mb-2">
            <div class="row row-5">
              <div class="col-xs-12 mb-1 col-md-6">
                <router-link
                  class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                  to="/business-setup/merchants/list"
                >
                  Cancel
                </router-link>
              </div>
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="submit"
                  class="btn btn-block btn-primary text-uppercase"
                  :disabled="isSubmitting.isActive"
                >
                  {{ isSubmitting.isActive? 'Saving...' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--  -->
    <form
      v-else
      @submit.prevent="uploadAllImage.run()"
    >
      <div
        class="alert alert-success"
        role="alert"
      >
        <h4 class="alert-heading">
          Success
        </h4>
        <span class="d-block">You successfully create merchant. Please continue to uploading the logo and Banners</span>
      </div>
      <div class="card">
        <div class="card-header font-weight-bold">
          Merchant Logo and Main Banner
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#merchant_logo"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="merchant_logo"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="">Logo</label>
                <image-upload
                  :className="'banner-logo'"
                  :banner="logo"
                  :required="true"
                  @deletingImage="onDeletingImage"
                />
                <small class="text-muted">Max 200 KB</small>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="">Main Banner</label>
                <image-upload
                  :className="'main-banner'"
                  :banner="mainBanner"
                  :maxSize="200000"
                  @deletingImage="onDeletingImage"
                />
                <small class="text-muted">Max 200 KB</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header font-weight-bold">
          Additional Banner
          <div class="card-header-actions">
            <a
              class="btn btn-minimize"
              href="#"
              data-toggle="collapse"
              data-target="#additionalBanner"
              aria-expanded="true"
            >
              <i class="icon-arrow-up" />
            </a>
          </div>
        </div>
        <div
          id="additionalBanner"
          class="card-body collapse show"
        >
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <small class="text-muted">Max 200 KB</small>
                <multiple-image-upload
                  :bannerEdit="additionalImages"
                  :required="false"
                  :limit="5"
                  :maxSize="200000"
                  @bannerMultipleSelect="onBannerMultipleSelect"
                  @deletingImage="onDeletingImage"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-wrap pt-3">
        <div class="row text-right">
          <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-md-8 inline-block-wrap mb-2">
            <div class="row row-5">
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  :disabled="isImageLoading.isActive"
                  class="btn btn-block btn-block btn-outline-primary bg-light text-uppercase"
                  @click="$router.push('/business-setup/merchants/list')"
                >
                  Cancel
                </button>
              </div>
              <div class="col-xs-12 mb-1 col-md-6">
                <button
                  type="submit"
                  class="btn btn-block btn-success text-uppercase"
                  :disabled="isImageLoading.isActive"
                >
                  {{ isImageLoading.isActive? 'Saving...' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import * as dummy from '@/utils/dummy'
import Vue from 'vue'
import Vuency from 'vuency'
import Multiselect from 'vue-multiselect'
import MultipleImageUpload from '@/components/MultipleImageUpload'
import ImageUpload from '@/components/ImageUpload'
import authMixin from '@/mixins/auth.js'
import VueNumeric from 'vue-numeric'
import * as mapping from '@/utils/mapping/merchant'
// ###
Vue.use(VueNumeric)
Vue.use(Vuency)
export default {
  name: 'FormMerchantCreateEdit',
  components: {
    'image-upload': ImageUpload,
    'multiple-image-upload': MultipleImageUpload,
    'multiselect': Multiselect,
    'vue-numeric': VueNumeric
  },
  mixins: [authMixin],
  props: [
    'IdMerchant',
    'titlePage',
    'detailInfo',
    'listTags',
    'listBanks',
    'listMerchants',
    'listLocations',
    'listProvince',
    'listStatus',
    'listBusinessType',
    'getMerchants',
    'getLocations',
    'getBanks',
    'getTags',
    'isSubmitting',
    'isImageLoading',
    'listMerchantOptions'
  ],
  data: () => {
    return {
      hideFormContent: false,
      tempCashbacPercent: [{
        style: '',
        text: ''
      }, {
        style: '',
        text: ''
      }, {
        style: '',
        text: ''
      }],
      tempRibbonText: {
        title: [{
          style: '',
          text: ''
        }, {
          style: '',
          text: ''
        }, {
          style: '',
          text: ''
        }],
        type: ''
      },
      listCity: [],
      tempTerms: [],
      newMerchant: {
        merchant: {
          useNewCashbackScheme: true,
          tradeName: '',
          businessType: '',
          tags: [],
          listSelectedTags: [],
          hqMdn: '',
          status: '',
          statusObj: {},
          hqProvince: '',
          hqCity: '',
          hqZipCode: '',
          hqAddress: '',
          parentPubId: '',
          cashbacPercent: '', // cashback percentage json
          ribbonText: '',
          createBy: '',
          merchantOptions: [],
          website: '',
          appsName: ''
        },
        account: {
          npwp: '',
          npwpAddress: '',
          merchantPubId: '',
          bankName: '',
          bankBranch: '',
          email: '',
          legalName: '',
          accountName: '',
          accountNumber: '',
          receiveReceipt: false,
          remarkBankTransfer: ''
        },
        fee: {
          pubId: '',
          merchantPubId: '',
          newCustomerFee: 0, // new customer affiliate fee
          retainCustomerFee: 0, // returning customer
          lapseCustomerFee: 0, // lased customer
          comissionNewCustomerFee: 0,
          comissionRetainCustomerFee: 0,
          comissionLapseCustomerFee: 0,
          cashbacNewCustomerFee: 0,
          cashbacRetainCustomerFee: 0,
          cashbacLapseCustomerFee: 0,
          lapseCustomerMaxCashback: 0,
          lapseCustomerMaxAffiliate: 0,
          newCustomerMaxCashback: 0, // cap new customer cashback
          newCustomerMaxAffiliate: 0, // cap affiliate new customer
          retainCustomerMaxCashback: 0,
          retainCustomerMaxAffiliate: 0,
          status: 'ACTIVE',
          terms: [], // terms
          description: ''
        },
        cashback: {
          newCustomerFee: 0,
          retainCustomerFee: 0,
          lapseCustomerFee: 0,
          comissionNewCustomerFee: 0,
          comissionRetainCustomerFee: 0,
          comissionLapseCustomerFee: 0
        }
      },
      mainBanner: {
        type: 'DEFAULT_MAIN_BANNER',
        blob: '',
        target: '',
        fileName: '',
        fileType: '',
        idxOrder: 0,
        isUploaded: false,
        action: 'NEW'
      },
      logo: {
        type: 'DEFAULT_LOGO',
        blob: '',
        target: '',
        fileName: '',
        fileType: '',
        idxOrder: 0,
        isUploaded: false,
        action: 'NEW'
      },
      additionalImages: []
    }
  },
  computed: {
    tempMerchantObj: function () {
      return this.$store.getters['merchants/getTempMerchant']
    },
    onSuccessImage: function () {
      return this.$store.getters['merchants/isSuccessImage']
    },
    isSubmitted: function () {
      return this.$store.getters['merchants/getCreateSubmitted']
    }
  },
  watch: {
    listMerchantOptions: function (val) {
      let selectedOption = this.newMerchant.merchant.merchantOptions
      if (val.length > 0 && (selectedOption.length === 0 || !selectedOption)) {
        let obj = val.find(el => el.name === 'CASHBAC_PAY')
        if (obj) {
          this.newMerchant.merchant.merchantOptions = [obj]
        }
      }
    },
    'listProvince': function () {
      // ### get list of city on initial edit
      this.getCity()
    },
    isSubmitted: function () {
      this.hideFormContent = this.$store.getters['merchants/getCreateSubmitted']
    },
    detailInfo: async function () {
      if (this.detailInfo) {
        if (this.detailInfo.banner !== null) {
          // this.logo = await mapping.getLogo(this.detailInfo.banner)
          this.logo = { ...this.logo, ...mapping.getLogo(this.detailInfo.banner) }
          // get mapping of logo
          this.mainBanner = { ...this.mainBanner, ...mapping.getMainBanner(this.detailInfo.banner) }
          // get mapping of main banner
          this.additionalImages = [ ...this.additionalImages, ...mapping.getBanners(this.detailInfo.banner) ]
          // get mapping banners
        }
        this.newMerchant = await { ...this.newMerchant, ...mapping.getMerchant(this.detailInfo).newMerchant }
        // get merchant from ID
        this.tempRibbonText = await mapping.getRibbonText(this.detailInfo.merchant.ribbonText)
        // get mapping of ribbonText
        this.tempCashbacPercent = await mapping.getCashbacPercent(this.detailInfo.merchant.cashbacPercent)
        // get mapping of cashbac percent
      }
    },
    'newMerchant.merchant.listSelectedTags': function () {
      let selected = this.newMerchant.merchant.listSelectedTags
      let arr = []
      selected.forEach((element, index) => {
        arr.push(element.name.toLowerCase())
      })
      this.newMerchant.merchant.tags = arr
    },
    tempTerms: function () {
      this.newMerchant.fee.terms[0] = JSON.stringify(this.tempTerms)
    }
  },
  created: function () {
    this.$store.commit('merchants/resetState')
    this.newMerchant.merchant.createBy = this.ParseAuth().user
  },
  mounted () {
    if (this.IdMerchant) {
      this.mainBanner.action = 'UPDATED'
      this.logo.action = 'UPDATED'
    }
  },
  methods: {
    customOptionLabel: function ({ name, pubId }) {
      return dummy.listOutletOptions.find(el => el.value === name).name
    },
    checkMaxLength: function (type, txt) {
      if (type && txt) {
        if (type.value === 'normal') {
          if (txt.style === 'regular') {
            return 13
          } else if (txt.style === 'bold') {
            return 7
          }
        } else if (type.value === 'additional') {
          if (txt.style === 'regular') {
            return 9
          } else if (txt.style === 'bold') {
            return 5
          }
        }
      }
    },
    onDeletingImage: function (obj) {
      let arr = this.$store.getters['merchants/getBulkDeleteImage']
      let isAdded = arr.find(img => img.id === obj.id)
      if (!isAdded) {
        this.$store.commit('merchants/setBulkDeleteImage', obj)
      }
    },
    getCity: function () {
      let val = this.newMerchant.merchant.hqProvince
      let cities = []
      if (val) {
        let selected = this.listLocations[val]
        let arr = Object.keys(selected)
        arr.forEach((element, index) => {
          cities.push({ name: element })
        })
        this.listCity = cities
        if (this.IdMerchant === undefined && this.newMerchant.merchant.hqCity !== '') {
          this.newMerchant.merchant.hqCity = ''
        }
      } else {
        this.listCity = []
      }
    },
    cashbackRibbonSelect: function (option, id) {
      if (id === 'promotionType') {
        this.tempRibbonText.type = option.value || ''
        this.tempRibbonText.title.forEach((element, index) => {
          this.tempRibbonText.title[index].style = ''
          this.tempRibbonText.title[index].text = ''
          this.tempRibbonText.title[index].options = null
        })
      } else if (id === 'promotionTypeStyle1') {
        this.tempRibbonText.title[0].style = option.style
        this.tempRibbonText.title[0].text = ''
      } else if (id === 'promotionTypeStyle2') {
        this.tempRibbonText.title[1].style = option.style
        this.tempRibbonText.title[1].text = ''
      } else if (id === 'promotionTypeStyle3') {
        this.tempRibbonText.title[2].style = option.style
        this.tempRibbonText.title[2].text = ''
      }
    },
    cashbackPercentageSelect: function (option, id) {
      if (id === 'cashbackPercentage1') {
        this.tempCashbacPercent[0].style = option.style || ''
        this.tempCashbacPercent[0].text = ''
      } else if (id === 'cashbackPercentage2') {
        this.tempCashbacPercent[1].style = option.style || ''
        this.tempCashbacPercent[1].text = ''
      } else if (id === 'cashbackPercentage3') {
        this.tempCashbacPercent[2].style = option.style || ''
        this.tempCashbacPercent[2].text = ''
      }
    },
    onBannerMultipleSelect: function (arr) {
      arr.forEach((element, index) => {
        element.type = 'DEFAULT_BANNER'
        element.target = ''
        element.isUploaded = false
      })
      this.additionalImages = arr
    },
    afterSelect: function (option, id) {
      if (id === 'merchantStatus') {
        this.newMerchant.merchant.status = option.name.toUpperCase()
      } else if (id === 'merchantBankName') {
        this.newMerchant.account.bankName = option.bankName.toUpperCase()
        this.newMerchant.account.bankNameObj = option
      } else if (id === 'merchantParent') {
        this.newMerchant.merchant.parentPubId = option.merchant_pubid
      } else if (id === 'merchantType') {
        this.newMerchant.merchant.businessType = option.value.toUpperCase()
      } else if (id === 'merchantProvince') {
        this.newMerchant.merchant.hqCityObj = ''
        this.newMerchant.merchant.hqProvince = option.name.toUpperCase()
        this.newMerchant.merchant.hqProvinceObj = option
        this.getCity()
      } else if (id === 'merchantCity') {
        this.newMerchant.merchant.hqCity = option.name.toUpperCase()
        this.newMerchant.merchant.hqCityObj = option
      } else if (id === 'merchantTags') {
        this.newMerchant.merchant.tags = option.name.toUpperCase()
      }
    },
    updateRibbonText: function () {
      let data = this.tempRibbonText.title
      let newArr = data.map((obj, index) => {
        let newObj = {}
        Object.keys(obj).forEach(name => {
          if (name !== 'options' && obj[name] !== '') {
            newObj[name] = obj[name]
          }
        })
        return newObj
      })
      let newData = {
        type: this.tempRibbonText.type,
        title: newArr
      }
      // ###
      let arrCheck = this.tempRibbonText.title
      let flag = 0
      arrCheck.forEach(element => {
        if (Object.values(element).filter(x => x !== '').length === 3) {
          flag = flag + 1
        }
      })
      if (flag > 0) {
        let jsonNewData = JSON.stringify(newData)
        jsonNewData = jsonNewData.replace(/,{}/g, '')
        this.newMerchant.merchant.ribbonText = jsonNewData
      } else {
        this.newMerchant.merchant.ribbonText = '[]'
      }
    },
    updateCashbacPercent: function () {
      let data = this.tempCashbacPercent
      let newArr = data.map((obj, index) => {
        let newObj = {}
        Object.keys(obj).forEach(name => {
          if (name !== 'options' && obj[name] !== '') {
            newObj[name] = obj[name]
          }
        })
        return newObj
      })

      let arrCheck = this.tempCashbacPercent
      let flag = 0
      arrCheck.forEach(element => {
        if (Object.values(element).filter(x => x !== '').length === 3) {
          flag = flag + 1
        }
      })
      if (flag > 0) {
        let jsonNewArr = JSON.stringify(newArr)
        jsonNewArr = jsonNewArr.replace(/,{}/g, '')
        this.newMerchant.merchant.cashbacPercent = jsonNewArr
      } else {
        this.newMerchant.merchant.cashbacPercent = '[]'
      }
    },
    updateComission: function (id, percent, cap) {
      this.newMerchant.fee[id] = parseFloat(percent - cap)
    },
    updateComissionNew: function (id, comission, cashbac) {
      this.newMerchant.fee[id] = parseFloat(comission + cashbac)
    },
    submitPayload: async function () {
      await this.updateRibbonText()
      await this.updateCashbacPercent()
      this.$emit('submittingData', this.newMerchant)
    }
  },
  tasks (t) {
    return {
      uploadAllImage: t(function * () {
        let bulkUpload = this.$store.getters['merchants/getBulkUploadImage']
        let bulkDelete = this.$store.getters['merchants/getBulkDeleteImage']
        this.$store.commit('merchants/resetBulkUploadImage')

        if (bulkUpload === 0 && bulkDelete.length === 0 && this.IdMerchant && this.additionalImages.filter(banner => banner.action === 'NEW').length === 0 && !this.mainBanner.action === 'NEW' && !this.logo.action === 'NEW') {
          this.$router.push('/business-setup/merchants/list')
        }
        yield
        if (bulkDelete.length > 0) {
          this.$emit('uploadingImage', bulkDelete)
        }
        yield
        if (this.mainBanner.blob) {
          this.mainBanner.merchantPubId = this.tempMerchantObj.pubId
          if (this.mainBanner.action !== 'UPDATE') {
            this.$store.commit('merchants/incrementBulkUpload')
            this.$emit('uploadingImage', this.mainBanner)
          }
        }
        yield
        if (this.logo.blob) {
          this.logo.merchantPubId = this.tempMerchantObj.pubId
          if (this.logo.action !== 'UPDATE') {
            this.$store.commit('merchants/incrementBulkUpload')
            this.$emit('uploadingImage', this.logo)
          }
        }
        yield
        if (this.additionalImages.length > 0) {
          this.additionalImages.forEach((element, index) => {
            element.merchantPubId = this.tempMerchantObj.pubId
            if (element.action !== 'UPDATE') {
              this.$store.commit('merchants/incrementBulkUpload')
              this.$emit('uploadingImage', element)
            }
          })
        }
        if (bulkDelete.length === 0 && this.IdMerchant && this.additionalImages.filter(banner => banner.action === 'NEW').length === 0 && this.logo.action !== 'NEW' && this.mainBanner.action !== 'NEW') {
          this.$router.push('/business-setup/merchants/list')
        }
      })
        .flow('enqueue')
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
