<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Business Entity Name
          </th>
          <th class="min-width align-middle">
            NPWP
          </th>
          <th class="min-width align-middle">
            NPWP Address
          </th>
          <th class="min-width align-middle">
            Bank Name
          </th>
          <th class="min-width align-middle">
            Bank Branch
          </th>
          <th class="min-width align-middle">
            Bank Account Name
          </th>
          <th class="min-width align-middle">
            Bank Account Number
          </th>
          <th class="min-width align-middle">
            Receive Receipt
          </th>
          <th class="min-width align-middle">
            Email Address
          </th>
          <th class="min-width align-middle">
            action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Settlement Accounts Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            {{ data.legalName }}
          </td>
          <td>
            {{ data.npwp }}
          </td>
          <td>
            {{ data.npwpAddress }}
          </td>
          <td>
            {{ data.bankName }}
          </td>
          <td>
            {{ data.bankBranch }}
          </td>
          <td>
            {{ data.accountName }}
          </td>
          <td>
            {{ data.accountNumber }}
          </td>
          <td>
            {{ data.receiveReceipt ? 'Yes' : 'No' }}
          </td>
          <td>
            {{ data.email }}
          </td>
          <td class="">
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm px-2 mx-1"
                @click="DeleteSettlement(data)"
              >
                <font-awesome-icon icon="trash" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <modal-basic
      id="deleteSettlement"
      title="Confirm Deletion"
      size=""
      :footerVisible="true"
    >
      <p class="mb-0 pb-3">
        Are you sure to delete <strong>"{{ bulkDelete.legalName }}"</strong> settlement account?
      </p>
      <div
        slot="footer"
        class="modal-footer"
      >
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          @click="confirmDelete()"
        >
          Delete
        </button>
      </div>
    </modal-basic>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import Vuency from 'vuency'
import moment from 'moment'
import ModalBasic from '@/components/ModalBasic'
Vue.use(Vuency)
export default {
  name: 'SettlementTableList',
  components: {
    'modal-basic': ModalBasic
  },
  mixins: [authMixin],
  props: ['id', 'results'],
  data: function () {
    return {
      bulkDelete: {}
    }
  },
  computed: {
    API_UPDATE: function () {
      return `settlement-accounts/${this.bulkDelete.pubId}/update-status`
    },
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  mounted: function () {
    $('#deleteContentOutlet').modal('hide')
    $('#deleteContentOutlet').on('hidden.bs.modal', function (e) {
      self.bulkDelete = {}
    })
  },
  methods: {
    confirmDelete: function () {
      let { pubId } = this.bulkDelete
      let payload = {
        pubid: pubId,
        status: 'INACTIVE'
      }
      this.updateSettlement.run(process.env.VUE_APP_API, this.API_UPDATE, payload)
    },
    DeleteSettlement: function (obj) {
      this.bulkDelete = obj
      $('#deleteSettlement').modal({
        show: true,
        backdrop: 'static'
      })
    },
    formatDate: function (date) {
      return moment(date).format('DD-MM-YYYY hh:mm:ss')
    }
  },
  tasks (t) {
    return {
      updateSettlement: t(function * (endpoint = process.env.VUE_APP_API, resource = this.API_UPDATE, payload) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.post(endpoint + resource, payload, {
            headers: self.GetHeader('UPDATE SETTLEMENT')
          }).then(response => {
            if (response.body.code === 200) {
              self.flash(`Success update settlement account`, 'success', {
                timeout: 5000
              })
              $('#deleteSettlement').modal('hide')
              this.$store.commit('settlements/setCreateSubmit', true)
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Failed update settlement account, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Failed update settlement account, ${err.statusText}`, 'error', {
              timeout: 5000
            })
          })
        }
      })
        .flow('drop')
    }
  }
}
</script>

<style lang="scss" type="scoped">
.min-width-100 {
  min-width: 100px;
}
</style>
