<template>
  <div>
    <form @submit.prevent="submitCreate.run()">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">Business Entity Name <span class="text-danger">*</span></label>
            <input
              id=""
              v-model="newSettlement.legalName"
              type="text"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
          <div class="form-group">
            <label for="">NPWP <span class="text-danger">*</span></label>
            <input
              id=""
              v-model="newSettlement.npwp"
              type="text"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
          <div class="form-group">
            <label for="">NPWP Address <span class="text-danger">*</span></label>
            <textarea
              id=""
              v-model="newSettlement.npwpAddress"
              name=""
              class="form-control"
              cols="30"
              rows="5"
              required
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">Bank Name <span class="text-danger">*</span></label>
            <multiselect
              id="selectBank"
              :value="newSettlement.bankName"
              label="bankName"
              track-by="bankName"
              :placeholder="getBanks.isActive ? 'Fetching Data...' : 'Select Bank'"
              :close-on-select="true"
              :show-labels="true"
              :options="getBanks.isActive ? [] : listBanks"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
              @select="afterSelect"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize truncate-word d-block"
                >{{ option }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Outlet</span>
              </template>
            </multiselect>
            <input
              id=""
              v-model="newSettlement.bankName"
              type="text"
              class="sr-only"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
          <div class="form-group">
            <label for="">Bank Branch <span class="text-danger">*</span></label>
            <input
              id=""
              v-model="newSettlement.bankBranch"
              type="text"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
          <div class="form-group">
            <label for="">Account Name <span class="text-danger">*</span></label>
            <input
              id=""
              v-model="newSettlement.accountName"
              type="text"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
          <div class="form-group">
            <label for="">Account Number <span class="text-danger">*</span></label>
            <input
              id=""
              v-model="newSettlement.accountNumber"
              type="number"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
              required
            >
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">Remark Bank Transfer Instruction</label>
            <input
              id=""
              v-model="newSettlement.remarkBankTransfer"
              type="text"
              class="form-control"
              name=""
              aria-describedby="helpId"
              placeholder=""
            >
          </div>
          <!-- <div class="form-group mb-4 mt-5 d-flex align-items-center">
            <label class="switch switch-pill switch-primary mb-0">
              <input class="switch-input" type="checkbox" v-model="newSettlement.receiveReceipt">
              <span class="switch-slider"></span>
            </label>
            <label class="px-2">Receive Copy Receipt</label>
          </div> -->
          <div class="form-group">
            <label for="">Email as Payment Report</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i
                    class="fa fa-envelope"
                    aria-hidden="true"
                  />
                </span>
              </div>
              <input
                id="accountEmail"
                v-model="newSettlement.email"
                type="email"
                class="form-control"
                min="1"
              >
            </div>
          </div>
        </div>
      </div>
      <hr class="mx-inset">
      <div class="row">
        <div class="col-12 col-md-4">
          <!--  -->
        </div>
        <div class="col-12 col-md-8 text-right btn-wrap">
          <button
            type="button"
            class="btn px-5 btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn px-5 btn-primary"
            :disabled="disabledCreate"
          >
            {{ disabledCreate ? 'Saving...' : 'Save' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import Multiselect from 'vue-multiselect'
import authMixin from './../../mixins/auth'
// #
Vue.use(Vuency)
export default {
  name: 'SettlementAccountCreate',
  components: {
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  data: function () {
    return {
      API_BANKS: 'cms/banks',
      SETTLEMENT_CREATE: 'settlement-accounts',
      listBanks: [],
      disabledCreate: false,
      newSettlement: {
        merchantPubId: '',
        legalName: '',
        npwp: '',
        npwpAddress: '',
        bankName: '',
        bankBranch: '',
        accountName: '',
        accountNumber: '',
        receiveReceipt: false,
        email: ''
      }
    }
  },
  mounted: function () {
    let self = this
    this.getBanks.run()
    this.newSettlement.merchantPubId = this.$route.params.pubid
    // ###
    $('#CreateSettlement').on('show.bs.modal', function (e) {
      self.resetState()
      self.getBanks.run()
    })
    $('#CreateSettlement').on('hidden.bs.modal', function (e) {
      self.resetState()
    })
  },
  methods: {
    afterSelect: function (option, id) {
      if (id === 'selectBank') {
        this.newSettlement.bankName = option.bankName.toUpperCase()
      }
    },
    resetState: function () {
      this.newSettlement = Object.assign(this.newSettlement, {
        legalName: '',
        npwp: '',
        npwpAddress: '',
        bankName: '',
        bankBranch: '',
        accountName: '',
        accountNumber: '',
        receiveReceipt: false,
        remarkBankTransfer: '',
        email: ''
      })
    }
  },
  tasks (t, { timeout }) {
    return {
      getBanks: t(function * (queryParams = '', endpoint = process.env.VUE_APP_API) {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(endpoint + self.API_BANKS, {
            headers: self.GetHeader('GET BANKS MERCHANT'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              self.listBanks = response.body.content
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get banks : ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.listBanks = []
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue', { maxRunning: 1 }),
      submitCreate: t(function * (queryParams = '', endpoint = process.env.VUE_APP_API) {
        let self = this
        this.disabledCreate = true
        if (this.GetAuth()) {
          yield self.$http.post(endpoint + self.SETTLEMENT_CREATE, self.newSettlement, {
            headers: self.GetHeader('CREATE SETTLEMENT ACCOUNT'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              self.flash('New settlement account has successfully created', 'success', {
                timeout: 4000,
                beforeDestroy () {
                  $('#CreateSettlement').modal('hide')
                  self.$store.commit('settlements/setCreateSubmit', true)
                  self.disabledCreate = false
                }
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.disabledCreate = false
              self.flash('Error create : ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          }, (err) => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue', { maxRunning: 1 })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
.btn-wrap {
  & > :not(:first-child) {
    margin-left: .25rem;
  }
  & > :not(:last-child) {
    margin-right: .25rem;
  }
}
.mx-inset {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top:1px solid #c8ced3;
}
</style>
