<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
import authMixin from './mixins/auth'
export default {
  mixins: [authMixin],
  watch: {
    $route (to, from) {
      if (this.GetAuth() === null) {
        this.$router.push('/')
      }
    }
  }
}
</script>
<style lang="scss">
@import "./styles/cashbac_dashboard.scss";
// @import "~@coreui/icons/css/coreui-icons.min.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import "./../public/coreui/styles/css/style.css";
@import "./../public/vendors/pace-progress/css/pace.css";
</style>
