<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Filter
      </div>
      <div class="card-body">
        <location-filter-search @filterSubmit="onFilterSubmit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        {{ titlePage ? titlePage : "" }}
      </div>
      <div
        v-if="getDataList.isActive"
        class="card-body text-center"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row mb-3">
          <div class="col-sm-6 col-md-4">
            <button
              class="btn btn-outline-success"
              type="button"
              @click="$router.push('/content-settings/location/create')"
            >
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              /> Create Content
            </button>
          </div>
          <div class="col-sm-6 col-md-8">
            <!-- empty -->
          </div>
        </div>
        <keep-alive>
          <location-table-list
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
            @deletingOutlet="onDeleteOutlet"
          />
        </keep-alive>
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else>
              - No Results -
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
    <modal-basic
      id="deleteContentOutlet"
      title="Confirm Deletion"
      size=""
      :footerVisible="true"
    >
      <p class="mb-0 pb-3">
        You are about to delete this location. Are you sure to delete?
      </p>
      <div
        slot="footer"
        class="modal-footer"
      >
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          @click="confirmDelete(bulkDelete)"
        >
          Delete
        </button>
      </div>
    </modal-basic>
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import LocationTableList from '@/components/cms/location/LocationTableList'
import PaginationList from '@/components/PaginationList'
import CardProgress from '@/components/CardProgress'
import LocationFilter from '@/components/cms/location/LocationFilterSearch'
import ModalBasic from '@/components/ModalBasic'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'CMSLocations',
  components: {
    'location-table-list': LocationTableList,
    'location-filter-search': LocationFilter,
    'pagination-list': PaginationList,
    'card-progress': CardProgress,
    'modal-basic': ModalBasic
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      titlePage: 'Content Settings Location',
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 2,
      totalPage: 1,
      API_endpoint: process.env.VUE_APP_API_V2,
      APIURL: 'locations/list',
      API_DELETE: 'locations/delete',
      bulkDelete: {},
      params: {
        size: 10,
        pagination: 1,
        order: 5,
        orderAttr: 'desc'
      }
    }
  },
  computed: {
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let self = this
    this.initialLoadData()
    $('#deleteContentOutlet').on('hidden.bs.modal', function (e) {
      self.bulkDelete = {}
    })
  },
  methods: {
    initialLoadData: function () {
      let query = {}
      let request = this.getParams
      const endpoint = this.API_endpoint
      let obj = {}
      Object.assign(query, this.$route.query)
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, request)
      Object.assign(obj, query)
      this.getDataList.run(obj, endpoint)
    },
    onDeleteOutlet: function (payload) {
      payload = { ...payload, ...{ updateBy: this.ParseAuth().user } }
      this.bulkDelete = payload
      $('#deleteContentOutlet').modal({
        show: true,
        backdrop: 'static'
      })
    },
    confirmDelete: function () {
      let { updateBy, id } = this.bulkDelete
      let payload = {
        updateBy: updateBy,
        id: parseInt(id)
      }
      $('#deleteContentOutlet').modal('hide')
      this.deleteListID.run(process.env.VUE_APP_API, this.API_DELETE, payload)
    }
  }
}
</script>

<style lang="scss" type="scoped">

</style>
