<template>
  <div>
    <CMSLocationForm
      :locationCategories="locationCategories"
      :listOfProvince="listOfProvince"
      :listOfCities="listOfCities"
      :listOfDistrict="listOfDistrict"
      :listOfArea="listOfArea"
      :listOfSubdistrict="listOfSubdistrict"
      :onSubmitting="submitData.isActive"
      @gettingLocation="onGetLocation"
      @submittingLocation="onSubmitCreate"
    />
    <flash-message class="flashMessage component component-flash" />
  </div>
</template>

<script>
import CMSLocationForm from '@/components/cms/location/LocationFormCreateEdit'
import LocationMixin from '@/mixins/cms/location/LocationMixin'
// ###
export default {
  name: 'CMSLocationCreateEdit',
  components: {
    CMSLocationForm
  },
  mixins: [LocationMixin],
  data: function () {
    return {
      locationCategories: [
        { name: 'province' },
        { name: 'city' },
        { name: 'district' },
        { name: 'area' },
        { name: 'subdistrict' },
        { name: 'building' }],
      API_CREATE: 'locations/',
      API_GET: 'locations/',
      listOfProvince: [],
      listOfCities: [],
      listOfDistrict: [],
      listOfArea: [],
      listOfSubdistrict: []
    }
  },
  methods: {
    onGetLocation: function (query, state, reset = []) {
      reset.forEach(element => {
        this[element] = []
      })
      this.getData.run(process.env.VUE_APP_API, this.API_GET, query, state)
    },
    onSubmitCreate: function (payload) {
      this.submitData.run(process.env.VUE_APP_API, this.API_CREATE, payload)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
