<template>
  <form-create-edit
    :IdMerchant="id"
    :detailInfo="detailInfo"
    :listMerchantOptions="listMerchantOptions"
    :listTags="listTags"
    :listBanks="listBanks"
    :listMerchants="listMerchants"
    :listLocations="listLocations"
    :listProvince="listProvince"
    :listStatus="listStatus"
    :listBusinessType="listBusinessType"
    :getMerchants="getMerchants"
    :getTags="getTags"
    :getBanks="getBanks"
    :getLocations="getLocations"
    :isSubmitting="isSubmitting"
    :isImageLoading="uploadImage"
    @submittingData="onSubmitData"
    @uploadingImage="onUploadingImage"
  />
</template>

<script>
import FormCreateEdit from '@/components/merchants/MerchantFormCreateEdit'
import CreateEditMixin from '@/mixins/merchant/CreateEditMixin'
export default {
  name: 'MerchantEdit',
  components: {
    'form-create-edit': FormCreateEdit
  },
  mixins: [CreateEditMixin],
  props: ['id'],
  data: function () {
    return {
    }
  },
  computed: {
    isSubmitting: function () {
      if (this.id) {
        return this.submitEdit
      } else {
        return this.submitCreate
      }
    }
  },
  created () {
    this.getTags.run()
    this.getBanks.run()
    this.getMerchants.run()
    this.getLocations.run()
    this.getEditDetail.run(process.env.VUE_APP_API, this.API_DETAIL, this.id)
  },
  methods: {
    onSubmitData: function (obj) {
      if (this.id) {
        this.submitEdit.run(process.env.VUE_APP_API, `merchant/${this.id}/edit`, obj)
      } else {
        this.submitCreate.run(process.env.VUE_APP_API, this.API_CREATE, obj)
      }
    },
    onUploadingImage: function (params) {
      let bulkDelete = this.$store.getters['merchants/getBulkDeleteImage']
      if (params.length > 0) {
        this.deleteImage.run(process.env.VUE_APP_API, `merchant/${this.id}/media/delete`, bulkDelete)
      } else {
        this.uploadImage.run(process.env.VUE_APP_API, this.API_UPLOAD_IMG, params)
      }
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
