<template>
  <div
    v-if="getData.isActive"
    class="card"
  >
    <div class="card-body text-center">
      <card-progress />
    </div>
  </div>
  <div
    v-else
    class="mb-5"
  >
    <nav-tabs
      :urls="[{name: 'MerchantDetail', text: 'Merchant Details', url: '#'}, {name: 'MerchantSettlements', text: 'Settlement Account', url: '/business-setup/merchant/' + $route.params.pubid + '/settlements'}, {name: '#', text: 'Outlet List', url: '#'}]"
    />
    <!-- <div class="text-center" v-if="loading">
      Loading
    </div> -->
    <div class="row d-flex align-items-center mb-4">
      <div class="col-md-8">
        <h3>{{ detailInfo.merchant.tradeName }}</h3>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <router-link
          class="btn btn-outline-success bg-white text-success px-5"
          :to="{name: 'MerchantEdit', params: {id: $route.params.pubid, text: detailInfo.merchant.tradeName}}"
        >
          Edit
        </router-link>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Merchant Profile
      </div>
      <div class="card-body">
        <div class="d-lg-flex align-items-center mb-2">
          <div class="col-banner">
            <div class="form-group p-2">
              <label
                for=""
                class="text-muted"
              >Merchant Logo</label>
              <div
                class="component-img-preview thumbnail border"
                :style="'background-image:url(' + (getLogo.media_url ? getLogo.media_url : '/img/no-image-square.svg') + ')'"
              >
                <!--  -->
              </div>
            </div>
          </div>
          <div class="col-banner flex-fill">
            <div class="form-group p-2">
              <label
                for=""
                class="text-muted"
              >Merchant Banner</label>
              <div
                class="component-img-preview landscape border"
                :style="'background-image:url(' + (getMainBanner.media_url ? getMainBanner.media_url : '/img/no-image-ratio-3-4.svg') + ')'"
              >
                <!--  -->
              </div>
            </div>
          </div>
          <div class="col-banner flex-fill">
            <div class="form-group p-2">
              <label
                for=""
                class="text-muted"
              >Additional Banner</label>
              <div class="wrap-carousel">
                <div
                  id="additionalBanners"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <ol
                    v-if="getBanner.length > 1"
                    class="carousel-indicators"
                  >
                    <li
                      v-for="(banner, index) in getBanner"
                      :key="index"
                      data-target="#additionalBanners"
                      :class="index === 0 ? 'active' : ''"
                      :data-slide-to="index"
                    />
                  </ol>
                  <div
                    v-if="getBanner.length > 0"
                    class="carousel-inner"
                  >
                    <div
                      v-for="(banner, index) in getBanner"
                      :key="index"
                      class="carousel-item"
                      :class="index === 0 ? 'active' : ''"
                    >
                      <img
                        height="200"
                        :src="banner.media_url"
                        class="d-block w-100 border"
                        alt="#"
                      >
                    </div>
                  </div>
                  <div
                    v-else
                    class="carousel-inner"
                  >
                    <div class="carousel-item active">
                      <img
                        src="../../../public/img/no-Image-landscape.svg"
                        height="200"
                        class="d-block w-100 bg-light border"
                        alt=""
                      >
                    </div>
                  </div>
                  <a
                    v-if="getBanner.length > 1"
                    class="carousel-control-prev"
                    href="#additionalBanners"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    />
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    v-if="getBanner.length > 1"
                    class="carousel-control-next"
                    href="#additionalBanners"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    />
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Merchant Name</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.tradeName" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Status</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.status" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Business Type</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.businessType" />
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Tag</label>
              <div class="d-block">
                <span
                  v-for="(data, index) in detailInfo.merchant.tags"
                  :key="index"
                  class="text-capitalize"
                >
                  {{ detailInfo.merchant.tags.length !== (index + 1) ? data + ', ' : data }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Phone Number</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.hqMdn" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Merchant Options</label>
              <p v-if="detailInfo.merchant.merchantOptions && detailInfo.merchant.merchantOptions.length > 0">
                <span
                  v-for="(el, index) in detailInfo.merchant.merchantOptions"
                  :key="index"
                >
                  {{ customOptionLabel(el) }}<span v-if="(detailInfo.merchant.merchantOptions.length - 1) > index">, </span>
                </span>
              </p>
              <p v-else>
                -
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Website Address (Online Deals Only)</label>
              <p>
                <print :value="detailInfo.merchant.website" />
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Merchant App Name (Online Deals Only)</label>
              <p>
                <print :value="detailInfo.merchant.appsName" />
              </p>
            </div>
          </div>
          <!-- <div class="col-12">
            <div class="form-group">
              <label for="" class="text-muted">Merchant Description</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.description">
                </print>
              </span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Address Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Address</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.hqAddress" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Province</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.hqProvince" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >City</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.hqCity" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Postal Code</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.hqZipCode" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Affiliate Fee, Customer Cashback
      </div>
      <!-- affiliate fee -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                Scheme
              </p>
              <span class="d-block">
                <print :value="detailInfo.merchant.useNewCashbackScheme == true ? 'New Scheme' : 'Old Scheme'" />
              </span>
            </div>
          </div>
        </div>
        <hr class="full-row-card">
        <p class="font-weight-bold pt-2">
          Affiliate Fee
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                New Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.comissionNewCustomerFee" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                Returning Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.comissionRetainCustomerFee" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                Lapsed Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.comissionLapseCustomerFee" />
              </span>
            </div>
          </div>
        </div>
        <!--  -->
        <hr class="full-row-card">
        <!-- customer cashback -->
        <p class="font-weight-bold pt-2">
          Customer Cashback
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                New Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.cashbacNewCustomerFee" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                Returning Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.cashbacRetainCustomerFee" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <p class="d-block font-weight-bold">
                Lapsed Customer
              </p>
              <label
                for=""
                class="text-muted"
              >Percentage (%)</label>
              <span class="d-block">
                <print :value="detailInfo.fee.cashbacLapseCustomerFee" />
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cap (Rp)</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.fee.newCustomerMaxCashback"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cap (Rp)</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.fee.retainCustomerMaxCashback"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Cap (Rp)</label>
              <span class="d-block">
                <currency-format
                  :value="detailInfo.fee.lapseCustomerMaxCashback"
                  :kurs="'IDR'"
                />
              </span>
            </div>
          </div>
        </div>
        <!--  -->
        <hr class="full-row-card">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label
                for=""
                class="font-weight-bold pt-2"
              >Cashback Terms and Conditions</label>
              <span class="d-block">
                <textarea
                  id=""
                  name=""
                  :value="detailInfo.merchant.terms"
                  class="border-0 w-100  bg-white text-area-print"
                  :rows="detailInfo.merchant.terms ? 7 : 1"
                  disabled
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Cashback Percentage
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 1</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[0] ? tempCashbacPercent[0].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 2</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[1] ? tempCashbacPercent[1].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 3</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[2] ? tempCashbacPercent[2].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 1</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[0] ? tempCashbacPercent[0].text : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 2</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[1] ? tempCashbacPercent[1].text : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 3</label>
              <span class="d-block text-capitalize">
                <print :value="tempCashbacPercent[2] ? tempCashbacPercent[2].text : null" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Promotion Ribbon
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >Promo Type</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.type || null" />
                {{ tempRibbonText.type ? 'promo' : '' }}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 1</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[0] ? tempRibbonText.title[0].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 2</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[1] ? tempRibbonText.title[1].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >style 3</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[2] ? tempRibbonText.title[2].style : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 1</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[0] ? tempRibbonText.title[0].text : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 2</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[1] ? tempRibbonText.title[1].text : null" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted text-capitalize"
              >text 3</label>
              <span class="d-block text-capitalize">
                <print :value="tempRibbonText.title[2] ? tempRibbonText.title[2].text : null" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Update Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Created Date</label>
              <span class="d-block">
                <date-format
                  :value="detailInfo.merchant.createTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Updated Date</label>
              <span class="d-block">
                <date-format
                  :value="detailInfo.merchant.updateTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Merchant Live Date</label>
              <span class="d-block">
                <span v-if="detailInfo.merchant.activeTs === 0">-</span>
                <date-format
                  v-else
                  :value="detailInfo.merchant.activeTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Created By</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.createBy" />
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label
                for=""
                class="text-muted"
              >Updated By</label>
              <span class="d-block">
                <print :value="detailInfo.merchant.updateBy" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as dummy from '@/utils/dummy'
import authMixin from './../../mixins/auth'
import PrintValue from '@/components/PrintValue'
import DateFormat from './../../components/DateFormat'
import CardProgress from './../../components/CardProgress'
import NavTabs from './../../components/NavTabs.vue'
import CurrencyFormat from './../../components/CurrencyFormat'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'MerchantDetail',
  components: {
    'print': PrintValue,
    'date-format': DateFormat,
    'currency-format': CurrencyFormat,
    'card-progress': CardProgress,
    'nav-tabs': NavTabs
  },
  mixins: [authMixin],
  props: ['pubid'],
  data: function () {
    return {
      detailInfo: {},
      loading: false
    }
  },
  computed: {
    tempRibbonText: function () {
      let parameter = {}
      if (this.detailInfo.merchant.ribbonText !== '' && this.detailInfo.merchant.ribbonText !== '[]') {
        parameter = JSON.parse(this.detailInfo.merchant.ribbonText)
        return parameter
      } else {
        return {
          title: [{}, {}, {}],
          type: ''
        }
      }
    },
    tempCashbacPercent: function () {
      let parameter = []
      if (this.detailInfo.merchant.cashbacPercent !== '' && this.detailInfo.merchant.cashbacPercent !== '[]') {
        parameter = JSON.parse(this.detailInfo.merchant.cashbacPercent)
        return parameter
      } else {
        return [{}, {}, {}]
      }
    },
    emptyBanner: function () {
      return {
        id: 0,
        idx_order: 0,
        media_url: '',
        type: ''
      }
    },
    getLogo: function () {
      let result = this.detailInfo.banner !== null ? this.filterMethod(this.detailInfo.banner, 'LOGO') : []
      let total = result.length - 1
      return result[total] ? result[total] : this.emptyBanner
    },
    getMainBanner: function () {
      let result = this.detailInfo.banner !== null ? this.filterMethod(this.detailInfo.banner, 'MAIN_BANNER') : []
      return result[0] ? result[0] : this.emptyBanner
    },
    getBanner: function () {
      let result = this.detailInfo.banner !== null ? this.filterMethod(this.detailInfo.banner, 'BANNER') : []
      if (result.length > 1) {
        result.sort((a, b) => (a.id > b.id) ? 1 : -1)
      }
      return result
    }
  },
  created: function () {
    // if (this.$route.param.pubid)
    this.getData.run()
  },
  methods: {
    customOptionLabel: function ({ name, pubId }) {
      return dummy.listOutletOptions.find(el => el.value === name).name
    },
    filterMethod: function (arr, param) {
      return arr.filter(banner => banner.type === param)
    }
  },
  tasks (t) {
    return {
      getData: t(function * () {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(process.env.VUE_APP_API + 'merchant/' + this.$route.params.pubid, {
            headers: self.GetHeader('VIEW DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              let obj = response.body.content
              if (obj !== null) {
                self.detailInfo = obj
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/business-setup/merchants')
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.full-row-card {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
#additionalBanners {
  width: 400px;
  @media (max-width: 991px) {
    max-width: 100%;
  }
  @media (max-width: 1140px) and (min-width: 992px) {
    width: 250px;
  }
    .carousel-item {
      height: 200px;
      width: 100%;
    }
}
.col-banner.flex-fill {
  @media(max-width: 960px) {
    width: 100%;
    display: block;
  }
}
.text-area-print {
  height: auto;
  border:none;
  color:#212529;
  resize: none;
    &:hover, &:active, &:focus {
      outline:none;
      box-shadow: none;
    }
}
</style>
