<template>
  <form-create-edit
    :listTags="listTags"
    :detailInfo="detailInfo"
    :listBanks="listBanks"
    :listMerchantOptions="listMerchantOptions"
    :listMerchants="listMerchants"
    :listLocations="listLocations"
    :listProvince="listProvince"
    :listStatus="listStatus"
    :listBusinessType="listBusinessType"
    :getMerchants="getMerchants"
    :getTags="getTags"
    :getBanks="getBanks"
    :getLocations="getLocations"
    :isSubmitting="submitCreate"
    :isImageLoading="uploadImage"
    @submittingData="onSubmitData"
    @uploadingImage="onUploadingImage"
  />
</template>

<script>
import authMixin from '@/mixins/auth'
import FormCreateEdit from '@/components/merchants/MerchantFormCreateEdit'
import CreateEditMixin from '@/mixins/merchant/CreateEditMixin'
export default {
  name: 'MerchantCreate',
  components: {
    'form-create-edit': FormCreateEdit
  },
  mixins: [authMixin, CreateEditMixin],
  data: function () {
    return {
    }
  },
  created () {
    this.getTags.run()
    this.getBanks.run()
    this.getMerchants.run()
    this.getLocations.run()
  },
  methods: {
    onSubmitData: function (obj) {
      this.submitCreate.run(process.env.VUE_APP_API, this.API_CREATE, obj)
    },
    onUploadingImage: function (obj) {
      this.uploadImage.run(process.env.VUE_APP_API, this.API_UPLOAD_IMG, obj)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
