<template>
  <FormCreateEdit
    class="mb-5"
    :detailInfo="detailInfo"
    :listMerchants="listMerchants"
    :listAllCategories="listAllCategories"
    :listOutletStatus="listOutletStatus"
    :listPaymentTransaction="listPaymentTransaction"
    :listSettlements="listSettlements"
    :listPaymentInterface="listPaymentInterface"
    :listOutletOptions="listOutletOptions"
    :listDeliveryInstructions="listDeliveryInstructions"
    :listPriceRange="listPriceRange"
    :listDishes="listDishes"
    :listFeatures="listFeatures"
    :listSmoking="listSmoking"
    :listMealServed="listMealServed"
    :listServices="listServices"
    :listWifi="listWifi"
    :listCuisines="listCuisines"
    :listAlcohol="listAlcohol"
    :listSeating="listSeating"
    :listParking="listParking"
    :listOfProvince="listOfProvince"
    :listOfCities="listOfCities"
    :listOfDistrict="listOfDistrict"
    :listOfArea="listOfArea"
    :listOfSubdistrict="listOfSubdistrict"
    :listOfBuilding="listOfBuilding"
    :onCreateOutlet="createOutlet.isActive"
    :onEditOutlet="editOutlet.isActive"
    @selectingMerchant="onSelectingMerchant"
    @gettingLocation="onGetLocation"
    @submittingData="onSubmitData"
  />
</template>

<script>
import authMixin from '@/mixins/auth'
import FormCreateEdit from '@/components/outlets/OutletFormCreateEdit'
import outletCreateEditMixin from '@/mixins/outlets/createEditMixin'

export default {
  name: 'OutletCreate',
  components: {
    FormCreateEdit
  },
  mixins: [authMixin, outletCreateEditMixin],
  data: function () {
    return {
      detailInfo: {}
    }
  },
  computed: {
  },
  created: function () {
  },
  methods: {
  }
}
</script>

<style lang="scss" type="scoped">

</style>
