<template>
  <div
    v-if="getData.isActive"
    class="card"
  >
    <div class="card-body text-center">
      <card-progress />
    </div>
  </div>
  <div
    v-else
    class="mb-5"
  >
    <nav-tabs
      :urls="[{name: 'OutletDetail', text: 'Outlet Details', url: `/business-setup/outlet/${$route.params.pubId}/detail`}, {name: 'PaymentInterface', text: 'Payment Interface', url: `/business-setup/outlet/${$route.params.pubId}/payment-interface`}, {name: 'OutletPhotos', text: 'Photos', url: `/business-setup/outlet/${$route.params.pubId}/photos`}, {name: 'Transactions', text: 'Transactions', url: '#'}]"
    />
    <!-- <div class="text-center" v-if="loading">
      Loading
    </div> -->
    <div class="row d-flex align-items-center mb-4">
      <div class="col-md-8 d-flex align-items-start">
        <h3
          v-if="detailOutlet.outlet.status"
          class="d-inline-block pr-3"
        >
          {{ detailOutlet.outlet.outletName || '-' }}
        </h3> <span
          class="badge badge-pill"
          :class="detailOutlet.outlet.status.name.toLowerCase() === 'active' ? 'badge-success' : 'badge-secondary'"
        >{{ detailOutlet.outlet.status.name }}</span>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <router-link
          :to="`/business-setup/outlet/${$route.params.pubId}/edit`"
          type="button"
          class="btn btn-outline-success bg-white text-success px-5"
        >
          Edit
        </router-link>
      </div>
    </div>
    <!--  -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Outlet Main Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 px-0">
            <div class="d-inline-block px-3">
              <div class="form-group">
                <label
                  class="text-muted"
                  for=""
                >Logo</label>
                <div>
                  <img
                    :src="detailOutlet.media.logo || '/img/no-image-square.svg'"
                    class="border rounded"
                    width="226px"
                    height="226px"
                    alt=""
                  >
                </div>
              </div>
            </div>
            <div class="d-inline-block px-3">
              <div class="form-group">
                <label
                  class="text-muted"
                  for=""
                >Main Banner</label>
                <div>
                  <img
                    :src="detailOutlet.media.banner || '/img/no-image-ratio-3-4.svg'"
                    class="border rounded"
                    height="226px"
                    alt=""
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Outlet Name</label>
              <p>{{ detailOutlet.outlet.outletName || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Merchant Name</label>
              <p>
                <router-link :to="`/business-setup/merchant/${detailOutlet.outlet.merchant.pubId}/detail`">
                  {{ detailOutlet.outlet.merchant.name || '-' }}
                </router-link>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Outlet Status</label>
              <p>{{ detailOutlet.outlet.status.name || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Outlet ID</label>
              <p>{{ detailOutlet.outlet.outletPubId || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Settlement Name</label>
              <p>{{ detailOutlet.outlet.settlementOutletName || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >External Outlet Name</label>
              <p>{{ detailOutlet.outlet.externalOutletName || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Phone Number</label>
              <p>{{ detailOutlet.outlet.phoneNumber || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Payment Interface</label>
              <p>{{ detailOutlet.outlet.paymentInterface.name || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Payment Transaction</label>
              <p>{{ detailOutlet.outlet.isOnline ? 'Online' : 'Offline' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >PIN Biz App</label>
              <p>{{ detailOutlet.outlet.isUsePinVoid ? 'On' : 'Off' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Cashbac Earn</label>
              <p>{{ detailOutlet.outlet.isCashbacEarn ? 'Yes' : 'No' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Outlet Options</label>
              <p v-if="detailOutlet.outlet.outletOptions && detailOutlet.outlet.outletOptions.length > 0">
                <span
                  v-for="(el, index) in detailOutlet.outlet.outletOptions"
                  :key="index"
                >
                  {{ customOptionLabel(el) }}<span v-if="(detailOutlet.outlet.outletOptions.length - 1) > index">, </span>
                </span>
              </p>
              <p v-else>
                -
              </p>
            </div>
          </div>
          <!-- <div class="col-12 col-md-4 d-none">
            <div class="form-group">
              <label class="text-muted" for="">Outlet Deeplink</label>
              <article class="d-flex justify-content-start">
                <p class="pr-2">
                  <a href="#">
                    cashbac://deeplink/openscreen?target=outlet&content=7294386943-hgfjd-2741835
                  </a>
                </p>
                <button class="btn btn-primary btn-sm"> <div class="fa fa-copy"></div> Copy</button>
              </article>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header font-weight-bold">
        Address Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Address</label>
              <p>{{ detailOutlet.outlet.location.address || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Building Name</label>
              <p>{{ detailOutlet.outlet.location.building.name || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Area
              </label>
              <p>{{ detailOutlet.outlet.location.area.name || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Sub District</label>
              <p>{{ detailOutlet.outlet.location.subdistrict.name || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >District</label>
              <p>{{ detailOutlet.outlet.location.district.name || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                City
              </label>
              <p>{{ detailOutlet.outlet.location.city.name || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Province</label>
              <p>{{ detailOutlet.outlet.location.province.name || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Postal Code</label>
              <p>{{ detailOutlet.outlet.location.postalCode || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Latitude</label>
              <p>{{ detailOutlet.outlet.location.latitude || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >Longitude</label>
              <p>{{ detailOutlet.outlet.location.longitude || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <iframe
              width="100%"
              height="400"
              frameborder="0"
              style="border:0"
              :src="`https://www.google.com/maps/embed/v1/place?key=AIzaSyAMjzjgBqwgBwCyTLCQyPuL_po4Lt-gCDw
&q=${detailOutlet.outlet.location.latitude || 0},${detailOutlet.outlet.location.longitude || 0}`"
              allowfullscreen
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Settlement Account Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Business Entity Name
              </label>
              <p>{{ detailOutlet.settlementAccount.legalName|| '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Bank Name
              </label>
              <p>{{ detailOutlet.settlementAccount.bankName || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Account Name
              </label>
              <p>{{ detailOutlet.settlementAccount.accountName || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                NPWP
              </label>
              <p>{{ detailOutlet.settlementAccount.npwp || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Bank Branch
              </label>
              <p>{{ detailOutlet.settlementAccount.bankBranch || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Email as Payment Report
              </label>
              <p>{{ detailOutlet.settlementAccount.email || '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                NPWP Address
              </label>
              <p>{{ detailOutlet.settlementAccount.npwpAddress || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Account Number
              </label>
              <p>{{ detailOutlet.settlementAccount.accountNumber || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Remark Bank Transfer Instruction
              </label>
              <p>{{ detailOutlet.settlementAccount.remarkBankTransfer || '-' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header font-weight-bold">
        Manager Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Manager Full Name
              </label>
              <p>{{ detailOutlet.managerInfo.managerName || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Manager Email
              </label>
              <p>{{ detailOutlet.managerInfo.managerEmail || '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Manager Phone Number
              </label>
              <p>{{ detailOutlet.managerInfo.managerPhone || '-' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header font-weight-bold">
        Additional Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Average Cost
              </label>
              <p>
                <currency-format
                  :value="averageCost ? averageCost.content[0].name : '0'"
                  :kurs="'IDR'"
                /> <span>{{ averageCost ? '/ ' + averageCost.content[0].subDesc || '/2 pax' : '/2 pax' }} </span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Detail Average Cost
              </label>
              <p>{{ averageCost ? averageCost.content[0].tooltipDesc || '-' : '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Cuisines
              </label>
              <p v-if="cuisines">
                <span
                  v-for="(data, index) in cuisines.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="cuisines.content.length > 1 && index !== (cuisines.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Dishes
              </label>
              <p v-if="dishes">
                <span
                  v-for="(data, index) in dishes.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="dishes.content.length > 1 && index !== (dishes.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Meals Served
              </label>
              <p v-if="mealServed">
                <span
                  v-for="(data, index) in mealServed.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="mealServed.content.length > 1 && index !== (mealServed.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Alcohol
              </label>
              <p>{{ alcohol ? alcohol.content[0].name || '-' : '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Features
              </label>
              <p v-if="features">
                <span
                  v-for="(data, index) in features.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="features.content.length > 1 && index !== (features.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Services
              </label>
              <p v-if="services">
                <span
                  v-for="(data, index) in services.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="services.content.length > 1 && index !== (services.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Seating
              </label>
              <p>{{ seating ? seating.content[0].name || '-' : '-' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Smoking
              </label>
              <p>{{ smoking ? smoking.content[0].name || '-' : '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Wi Fi
              </label>
              <p>{{ wifi ? wifi.content[0].name : '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Parking
              </label>
              <p v-if="parking">
                <span
                  v-for="(data, index) in parking.content"
                  :key="index"
                >
                  <span>{{ data.name }}</span>
                  <span v-if="parking.content.length > 1 && index !== (parking.content.length - 1)">, </span>
                </span>
              </p>
              <p v-else>
                <span>
                  -
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header font-weight-bold">
        Operational Hours
      </div>
      <div class="card-body">
        <p
          v-for="(data, index) in openingHoursFiltered"
          :key="index"
        >
          <span class="text-capitalize hour-min-width d-inline-block">
            {{ data.dayOfWeeks.toLowerCase() }}
          </span>
          <span v-if="data.hours.length > 0">
            <span
              v-for="(hour, index2) in data.hours"
              :key="index2"
            >
              {{ hour.startHour }} - {{ hour.endHour }}
              <span v-if="data.hours.length > 1 && index2 !== (data.hours.length - 1)">, </span>
            </span>
          </span>
          <span v-else>
            Closed
          </span>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header font-weight-bold">
        Update Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Created Date
              </label>
              <p>
                <date-format
                  :isUnix="false"
                  :value=" detailOutlet.outlet.createTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Updated Date
              </label>
              <p>
                <span v-if="detailOutlet.outlet.updateTs === 0">-</span>
                <date-format
                  v-else
                  :isUnix="false"
                  :value="detailOutlet.outlet.updateTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Outlet Published Date
              </label>
              <p>
                <span v-if="detailOutlet.outlet.activeTs === 0">-</span>
                <date-format
                  v-else
                  :isUnix="false"
                  :value="detailOutlet.outlet.activeTs"
                  format="YYYY-MM-DD HH:mm:ss"
                />
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Created By
              </label>
              <p>{{ detailOutlet.outlet ? detailOutlet.outlet.createBy || '-' : '-' }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Updated By
              </label>
              <p>{{ detailOutlet.outlet ? detailOutlet.outlet.updateBy || '-' : '-' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="detailOutlet.outlet.outletOptions && detailOutlet.outlet.outletOptions.find(el => el.name === 'CASHBAC_DELIVERY_WA')"
      class="card"
    >
      <div class="card-header font-weight-bold">
        Delivery
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                WA Number
              </label>
              <p>
                {{ detailOutlet.delivery.waNumber || '-' }}
              </p>
            </div>
          </div>
        </div>
        <div
          v-for="(el, index) in detailOutlet.delivery.menus"
          :key="index"
          class="menus-wrap"
        >
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  class="text-muted"
                  for=""
                >
                  Section Label
                </label>
                <p>
                  {{ el.category }}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label
                  class="text-muted"
                  for=""
                >
                  Menu
                </label>
                <p>
                  <span
                    v-for="(el2, index2) in el.menu"
                    :key="index2"
                  >
                    {{ el2 }}<span v-if="(el.menu.length - 1) > index2">, </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label
                class="text-muted"
                for=""
              >
                Delivery Instructions
              </label>
              <p>
                <span v-if="detailOutlet.delivery.deliveryInstruction">
                  {{ customDeliveryLabel(detailOutlet.delivery.deliveryInstruction) }}
                </span>
                <span v-else> - </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as dummy from '@/utils/dummy'
import authMixin from '@/mixins/auth'
import CardProgress from '@/components/CardProgress'
import DateFormat from '@/components/DateFormat'
import NavTabs from '@/components/NavTabs.vue'
import currencyFormat from '../../components/CurrencyFormat'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'OutletDetail',
  components: {
    'card-progress': CardProgress,
    'nav-tabs': NavTabs,
    'date-format': DateFormat,
    'currency-format': currencyFormat
  },
  mixins: [authMixin],
  data: function () {
    return {
      detailOutlet: {}
    }
  },
  computed: {
    openingHoursFiltered: function () {
      let days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
      return this.filterOpeningHours(this.detailOutlet.openingHoursOutlet, days)
    },
    averageCost: function () {
      return this.filterInfoByName('price range')
    },
    dishes: function () {
      return this.filterInfoByName('dishes')
    },
    cuisines: function () {
      return this.filterInfoByName('cuisine')
    },
    mealServed: function () {
      return this.filterInfoByName('meal served')
    },
    features: function () {
      return this.filterInfoByName('features')
    },
    alcohol: function () {
      return this.filterInfoByName('alcohol')
    },
    services: function () {
      return this.filterInfoByName('service')
    },
    seating: function () {
      return this.filterInfoByName('seating')
    },
    smoking: function () {
      return this.filterInfoByName('smoking')
    },
    wifi: function () {
      return this.filterInfoByName('wi-fi')
    },
    parking: function () {
      return this.filterInfoByName('parking')
    },
    API_DETAIL: function () {
      return `outlets/detail/${this.$route.params.pubId}`
    }
  },
  created: function () {
    this.getData.run()
  },
  methods: {
    customOptionLabel: function ({ name, pubId }) {
      if (name) {
        return dummy.listOutletOptions.find(el => el.value === name).name
      }
    },
    customDeliveryLabel: function ({ name, pubId }) {
      if (name) {
        return dummy.listDeliveryInstructions.find(el => el.value === name).name
      }
    },
    filterOpeningHours: function (response, filter) {
      let newArr = []
      filter.forEach((fixed, fixedIndex) => {
        newArr.push({
          dayOfWeeks: fixed.toUpperCase(),
          hours: []
        })
        response.forEach((curr, currIndex) => {
          let matched = (element) => element.dayOfWeeks.toLowerCase() === fixed
          if (curr.dayOfWeeks.toLowerCase() === fixed) {
            let indexMatched = newArr.findIndex(matched)
            newArr[indexMatched].hours = curr.hours
          }
        })
      })
      return newArr
    },
    filterInfoByName: function (name) {
      let copyArr = []
      this.detailOutlet.additionalInfoOutlet.forEach(element => {
        copyArr.push(element)
      })
      // ###
      copyArr = copyArr.filter(x => {
        if (x.categoryValue) {
          return x.categoryValue.toLowerCase() === name
        } else {
          return null
        }
      })
      // ###
      if (copyArr) {
        return copyArr[0]
      } else {
        return null
      }
    }
  },
  tasks (t) {
    return {
      getData: t(function * () {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(process.env.VUE_APP_API_V2 + this.API_DETAIL, {
            headers: self.GetHeader('VIEW DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              if (response.body.content !== null) {
                let obj = response.body.content
                self.detailOutlet = obj
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/business-setup/outlets/list')
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">
.hour-min-width {
  min-width: 120px;
}
</style>
