<template>
  <div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Filter
      </div>
      <div class="card-body">
        <outlet-filter @filterSubmit="onFilterSubmit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        {{ titlePage ? titlePage : "" }}
      </div>
      <div
        v-if="getDataList.isActive"
        class="card-body text-center"
      >
        <card-progress />
      </div>
      <div
        v-else
        class="card-body"
      >
        <div class="row mb-3">
          <div class="col-sm-6 col-md-4">
            <button
              class="btn btn-outline-success mr-2 mb-2"
              @click="$router.push('/business-setup/outlet/create')"
            >
              <i class="fa fa-plus-circle" /> Add Outlet
            </button>
            <router-link
              to="/business-setup/outlets/import"
              class="btn btn-outline-success mr-2 mb-2"
            >
              <i class="fa fa-upload" /> Import Outlet
            </router-link>
          </div>
          <div class="col-sm-3 text-right col-md-5">
            <!-- empty -->
          </div>
          <div class="col-sm-3 text-right col-md-3">
            <button
              v-if="!isActive"
              class="btn btn-outline-dark mr-2 mb-2"
              @click="activateUpdateStatus()"
            >
              <i class="fa fa-edit" /> Update Status
            </button>
            <multiselect
              v-else
              id="statusOutlet"
              v-model="optionupdateStatus"
              label="name"
              track-by="name"
              placeholder="Select Status"
              :close-on-select="true"
              :show-labels="true"
              :options="listOutletStatus"
              :searchable="false"
              :allow-empty="false"
              :disabled="false"
              @input="chooseUpdateStatus(optionupdateStatus)"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >Select Status {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <keep-alive>
          <outlet-table-list
            ref="outletTable"
            :updateStatus="isActive"
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
            @bulkStatusOutlet="onBulkStatusOutlet"
          />
        </keep-alive>
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else-if="results.length === 0">
              - No Results -
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
    <modal-basic
      id="modalBulkOutlet"
      title="Update Status Validation"
      size=""
      :footerVisible="true"
    >
      <div
        class="mb-0 pb-3"
      >
        <div
          v-if="bulkStatus.length !== 0"
        >
          <div
            class="alert alert-info"
          >
            <b>{{ bulkStatus.length }}</b> Outlet(s) selected to status <b>[{{ statusAction }}]</b>
          </div>
          <hr>
          <div
            class="maxheight-180 pl-3"
          >
            <div
              v-for="(data, index) in bulkStatus"
              :key="index"
            >
              - {{ data.text || '' }}<br>
            </div>
          </div>
        </div>
        <div
          v-else
          class="alert alert-danger"
        >
          Please choose an outlet
        </div>
      </div>
      <div
        slot="footer"
        class="modal-footer"
      >
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Cancel Update
        </button>
        <button
          v-if="bulkStatus.length !== 0"
          type="button"
          class="btn btn-primary"
          @click="confirmBulkUpdateStatus(bulkStatus)"
        >
          Confirm Update
        </button>
      </div>
    </modal-basic>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import OutletTableList from '@/components/outlets/OutletTableList'
import OutletFilter from '@/components/outlets/OutletFilterSearch'
import PaginationList from '@/components/PaginationList'
import CardProgress from '@/components/CardProgress'
import Multiselect from 'vue-multiselect'
import ModalBasic from '@/components/ModalBasic'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'OutletList',
  components: {
    'outlet-table-list': OutletTableList,
    'pagination-list': PaginationList,
    'card-progress': CardProgress,
    'outlet-filter': OutletFilter,
    'multiselect': Multiselect,
    'modal-basic': ModalBasic
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      titlePage: 'Outlet List',
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 2,
      totalPage: 1,
      API_endpoint: process.env.VUE_APP_API,
      APIURL: 'outlet',
      API_BULK_UPDATE: 'outlet/bulk/status',
      params: {
        size: 10,
        pagination: 1,
        order: 'create_ts',
        orderAttr: 'desc'
      },
      isActive: false,
      optionupdateStatus: { name: 'Select Status', value: '' },
      listOutletStatus: [
        { name: 'INITIATED', value: 'INITIATED' },
        { name: 'INVISIBLE', value: 'INVISIBLE' },
        { name: 'ACTIVE', value: 'ACTIVE' },
        { name: 'TEMPORARILY CLOSED', value: 'TEMPORARILY CLOSED' },
        { name: 'DEACTIVATED', value: 'DEACTIVATED' },
        { name: 'TERMINATED', value: 'TERMINATED' }
      ],
      bulkStatus: [],
      statusAction: ''
    }
  },
  computed: {
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let self = this
    this.initialLoadData()
    $('#modalBulkOutlet').on('hidden.bs.modal', function (e) {
      self.bulkStatus = []
    })
    this.$localStorage.remove('checkedOutlet')
  },
  methods: {
    initialLoadData: function () {
      let query = {}
      let request = this.getParams
      const endpoint = process.env.VUE_APP_API
      let obj = {}
      Object.assign(query, this.$route.query)
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, request)
      Object.assign(obj, query)
      this.getDataList.run(obj, endpoint)
    },
    onBulkStatusOutlet: function (payload) {
      this.bulkStatus = payload
      this.statusAction = this.optionupdateStatus.value
      $('#modalBulkOutlet').modal({
        show: true,
        backdrop: 'static'
      })
    },
    confirmBulkUpdateStatus: function () {
      let mappingPubIds = this.bulkStatus.map(obj => {
        return obj.pubId
      })
      let payloadBulk = {}
      payloadBulk['status'] = this.optionupdateStatus.value
      payloadBulk['pubIds'] = mappingPubIds
      this.submitEditBulk.run(process.env.VUE_APP_API, this.API_BULK_UPDATE, payloadBulk)
      this.activateUpdateStatus()
      $('#modalBulkOutlet').modal('hide')
    },
    activateUpdateStatus: function () {
      this.isActive = !this.isActive
      this.optionupdateStatus = { name: 'Select Status', value: '' }
      this.$refs.outletTable.resetSelected()
    },
    chooseUpdateStatus (sortKey) {
      this.$refs.outletTable.actionsSelect(this.optionupdateStatus.value)
    }
  }
}
</script>

<style lang="scss" type="scoped">
.maxheight-180 {
  max-height: 180px;
  overflow-x: auto
}
</style>
