<template>
  <div class="min-height">
    <form @submit.prevent="submitFile">
      <div class="card">
        <div class="card-header font-weight-bold">
          Import Outlet
        </div>
        <div class="card-body">
          <div class="row align-items-end">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="MerchantName">Merchant name</label>
                <multiselect
                  id="MerchantName"
                  v-model="selectedMerchant"
                  label="trade_name"
                  track-by="trade_name"
                  placeholder="Select Merchant Name"
                  :close-on-select="true"
                  :show-labels="true"
                  :options="listMerchants"
                  :searchable="true"
                  :allow-empty="false"
                  :disabled="false"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    <span
                      v-if="option"
                      class="text-capitalize"
                    >{{ option.trade_name }}</span>
                    <span
                      v-else
                      class="text-placeholder"
                    >Select Type {{ option.trade_name }}</span>
                  </template>
                </multiselect>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="myFiles">Upload CSV</label>
                <input
                  id="transactionFIleUpload"
                  ref="myFiles"
                  type="file"
                  name=""
                  class="form-control py-1 px-1"
                  accept=".csv"
                  placeholder=""
                  aria-describedby="helpId"
                  @change="reviewFiles"
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-inline">
                <div class="form-group mb-3">
                  <label
                    for=""
                    class="pr-1"
                  >Download CSV : </label><a
                    href="/template_upload_bulk_outlet_final1.csv"
                    class="btn btn-outline-success"
                  ><i
                    aria-hidden="true"
                    class="fa fa-download"
                  /> Download Template
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block text-right">
        <button
          class="btn btn-primary px-5"
          :disabled="!selectedMerchant || !payload"
        >
          {{ !uploadCSV.isActive ? 'Import' : 'Importing' }}
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import Multiselect from 'vue-multiselect'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'ImportOutlet',
  components: {
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  data: function () {
    return {
      publicPath: process.env.BASE_URL,
      titlePage: 'import outlet',
      payload: null,
      selectedMerchant: null,
      listMerchants: [],
      API_LIST: 'merchant/status?status=ACTIVE,INITIATED'
    }
  },
  computed: {
    API_UPLOAD: function () {
      return `merchants/${this.selectedMerchant ? this.selectedMerchant.merchant_pubid : null}/bulk-outlets`
    }
  },
  created: function () {
    this.getSettlementList.run(process.env.VUE_APP_API, this.API_LIST)
  },
  methods: {
    submitFile: function () {
      this.uploadCSV.run(process.env.VUE_APP_API_V2, this.API_UPLOAD, this.payload)
    },
    reviewFiles: function () {
      let file = this.$refs.myFiles.files[0]
      let formData = new FormData()
      formData.append('file', file)
      this.payload = formData
    }
  },
  tasks (t) {
    return {
      uploadCSV: t(function * (endpoint = process.env.VUE_APP_API, resource = '', payload = null) {
        let self = this
        let headerUpload = {}
        headerUpload = { ...headerUpload, ...self.GetHeader('UPLOAD SETTLEMENT') }
        headerUpload['Content-Type'] = 'multipart/form-data'
        if (this.GetAuth()) {
          yield self.$http.post(`${endpoint}${resource}`, self.payload, {
            headers: headerUpload
          }).then(response => {
            if (response.body.code === 200) {
              document.getElementById('transactionFIleUpload').value = null
              self.payload = null
              self.selectedMerchant = null
              self.flash(`${response.body.message || 'success bulk upload'}`, 'success', {
                timeout: 5000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Error bulk upload ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
            self.loading = false
          })
        }
      }).flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        }),
      getSettlementList: t(function * (endpoint = process.env.VUE_APP_API, resource = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(`${endpoint}${resource}`, {
            headers: self.GetHeader('GET SETTLEMENTS')
          }).then(response => {
            if (response.body.code === 200) {
              self.listMerchants = response.body.content || []
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Error get merchant, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          })
        }
      })
        .flow('enqueue')
        .onSuccess(() => {})
    }
  }

}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
.min-height {
  min-height: 500px;
}
</style>
