<template>
  <div class="mb-5">
    <nav-tabs
      :urls="[{name: 'MerchantDetail', text: 'Merchant Details', url: `/business-setup/merchant/${$route.params.pubid}/detail`}, {name: 'MerchantSettlements', text: 'Settlement Account', url: '/business-setup/merchant/' + $route.params.pubid + '/settlements'}, {name: '#', text: 'Outlet List', url: '#'}]"
    />
    <!-- <div class="text-center" v-if="loading">
      Loading
    </div> -->
    <div class="card">
      <div class="card-header font-weight-bold">
        Settlement Account List
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-6">
            <button
              class="btn btn-outline-success bg-white text-success"
              @click="CreateSettlement"
            >
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              /> Create Account
            </button>
          </div>
          <div class="col-sm-6" />
        </div>
        <!--  -->
        <keep-alive>
          <settlement-table-list
            :results="results"
            :currentPage="getParams.pagination"
            :sizePage="getParams.size"
            class="mb-3"
          />
        </keep-alive>
        <!--  -->
        <div class="row align-items-center">
          <div class="col-6 text-muted">
            <div v-if="totalRows > params.size">
              Showing {{ results.length }} data from <span>{{ formatThousand(totalRows) }}</span> data
            </div>
            <div v-else>
              <!-- - No Results - -->
            </div>
          </div>
          <div class="col-6">
            <keep-alive>
              <pagination-list
                :results="results"
                :pageSize="params.size"
                :currentPage="params.pagination"
                :totalPage="totalPage"
                :totalRows="totalRows"
                class="text-right"
                @paginationClick="onPaginationClick"
              />
            </keep-alive>
          </div>
        </div>
      </div>
    </div>
    <modal-basic
      id="CreateSettlement"
      title="Settlement Account"
      size="modal-lg"
      :footerVisible="false"
    >
      <settlement-create class="mb-2" />
    </modal-basic>
    <!--  -->
    <!-- <div class="card">
      <div class="card-body text-center">
        <card-progress></card-progress>
      </div>
    </div> -->
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from '@/mixins/auth'
import TableListMixin from '@/mixins/TableListMixin'
import PaginationList from '@/components/PaginationList'
import ModalBasic from '@/components/ModalBasic'
import SettlementCreate from '@/components/merchants/SettlementAccountCreate'
import SettlementTableList from '@/components/merchants/SettlementTableList'
import NavTabs from '@/components/NavTabs.vue'
import { mapGetters } from 'vuex'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'SettlementList',
  components: {
    'settlement-create': SettlementCreate,
    'settlement-table-list': SettlementTableList,
    'pagination-list': PaginationList,
    'nav-tabs': NavTabs,
    'modal-basic': ModalBasic
  },
  mixins: [authMixin, TableListMixin],
  data: function () {
    return {
      exceptionalFilter: ['status'],
      results: [],
      totalRows: 0,
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      APIURL: 'settlement-accounts',
      params: {
        size: 10,
        pagination: 1,
        order: 'create_ts',
        orderAttr: 'desc',
        merchantPubID: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      checkIfNewSettlement: 'settlements/getCreateSubmitted'
    }),
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        order: this.params.order,
        orderAttr: this.params.orderAttr,
        merchantPubId: this.$route.params.pubid
      }
    }
  },
  watch: {
    checkIfNewSettlement: function () {
      let query = {}
      let request = this.getParams
      let obj = {}
      const endpoint = this.API_endpoint
      //
      Object.assign(query, this.$route.query)
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, request)
      Object.assign(obj, query)
      if (this.checkIfNewSettlement === true) {
        this.getDataList.run(obj, endpoint)
        this.$store.commit('settlements/setCreateSubmit', false)
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
    this.params.merchantPubID = this.$route.params.pubid
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    let obj = {}
    const endpoint = this.API_endpoint
    //
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDataList.run(obj, endpoint)
  },
  methods: {
    CreateSettlement: function () {
      $('#CreateSettlement').modal({
        show: true,
        backdrop: 'static'
      })
    },
    refreshQuery: function () {
      this.$router.push({
        query: {
          pagination: 1
        }
      })
    },
    formatThousand: function (num) {
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
