<template>
  <div class="card">
    <div class="card-header font-weight-bold">
      Set Paid Date and Time
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4 col-lg-3">
          <div class="form-group">
            <label for="">Paid Date</label>
            <date-picker
              id="dateThis"
              :timePicker24Hour="false"
              :singleDatePicker="true"
              :timePicker="true"
              dateFormat="DD-MM-YYYY HH:mm:ss"
              @dateChanged="onDateChanged"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from '@/components/DatePicker'
export default {
  name: 'WithdrawalPaidDate',
  components: {
    'date-picker': DatePicker
  },
  data: function () {
    return {
    }
  },
  methods: {
    onDateChanged: function (obj) {
      this.$emit('setPaidDate', obj)
    }
  }
}
</script>
<style lang="scss" type="scoped">
</style>
