<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="bactchId">Batch ID</label>
            <input
              id="bactchId"
              v-model="querySearch.batchId"
              type="text"
              name="bactchId"
              placeholder="Type Batch ID"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
          <div class="form-group">
            <label for="paid_date">Paid Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="paid_date"
                  :initialDate="false"
                  :watching="querySearch.paid_date_start"
                  :start="querySearch.paid_date_start"
                  :end="querySearch.paid_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="withdrawal_date">Transaction Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="transaction_date"
                  :initialDate="false"
                  :watching="querySearch.transaction_date_start"
                  :start="querySearch.transaction_date_start"
                  :end="querySearch.transaction_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
          <div class="form-group">
            <label for="withdrawalStatus">Withdrawal Status</label>
            <multiselect
              id="withdrawalStatus"
              v-model="querySearch.status"
              label="name"
              track-by="name"
              placeholder="Select Status"
              :close-on-select="true"
              :show-labels="true"
              :options="listStatus"
              :searchable="false"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel "
                slot-scope="{ option }"
              >
                <span
                  v-if="option"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-capitalize text-placeholder"
                >Select Status {{ option.name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="settlement">Settlement Date</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar" />
                </span>
              </span>
              <keep-alive>
                <date-range-picker
                  id="settlement_date"
                  :initialDate="false"
                  :watching="querySearch.settlement_date_start"
                  :start="querySearch.settlement_date_start"
                  :end="querySearch.settlement_date_end"
                  class="form-control"
                  @dateRangeChanged="onDateRangeChanged"
                />
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import DateRangePicker from '@/components/DateRangePicker'
import Multiselect from 'vue-multiselect'
import authMixin from '@/mixins/auth.js'
// ###
Vue.use(Vuency)
// ###
export default {
  name: 'WithdrawalFilterSearchDeals',
  components: {
    'date-range-picker': DateRangePicker,
    'multiselect': Multiselect
  },
  mixins: [authMixin],
  props: ['pagination'],
  data: function () {
    return {
      listStatus: [
        {
          name: 'All',
          value: ''
        },
        {
          name: 'Pending',
          value: 'PENDING'
        },
        {
          name: 'Withdrawn',
          value: 'WITHDRAWN'
        }
      ],
      querySearch: {
        batchId: '',
        status: {
          name: 'All',
          value: ''
        },
        transaction_date_start: this.$route.query.trxStartDate || '',
        transaction_date_end: this.$route.query.trxEndDate || '',
        settlement_date_start: this.$route.query.settledStartDate || '',
        settlement_date_end: this.$route.query.settledEndDate || '',
        paid_date_start: this.$route.query.paidStartDate || '',
        paid_date_end: this.$route.query.paidEndDate || ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      const { batchId, status } = this.querySearch
      let obj = {
        batchId: batchId,
        withdrawalStatus: status.value ? status.value.toUpperCase() : '',
        trxStartDate: this.querySearch.transaction_date_start,
        trxEndDate: this.querySearch.transaction_date_end,
        settledStartDate: this.querySearch.settlement_date_start,
        settledEndDate: this.querySearch.settlement_date_end,
        paidStartDate: this.querySearch.paid_date_start,
        paidEndDate: this.querySearch.paid_date_end
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.querySearch.status = {
        name: 'All',
        value: ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj = { ...obj, pagination: 1, ...request }
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    },
    onDateRangeChanged: function (picker, tag, obj) {
      let dateStart = tag.getAttribute('target') + '_start'
      let dateEnd = tag.getAttribute('target') + '_end'
      this.querySearch[dateStart] = obj.start
      if (obj.start === obj.end) {
        let total = (23 * 3600) + (59 * 60) + 59
        obj.end = ((obj.end * 1000) + (total * 1000))
        this.querySearch[dateEnd] = (obj.end / 1000)
      } else {
        this.querySearch[dateEnd] = obj.end
      }
    }
  },
  tasks (t, { timeout }) {
    return {
      getLocations: t(function * () {
        let self = this
        yield self.$http.get(`/utils/province.json`, {
          headers: self.GetHeader('GET PROVINCE')
        }).then(response => {
          for (let i = 0; i < Object.keys(response.body).length; i++) {
            let name = Object.keys(response.body)[i]
            Object.keys(response.body[name]).forEach(function (item, index) {
              self.listOfCity = [...self.listOfCity, { name: item }]
            })
          }
        })
      })
        .flow('enqueue', { maxRunning: 1 })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
