<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Batch ID
          </th>
          <th class="min-width align-middle">
            Settlement Date
          </th>
          <th class="min-width align-middle">
            Paid Date
          </th>
          <th class="min-width align-middle">
            Status
          </th>
          <th class="min-width align-middle">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Withdrawals Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <span v-if="profile.role === 'DMG_FINANCE' && (data.withdrawalStatus.toLowerCase() === 'pending' || data.withdrawalStatus.toLowerCase() === 'withdrawn')">
              <router-link :to="{name: 'WithdrawalDealDetail', params: {pubId: data.batchId, text: data.batchId}}">{{ data.batchId || '-' }}</router-link>
            </span>
            <span v-else>
              {{ data.batchId || '-' }}
            </span>
          </td>
          <td>
            <span>
              {{ data.settledDate > 0 ? formatDate(data.settledDate, 'hour', 'DD-MM-YYYY, HH:MM:SS') : '-' }}
            </span>
          </td>
          <td>
            <span>
              {{ data.paidDate > 0 ? formatDate(data.paidDate, 'hour', 'DD-MM-YYYY, HH:MM:SS') : '-' }}
            </span>
          </td>
          <td>
            <status-badge
              :value="data.withdrawalStatus ? data.withdrawalStatus.toLowerCase() : '-'"
              type="pill"
            />
          </td>
          <td>
            <button
              class="btn btn-success btn-sm cursor-pointer"
              @click="download(data.batchId)"
            >
              <i
                class="fa fa-download"
                aria-hidden="true"
              />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import authMixin from '@/mixins/auth.js'
import moment from 'moment'
import StatusBadge from '@/components/StatusBadge'

Vue.use(Vuency)
export default {
  name: 'WithdrawalTableListDeals',
  components: {
    'status-badge': StatusBadge
  },
  mixins: [authMixin],
  props: ['id', 'results'],
  computed: {
    profile: function () {
      return this.$store.getters['profile/getAuth']
    },
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    download: function (id) {
      let API_DOWNLOAD = `settlement-batch/${id}/instruction-download`
      this.downloadInstruction.run(process.env.VUE_APP_API, API_DOWNLOAD)
    },
    formatDate: function (date, type = '', format = '') {
      if (type === 'hour') {
        return moment.unix(date).format(format)
      } else {
        return moment(date).format(format)
      }
    }
  },
  tasks (t, { timeout }) {
    return {
      downloadInstruction: t(function * (endpoint = process.env.VUE_APP_API, resource = '') {
        let self = this
        if (this.GetAuth()) {
          yield self.$http.get(`${endpoint}${resource}`, {
            headers: self.GetHeader('DOWNLOAD INSTRUCTION')
          }).then(response => {
            if (response.body.code === 200) {
              self.flash(`${response.body.message || 'Download instruction success'}`, 'success', {
                timeout: 5000
              })
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash(`Error download isntruction, ${response.body.message}`, 'error', {
                timeout: 5000
              })
            }
          }, err => {
            self.flash(`Error : ${err.status} ${err.statusText}`, 'error', {
              timeout: 10000
            })
          })
        }
      })
        .flow('enqueue')
        .onSuccess(() => {})
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
