<template>
  <div class="mb-5">
    <nav-tabs :urls="[{name: 'OutletDetail', text: 'Outlet Details', url: `/business-setup/outlet/${$route.params.pubId}/detail`}, {name: 'OutletPaymentInterface', text: 'Payment Interface', url: `/business-setup/outlet/${$route.params.pubId}/payment-interface`}, {name: 'OutletPhotos', text: 'Outlet Photos', url: `/business-setup/outlet/${$route.params.pubId}/photos`}, {name: 'Transactions', text: 'Transactions', url: '#'}]" />
    <!-- ### -->
    <div class="card">
      <div class="card-header">
        <strong>
          Photos
        </strong>
      </div>
      <img
        class="card-img-top"
        src="holder.js/100x180/"
        alt=""
      >
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="btn-group btn-group-toggle">
              <label
                v-for="(option, index) in options"
                :key="index"
                class="btn btn-outline-primary text-capitalize"
                :class="active.value === option.value ? 'active' : (onArrange || selectedPhotos.length > 0 ? 'disabled' : '')"
                :disabled="modalUploadShow"
                @click="setActive(option)"
              >
                <input
                  v-if="modalUploadShow || onArrange || selectedPhotos.length > 0"
                  :id="`option-${option.value}`"
                  type="radio"
                  name="optionCategory"
                  :value="option.value"
                  :checked="index === 0 ? true : false"
                >
                {{ option.value }}
              </label>
            </div>
          </div>
          <!-- normal state -->
          <div
            v-if="!onArrange"
            class="col-md-6 text-md-right"
          >
            <button
              v-if="selectedPhotos.length > 0"
              class="btn btn-outline-danger mr-2"
              @click="deletePhotos"
            >
              <i class="fa fa-trash" /> Delete Photos
            </button>
            <button
              v-if="lengthActiveList.length > 0"
              class="btn btn-outline-success mr-2"
              :disabled="selectedPhotos.length > 0"
              @click="arangingPhoto(true)"
            >
              <div class="fa fa-arrows" /> Arrange Photos
            </button>
            <button
              class="btn btn-outline-success"
              :disabled="categoryLimitActive === 0 || onArrange || selectedPhotos.length > 0"
              @click="showModalUpload"
            >
              <div class="fa fa-cloud-upload" /> {{ categoryLimitActive > 0 ? 'Upload Photos' : 'Maximum Upload' }}
            </button>
          </div>
          <!-- on arrange -->
          <div
            v-else
            class="col-md-6 text-md-right"
          >
            <button
              class="btn btn-outline-success px-4 mr-2"
              @click="arangingPhoto(false)"
            >
              Cancel
            </button>
            <button
              class="btn btn-outline-success px-4"
              @click="updateImage"
            >
              Save
            </button>
          </div>
        </div>
        <div
          v-for="(option, index) in options"
          :key="index"
          class="wrap-toggle"
        >
          <!-- ### menu photos -->
          <div
            class="row"
            :class="active.value === option.value ? '' : 'd-none'"
          >
            <div class="col-12">
              <photo-list
                v-if="!getListPhoto.isActive"
                :onArrange="onArrange"
                :category="option.value"
                :listPhoto="getStateValue(option.state)"
                @setPrimary="onSetPrimary"
              />
            </div>
            <div
              v-if="getStateValue(option.state).length === 0"
              class="col-12 text-center"
            >
              <empty-photo v-if="!getListPhoto.isActive" />
              <card-progress
                v-else
                class="my-5 py-5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal-basic
      id="UploadPhoto"
      size="modal-lg"
      :footerVisible="true"
    >
      <div
        slot="header"
        class="modal-header"
      >
        <h5 class="modal-title font-weight-bold text-capitalize">
          {{ `Upload Photos : ${active.value}` }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          :disabled="uploadPhoto.isActive ? true : false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div slot="default">
        <multiple-image-upload
          v-if="modalUploadShow"
          colSize="col-6 col-md-4 col-lg-3"
          :required="false"
          :limit="categoryLimitActive"
          :maxSize="100000"
          @bannerMultipleSelect="onPhotoSelected"
        />
      </div>
      <div
        slot="footer"
        class="modal-footer"
      >
        <button
          type="button"
          class="btn btn-outline-primary"
          data-dismiss="modal"
          :disabled="uploadPhoto.isActive ? true : false"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          :disabled="uploadPhoto.isActive ? true : false"
          @click="uploadImages()"
        >
          {{ uploadPhoto.isActive ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </modal-basic>
  </div>
</template>

<script>
import ModalBasic from '@/components/ModalBasic'
import NavTabs from '@/components/NavTabs.vue'
import EmptyPhotos from '@/components/outletPhotos/EmptyPhotos'
import CardProgress from '@/components/CardProgress'
import PhotoList from '@/components/outletPhotos/PhotosList'
import MultipleImageUpload from '@/components/MultiplePhotoUploadOutlet'
import OutletPhotosMixin from '@/mixins/outlets/OutletPhotos'
import { mapGetters } from 'vuex'
export default {
  name: 'OutletPhotosBase',
  components: {
    'card-progress': CardProgress,
    'photo-list': PhotoList,
    'empty-photo': EmptyPhotos,
    'nav-tabs': NavTabs,
    'multiple-image-upload': MultipleImageUpload,
    'modal-basic': ModalBasic
  },
  mixins: [OutletPhotosMixin],
  data: function () {
    return {
      bulkUploadPhotos: [],
      onArrange: false,
      limit: 30,
      options: [{
        state: 'listPhotoMenu',
        value: 'menu'
      }, {
        state: 'listPhotoFood',
        value: 'food'
      }, {
        state: 'listPhotoAmbience',
        value: 'ambience'
      }],
      active: {},
      modalUploadShow: false
    }
  },
  computed: {
    ...mapGetters({
      listPhotoMenu: 'outlet/getPhotoMenu',
      listPhotoFood: 'outlet/getPhotoFood',
      listPhotoAmbience: 'outlet/getPhotoAmbience',
      listBulkUpdated: 'outlet/getPhotoUpdated',
      selectedPhotos: 'outlet/getPhotoSelected'
    }),
    categoryLimitActive: function () {
      let number = this.limit
      if (this[this.active.state].length > 0) {
        number = number - this[this.active.state].length
      }
      if (number > 0) {
        return number
      } else {
        return 0
      }
    },
    payloadUpdate: function () {
      let newArr = []
      this.listBulkUpdated.forEach((element, index) => {
        let obj = { ...element }
        obj.idxOrder = index
        obj.action = 'update'
        newArr.push(obj)
      })

      return {
        createdBy: this.ParseAuth().user,
        file: newArr
      }
    },
    payloadUpload: function () {
      return {
        file: this.bulkUploadPhotos
      }
    },
    lengthActiveList: function () {
      return this[this.active.state]
    },
    API_LIST: function () {
      return `outlet/${this.$route.params.pubId}/product-images?type=${this.active.value}`
    },
    API_UPLOAD: function () {
      return `outlet/${this.$route.params.pubId}/products/images`
    },
    API_PRIMARY: function () {
      return `outlets/${this.$route.params.pubId}/set-banner`
    }
  },
  watch: {
    modalUploadShow: function () {
      if (this.modalUploadShow) {
        $('#UploadPhoto').modal({
          show: true,
          backdrop: 'static'
        })
      } else {
        this.bulkUploadPhotos = []
        $('#UploadPhoto').modal({
          show: false,
          backdrop: 'static'
        })
      }
    }
  },
  mounted: function () {
    let self = this
    $('#UploadPhoto').on('hidden.bs.modal', function (e) {
      self.modalUploadShow = !self.modalUploadShow
    })
  },
  created: function () {
    this.active = this.options[0]
    this.getList()
  },
  methods: {
    onSetPrimary: function (idPhoto) {
      let payload = {
        id: idPhoto
      }
      let selectedObj = {
        id: idPhoto,
        state: this.active.state,
        value: this.active.value
      }
      // let listPhoto = []
      // listPhoto = this[this.active.state]
      // listPhoto = listPhoto.filter(element => element.id === idPhoto)
      this.setPrimary.run(process.env.VUE_APP_API_V2, this.API_PRIMARY, payload, selectedObj)
    },
    deletePhotos: function () {
      let payload = {
        file: this.selectedPhotos
      }
      this.deletePhoto.run(process.env.VUE_APP_API, this.API_UPLOAD, payload)
    },
    arangingPhoto: function (val) {
      this.onArrange = val
    },
    getStateValue: function (str) {
      return this[str]
    },
    getList: function () {
      this.getListPhoto.run(process.env.VUE_APP_API, this.API_LIST)
    },
    updateImage: function () {
      this.updatePhoto.run(process.env.VUE_APP_API, this.API_UPLOAD, this.payloadUpdate)
    },
    uploadImages: function () {
      this.uploadPhoto.run(process.env.VUE_APP_API, this.API_UPLOAD, this.payloadUpload)
    },
    showModalUpload: function () {
      this.modalUploadShow = !this.modalUploadShow
    },
    setActive: function (obj) {
      let disabled = this.selectedPhotos.length > 0 || this.onArrange
      if (!this.modalUploadShow && obj.value !== this.active.value && !disabled) {
        this.active = obj
        if (this[obj.state].length === 0) {
          this.getList()
        }
      }
    },
    onPhotoSelected: function (arr) {
      let self = this
      let getIndexNumber = (index) => {
        if (self[self.active.state].length === 0) {
          return index
        } else {
          return self[self.active.state].length + index
        }
      }
      arr.forEach((element, index) => {
        element.type = this.active.value.toUpperCase()
        element.idxOrder = getIndexNumber(index)
        element.action = 'new'
      })
      this.bulkUploadPhotos = arr
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
