<template>
  <div>
    <form @submit.prevent="setFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="user_mail">Location Category</label>
            <multiselect
              id="categorySearch"
              v-model="querySearch.locationType"
              label="name"
              track-by="name"
              placeholder="All"
              :close-on-select="true"
              :show-labels="true"
              :options="listOfLocation"
              :searchable="true"
              :allow-empty="true"
              :disabled="false"
            >
              <template
                slot="singleLabel"
                slot-scope="{ option }"
              >
                <span
                  v-if="option.name"
                  class="text-capitalize"
                >{{ option.name }}</span>
                <span
                  v-else
                  class="text-placeholder"
                >All</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="user_mail">Value</label>
            <input
              id="user_email"
              v-model="querySearch.name"
              type="text"
              name="user_email"
              class="form-control"
              aria-describedby="helpId"
            >
          </div>
        </div>
      </div>
      <div class="text-right btn-filter">
        <button
          type="button"
          class="btn btn-outline-primary mx-1 px-4 mb-2"
          @click="clearFilter()"
        >
          Clear Filter
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-1 px-4 mb-2"
        >
          Filter
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuency from 'vuency'
import FilterSearchMixin from '@/mixins/FilterSearchMixin'
import Multiselect from 'vue-multiselect'
Vue.use(Vuency)
export default {
  name: 'CMSLocationFilter',
  components: {
    'multiselect': Multiselect
  },
  mixins: [FilterSearchMixin],
  props: ['pagination'],
  data: function () {
    return {
      listOfLocation: [{ name: 'Province', value: 'province' },
        { name: 'City', value: 'city' },
        { name: 'District', value: 'district' },
        { name: 'Sub District', value: 'subdistrict' },
        { name: 'Area', value: 'area' },
        { name: 'Building', value: 'building' }],
      querySearch: {
        locationType: '',
        name: ''
      }
    }
  },
  computed: {
    requestQuery: function () {
      let query = {}
      let { locationType, name } = this.querySearch
      let obj = {
        locationType: locationType.value,
        name: name
      }
      // check if key no empty then registered to query
      for (let [key, value] of Object.entries(obj)) {
        if (value) {
          if (typeof value === 'object') {
            query[key] = value.name.toUpperCase()
          } else {
            query[key] = value
          }
        }
      }
      return query
    }
  },
  methods: {
    clearFilter: function () {
      let self = this
      for (let [key] of Object.entries(self.querySearch)) {
        self.querySearch[key] = ''
      }
      this.setFilter()
    },
    setFilter: function () {
      // starting sequence for update filter and call parent handler
      let request = this.requestQuery
      let obj = {}
      if (Object.keys(this.requestQuery).length > 0) {
        obj.pagination = 1
        Object.assign(obj, request)
        this.$router.push({
          query: obj
        })
      } else {
        this.$router.push({
          query: {
            pagination: 1
          }
        })
      }
      this.$emit('filterSubmit', obj)
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" type="scoped">
  .btn-filter {
    .btn {
      min-width: 150px;
    }
  }
</style>
