<template>
  <form @submit.prevent="submit()">
    <div class="card">
      <div class="card-header font-weight-bold">
        Create New Content <span class="text-capitalize">{{ selectedCategory ? ` : ${selectedCategory.name}` : '' }}</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">Location Category</label>
              <multiselect
                id="LocationCategory"
                v-model="selectedCategory"
                class="text-capitalize"
                label="name"
                track-by="name"
                placeholder="Select Location Category"
                :close-on-select="true"
                :show-labels="true"
                :options="locationCategories"
                :searchable="true"
                :allow-empty="false"
                :disabled="false"
                @select="selectCategory"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Select Location Category</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="selectedCategory.name"
                type="text"
                name=""
                class="sr-only"
                required
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Parent Category
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">Province</label>
              <multiselect
                id="Province"
                v-model="payload.parent.province"
                label="name"
                track-by="name"
                placeholder="Select Province"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfProvince"
                :searchable="true"
                :allow-empty="false"
                :disabled="selectIsDisabled(['country', 'province'], selectedCategory.name) ? true : false"
                @close="selectParentCategory('city', 'province', 'listOfCities', ['listOfCities', 'listOfDistrict', 'listOfArea', 'listOfSubdistrict'])"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Please Select</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="payload.parent.province.name"
                type="text"
                name=""
                class="sr-only"
                :required="selectIsDisabled(['city', 'district', 'subdistrict', 'area', 'building'], selectedCategory.name)"
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">City</label>
              <multiselect
                id="City"
                v-model="payload.parent.city"
                label="name"
                track-by="name"
                placeholder="Please Select"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfCities"
                :searchable="true"
                :allow-empty="false"
                :disabled="selectIsDisabled(['country', 'province', 'city'], selectedCategory.name) ? true : false"
                @close="selectParentCategory(['district', 'area'], 'city', ['listOfDistrict', 'listOfArea'], ['listOfDistrict', 'listOfArea', 'listOfSubdistrict'])"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Please Select</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="payload.parent.city.name"
                type="text"
                name=""
                class="sr-only"
                :required="selectIsDisabled(['district', 'subdistrict', 'area', 'building'], selectedCategory.name)"
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">District</label>
              <multiselect
                id="District"
                v-model="payload.parent.district"
                label="name"
                track-by="name"
                placeholder="Please Select"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfDistrict"
                :searchable="true"
                :allow-empty="false"
                :disabled="selectIsDisabled(['country', 'province', 'city', 'district'], selectedCategory.name) ? true : false"
                @close="selectParentCategory(['area', 'subdistrict'], 'district', ['listOfArea', 'listOfSubdistrict'], ['listOfArea', 'listOfSubdistrict'])"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Please Select</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="payload.parent.district.name"
                type="text"
                name=""
                class="sr-only"
                :required="selectIsDisabled(['subdistrict', 'building'], selectedCategory.name)"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">Area</label>
              <multiselect
                id="Area"
                v-model="payload.parent.area"
                label="name"
                track-by="name"
                placeholder="Please Select"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfArea"
                :searchable="true"
                :allow-empty="false"
                :disabled="selectIsDisabled(['country', 'province', 'city', 'area'], selectedCategory.name) ? true : false"
                @close="selectParentCategory('subdistrict', 'area', 'listOfSubdistrict', [])"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                  e
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Please Select</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="payload.parent.area.name"
                type="text"
                name=""
                class="sr-only"
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="user_mail">Sub District</label>
              <multiselect
                id="Subdistrict"
                v-model="payload.parent.subdistrict"
                label="name"
                track-by="name"
                placeholder="Please Select"
                :close-on-select="true"
                :show-labels="true"
                :options="listOfSubdistrict"
                :searchable="true"
                :allow-empty="false"
                :disabled="selectIsDisabled(['country', 'province', 'city', 'district', 'area', 'subdistrict'], selectedCategory.name) ? true : false"
              >
                <template
                  slot="singleLabel"
                  slot-scope="{ option }"
                >
                  <span
                    v-if="option.name"
                    class="text-capitalize"
                  >{{ option.name }}</span>
                  <span
                    v-else
                    class="text-placeholder"
                  >Please Select</span>
                </template>
              </multiselect>
              <input
                id=""
                v-model="payload.parent.subdistrict.name"
                type="text"
                name=""
                class="sr-only"
                :required="selectIsDisabled(['building'], selectedCategory.name)"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header font-weight-bold">
        Create New Content
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="value">Value</label>
              <input
                id="LocationValue"
                v-model="payload.value"
                type="text"
                name="value"
                class="form-control"
                aria-describedby="helpId"
                required
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input
                id="LocationLatitude"
                v-model="payload.latitude"
                type="text"
                name="latitude"
                class="form-control"
                aria-describedby="helpId"
                required
              >
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input
                id="locationLongitude"
                v-model="payload.longitude"
                type="text"
                name="longitude"
                class="form-control"
                aria-describedby="helpId"
                required
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right btn-filter">
      <button
        type="button"
        class="btn btn-outline-primary mx-1 px-4 mb-2 bg-light"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary mx-1 px-4 mb-2"
      >
        Save
      </button>
    </div>
  </form>
</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
  name: 'CMSLocationForm',
  components: {
    'multiselect': Multiselect
  },
  props: [
    'locationCategories',
    'listOfProvince',
    'listOfCities',
    'listOfDistrict',
    'listOfArea',
    'listOfSubdistrict',
    'onSubmitting'
  ],
  data: function () {
    return {
      selectedCategory: '',
      category: '',
      payload: {
        value: '',
        longitude: '',
        latitude: '',
        parent: {
          country: {
            id: 1,
            name: 'INDONESIA'
          },
          province: {
            id: null,
            name: null
          },
          city: {
            id: null,
            name: null
          },
          district: {
            id: null,
            name: null
          },
          area: {
            id: null,
            name: null
          },
          subdistrict: {
            id: null,
            name: null
          },
          building: {
            id: null,
            name: null
          }
        }
      }
    }
  },
  computed: {
    finalPayload: function () {
      let obj = this.payload
      obj.category = this.selectedCategory.name
      return obj
    }
  },
  watch: {
    selectedCategory: function () {
      let obj = {
        country: {
          id: 1,
          name: 'INDONESIA'
        },
        province: {
          id: null,
          name: null
        },
        city: {
          id: null,
          name: null
        },
        district: {
          id: null,
          name: null
        },
        area: {
          id: null,
          name: null
        },
        subdistrict: {
          id: null,
          name: null
        },
        building: {
          id: null,
          name: null
        }
      }
      this.payload.parent = obj
    },
    'payload.parent.province': function () {
      let arr = ['city', 'area']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    'payload.parent.city': function () {
      let arr = ['district', 'subdistrict', 'area']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    },
    'payload.parent.district': function () {
      let arr = ['subdistrict', 'area']
      arr.forEach(element => {
        this.resetLocationSelected(element)
      })
    }
  },
  methods: {
    resetLocationSelected: function (name) {
      this.payload.parent[name] = { ...this.payload.parent[name], ...{ id: null, name: null } }
    },
    selectCategory: function (obj, name) {
      if (obj.name !== 'province' && name) {
        this.$emit('gettingLocation', '?locationType=province', 'listOfProvince')
      }
    },
    selectParentCategory: function (typeLocation, typeParent, state, reset = []) {
      if (this.payload.parent[typeParent].id && typeof typeLocation === 'string' && typeof state === 'string') {
        let url = `?locationType=${typeLocation}&locationParentId=${this.payload.parent[typeParent].id}&locationParentType=${typeParent}`
        // ###
        this.$emit('gettingLocation', url, state, reset)
      } else if (this.payload.parent[typeParent].id && typeof typeLocation === 'object' && typeof state === 'object') {
        typeLocation.forEach((element, index) => {
          let url = `?locationType=${typeLocation[index]}&locationParentId=${this.payload.parent[typeParent].id}&locationParentType=${typeParent}`
          // ###
          this.$emit('gettingLocation', url, state[index], reset)
        })
      }
    },
    selectIsDisabled: function (arr, selected) {
      return arr.includes(selected)
    },
    submit: function () {
      this.$emit('submittingLocation', this.finalPayload)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
