<template>
  <div
    class="wrap-table pb-4"
    :class="getResults.length === 0 ? 'component component-empty-state':''"
  >
    <table class="table table-responsive-sm table-striped">
      <thead class="align-middle">
        <tr>
          <th class="min-width align-middle">
            Value
          </th>
          <th class="min-width align-middle">
            Category
          </th>
          <th class="min-width align-middle">
            Usage Count
          </th>
          <th class="min-width align-middle">
            Create Date
          </th>
          <th class="min-width align-middle">
            Create By
          </th>
          <th class="min-width align-middle">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="getResults.length === 0">
          <td
            colspan="18"
            class="text-center"
          >
            - No Locations Found -
          </td>
        </tr>
        <tr
          v-for="(data,index) in results"
          v-else
          :key="index"
        >
          <td scoped="row">
            <span>{{ data.name }}</span>
          </td>
          <td>
            <span class="text-capitalize">{{ data.type }}</span>
          </td>
          <td><span>{{ data.count || '-' }}</span></td>
          <td>
            <span>{{ formatDate(data.createts, 'hour', 'DD-MM-YYYY HH:mm:ss') }}</span>
          </td>
          <td>
            <span>{{ data.created_by }}</span>
          </td>
          <td>
            <button
              class="btn btn-danger btn-sm px-2"
              @click="deleteOutlet(data)"
            >
              <i class="fa fa-trash" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'CMSLocationTable',
  components: {
  },
  props: ['id', 'results'],
  computed: {
    getResults: function () {
      if (this.results !== null && this.results.length > 0) {
        return this.results
      } else {
        return []
      }
    }
  },
  methods: {
    formatDate: function (date, type = '', format = '') {
      if (type === 'hour') {
        return moment.unix(date).format(format)
      } else {
        return moment(date).format(format)
      }
    },
    deleteOutlet: function (obj) {
      let self = this
      self.$emit('deletingOutlet', obj)
    }
  }
}
</script>

<style lang="scss" type="scoped">
</style>
