<template>
  <div class="card">
    <div class="card-body">
      <form-create-edit :IdDeal="id" />
    </div>
  </div>
</template>

<script>
import FormCreateEdit from './../../components/deals/DealFormCreateEdit'

export default {
  name: 'DealEdit',
  components: {
    'form-create-edit': FormCreateEdit
  },
  props: ['id']
}
</script>
