<template>
  <div class="mb-5">
    <div
      v-if="loading"
      class="text-center"
    >
      Loading
    </div>
    <div v-else>
      <deal-view-detail
        v-if="deal.name"
        :id="id"
        :deal="deal"
      />
      <div
        v-else
        class="text-center component component-empty-state"
      >
        not found for this deal
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import DealDetail from '../../components/deals/DealDetail'
import authMixin from './../../mixins/auth'
import * as mapping from '@/utils/mapping/deal'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'DealView',
  components: {
    'deal-view-detail': DealDetail
  },
  mixins: [authMixin],
  props: ['id'],
  data: function () {
    return {
      deal: {},
      loading: true
    }
  },
  computed: {
  },
  created: function () {
    this.getDeal.run()
  },
  tasks (t) {
    return {
      getDeal: t(function * () {
        let self = this
        if (this.GetAuth()) {
          self.$http.get(process.env.VUE_APP_API + 'deals_batch/detail?id=' + this.id, {
            headers: self.GetHeader('VIEW DETAIL')
          }).then(response => {
            if (response.body.code === 200) {
              let obj = response.body.content
              if (obj !== null) {
                Object.assign(self.deal, mapping.getDeal(obj))
              }
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.$router.push('/deals/list')
            }
            self.loading = false
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">

</style>
