<template>
  <div class="card">
    <div class="card-body">
      <deal-filter-search
        class="mb-4"
        @filterSubmit="onFilterSubmit"
      />
      <div class="row mb-2">
        <div class="col-sm-6">
          <router-link
            class="btn btn-success"
            :to="{name: 'deals_create'}"
          >
            <font-awesome-icon
              icon="plus"
              class="fa-svg"
            /> Create Deal
          </router-link>
        </div>
      </div>
      <keep-alive>
        <deal-table-list
          :results="results"
          :currentPage="getParams.pagination"
          :sizePage="getParams.size"
          class="mb-3"
        />
      </keep-alive>
      <keep-alive>
        <pagination-list
          :results="results"
          :pageSize="params.size"
          :currentPage="params.pagination"
          :totalPage="totalPage"
          class="text-right"
          @paginationClick="onPaginationClick"
        />
      </keep-alive>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import authMixin from './../../mixins/auth'
import DealTableList from './../../components/deals/DealTableList'
import DealFilter from './../../components/deals/DealFilterSearch'
import PaginationList from './../../components/PaginationList'
import Vuency from 'vuency'
Vue.use(Vuency)

export default {
  name: 'DealList',
  components: {
    'deal-table-list': DealTableList,
    'deal-filter-search': DealFilter,
    'pagination-list': PaginationList
  },
  mixins: [authMixin],
  data: function () {
    return {
      results: [],
      totalPage: 0,
      API_endpoint: process.env.VUE_APP_API,
      params: {
        size: 10,
        pagination: 1,
        sort: 1,
        order: 'desc'
      }
    }
  },
  computed: {
    getParams: function () {
      return {
        size: this.params.size,
        pagination: this.$route.query.pagination ? this.$route.query.pagination : 1,
        sort: this.params.sort,
        order: this.params.order
      }
    }
  },
  beforeUpdate: function () {
    if (Object.keys(this.$route.query).length === 0) {
      this.refreshQuery()
    }
  },
  created: function () {
    this.refreshQuery()
  },
  mounted: function () {
    let query = {}
    let request = this.getParams
    let obj = {}
    Object.assign(query, this.$route.query)
    if (query.status && query.status === 'ALL') {
      delete query.status
    }
    Object.assign(obj, request)
    Object.assign(obj, query)
    this.getDeal.run(obj)
  },
  methods: {
    refreshQuery: function () {
      this.$router.push({
        query: {
          pagination: 1
        }
      })
    },
    onFilterSubmit: function (query) {
      let request = this.getParams
      let obj = {}
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, query)
      Object.assign(obj, request)
      this.getDeal.run(obj)
    },
    onPaginationClick: function (query) {
      let request = this.getParams
      let obj = {}
      if (query.status && query.status === 'ALL') {
        delete query.status
      }
      Object.assign(obj, query)
      Object.assign(obj, request)
      this.getDeal.run(obj)
    }
  },
  tasks (t) {
    return {
      getDeal: t(function * (queryParams) {
        let self = this
        if (this.GetAuth()) {
          self.$http.get(self.API_endpoint + 'deals_batch/list', {
            headers: self.GetHeader('VIEW LIST'),
            params: queryParams
          }).then(response => {
            if (response.body.code === 200) {
              self.results = response.body.content
              self.params.pagination = response.body.pageNum
              self.totalPage = response.body.totalPages
            } else if (response.body.code === 8) {
              self.GoLogout()
            } else {
              self.flash('Error get deal : ' + response.body.message, 'error', {
                timeout: 5000
              })
            }
          })
        }
      })
        .flow('drop')
        .beforeStart(() => {
          if (this.CheckExpired()) {
            this.GoLogout()
          }
        })
    }
  }
}
</script>

<style lang="scss" type="scoped">

</style>
