<template>
  <div class="card">
    <div class="card-body p-5">
      <form-create-edit />
    </div>
  </div>
</template>

<script>
import FormCreateEdit from './../../components/deals/DealFormCreateEdit'

export default {
  name: 'DealCreate',
  components: {
    'form-create-edit': FormCreateEdit
  }
}
</script>

<style lang="scss" type="scoped">

</style>
